{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/modals.jinja2' as modals %}

{% block title %}Conversación{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if conversacion.estado == 'ACTIVO' %}
            {{ topbar.button_previous('Conversaciones Activas', url_for('mensajes.list_active')) }}
        {% elif conversacion.estado == 'ARCHIVADO' %}
            {{ topbar.button_previous('Conversaciones Archivadas', url_for('mensajes.list_archive')) }}
        {% endif %}
        {% if tipo == "JUZGADO" %}
            {% if conversacion.estado == 'ACTIVO' %}
                {{ topbar.button_modal('Archivar', "showModalArchivar('"+url_for('mensajes.archive', conversacion_id=conversacion.id)+"')",  'mdi:archive') }}
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card('Conversación') %}
        {{ detail.label_value('Autor', conversacion.autor.clave + ' : ' + conversacion.autor.descripcion_corta + ' - ' + conversacion.destinatario.distrito.nombre, url_for('autoridades.detail', autoridad_id=conversacion.autor.id)) }}
        {{ detail.label_value('Destinatario', conversacion.destinatario.clave + ' : ' + conversacion.destinatario.descripcion_corta + ' - ' + conversacion.destinatario.distrito.nombre, url_for('autoridades.detail', autoridad_id=conversacion.destinatario.id)) }}
        {{ detail.label_value('Fecha de Inicio', moment(conversacion.creado).format('llll')) }}
        {{ detail.label_value('Fecha de último mensaje', moment(conversacion.modificado).format('llll')) }}
        <div class="row">
            <div class="col-md-3 text-end">Estado</div>
            {% if conversacion.estado == "ACTIVO" %}
                <div class="col-md-9"><span class="badge rounded-pill bg-success">ACTIVO</span></div>
            {% elif conversacion.estado == "ARCHIVADO" %}
                <div class="col-md-9"><span class="badge rounded-pill bg-secondary">ARCHIVADO</span></div>
            {% else %}
                <div class="col-md-9"><span class="badge rounded-pill bg-danger">ERROR</span></div>
            {% endif %}
        </div>
    {% endcall %}
    <div class="row justify-content-evenly">
        {% for mensaje in mensajes %}
            {% if fechas[mensaje] %}
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <p class="text-secondary">───── {{ fechas[mensaje] }} ─────</p>
                    </div>
                </div>
            {% endif %}
            {% if mensaje.autoridad == current_user.autoridad %}
            <div class="row">
                <div class="col-4 align-text-bottom text-end">
                    <i class="text-secondary">{{ moment(mensaje.creado).format('hh:mm') }}</i>
                </div>
                <div class="col-8">
                    <div class="alert alert-primary" role="alert">
                        {{ mensaje.contenido }}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-8">
                    <div class="alert alert-secondary" role="alert">
                        {{ mensaje.contenido }}
                    </div>
                </div>
                <div class="col-4 align-text-bottom">
                    <i class="text-secondary">{{ moment(mensaje.creado).format('hh:mm') }}</i>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        {% if conversacion.estado == 'ACTIVO' %}
            <form action="/mensajes/nuevo_mensaje/{{conversacion.id}}" method="POST">
                <div class="input-group mb-3">
                    <textarea class="form-control" placeholder="Mensaje..." id="contenido" name="contenido" style="height: 60px"></textarea>
                    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                    <!--<input type="text" class="form-control" placeholder="Mensaje" aria-label="Mensaje" aria-describedby="button-addon2">-->
                    <button class="btn btn-primary" type="submit" id="btn-enviar">Enviar</button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
    {{ modals.custom_javascript('Archivar', '¿Desea archivar la conversación?', 'Archivar') }}
{% endblock %}
