{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Conversaciones{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_admin('MENSAJES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('mensajes.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('mensajes.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('MENSAJES') %}
            {% if tipo == "JUZGADO" %}
                {% if estado == "ACTIVO" %}
                    {{ topbar.button('Conversacioes Archivadas', url_for('mensajes.list_archive'), 'mdi:archive') }}
                {% elif estado == "ARCHIVADO" %}
                    {{ topbar.button('Conversacioes Activas', url_for('mensajes.list_active'), 'mdi:chat-processing') }}
                {% endif %}
            {% endif %}
            {{ topbar.button_new('Nueva Conversación', url_for('mensajes.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="conversaciones_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %}" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Para</th>
                    <th>Mensaje</th>
                    <th>Fecha y Hora</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/mensajes/conversaciones/datatable_json_conversaciones';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "lectura" },
            { data: "detalle" },
            { data: "mensaje" },
            { data: "fecha_hora" }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // lectura
                data: null,
                render: function(data, type, row, meta) {
                    if (data.estado == false) {
                        return '<span class="iconify" data-icon="mdi:email"></span> ';// + data.cantidad;
                    }
                    return '';
                }
            },
            {
                targets: 1, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.clave + '</a>';
                }
            },
            {
                targets: 2, // mensaje
                data: null,
                render: function(data, type, row, meta) {
                    if (data.mensaje.length > 32)
                        mensaje = data.mensaje.substr(0, 32) + '…';
                    else
                        mensaje = data.mensaje;
                    return '<a href="' + data.url + '">' + mensaje + '</a>';
                }
            }
        ];
        configDataTable['createdRow'] = function( row, data, dataIndex ){
            if (data.lectura.estado == false)    {
                $(row).css("background-color", "#e1ecf4");
                $(row).css("color", "#0d6efd");
                $(row).css("font-weight", "bold");
            }
        };
        $('#conversaciones_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
