{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Mensajes{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('MENSAJES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('mensajes.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('mensajes.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('MENSAJES') %}
            {{ topbar.button_new('Nuevo Mensaje', url_for('mensajes.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% if nuevos %}
        {% call list.card('Nuevos') %}
            <table id="mensajes_nuevos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Envíado por</th>
                        <th>Asunto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mensaje in nuevos %}
                    <tr>
                        <td>{{ mensaje.autor }}</td>
                        <td><a href="{{ url_for('mensajes.detail', mensaje_id=mensaje.id) }}">{{ mensaje.asunto[:50] }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    {% endif %}
    {% if respuestas %}
        {% call list.card('Respuestas') %}
            <table id="mensajes_respuestas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Envíado Por</th>
                        <th>Asunto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mensaje in respuestas %}
                    <tr>
                        <td>{{ mensaje.mensaje.autor }}</td>
                        <td><a href="{{ url_for('mensajes.detail_response', mensaje_id=mensaje.MensajeRespuesta.id) }}">{{ mensaje.MensajeRespuesta.asunto }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    {% endif %}
    {% if viejos %}
        {% call list.card('Archivados') %}
            <table id="mensajes_viejos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Autor</th>
                        <th>Asunto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mensaje in viejos %}
                    <tr>
                        <td>{{ mensaje.autor }}</td>
                        <td><a href="{{ url_for('mensajes.detail', mensaje_id=mensaje.id) }}">{{ mensaje.asunto[:50] }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if nuevos %}
        {{ list.datatable('mensajes_nuevos_datatable') }}
    {% endif %}
    {% if respuestas %}
        {{ list.datatable('mensajes_respuestas_datatable') }}
    {% endif %}
    {% if viejos %}
        {{ list.datatable('mensajes_viejos_datatable') }}
    {% endif %}
{% endblock %}
