{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/detail.jinja2' as detail %}

{% block title %}Nueva Conversación{% endblock %}

{% block custom_head %}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nueva Conversación') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('mensajes.new', fid='mensaje_form') %}
            {% call f.form_group(form.autor, readonly=true) %}{% endcall %}
            {% call f.form_group(form.destinatario) %}{% endcall %}
            {% call f.form_group(form.mensaje) %}{% endcall %}
            {% call f.form_group(form.crear) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Select2 bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#destinatario').addClass('js-example-placeholder-single js-states form-control');
            $("#destinatario").prop("selectedIndex", -1); // Poner en blanco el select
            $(".js-example-placeholder-single").select2({
                // --- Carga de emails por Ajax --- //
                ajax: {
                    url: '/autoridades/select_list_por_tipo/{{tipo | lower}}',
                    headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                    dataType: 'json',
                    delay: 250,
                    type: "POST",
                    data: function (params) {
                        return { 'searchString': params.term };
                    }
                },
                placeholder: "{{tipo}}",
                minimumInputLength: 3,
                allowClear: true
            });
        });
    </script>
{% endblock %}
