{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Anexar Archivo - Ticket{% endblock %}

{% block custom_head %}
    {{ f.drop_zone_css() }}
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Anexar Archivo a Ticket ' + soporte_ticket.id | string) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'soporte_ticket_id': soporte_ticket.id} %}
        {% call f.form_tag('soportes_tickets.new', fid='soporte_ticket_form', **form_kwargs) %}
            {% call f.form_group(form.usuario, readonly=true) %}{% endcall %}
            {% call f.form_group(form.problema, readonly=true) %}{% endcall %}
            {% call f.form_group(form.categoria, readonly=true) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.drop_zone_wrapper() %}
                {% call f.form_group(form.archivo, class='dropzone') %}{% endcall %}
            {% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ f.drop_zone_js() }}
{% endblock %}
