{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Foto del equipo{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Equipo ' + inv_equipo_foto.inv_equipo_id | string) %}
        {{ topbar.button_previous('Equipo detalle', url_for('inv_equipos.detail', inv_equipo_id=inv_equipo_foto.inv_equipo.id)) }}
    {% endcall %}
    {% if current_user.can_admin('INV EQUIPOS FOTOS') %}
        {% if inv_custodia.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('inv_equipos_fotos.delete', inv_equipo_id=inv_equipo_foto.inv_equipo.id)) }}{% endif %}
        {% if inv_custodia.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('inv_equipos_fotos.recover', inv_equipo_id=inv_equipo_foto.inv_equipo.id)) }}{% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=inv_equipo_foto.estatus) %}
        {{ detail.label_value('Archivo', inv_equipo_foto.archivo) }}
        {{ detail.label_value('Descripción', inv_equipo_foto.descripcion) }}
        {{ detail.label_value('URL', inv_equipo_foto.url) }}
        {% if inv_equipo_foto.url.rsplit(".", 1)[1].lower() in ("png", "jpg", "jpeg") %}
            {{ detail.label_value('Imágen previa') }}
            <a href="{{ inv_equipo_foto.url }}"><img src="{{ inv_equipo_foto.url }}" style="max-width: 500px; height: auto;"/></a>
        {% endif %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('INV EQUIPOS FOTOS') %}
        {% if inv_custodia.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + inv_equipo_foto.descripcion + '?') }}{% endif %}
        {% if inv_custodia.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + inv_equipo_foto.descripcion + '?') }}{% endif %}
        {{ modals.custom_javascript_make('Firmar', '¿Está seguro de que quiere firmarlo? Ya no podrá cambiarlo después.') }}
    {% endif %}
{% endblock %}
