{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Formato{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Formato ' + cid_formato.descripcion) %}
        {{ topbar.button('Autorizados', url_for('cid_procedimientos.list_authorized'), 'mdi:table-star') }}
        {% if current_user.can_edit('CID PROCEDIMIENTOS') %}
            {{ topbar.button('Propios', url_for('cid_procedimientos.list_owned'), 'mdi:table-heart') }}
        {% endif %}
        {% if current_user.can_admin('CID PROCEDIMIENTOS') %}
            {{ topbar.button('Todos', url_for('cid_procedimientos.list_active'), 'mdi:table') }}
        {% endif %}
        {% if current_user.can_edit('CID FORMATOS') %}
            {{ topbar.button_edit('Editar', url_for('cid_formatos.edit', cid_formato_id=cid_formato.id)) }}
            {% if cid_formato.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('cid_formatos.delete', cid_formato_id=cid_formato.id)) }}{% endif %}
            {% if cid_formato.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('cid_formatos.recover', cid_formato_id=cid_formato.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cid_formato.estatus) %}
        {{ detail.label_value('Procedimiento', cid_formato.procedimiento.titulo_procedimiento, url_for('cid_procedimientos.detail', cid_procedimiento_id=cid_formato.procedimiento_id)) }}
        {{ detail.label_value('Descripción', cid_formato.descripcion) }}
        {{ detail.label_value_new_tab('URL', cid_formato.archivo, cid_formato.url) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('CID FORMATOS') %}
        {% if cid_formato.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + cid_formato.descripcion + '?') }}{% endif %}
        {% if cid_formato.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + cid_formato.descripcion + '?') }}{% endif %}
    {% endif %}
{% endblock %}
