{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Formato{% endblock %}

{% block topbar_actions %}
     {% call topbar.page_buttons('Equipos ' + equipo_foto.equipo.id | string) %}
        {{ topbar.button_previous('Equipo detalle', url_for('inv_equipos.detail', equipo_id=equipo_foto.equipo.id)) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=equipo_foto.estatus) %}
        {{ detail.label_value('Numero inventario', equipo_foto.equipo.numero_inventario, url_for('inv_equipos.detail', equipo_id=equipo_foto.equipo_id)) }}
        {{ detail.label_value('Descripción', equipo_foto.descripcion) }}
        {{ detail.label_value('Archivo', equipo_foto.archivo) }}
        {{ detail.label_value_new_tab('URL', equipo_foto.url) }}
        {% if equipo_foto.url.rsplit(".", 1)[1].lower() in ("png", "jpg", "jpeg") %}
            {{ detail.label_value('Imágen previa') }}
            <a href="{{ equipo_foto.url }}"><img src="{{ equipo_foto.url }}" style="max-width: 500px; height: auto;"/></a>
        {% endif %}
    {% endcall %}
{% endblock %}
