{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Formatos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button('Autorizados', url_for('cid_procedimientos.list_authorized'), 'mdi:table-star') }}
        {% if current_user.can_edit('CID PROCEDIMIENTOS') %}
            {{ topbar.button('Propios', url_for('cid_procedimientos.list_owned'), 'mdi:table-heart') }}
        {% endif %}
        {% if current_user.can_admin('CID PROCEDIMIENTOS') %}
            {{ topbar.button('Todos', url_for('cid_procedimientos.list_active'), 'mdi:table') }}
        {% endif %}
        {% if current_user.can_edit('CID FORMATOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cid_formatos.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cid_formatos.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="cid_formatos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Procedimientos</th>
                    <th>Formatos</th>
                    <th>URLs</th>
                </tr>
            </thead>
            <tbody>
                {% for cid_formato in cid_formatos %}
                <tr>
                    <td>{{ cid_formato.procedimiento.codigo }}</td>
                    <td><a href="{{ url_for('cid_formatos.detail', cid_formato_id=cid_formato.id) }}">{{ cid_formato.descripcion }}</a></td>
                    <td><a href="{{ cid_formato.url }}" target="_blank">PDF</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('cid_formatos_datatable') }}
{% endblock %}
