{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Agregar foto al equipo{% endblock %}

{% block custom_head %}
    {{ f.drop_zone_css() }}
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Agregar foto al equipo ' + inv_equipo.id | string) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'inv_equipo_id': inv_equipo.id} %}
        {% call f.form_tag_multipart('inv_equipos_fotos.new', fid='inv_equipo_foto_form', **form_kwargs) %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.drop_zone_wrapper() %}
                {% call f.form_group(form.archivo, class='dropzone') %}{% endcall %}
            {% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ f.drop_zone_js() }}
{% endblock %}
