{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Tipo de Sentencia{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + repsvm_tipo_sentencia.nombre) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'repsvm_tipo_sentencia_id': repsvm_tipo_sentencia.id} %}
        {% call f.form_tag('repsvm_tipos_sentencias.edit', fid='repsvm_tipo_sentencia_form', **form_kwargs) %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
