{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Tipos de Sentencias{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('REPSVM TIPOS SENTENCIAS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('repsvm_tipos_sentencias.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('repsvm_tipos_sentencias.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('REPSVM TIPOS SENTENCIAS') %}
            {{ topbar.button_new('Nuevo Tipo de Sentencia', url_for('repsvm_tipos_sentencias.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="repsvm_tipos_sentencias_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                </tr>
            </thead>
            <tbody>
                {% for repsvm_tipo_sentencia in repsvm_tipos_sentencias %}
                <tr>
                    <td><a href="{{ url_for('repsvm_tipos_sentencias.detail', repsvm_tipo_sentencia_id=repsvm_tipo_sentencia.id) }}">{{ repsvm_tipo_sentencia.nombre }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('repsvm_tipos_sentencias_datatable') }}
{% endblock %}
