{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}REPSVM Nuevo Tipo de Sentencia{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Tipo de Sentencia') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('repsvm_tipos_sentencias.new', fid='repsvm_tipo_sentencia_form') %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
