{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Funcionario{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(funcionario.nombre) %}
        {{ topbar.button_previous('Funcionarios', url_for('funcionarios.list_active')) }}
        {% if current_user.can_edit('FUNCIONARIOS') %}
            {{ topbar.button_edit('Editar', url_for('funcionarios.edit', funcionario_id=funcionario.id)) }}
            {% if funcionario.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('funcionarios.delete', funcionario_id=funcionario.id)) }}{% endif %}
            {% if funcionario.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('funcionarios.recover', funcionario_id=funcionario.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=funcionario.estatus) %}
        {{ detail.label_value('Nombres', funcionario.nombres) }}
        {{ detail.label_value('Apellido paterno', funcionario.apellido_paterno) }}
        {{ detail.label_value('Apellido materno', funcionario.apellido_materno) }}
        {{ detail.label_value('CURP', funcionario.curp) }}
        {{ detail.label_value('Puesto', funcionario.puesto) }}
        {{ detail.label_value('e-mail', funcionario.email) }}
        {{ detail.label_value_boolean('En funciones', funcionario.en_funciones) }}
        {{ detail.label_value_boolean('En sentencias', funcionario.en_sentencias) }}
        {{ detail.label_value_boolean('En soportes', funcionario.en_soportes) }}
        {{ detail.label_value_boolean('En tesis y jurisprudencias', funcionario.en_tesis_jurisprudencias) }}
    {% endcall %}
    {% if current_user.can_view('AUTORIDADES FUNCIONARIOS') %}
        {% call detail.card('Autoridades') %}
            <table id="autoridades_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Claves</th>
                        <th>Distritos</th>
                        <th>Descripciones</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('AUTORIDADES FUNCIONARIOS') %}
                <a href="{{ url_for('autoridades_funcionarios.new_with_funcionario', funcionario_id=funcionario.id) }}" class="btn btn-primary">Agregar</a>
            {% endif %}
        {% endcall %}
    {% endif %}
    {% if current_user.can_view('FUNCIONARIOS OFICINAS') %}
        {% call detail.card('Autoridades') %}
            <table id="oficinas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Clave</th>
                        <th>Descripción Corta</th>
                        <th>Domicilio</th>
                        <th>Horario</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('FUNCIONARIOS OFICINAS') %}
                <a href="{{ url_for('autoridades_funcionarios.new_with_funcionario', funcionario_id=funcionario.id) }}" class="btn btn-primary">Agregar</a>
            {% endif %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('FUNCIONARIOS') %}
        {% if funcionario.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + funcionario.nombre + '?') }}{% endif %}
        {% if funcionario.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + funcionario.nombre + '?') }}{% endif %}
    {% endif %}
    {% if current_user.can_view('AUTORIDADES FUNCIONARIOS') %}
    {% endif %}
    {% if current_user.can_view('FUNCIONARIOS OFICINAS') %}
    {% endif %}
{% endblock %}
