{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Funcionario{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + funcionario.nombre) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'funcionario_id': funcionario.id} %}
        {% call f.form_tag('funcionarios.edit', fid='funcionario_form', **form_kwargs) %}
            {% call f.form_group(form.nombre, readonly=True) %}{% endcall %}
            {% call f.form_group(form.puesto, readonly=True) %}{% endcall %}
            {% call f.form_group(form.email, readonly=True) %}{% endcall %}
            {% call f.form_group(form.telefono) %}{% endcall %}
            {% call f.form_group(form.extension) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
