{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Funcionarios{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('CENTROS TRABAJOS') %}
            {{ topbar.button('Centros de Trabajo', url_for('centros_trabajos.list_active'), 'mdi:home-group') }}
        {% endif %}
        {{ topbar.button_list_active('En funciones', url_for('funcionarios.list_active')) }}
        {{ topbar.button_list_active('En sentencias', url_for('funcionarios.list_active_en_sentencias')) }}
        {{ topbar.button_list_active('En soportes', url_for('funcionarios.list_active_en_soportes')) }}
        {{ topbar.button_list_active('En tesis y jurisprudencias', url_for('funcionarios.list_active_en_tesis_jurisprudencias')) }}
        {% if current_user.can_edit('FUNCIONARIOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('funcionarios.list_inactive')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('FUNCIONARIOS') %}
            {{ topbar.button_new('Nuevo Funcionario', url_for('funcionarios.new')) }}
        {% endif %}
        {{ topbar.button_search('Buscar', url_for('funcionarios.search')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="funcionarios_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>CURP</th>
                    <th>Nombres completos</th>
                    <th>e-mail</th>
                    <th>Puesto</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/funcionarios/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "detalle" },
            { data: "nombre" },
            { data: "email" },
            { data: "puesto" }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.curp + '</a>';
                }
            },
            {
                targets: [1, 3], // nombre, puesto
                data: null,
                render: function(data, type, row, meta) {
                    return (data.length > 48 ? data.substr(0, 48) + '…' : data);
                }
            }
        ];
        $('#funcionarios_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
