{% extends 'layouts/app.jinja2' %}
{% import 'macros/form_inline.jinja2' as f with context %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Funcionarios{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('CENTROS TRABAJOS') %}
            {{ topbar.button('Centros de Trabajo', url_for('centros_trabajos.list_active'), 'mdi:home-group') }}
        {% endif %}
        {% if current_user.can_admin('FUNCIONARIOS') %}
            {{ topbar.button_list_active('En funciones', url_for('funcionarios.list_active_en_funciones')) }}
            {{ topbar.button_list_active('En sentencias', url_for('funcionarios.list_active_en_sentencias')) }}
            {{ topbar.button_list_active('En soportes', url_for('funcionarios.list_active_en_soportes')) }}
            {{ topbar.button_list_active('En tesis y jurisprudencias', url_for('funcionarios.list_active_en_tesis_jurisprudencias')) }}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('funcionarios.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('funcionarios.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('FUNCIONARIOS') %}
            {{ topbar.button_new('Nuevo Funcionario', url_for('funcionarios.new')) }}
        {% endif %}
        {{ topbar.button_search('Buscar', url_for('funcionarios.search')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        {% call f.form_tag('funcionarios.search', fid='funcionario_search_form') %}
            <div class="col d-grid gap-2">
                <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsaElDirectorio" aria-expanded="false" aria-controls="collapseUsaElDirectorio">
                    Uso
                </button>
            </div>
            {% call f.form_group(form.nombres, css_class='col-sm-3', placeholder='Nombre') %}{% endcall %}
            {% call f.form_group(form.apellido_paterno, css_class='col-sm-3', placeholder='Primer apellido') %}{% endcall %}
            {% call f.form_group(form.email, css_class='col-sm-3', placeholder='e-mail') %}{% endcall %}
            {% call f.form_group(form.buscar) %}{% endcall %}
        {% endcall %}
        <div class="collapse" id="collapseUsaElDirectorio">
            <h4 class="mt-3">Usa el nuevo directorio</h4>
            <ul>
                <li>Nuestra Institución está modernizando su sistema de telefonía. Hay nuevos números y extensiones telefónicas.</li>
                <li>Escribe parte del nombre, del primer apellido o del correo electrónico y <strong>ENTER</strong> para encontrar a un funcionario.</li>
                <li><strong>No imprimas este directorio;</strong> cambia frecuentemente y se gasta papel, toner y energía.</li>
                <li>Si encuentras información errónea, crea un Ticket solicitando la corrección.</li>
            </ul>
        </div>
    {% endcall %}
    {% call list.card() %}
        <table id="funcionarios_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>e-mail</th>
                    <th>Nombre</th>
                    <th>Puesto</th>
                    <th>Centro de Trabajo</th>
                    <th>Teléfono</th>
                    <th>Extensión</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        $(document).ready(function() { $("#nombres").focus(); });
    </script>
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/funcionarios/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "detalle" },
            { data: "nombre" },
            { data: "puesto" },
            { data: "centro_trabajo" },
            { data: "telefono" },
            { data: "extension" }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.email + '</a>';
                }
            },
            {
                targets: [1, 2], // nombre, puesto
                data: null,
                render: function(data, type, row, meta) {
                    return (data.length > 24 ? data.substr(0, 24) + '…' : data);
                }
            },
            {
                targets: 3, // centro_trabajo
                data: null,
                render: function(data, type, row, meta) {
                    texto = (data.nombre.length > 24 ? data.nombre.substr(0, 24) + '…' : data.nombre);
                    if (data.url == '') {
                        return texto;
                    } else {
                        return '<a href="' + data.url + '">' + texto + '</a>';
                    }
                }
            },
        ];
        $('#funcionarios_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
