{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Funcionario{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Funcionario') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('funcionarios.new', fid='funcionario_form') %}
            {% call f.form_group(form.nombres) %}{% endcall %}
            {% call f.form_group(form.apellido_paterno) %}{% endcall %}
            {% call f.form_group(form.apellido_materno) %}{% endcall %}
            {% call f.form_group(form.curp) %}{% endcall %}
            {% call f.form_group(form.puesto) %}{% endcall %}
            {% call f.form_group(form.email) %}{% endcall %}
            {% call f.form_group(form.en_funciones) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
