{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Día Inhábil{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Día Inhábil ' + dia_inhabil.fecha | string) %}
        {{ topbar.button_previous('Días Inhabiles', url_for('cit_dias_inhabiles.list_active')) }}
        {% if current_user.can_edit('CIT DIAS INHABILES') %}
            {{ topbar.button_edit('Editar', url_for('cit_dias_inhabiles.edit', dia_inhabil_id=dia_inhabil.id)) }}
            {% if dia_inhabil.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('cit_dias_inhabiles.delete', dia_inhabil_id=dia_inhabil.id)) }}{% endif %}
            {% if dia_inhabil.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('cit_dias_inhabiles.recover', dia_inhabil_id=dia_inhabil.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=dia_inhabil.estatus) %}
        {{ detail.label_value_big('Fecha', dia_inhabil.fecha) }}
        {{ detail.label_value('Descripción', dia_inhabil.descripcion) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('CIT DIAS INHABILES') %}
        {% if dia_inhabil.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar ' + moment(dia_inhabil.fecha).format('ll') + '?') }}{% endif %}
        {% if dia_inhabil.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar ' + moment(dia_inhabil.fecha).format('ll') + '?') }}{% endif %}
    {% endif %}
{% endblock %}
