{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Día Inhábil{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Día Inhábil') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('cit_dias_inhabiles.new', fid='cit_dias_inhabiles_form') %}
            {% call f.form_group(form.fecha) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
