{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}REPSVM Delitos Específicos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('REPSVM AGRESORES') %}
            {{ topbar.button('Agresores', url_for('repsvm_agresores.list_active'), 'mdi:account-cancel') }}
        {% endif %}
        {% if current_user.can_view('REPSVM DELITOS GENERICOS') %}
            {{ topbar.button('D. Genéricos', url_for('repsvm_delitos_genericos.list_active'), 'mdi:label') }}
        {% endif %}
        {% if current_user.can_view('REPSVM TIPOS SENTENCIAS') %}
            {{ topbar.button('T. Sentencias', url_for('repsvm_tipos_sentencias.list_active'), 'mdi:bookshelf') }}
        {% endif %}
        {% if current_user.can_view('MATERIAS TIPOS JUZGADOS') %}
            {{ topbar.button('T. Juzgados', url_for('materias_tipos_juzgados.list_active'), 'mdi:gavel') }}
        {% endif %}
        {% if current_user.can_edit('REPSVM DELITOS ESPECIFICOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('repsvm_delitos_especificos.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('repsvm_delitos_especificos.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('REPSVM DELITOS ESPECIFICOS') %}
            {{ topbar.button_new('Nuevo Delito Específico', url_for('repsvm_delitos_especificos.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="repsvm_delitos_especificos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Delitos genéricos</th>
                    <th>Descripciones</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/repsvm_delitos_especificos/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'repsvm_delito_generico' },
            { data: 'detalle' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // repsvm_delito_generico
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + (data.nombre.length > 48 ? data.nombre.substr(0, 48) + '…' : data.nombre) + '</a>';
                }
            },
            {
                targets: 1, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + (data.descripcion.length > 48 ? data.descripcion.substr(0, 48) + '…' : data.descripcion) + '</a>';
                }
            }
        ];
        $('#repsvm_delitos_especificos_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
