.bashrc
.directory
.env
.gcloudignore
.gitignore
.DS_Store

*.egg-info/
*.log
*.py[cod]
*.sqlite3
*.sqlite3-journal
*.session.sql

__pycache__/
/.git
/.vscode
/cli
/docs
/instance/settings.py
/pyproject.toml
/seed
/setup.py
/sql
/tests
/venv
