.bashrc
.env
.gcloudignore
.gitignore
.DS_Store
.~lock.*
*.egg-info/
*.log
*.pyc
*.sqlite3
*.sqlite3-journal
*.session.sql
__pycache__/
/.git
/.vscode
/cli
/instance
/seed
/setup.cfg
/sql
/tests
/venv