.directory
.bashrc
.env
.DS_Store
.~lock.*
*.pyc
*.egg-info/
*.sqlite3
*.sqlite3-journal
*.session.sql
__pycache__/
/.vscode/settings.json
/venv/
/config/settings.py
/instance/settings.py
/seed/
/setup.cfg
/*.yaml
