.directory
.bashrc
.env
.DS_Store
.~lock.*
*.pyc
*.egg-info/
*.sqlite3
*.sqlite3-journal
*.session.sql
*.yaml
__pycache__/
/.vscode/settings.json
/config/settings.py
/instance/settings.py
/json/
/seed/
/setup.cfg
/venv/
