black
click
cryptography
email-validator
Flask
Flask-Login
Flask-Moment
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-logging
google-cloud-storage
hashids
Jinja2
mkdocs
mkdocs-material
pandas
passlib
pdfkit
psycopg2-binary
pylint
pylint-flask-sqlalchemy
pylint-sqlalchemy
PyMySQL
python-dateutil
python-dotenv
pytz
quill-delta[html]
ratelimit
requests
rq
sendgrid
SQLAlchemy-Utils>=0.38.0,<0.39.0
SQLAlchemy>=1.4.0,<2.0.0
tabulate
Unidecode
Werkzeug==2.0.2
WTForms>=2.3.3,<3.0.0
