{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Reporte{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + reporte.descripcion) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'reporte_id': reporte.id} %}
        {% call f.form_tag('reportes.edit', fid='reporte_form', **form_kwargs) %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.desde) %}{% endcall %}
            {% call f.form_group(form.hasta) %}{% endcall %}
            {% call f.form_group(form.programado) %}{% endcall %}
            {% call f.form_group(form.progreso) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
