{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Marcas{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Marca:  ' + inv_marca.nombre) %}
        {{ topbar.button_previous('Marcas', url_for('inv_marcas.list_active')) }}
        {% if current_user.can_edit('INV MARCAS') %}
            {{ topbar.button_edit('Editar', url_for('inv_marcas.edit', inv_marca_id=inv_marca.id)) }}
            {% if inv_marca.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('inv_marcas.delete', inv_marca_id=inv_marca.id)) }}{% endif %}
            {% if inv_marca.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('inv_marcas.recover', inv_marca_id=inv_marca.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=inv_marca.estatus) %}
        {{ detail.label_value('Marca', inv_marca.nombre) }}
    {% endcall %}
    {% if current_user.can_view('INV MODELOS') %}
        {% call detail.card('Modelos') %}
            <table id="inv_modelos_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Modelos</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('INV MODELOS') %}
                <a href="{{ url_for('inv_modelos.new', inv_marca_id=inv_marca.id) }}" class="btn btn-primary">Agregar</a>
            {% endif %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('INV MARCAS') %}
        {% if inv_marca.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + inv_marca.nombre + '?') }}{% endif %}
        {% if inv_marca.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + inv_marca.nombre + '?') }}{% endif %}
    {% endif %}
    {{ detail.config_datatable() }}
    {% if current_user.can_view('INV MODELOS') %}
        <script>
            configDataTable['ajax']['url'] = '/inv_modelos/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'inv_marca_id': {{ inv_marca.id }} };
            configDataTable['columns'] = [
                { data: 'detalle' }
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.descripcion + '</a>';
                    }
                }
            ];
            $('#inv_modelos_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
{% endblock %}
