{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Marcas{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button('Custodias', url_for('inv_custodias.list_active'),'mdi:security-network') }}
        {{ topbar.button('Equipos', url_for('inv_equipos.list_active'),'mdi:desktop-classic') }}
        {{ topbar.button('Modelos', url_for('inv_modelos.list_active'), 'mdi:chart-bubble') }}
        {{ topbar.button('Categorías', url_for('inv_categorias.list_active'),'mdi:car-wrench') }}
        {{ topbar.button('Redes', url_for('inv_redes.list_active'), 'mdi:access-point-network') }}
        {% if current_user.can_edit('INV MARCAS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('inv_marcas.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('inv_marcas.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('INV MARCAS') %}
            {{ topbar.button_new('Nueva Marca', url_for('inv_marcas.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros Inv Marcas -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosInvMarcas.buscar(); return false;">
                    <div class="col-6">
                        <div class="form-floating">
                            <input id="filtroNombre" type="text" class="form-control" aria-label="Marca" style="text-transform: uppercase;">
                            <label for="filtroNombre">Marca</label>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosInvMarcas.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosInvMarcas.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable Inv Marcas -->
        <table id="inv_marcas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Inv Marcas
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTInvMarcas = constructorDataTable.config();
        configDTInvMarcas['ajax']['url'] = '/inv_marcas/datatable_json';
        configDTInvMarcas['ajax']['data'] = {{ filtros }};
        configDTInvMarcas['columns'] = [
            { data: 'detalle' }
        ];
        configDTInvMarcas['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.nombre + '</a>';
                }
            }
        ];
        // Filtros Inv Marcas
        const filtrosInvMarcas = new FiltrosDataTable('#inv_marcas_datatable', configDTInvMarcas);
        filtrosInvMarcas.agregarInput('filtroNombre', 'nombre');
        filtrosInvMarcas.precargar();
    </script>
{% endblock %}
