{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Usuario Solicitud ID{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Usuario Solicitud ID ' + usuario_solicitud.id | string) %}
        {{ topbar.button_previous('Usuarios Solicitudes', url_for('usuarios_solicitudes.list_active')) }}
        {# if current_user.can_edit('USUARIOS SOLICITUDES') %}
            {{ topbar.button_edit('Editar', url_for('usuarios_solicitudes.edit', usuario_solicitud_id=usuario_solicitud.id)) }}
            {% if usuario_solicitud.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('usuarios_solicitudes.delete', usuario_solicitud_id=usuario_solicitud.id)) }}{% endif %}
            {% if usuario_solicitud.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('usuarios_solicitudes.recover', usuario_solicitud_id=usuario_solicitud.id)) }}{% endif %}
        {% endif #}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=usuario_solicitud.estatus) %}
        {{ detail.label_value('Creado', usuario_solicitud.creado) }}
        {{ detail.label_value('Usuario', usuario_solicitud.usuario.email, url_for('usuarios.detail', usuario_id=usuario_solicitud.usuario.id)) }}
        {{ detail.label_value('Usuario nombre completo', usuario_solicitud.usuario.nombre) }}
        <hr />
        <div class="row">
            <div class="col-md-3 text-end">Correo Electronico Personal</div>
            <div class="col-md-5"><strong>{{ usuario_solicitud.email_personal }}</strong></div>
            <div class="col-md-2">Token: <span class="fs-6 fw-bold font-monospace">{{ usuario_solicitud.token_email }}</span></div>
            <div class="col-md-2">
                {% if usuario_solicitud.validacion_email %}
                    <span class="badge rounded-pill bg-success"><span class="iconify" data-icon="mdi:checkbox-marked-circle"></span> VALIDADO</span>
                {% else %}
                    <span class="badge rounded-pill bg-secondary"><span class="iconify" data-icon="mdi:alert"></span> PENDIENTE</span>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-end">Teléfono Celular</div>
            <div class="col-md-5"><strong>{{ usuario_solicitud.telefono_celular }}</strong></div>
            <div class="col-md-2">Token: <span class="fs-6 fw-bold font-monospace">{{ usuario_solicitud.token_telefono_celular }}</span></div>
            <div class="col-md-2">
                {% if usuario_solicitud.validacion_telefono_celular %}
                    <span class="badge rounded-pill bg-success"><span class="iconify" data-icon="mdi:checkbox-marked-circle"></span> VALIDADO</span>
                {% else %}
                    <span class="badge rounded-pill bg-secondary"><span class="iconify" data-icon="mdi:alert"></span> PENDIENTE</span>
                {% endif %}
            </div>
        </div>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {# {% if current_user.can_edit('USUARIOS SOLICITUDES') %}
        {% if usuario_solicitud.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + usuario_solicitud.id + '?') }}{% endif %}
        {% if usuario_solicitud.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + usuario_solicitud.id + '?') }}{% endif %}
    {% endif %} #}
{% endblock %}
