{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Usuarios Solicitudes{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('USUARIOS SOLICITUDES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('usuarios_solicitudes.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('usuarios_solicitudes.list_active')) }}{% endif %}
        {% endif %}
        {# if current_user.can_insert('USUARIOS SOLICITUDES') %}
            {{ topbar.button_new('Nuevo Usuario Solicitud', url_for('usuarios_solicitudes.new')) }}
        {% endif #}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="usuarios_solicitudes_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Nombre completo</th>
                    <th>e-mail personal </th>
                    <th>Telefono celular</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/usuarios_solicitudes/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'detalle' },
            { data: 'usuario' },
            { data: 'usuario_nombre' },
            { data: 'email_personal' },
            { data: 'telefono_celular' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 1, // usuario
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url == '') {
                        return data.email;
                    } else {
                        return '<a href="' + data.url + '">' + data.email + '</a>';
                    }
                }
            },
        ];
        $('#usuarios_solicitudes_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
