{% extends 'layouts/public.jinja2' %}

{% block title %}Validación Token Email Personal{% endblock %}

{% block content %}
    <div class="container py-2">
        <div class="text-center py-2">
            <h3>Validación Token Email Personal</h3>
        </div>
        <hr>
        <div class="py-2">
            {{ mensaje }}
        </div>
    </div>
{% endblock %}
