{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Validación Token Email - Usuario Solicitud{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Validación Token Email - Usuario Solicitud') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'usuario_solicitud_id': usuario_solicitud.id} %}
        {% call f.form_tag('usuarios_solicitudes.token_email', fid='usuario_solicitud_form', **form_kwargs) %}
            {% call f.form_group(form.usuario_email, readOnly=true) %}{% endcall %}
            {% call f.form_group(form.usuario_nombre, readOnly=true) %}{% endcall %}
            <hr/>
            {% call f.form_group(form.email_personal, readOnly=true) %}{% endcall %}
            {% call f.form_group(form.token_email) %}{% endcall %}
            {% call f.form_group(form.validar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
