{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Bitácoras{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Bitácoras') }}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="bitacoras_datatable" class="table">
            <thead>
                <tr>
                    <th>Tiempos</th>
                    <th>Usuarios e-mail</th>
                    <th>Módulos</th>
                    <th>Descripciones</th>
                </tr>
            </thead>
            <tbody>
                {% for bitacora in bitacoras %}
                <tr>
                    <td>{{ bitacora.creado.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td><a href="{{ url_for('usuarios.detail', usuario_id=bitacora.usuario_id) }}" target="_blank">{{ bitacora.usuario.email }} <i class="fas fa-external-link-alt"></a></td>
                    <td>{{ bitacora.modulo }}</td>
                    <td><a href="{{ bitacora.url }}" target="_blank">{{ bitacora.descripcion }} <i class="fas fa-external-link-alt"></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('bitacoras_datatable', order='desc') }}
{% endblock %}
