{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Módulo{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Módulo ' + modulo.nombre) %}
        {{ topbar.button_previous('Módulos', url_for('modulos.list_active')) }}
        {% if current_user.can_edit('MODULOS') %}
            {{ topbar.button_edit('Editar', url_for('modulos.edit', modulo_id=modulo.id)) }}
            {% if modulo.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('modulos.delete', modulo_id=modulo.id)) }}{% endif %}
            {% if modulo.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('modulos.recover', modulo_id=modulo.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=modulo.estatus) %}
        {{ detail.label_value('Nombre en menú', modulo.nombre_corto) }}
        {{ detail.label_value('Icono', modulo.icono) }}
        {{ detail.label_value('Ruta', modulo.ruta) }}
        {{ detail.label_value_boolean('En menú de navegación', modulo.en_navegacion) }}
    {% endcall %}
    {% call detail.card('Permisos') %}
        <table id="permisos_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Modulos</th>
                    <th>Niveles</th>
                </tr>
            </thead>
        </table>
        {% if current_user.can_insert('PERMISOS') %}
        <a href="{{ url_for('permisos.new_with_modulo', modulo_id=modulo.id) }}" class="btn btn-primary">Agregar</a>
        {% endif %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('MODULOS') %}
        {% if modulo.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + modulo.nombre + '?') }}{% endif %}
        {% if modulo.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', 'Recuperar a ' + modulo.nombre + '?') }}{% endif %}
    {% endif %}
    {{ modals.custom_javascript('Eliminar', '¿Eliminar ese permiso del rol?', 'DeletePermiso') }}
    <script>
        $('#permisos_datatable').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            responsive: true,
            scrollX: true,
            ajax: {
                url: "/permisos/datatable_json",
                type: "POST",
                headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}"},
                dataType: "json",
                dataSrc: "data",
                data: {"estatus": "A", "modulo_id": {{ modulo.id }} }
            },
            columns: [
                { data: "detalle" },
                { data: "modulo_nombre" },
                { data: "nivel" }
            ],
            columnDefs: [
                {
                    targets: 0,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.nombre + '</a>';
                    }
                }
            ],
            language: {
                lengthMenu: "Mostrar _MENU_",
                search: "Filtrar:",
                zeroRecords: "No se encontraron registros",
                info: "Total de registros _TOTAL_ ",
                infoEmpty: "No hay registros",
                infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                }
            }
        });
    </script>
{% endblock %}
