{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Módulo{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar módulo ' + modulo.nombre) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'modulo_id': modulo.id} %}
        {% call f.form_tag('modulos.edit', fid='modulo_form', **form_kwargs) %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.nombre_corto) %}{% endcall %}
            {% call f.form_group(form.icono) %}{% endcall %}
            {% call f.form_group(form.ruta) %}{% endcall %}
            {% call f.form_group(form.en_navegacion) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
