{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Estados{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('MUNICIPIOS') %}
            {{ topbar.button_districts('Municipios', url_for('municipios.list_active')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros CidFormatos -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosEstados.buscar(); return false;">
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroClave" type="text" class="form-control" aria-label="Clave">
                            <label for="filtroClave">Clave</label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-floating">
                            <input id="filtroNombre" type="text" class="form-control" aria-label="Nombre" style="text-transform: uppercase;">
                            <label for="filtroNombre">Nombre</label>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosEstados.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosEstados.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Datatable de estados -->
        <table id="estados_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Claves</th>
                    <th>Nombres</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Estados
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTEstados = constructorDataTable.config();
        configDTEstados['ajax']['url'] = '/estados/datatable_json';
        configDTEstados['ajax']['data'] = {{ filtros }};
        configDTEstados['columns'] = [
            { data: 'detalle' },
            { data: 'nombre' },
        ];
        configDTEstados['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.clave + '</a>';
                }
            }
        ];
        // Filtros Cid Procedimientos
        const filtrosEstados = new FiltrosDataTable('#estados_datatable', configDTEstados);
        filtrosEstados.agregarInput('filtroClave', 'clave');
        filtrosEstados.agregarInput('filtroNombre', 'nombre');
        filtrosEstados.precargar();
    </script>

{% endblock %}
