{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Variable{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(est_variable.descripcion) %}
        {{ topbar.button_previous('Variables', url_for('est_variables.list_active')) }}
        {% if current_user.can_edit('ESTADISTICAS VARIABLES') %}
            {{ topbar.button_edit('Editar', url_for('est_variables.edit', est_variable_id=est_variable.id)) }}
        {% endif %}
        {% if current_user.can_admin('ESTADISTICAS VARIABLES') %}
            {% if est_variable.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('est_variables.delete', est_variable_id=est_variable.id)) }}{% endif %}
            {% if est_variable.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('est_variables.recover', est_variable_id=est_variable.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=est_variable.estatus) %}
        {{ detail.label_value_big('Clave', est_variable.clave) }}
        {{ detail.label_value('Descripción', est_variable.descripcion) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('ESTADISTICAS VARIABLES') %}
        {% if est_variable.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + est_variable.descripcion + '?') }}{% endif %}
        {% if est_variable.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + est_variable.descripcion + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
