{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Lista de Acuerdos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Lista de Acuerdos') %}
        {% if current_user.can_admin('LISTAS DE ACUERDOS') %}
            {{ topbar.button_previous('Listas de Acuerdos de ' + lista_de_acuerdo.autoridad.clave, url_for('listas_de_acuerdos.list_autoridad_listas_de_acuerdos', autoridad_id=lista_de_acuerdo.autoridad_id)) }}
        {% else %}
            {{ topbar.button_previous('Listas de Acuerdos', url_for('listas_de_acuerdos.list_active')) }}
        {% endif %}
        {% if current_user.can_admin('LISTAS DE ACUERDOS ACUERDOS') %}
            {{ topbar.button_new('Nuevo acuerdo', url_for('listas_de_acuerdos_acuerdos.new', lista_de_acuerdo_id=lista_de_acuerdo.id)) }}
        {% endif %}
        {% if current_user.can_admin('LISTAS DE ACUERDOS') %}
            {{ topbar.button_upload('Subir', url_for('listas_de_acuerdos.new_for_autoridad', autoridad_id=lista_de_acuerdo.autoridad_id)) }}
        {% elif current_user.can_insert('LISTAS DE ACUERDOS') and current_user.autoridad_id == lista_de_acuerdo.autoridad_id %}
            {{ topbar.button_upload('Subir', url_for('listas_de_acuerdos.new')) }}
        {% endif %}
        {% if current_user.can_admin('LISTAS DE ACUERDOS') or (current_user.can_edit('LISTAS DE ACUERDOS') and lista_de_acuerdo.autoridad_id == current_user.autoridad_id) %}
            {% if lista_de_acuerdo.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('listas_de_acuerdos.delete', lista_de_acuerdo_id=lista_de_acuerdo.id)) }}{% endif %}
            {% if lista_de_acuerdo.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('listas_de_acuerdos.recover', lista_de_acuerdo_id=lista_de_acuerdo.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=lista_de_acuerdo.estatus) %}
        {{ detail.label_value_big('Descripción', lista_de_acuerdo.descripcion) }}
        {{ detail.label_value('Fecha', moment(lista_de_acuerdo.fecha, local=True).format('DD MMM YYYY')) }}
        {{ detail.label_value('Distrito', lista_de_acuerdo.autoridad.distrito.nombre) }}
        {{ detail.label_value('Autoridad', lista_de_acuerdo.autoridad.descripcion) }}
        {{ detail.label_value_new_tab('Enlace público para descargar PDF', lista_de_acuerdo.archivo, lista_de_acuerdo.descargar_url) }}
        {% if current_user.can_admin('LISTAS DE ACUERDOS') %}
            {{ detail.label_value_new_tab('Descargar como administrador PDF', lista_de_acuerdo.archivo, url_for('listas_de_acuerdos.download', url=lista_de_acuerdo.url)) }}
        {% endif %}
        {{ detail.label_value_new_tab('Acuse', 'De clic aqui', url_for('listas_de_acuerdos.checkout', id_hashed=lista_de_acuerdo.encode_id())) }}
        {{ detail.label_value('Creado', moment(lista_de_acuerdo.creado).format('llll')) }}
    {% endcall %}
    {% if acuerdos %}
        {% call detail.card() %}
            <table id="listas_de_acuerdos_acuerdos_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Referencias</th>
                        <th>Folios</th>
                        <th>Expedientes</th>
                        <th>Actor</th>
                        <th>Demandado</th>
                        <th>Tipos de acuerdos</th>
                        <th>Tipos de juicios</th>
                    </tr>
                </thead>
                <tbody>
                    {% for acuerdo in acuerdos %}
                    <tr>
                        <td><a href="{{ url_for('listas_de_acuerdos_acuerdos.detail', lista_de_acuerdo_acuerdo_id=acuerdo.id) }}">{{ acuerdo.referencia }}</a></td>
                        <td>{{ acuerdo.folio }}</td>
                        <td>{{ acuerdo.expediente }}</td>
                        <td>{{ acuerdo.actor }}</td>
                        <td>{{ acuerdo.demandado }}</td>
                        <td>{{ acuerdo.tipo_acuerdo }}</td>
                        <td>{{ acuerdo.tipo_juicio }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('LISTAS DE ACUERDOS') or (current_user.can_edit('LISTAS DE ACUERDOS') and lista_de_acuerdo.autoridad_id == current_user.autoridad_id) %}
        {% if lista_de_acuerdo.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + lista_de_acuerdo.fecha.strftime('%Y-%m-%d') + '?') }}{% endif %}
        {% if lista_de_acuerdo.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + lista_de_acuerdo.fecha.strftime('%Y-%m-%d') + '?') }}{% endif %}
    {% endif %}
    {% if acuerdos %}
        {{ detail.datatable('listas_de_acuerdos_acuerdos_datatable') }}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
