{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail with context %}

{% block title %}Lista de Acuerdos{% endblock %}

{% block topbar_actions %}
    {% call detail.topbar_actions() %}
        {% if current_user.can_edit('listas_de_acuerdos') %}
            {{ detail.topbar_actions_option('Editar', url_for('listas_de_acuerdos.edit', lista_de_acuerdo_id=lista_de_acuerdo.id)) }}
            {% if lista_de_acuerdo.estatus == 'A' %}{{ detail.topbar_actions_option('Eliminar', 'javascript:showModalDelete()') }}{% endif %}
            {% if lista_de_acuerdo.estatus == 'B' %}{{ detail.topbar_actions_option('Recuperar', 'javascript:showModalRecover()') }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.page_breadcrumb(lista_de_acuerdo.fecha) %}
        {{ detail.page_breadcrumb_item('Listas de Acuerdos', link=url_for('listas_de_acuerdos.list_active')) }}
        {{ detail.page_breadcrumb_item('Distritos', link=url_for('listas_de_acuerdos.list_distritos')) }}
        {{ detail.page_breadcrumb_item(lista_de_acuerdo.autoridad.distrito.nombre, link=url_for('listas_de_acuerdos.list_autoridades', distrito_id=lista_de_acuerdo.autoridad.distrito_id)) }}
        {{ detail.page_breadcrumb_item(lista_de_acuerdo.autoridad.descripcion, link=url_for('listas_de_acuerdos.list_autoridad_listas_de_acuerdos', autoridad_id=lista_de_acuerdo.autoridad_id)) }}
    {% endcall %}
    <div class="container-fluid">
        {% call detail.card(estatus=lista_de_acuerdo.estatus) %}
            {{ detail.label_value_big('Archivo', lista_de_acuerdo.archivo) }}
            {{ detail.label_value('Tiempo de creación', lista_de_acuerdo.creado) }}
            {{ detail.label_value('Distrito', lista_de_acuerdo.autoridad.distrito.nombre) }}
            {{ detail.label_value('Autoridad', lista_de_acuerdo.autoridad.descripcion, url_for('autoridades.detail', autoridad_id=lista_de_acuerdo.autoridad_id)) }}
            {{ detail.label_value('Fecha', lista_de_acuerdo.fecha) }}
            {{ detail.label_value('Descripción', lista_de_acuerdo.descripcion) }}
            {{ detail.label_value('Abrir URL', lista_de_acuerdo.archivo, lista_de_acuerdo.url) }}
        {% endcall %}
    </div>
    {% if current_user.can_edit('listas_de_acuerdos') %}
        {{ detail.modal('Eliminar', '¿Eliminar la lista de acuerdos del ' + lista_de_acuerdo.fecha.strftime('%Y-%m-%d') + '?', 'modalDelete', url_for('listas_de_acuerdos.delete', lista_de_acuerdo_id=lista_de_acuerdo.id)) }}
        {{ detail.modal('Recuperar', '¿Recuperar la lista de acuerdos del ' + lista_de_acuerdo.fecha.strftime('%Y-%m-%d') + '?', 'modalRecover', url_for('listas_de_acuerdos.recover', lista_de_acuerdo_id=lista_de_acuerdo.id)) }}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('listas_de_acuerdos') %}
        {{ detail.custom_javascript_delete_recover() }}
    {% endif %}
{% endblock %}
