{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Descargar archivo CSV con enlaces publicos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Lista de Acuerdos') %}
        {{ topbar.button_previous('Listas de Acuerdos de ' + autoridad.clave, url_for('listas_de_acuerdos.list_autoridad_listas_de_acuerdos', autoridad_id=autoridad.id)) }}
        {{ topbar.button_previous('Listas de Acuerdos', url_for('listas_de_acuerdos.list_active')) }}
        {{ topbar.button_districts('Distritos', url_for('listas_de_acuerdos.list_distritos')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card() %}
        {{ detail.label_value('Distrito', autoridad.distrito.nombre) }}
        {{ detail.label_value('Autoridad', autoridad.descripcion) }}
        {{ detail.label_value('Desde', fecha_desde) }}
        {{ detail.label_value('Hasta', fecha_hasta) }}
    {% endcall %}
{% endblock %}
