{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Lista de Acuerdos{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + lista_de_acuerdo.fecha.strftime('%Y-%m-%d') + ' del ' + lista_de_acuerdo.autoridad.clave) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'lista_de_acuerdo_id': lista_de_acuerdo.id} %}
        {% call f.form_tag('listas_de_acuerdos.edit', fid='lista_de_acuerdo_form', **form_kwargs) %}
            {% call f.form_group(form.fecha) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
