{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Editar Lista de Acuerdos{% endblock %}

{% block content %}
    {{ f.page('Editar ' + lista_de_acuerdo.archivo) }}
    <div class="container-fluid">
        {% call f.card() %}
            {% set form_kwargs = {'lista_de_acuerdo_id': lista_de_acuerdo.id} %}
            {% call f.form_tag('listas_de_acuerdos.edit', fid='lista_de_acuerdo_form', **form_kwargs) %}
                {% call f.form_group(form.fecha) %}{% endcall %}
                {% call f.form_group(form.descripcion) %}{% endcall %}
                {{ form.guardar() }}
            {% endcall %}
        {% endcall %}
    </div>
{% endblock %}
