{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Listas de Acuerdos{% endblock %}

{% block topbar_actions %}
    {{ list.topbar_option('Buscar', url_for('listas_de_acuerdos.search'), 'fas fa-search') }}
    {{ list.topbar_option('Distritos', url_for('listas_de_acuerdos.list_distritos'), 'fas fa-sitemap') }}
    {% if autoridad and current_user.can_insert('listas_de_acuerdos') %}
        {% if current_user.can_insert('tareas') %}
            {{ list.topbar_option('Subir', url_for('listas_de_acuerdos.new_for_autoridad', autoridad_id=autoridad.id), 'fas fa-upload') }}
        {% else %}
            {{ list.topbar_option('Subir', url_for('listas_de_acuerdos.new'), 'fas fa-upload') }}
        {% endif %}
    {% endif %}
    {% if autoridad and current_user.can_insert('tareas') %}
        {{ list.topbar_option('Refrescar', url_for('listas_de_acuerdos.refresh', autoridad_id=autoridad.id), 'fas fa-redo') }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if autoridad %}
        {% call list.page_breadcrumb(autoridad.descripcion) %}
            {{ list.page_breadcrumb_item('Listas de Acuerdos', link=url_for('listas_de_acuerdos.list_active')) }}
            {{ list.page_breadcrumb_item('Distritos', link=url_for('listas_de_acuerdos.list_distritos')) }}
            {{ list.page_breadcrumb_item(autoridad.distrito.nombre, link=url_for('listas_de_acuerdos.list_autoridades', distrito_id=autoridad.distrito_id)) }}
        {% endcall %}
    {% else %}
        {{ list.page('Listas de Acuerdos') }}
    {% endif %}
    <div class="container-fluid">
        {% call list.card() %}
            <table id="listas_de_acuerdos_datatable" class="table">
                <thead>
                    <tr>
                        <th>Fechas</th>
                        <th>Descripciones</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lista_de_acuerdo in listas_de_acuerdos %}
                    <tr>
                        <td><a href="{{ url_for('listas_de_acuerdos.detail', lista_de_acuerdo_id=lista_de_acuerdo.id) }}">{{ lista_de_acuerdo.fecha }}</a></td>
                        <td>{{ lista_de_acuerdo.descripcion }}</td>
                        <td><a href="{{ lista_de_acuerdo.url }}" target="_blank">{{ lista_de_acuerdo.archivo }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('listas_de_acuerdos_datatable', order='desc') }}
{% endblock %}
