{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Listas de Acuerdos{% endblock %}

{% block topbar_actions %}
    {% call list.topbar_actions() %}
        {{ list.topbar_actions_option('Buscar Lista de Acuerdos', url_for('listas_de_acuerdos.search')) }}
        {% if current_user.can_insert('listas_de_acuerdos') %}
            {{ list.topbar_actions_option('Nueva Lista de Acuerdos', url_for('listas_de_acuerdos.new')) }}
        {% endif %}
        {{ list.topbar_actions_option('Rastrear Lista de Acuerdos', url_for('listas_de_acuerdos.trace', autoridad_id=autoridad.id)) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.page_breadcrumb(autoridad.descripcion) %}
        {{ list.page_breadcrumb_item('Listas de Acuerdos', link=url_for('listas_de_acuerdos.list_distritos')) }}
        {{ list.page_breadcrumb_item(autoridad.distrito.nombre, link=url_for('listas_de_acuerdos.list_autoridades', distrito_id=autoridad.distrito_id)) }}
    {% endcall %}
    <div class="container-fluid">
        {% call list.card() %}
            <table id="listas_de_acuerdos_datatable" class="table">
                <thead>
                    <tr>
                        <th>Fechas</th>
                        <th>Descripciones</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lista_de_acuerdo in listas_de_acuerdos %}
                    <tr>
                        <td><a href="{{ url_for('listas_de_acuerdos.detail', lista_de_acuerdo_id=lista_de_acuerdo.id) }}">{{ lista_de_acuerdo.fecha }}</a></td>
                        <td>{{ lista_de_acuerdo.descripcion }}</td>
                        <td><a href="{{ lista_de_acuerdo.url }}" target="_blank">{{ lista_de_acuerdo.archivo }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    <script>
        $('#listas_de_acuerdos_datatable').DataTable({
            "order": [[0, "desc"]]
        });
    </script>
{% endblock %}
