{% extends 'layouts/app.jinja2' %}
{% import 'macros/form_inline.jinja2' as f with context %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Listas de Acuerdos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_districts('Distritos', url_for('listas_de_acuerdos.list_distritos')) }}
        {% if autoridad %}
            {% if current_user.can_admin('LISTAS DE ACUERDOS') or (current_user.can_edit('LISTAS DE ACUERDOS') and current_user.autoridad_id == autoridad.id) %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivas', url_for('listas_de_acuerdos.list_inactive')) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activas', url_for('listas_de_acuerdos.list_active')) }}{% endif %}
            {% endif %}
            {% if current_user.can_admin('LISTAS DE ACUERDOS') %}
                {{ topbar.button_upload('Subir', url_for('listas_de_acuerdos.new_for_autoridad', autoridad_id=autoridad.id)) }}
            {% elif current_user.can_insert('LISTAS DE ACUERDOS') and current_user.autoridad_id == autoridad.id %}
                {{ topbar.button_upload('Subir', url_for('listas_de_acuerdos.new')) }}
            {% endif %}
        {% endif %}
        {{ topbar.button_search('Buscar', url_for('listas_de_acuerdos.search')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {# Datatable #}
    {% call list.card() %}
        <table id="listas_de_acuerdos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Descargar</th>
                    <th>Creado</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
    {# Reporte #}
    {% if form %}
        {% call list.card(title='Reporte de Listas de Acuerdos') %}
            {% call f.form_tag('listas_de_acuerdos.report', fid='listas_de_acuerdos_report_form') %}
                {% call f.form_group(form.autoridad_id, type='hidden') %}{% endcall %}
                {% call f.form_group(form.fecha_desde, placeholder='Desde') %}{% endcall %}
                {% call f.form_group(form.fecha_hasta, placeholder='Hasta') %}{% endcall %}
                {% call f.form_group(form.elaborar) %}{% endcall %}
            {% endcall %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <script>
        $('#listas_de_acuerdos_datatable').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            responsive: true,
            scrollX: true,
            ajax: {
                url: "/listas_de_acuerdos/datatable_json",
                type: "POST",
                headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                dataType: "json",
                dataSrc: "data",
                data: {{ filtros }}
            },
            columns: [
                { data: "fecha" },
                { data: "detalle" },
                { data: "archivo" },
                { data: "creado" }
            ],
            ordering: false,
            columnDefs: [
                {
                    targets: 1, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.descripcion + '</a>';
                    }
                },
                {
                    targets: 2, // archivo
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.descargar_url + '" target="_blank">PDF</a>';
                    }
                },
                {
                    targets: 3, // creado
                    data: null,
                    render: function(data, type, row, meta) {
                        return data.tiempo;
                    }
                }
            ],
            language: {
                lengthMenu: "Mostrar _MENU_",
                search: "Filtrar:",
                zeroRecords: "No se encontraron registros",
                info: "Total de registros _TOTAL_ ",
                infoEmpty: "No hay registros",
                infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                }
            }
        });
    </script>
{% endblock %}
