{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Listas de Acuerdos{% endblock %}

{% block topbar_actions %}
    {% call list.topbar_actions() %}
        {{ list.topbar_actions_option('Buscar Lista de Acuerdos', url_for('listas_de_acuerdos.search')) }}
        {% if current_user.can_insert('listas_de_acuerdos') %}
            {{ list.topbar_actions_option('Nueva Lista de Acuerdos', url_for('listas_de_acuerdos.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.page_breadcrumb(distrito.nombre) %}
        {{ list.page_breadcrumb_item('Listas de Acuerdos', link=url_for('listas_de_acuerdos.list_distritos')) }}
    {% endcall %}
    <div class="container-fluid">
        {% call list.card() %}
        <table class="table">
            <thead>
                <tr>
                    <th>Autoridades</th>
                </tr>
            </thead>
            <tbody>
                {% for autoridad in autoridades %}
                <tr>
                    <td><a href="{{ url_for('listas_de_acuerdos.list_active', autoridad_id=autoridad.id) }}">{{ autoridad.descripcion }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endcall %}
    </div>
{% endblock %}
