{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Listas de Acuerdos{% endblock %}

{% block topbar_actions %}
    {{ list.topbar_option_search('Buscar', url_for('listas_de_acuerdos.search')) }}
    {{ list.topbar_option('Distritos', url_for('listas_de_acuerdos.list_distritos'), 'fas fa-sitemap') }}
    {% if autoridad %}
        {% if current_user.can_admin('listas_de_acuerdos') %}
            {{ list.topbar_option_upload('Subir', url_for('listas_de_acuerdos.new_for_autoridad', autoridad_id=autoridad.id)) }}
        {% endif %}
        {% if current_user.can_insert('tareas') %}
            {{ list.topbar_option_refresh('Refrescar', url_for('listas_de_acuerdos.refresh', autoridad_id=autoridad.id)) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if estatus == 'A'%}{{ list.page('Listas de Acuerdos') }}{% endif %}
    {% if estatus == 'B'%}{{ list.page('Listas de Acuerdos inactivas') }}{% endif %}
    <div class="container-fluid">
        {% call list.card() %}
            <table id="listas_de_acuerdos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %}">
                <thead>
                    <tr>
                        <th>Creados</th>
                        <th>Autoridades</th>
                        <th>Fechas</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lista_de_acuerdo in listas_de_acuerdos %}
                    <tr>
                        <td>{{ lista_de_acuerdo.creado.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ lista_de_acuerdo.autoridad.clave }}</td>
                        <td><a href="{{ url_for('listas_de_acuerdos.detail', lista_de_acuerdo_id=lista_de_acuerdo.id) }}">{{ lista_de_acuerdo.fecha }}</a></td>
                        <td><a href="{{ lista_de_acuerdo.url }}" target="_blank">{{ lista_de_acuerdo.archivo }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('listas_de_acuerdos_datatable', order='desc') }}
{% endblock %}
