{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Todas las Listas de Acuerdos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_districts('Distritos', url_for('listas_de_acuerdos.list_distritos')) }}
        {% if autoridad %}
            {% if current_user.can_admin('LISTAS DE ACUERDOS') %}
                {{ topbar.button_upload('Subir', url_for('listas_de_acuerdos.new_for_autoridad', autoridad_id=autoridad.id)) }}
            {% endif %}
            {% if current_user.can_edit('LISTAS DE ACUERDOS') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivas', url_for('listas_de_acuerdos.list_autoridad_listas_de_acuerdos_inactive', autoridad_id=autoridad.id)) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activas', url_for('listas_de_acuerdos.list_autoridad_listas_de_acuerdos', autoridad_id=autoridad.id)) }}{% endif %}
            {% endif %}
            {# if current_user.can_insert('TAREAS') #}
                {# topbar.button_refresh('Refrescar', url_for('listas_de_acuerdos.refresh', autoridad_id=autoridad.id)) #}
            {# endif #}
        {% else %}
            {% if current_user.can_edit('LISTAS DE ACUERDOS') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivas', url_for('listas_de_acuerdos.list_inactive')) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activas', url_for('listas_de_acuerdos.list_active')) }}{% endif %}
            {% endif %}
        {% endif %}
        {{ topbar.button_search('Buscar', url_for('listas_de_acuerdos.search')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="listas_de_acuerdos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Creados</th>
                    <th>Autoridades</th>
                    <th>Fechas</th>
                    <th>Descripciones</th>
                    <th>Archivos</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        $('#listas_de_acuerdos_datatable').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            responsive: true,
            scrollX: true,
            ajax: {
                url: "/listas_de_acuerdos/datatable_json_admin",
                type: "POST",
                headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}"},
                dataType: "json",
                dataSrc: "data",
                data: {{ filtros }}
            },
            columns: [
                { data: "creado" },
                { data: "autoridad" },
                { data: "fecha" },
                { data: "detalle" },
                { data: "archivo" }
            ],
            columnDefs: [
                {
                    targets: 0,
                    type: "date",
                    render: function (data, type, row) {
                        return moment.utc(data).local().format("YYYY-MM-DD HH:mm:ss");
                    }
                },
                {
                    targets: 2,
                    type: "date",
                    render: function (data, type, row) {
                        return moment.utc(data).local().format("DD MMM YYYY");
                    }
                },
                {
                    targets: 3,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.descripcion + '</a>';
                    }
                },
                {
                    targets: 4,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '" target="_blank">PDF</a>';
                    }
                }
            ],
            language: {
                lengthMenu: "Mostrar _MENU_",
                search: "Filtrar:",
                zeroRecords: "No se encontraron registros",
                info: "Total de registros _TOTAL_ ",
                infoEmpty: "No hay registros",
                infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                }
            }
        });
    </script>
{% endblock %}
