{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Subir Lista de Acuerdos{% endblock %}

{% block custom_head %}
    {{ f.drop_zone_css() }}
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Subir Lista de Acuerdos') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag_multipart('listas_de_acuerdos.new', fid='lista_de_acuerdo_form') %}
            {% call f.form_group(form.distrito, readonly=true) %}{% endcall %}
            {% call f.form_group(form.autoridad, readonly=true) %}{% endcall %}
            {% if mi_limite_dias > 0 %}
                {% call f.form_group(form.fecha) %}{% endcall %}
            {% else %}
                {% call f.form_group(form.fecha, readonly=true) %}{% endcall %}
            {% endif %}
            {% if con_materia %}
                {% call f.form_group(form.materia) %}{% endcall %}
            {% endif %}
            {% call f.drop_zone_wrapper() %}
                {% call f.form_group(form.archivo, class="dropzone") %}{% endcall %}
            {% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ f.drop_zone_js() }}
{% endblock %}
