{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Subir Lista de Acuerdos{% endblock %}

{% block custom_head %}
    {{ f.drop_zone_css() }}
{% endblock %}

{% block content %}
    {{ f.page('Subir Lista de Acuerdos para ' + autoridad.distrito.nombre + ', ' + autoridad.descripcion) }}
    <div class="container-fluid">
        {% set form_kwargs = {'autoridad_id': autoridad.id} %}
        {% call f.form_tag_multipart('listas_de_acuerdos.new_for_autoridad', fid='lista_de_acuerdo_form', **form_kwargs) %}
            {% call f.form_group(form.distrito, readonly=true) %}{% endcall %}
            {% call f.form_group(form.autoridad, readonly=true) %}{% endcall %}
            {% call f.form_group(form.fecha) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.drop_zone_wrapper() %}
                {% call f.form_group(form.archivo, class="dropzone") %}{% endcall %}
            {% endcall %}
            {{ form.guardar() }}
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    {{ f.drop_zone_js() }}
{% endblock %}
