{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}
    Reporte de Listas de Acuerdos de {{ autoridad.clave }}
    del {{ fecha_desde }} al {{ fecha_hasta }}
{% endblock %}

{% block custom_head %}
    <!-- Datatables buttons -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Reporte de Listas de Acuerdos') %}
        {% if current_user.can_admin('LISTAS DE ACUERDOS') %}
            {{ topbar.button_previous('Listas de Acuerdos de ' + autoridad.clave, url_for('listas_de_acuerdos.list_autoridad_listas_de_acuerdos', autoridad_id=autoridad.id)) }}
        {% endif %}
        {{ topbar.button_previous('Listas de Acuerdos', url_for('listas_de_acuerdos.list_active')) }}
        {{ topbar.button_districts('Distritos', url_for('listas_de_acuerdos.list_distritos')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(title='Parámetros recibidos') %}
        {{ detail.label_value_big('Distrito', autoridad.distrito.nombre) }}
        {{ detail.label_value_big('Autoridad', autoridad.descripcion) }}
        {{ detail.label_value('Desde', fecha_desde) }}
        {{ detail.label_value('Hasta', fecha_hasta) }}
    {% endcall %}
    {% call list.card(title='De clic en un botón para descargar el reporte con enlaces públicos (máximo 500 registros)') %}
        <table id="listas_de_acuerdos_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Enlace público</th>
                    <th>Creado</th>
                    <th>En tiempo</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Datatables buttons -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/2.4.1/js/buttons.print.min.js"></script>
    <!-- Datatable listas de acuerdos -->
    <script>
        $('#listas_de_acuerdos_datatable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                { extend: 'copy', text: 'Copiar' },
                { extend: 'csvHtml5', text: 'Descargar CSV' },
                { extend: 'excelHtml5', text: 'Descargar XLSX' }
            ],
            pageLength: 500,
            processing: true,
            serverSide: true,
            searching: false,
            responsive: true,
            scrollX: true,
            ajax: {
                url: "/listas_de_acuerdos/datatable_json",
                type: "POST",
                headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                dataType: "json",
                dataSrc: "data",
                data: {{ filtros }}
            },
            columns: [
                { data: "fecha" },
                { data: "detalle" },
                { data: "archivo" },
                { data: "creado" },
                { data: "creado" }
            ],
            ordering: false,
            columnDefs: [
                {
                    targets: 1, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.descripcion + '</a>';
                    }
                },
                {
                    targets: 2, // archivo
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.descargar_url + '" target="_blank">' + data.descargar_url + '</a>';
                    }
                },
                {
                    targets: 3, // creado
                    data: null,
                    render: function(data, type, row, meta) {
                        return data.tiempo;
                    }
                },
                {
                    targets: 4, // creado "en tiempo"
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data.semaforo < 1) {
                            texto = 'Verde'; bandera = 'flag-checkered'; color = 'green';
                        } else if (data.semaforo == 1) {
                            texto = 'Amarillo'; bandera = 'flag-outline'; color = 'orange';
                        } else if (data.semaforo > 1) {
                            texto = 'Rojo'; bandera = 'flag'; color = 'red';
                        }
                        return texto + ' <span style="color: ' + color +  ';" class="iconify" data-icon="mdi:' + bandera + '"></span>';
                    }
                }
            ],
            language: {
                lengthMenu: "Mostrar _MENU_",
                search: "Filtrar:",
                zeroRecords: "No se encontraron registros",
                info: "Total de registros _TOTAL_ ",
                infoEmpty: "No hay registros",
                infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                }
            }
        });
    </script>
{% endblock %}
