{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Buscar Listas de Acuerdos{% endblock %}

{% block topbar_actions %}
    {{ f.topbar_option('Distritos', url_for('listas_de_acuerdos.list_distritos'), 'fas fa-sitemap') }}
{% endblock %}

{% block content %}
    {{ f.page('Buscar Listas de Acuerdos') }}
    <div class="container-fluid">
        {% call f.card() %}
            {% call f.form_tag('listas_de_acuerdos.search', fid='listas_de_acuerdos_form') %}
                {% call f.form_group(form.distrito, readonly=true) %}{% endcall %}
                {% call f.form_group(form.autoridad, readonly=true) %}{% endcall %}
                {% call f.form_group(form.fecha_desde) %}{% endcall %}
                {% call f.form_group(form.fecha_hasta) %}{% endcall %}
                {{ form.buscar() }}
            {% endcall %}
        {% endcall %}
    </div>
{% endblock %}
