{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Domicilio{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Domicilio') %}
        {{ topbar.button_previous('Domicilios', url_for('domicilios.list_active')) }}
        {% if current_user.can_edit('DOMICILIOS') %}
            {{ topbar.button_edit('Editar', url_for('domicilios.edit', domicilio_id=domicilio.id)) }}
            {% if domicilio.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('domicilios.delete', domicilio_id=domicilio.id)) }}{% endif %}
            {% if domicilio.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('domicilios.recover', domicilio_id=domicilio.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=domicilio.estatus) %}
        {{ detail.label_value('Colonia', domicilio.colonia) }}
        {{ detail.label_value('Calle', domicilio.calle) }}
        {{ detail.label_value('CP', domicilio.cp) }}
        {{ detail.label_value('Núm. Exterior', domicilio.num_ext) }}
        {{ detail.label_value('Núm. Interior', domicilio.num_int) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('DOMICILIOS') %}
        {% if domicilio.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar el domicilio en la calle: ' + domicilio.calle + '?') }}{% endif %}
        {% if domicilio.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar el domicilio en la calle: ' + domicilio.calle + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
