{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Archivo Tipo de Documento{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + arc_documento_tipo.nombre) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'arc_documento_tipo_id': arc_documento_tipo.id} %}
        {% call f.form_tag('arc_documentos_tipos.edit', fid='arc_documento_tipo_form', **form_kwargs) %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
