{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Informes{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('ESTADISTICAS INFORMES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('est_informes.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('est_informes.list_active')) }}{% endif %}
        {% endif %}
        {# if current_user.can_insert('ESTADISTICAS INFORMES') %}
            {{ topbar.button_new('Nuevo Informe', url_for('est_informes.new')) }}
        {% endif #}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="est_informes_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Autoridad</th>
                    <th>Estado</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/est_informes/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'detalle' },
            { data: 'autoridad' },
            { data: 'estado' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.fecha + '</a>';
                }
            }
        ];
        $('#est_informes_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
