{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Transcripciones{% endblock %}

{% block topbar_actions %}
    {{ list.topbar_option_search('Buscar', url_for('transcripciones.search')) }}
    {% if current_user.can_edit('transcripciones') %}
        {% if estatus == 'A' %}{{ list.topbar_option_list_inactive('Inactivas', url_for('transcripciones.list_inactive')) }}{% endif %}
        {% if estatus == 'B' %}{{ list.topbar_option_list_active('Activas', url_for('transcripciones.list_active')) }}{% endif %}
    {% endif %}
    {% if current_user.can_insert('transcripciones') %}
        {{ list.topbar_option_new('Nueva Transcripción', url_for('transcripciones.new')) }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if estatus == 'A' %}{{ list.page('Transcripciones') }}{% endif %}
    {% if estatus == 'B' %}{{ list.page('Transcripciones inactivas') }}{% endif %}
    <div class="container-fluid">
        {% call list.card() %}
            <table id="transcripciones_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %}">
                <thead>
                    <tr>
                        <th>Transcripciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transcripcion in transcripciones %}
                    <tr>
                        <td><a href="{{ url_for('transcripciones.detail', transcripcion_id=transcripcion.id) }}">{{ transcripcion.descripcion }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('transcripciones_datatable', order='desc') }}
{% endblock %}
