{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Buscar Transcripciones{% endblock %}

{% block content %}
    {{ f.page('Buscar Transcripciones') }}
    <div class="container-fluid">
        {% call f.form_tag('transcripciones.search', fid='transcripciones_search_form') %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.expediente) %}{% endcall %}
            {{ form.buscar() }}
        {% endcall %}
    </div>
{% endblock %}
