{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Categorías{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Categoría:  ' + categoria.nombre) %}
        {{ topbar.button_previous('categorías', url_for('inv_categorias.list_active')) }}
        {% if current_user.can_edit('INV CATEGORIAS') %}
            {{ topbar.button_edit('Editar', url_for('inv_categorias.edit', categoria_id=categoria.id)) }}
            {% if categoria.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('inv_categorias.delete', categoria_id=categoria.id)) }}{% endif %}
            {% if categoria.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('inv_categorias.recover', categoria_id=categoria.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=categoria.estatus) %}
        {{ detail.label_value('ID', categoria.id) }}
        {{ detail.label_value('Categoría', categoria.nombre) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('INV CATEGORIAS') %}
        {% if categoria.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + categoria.nombre + '?') }}{% endif %}
        {% if categoria.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + categoria.nombre + '?') }}{% endif %}
    {% endif %}
{% endblock %}
