{% extends 'layouts/app.jinja2' %}
{% import 'macros/start.jinja2' as start %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Inicio{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Inicio') }}
{% endblock %}

{% block content %}
    {% call start.card() %}
        <h1>Plataforma Web</h1>
        <p class="lead">Sistema para administrar el contenido del sitio web <a href="https://www.pjecz.gob.mx" target="_blank">www.pjecz.gob.mx</a>.</p>
        <hr class="my-4">
        <p><strong>Poder Judicial del Estado de Coahuila de Zaragoza</strong></p>
    {% endcall %}
    {% call start.card('Versiones') %}
        <div id="versiones_container">
            <span id="versiones_spinner" class="spinner-border" role="status"></span>
        </div>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script type="text/javascript">
        const versiones_json = "{{ url_for('static', filename='json/versions.json') }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/versions.js') }}"></script>
{% endblock %}
