{% extends 'layouts/app.jinja2' %}
{% import 'macros/start.jinja2' as start %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Inicio{% endblock %}

{% block custom_head %}
    <style>
        .img-support{ height:auto; width:300px; }
        .img-call{ height:auto; width:300px; }
        .img-support-us{ height:auto; width:300px; }
        .box { align-items: center; display: flex; justify-content: center; }
        .btn-ticket{ display:inline-block;}
        .btn-dir{ display:inline-block; margin-left: 50px;}
    </style>
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Inicio') }}
{% endblock %}

{% block content %}
    {# Plataforma Web #}
    {% call start.card() %}
        <h1 class="text-center">Plataforma Web</h1>
        <br />
        {# Cambio de pantalla si no tiene privilegios para crear tickets #}
        <div class="row" >
            {% if  current_user.can_edit("SOPORTES TICKETS")%}
                <div class="box col-6 col-md-6 mb-2" >
                    <img src="{{ url_for('static', filename='images/soporte_3.png') }}" class="img-fluid img-support"/>
                </div>
            {% else %}
                <div class="box col-6 col-md-6 mb-2" >
                    <img src="{{ url_for('static', filename='images/soporte_2.png') }}" class="img-fluid img-support-us"/>
                </div>
            {% endif %}
            <div class="box col-6 col-md-6 mb-2" >
                <img src="{{ url_for('static', filename='images/call5.png') }}" class="img-fluid img-call"/>
            </div>
            <!-- Force next columns to break to new line -->
            <div class="w-100"></div>
            {% if  current_user.can_edit("SOPORTES TICKETS")%}
                <div class="col-6 col-md-6 mb-2">
                    <h4 class="text-center">¿Necesitas soporte técnico?</h4>
                    <div class="col-md-9 offset-md-3">
                        <span class="col-sm-5 offset-sm-2 col-md-6 offset-md-0 ">
                            <a href="{{url_for('soportes_tickets.new')}}"class="btn btn-success btn-ticket ml-auto">Crear un nuevo ticket</a>
                        </span>
                        <span class="col-sm-5 offset-sm-2 col-md-6 offset-md-0 ">
                            <a href="{{url_for('soportes_tickets.list_active')}}" class="btn btn-primary btn-ticket ml-auto" >Mis tickets</a>
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="col-6 col-md-6 mb-2">
                    <h4 class="text-center">Bienvenido al sistema</h4> 
                    <p class="text-justify offset-sm-2">Note que ha ingresado con una cuenta que <strong>no es personal.fhdh</strong> </p>
                    <p class="text-justify offset-sm-2">Para solicitar Soporte Técnico a Informática use su cuenta <u>personal</u> sea coahuila.gob.mx ó pjecz.gob.mx . </p>
                </div>
            {% endif %}
            <div class="col-6 col-md-6 mb-2">
                <h4 class="text-center">Conoce los nuevos teléfonos</h4>
                <span class="col-auto offset-sm-4 aling-item-center">
                    <a href="{{url_for('funcionarios.list_active')}}" class="btn btn-primary btn-dir ml-auto">Directorios</a>
                </span>
            </div>
        </div>
    {% endcall %}
    {# Tarjetas #}
    <div id="tarjetas" class="row">
        {% if current_user.autoridad.audiencia_categoria != "NO DEFINIDO" %}
        <div id="autoridades_audiencias_container" class="col-md-6 mb-2">
            <div id="autoridades_audiencias_spinner">
                <h5>Agenda de Audiencias</h5>
                <p class="card-text"><span class="spinner-border" role="status"></span></p>
            </div>
        </div>
        {% endif %}
        {% if current_user.autoridad.directorio_edictos != "" %}
        <div id="autoridades_edictos_container" class="col-md-6 mb-2">
            <div id="autoridades_edictos_spinner">
                <h5>Edictos</h5>
                <p class="card-text"><span class="spinner-border" role="status"></span></p>
            </div>
        </div>
        {% endif %}
        {% if current_user.autoridad.directorio_listas_de_acuerdos != "" %}
        <div id="autoridades_listas_de_acuerdos_container" class="col-md-6 mb-2">
            <div id="autoridades_listas_de_acuerdos_spinner">
                <h5>Listas de Acuerdos</h5>
                <p><span class="spinner-border" role="status"></span></p>
            </div>
        </div>
        {% endif %}
        {% if current_user.autoridad.directorio_sentencias != "" %}
        <div id="autoridades_sentencias_container" class="col-md-6 mb-2">
            <div id="autoridades_sentencias_spinner">
                <h5>Sentencias</h5>
                <p><span class="spinner-border" role="status"></span></p>
            </div>
        </div>
        {% endif %}
    </div>
    {# Versiones #}
    {% call start.card('Versiones') %}
        <div id="versiones_container">
            <span id="versiones_spinner" class="spinner-border" role="status"></span>
        </div>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Tarjetas -->
{% if current_user.autoridad.audiencia_categoria != "NO DEFINIDO" %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/autoridades_audiencias.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            obtener_autoridades_audiencias('/inicio/audiencias_json', '#autoridades_audiencias_container', '#autoridades_audiencias_spinner');
        });
    </script>
{% endif %}
{% if current_user.autoridad.directorio_edictos != "" %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/autoridades_edictos.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            obtener_autoridades_edictos('/inicio/edictos_json', '#autoridades_edictos_container', '#autoridades_edictos_spinner');
        });
    </script>
{% endif %}
{% if current_user.autoridad.directorio_listas_de_acuerdos != "" %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/autoridades_listas_de_acuerdos.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            obtener_autoridades_listas_de_acuerdos('/inicio/listas_de_acuerdos_json', '#autoridades_listas_de_acuerdos_container', '#autoridades_listas_de_acuerdos_spinner');
        });
    </script>
{% endif %}
{% if current_user.autoridad.directorio_sentencias != "" %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/autoridades_sentencias.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            obtener_autoridades_sentencias('/inicio/sentencias_json', '#autoridades_sentencias_container', '#autoridades_sentencias_spinner');
        });
    </script>
{% endif %}
    <!-- Versiones -->
    <script type="text/javascript">
        const versiones_json = "{{ url_for('static', filename='json/versions.json') }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/versions.js') }}"></script>
{% endblock %}
