{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/detail.jinja2' as detail %}

{% block title %}Archivo Estadísticas - Remesas por Estados{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Archivo Estadísticas - Remesas por Estados') %}
        {{ topbar.button_previous('Estadísticas', url_for('arc_archivos.stats')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card() %}
        {{ detail.label_value('Fecha inicio', fecha_desde) }}
        {{ detail.label_value('Fecha final', fecha_hasta) }}
    {% endcall %}
    {# <!-- Datatable Instnaicas --> #}
    {% call list.card() %}
        <table id="estados_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Estados</th>
                    <th>Remesas</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Importación de la configuración para DataTables -->
    <script src="/static/js/datatables_config.js"></script>
    {# Estados Data Table #}
    <script>
        const dataTable_funcs_estados = new ConfigDataTable( "{{ csrf_token() }}" );
        let configDataTable_estados = dataTable_funcs_estados.config;
        configDataTable_estados['ajax']['url'] = '/arc_archivos/datatable_json_remesas_por_estados';
        configDataTable_estados['ajax']['data'] = {{ filtros_por_estados }};
        configDataTable_estados['columns'] = [
            { data: 'estados' },
            { data: 'remesas' },
        ];
        // Datatable
        $('#estados_datatable').DataTable(configDataTable_estados);
    </script>
{% endblock %}
