{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/detail.jinja2' as detail %}

{% block title %}Archivo Estadísticas - Solicitudes por Archivistas{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Archivo Estadísticas - Solicitudes por Archivistas') %}
        {{ topbar.button_previous('Estadísticas', url_for('arc_archivos.stats')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card() %}
        {{ detail.label_value('Fecha inicio', fecha_desde) }}
        {{ detail.label_value('Fecha final', fecha_hasta) }}
    {% endcall %}
    {# <!-- Datatable Instnaicas --> #}
    {% call list.card() %}
        <table id="archivistas_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Archivistas</th>
                    <th>Solicitudes</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Importación de la configuración para DataTables -->
    <script src="/static/js/datatables_config.js"></script>
    {# archivistas Data Table #}
    <script>
        const dataTable_funcs_archivistas = new ConfigDataTable( "{{ csrf_token() }}" );
        let configDataTable_archivistas = dataTable_funcs_archivistas.config;
        configDataTable_archivistas['ajax']['url'] = '/arc_archivos/datatable_json_solicitudes_por_archivistas';
        configDataTable_archivistas['ajax']['data'] = {{ filtros_por_archivistas }};
        configDataTable_archivistas['columns'] = [
            { data: 'archivistas' },
            { data: 'solicitudes' },
        ];
        // Datatable
        $('#archivistas_datatable').DataTable(configDataTable_archivistas);
    </script>
{% endblock %}
