{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Aceptar o Rechazar un Procedimiento{% endblock %}

{% block custom_head %}
    <style>
        #rechazar { background-color:#B80000; border-color:#B80000; box-sizing: border-box; float: right; }
        #aceptar { box-sizing: border-box; float: left;}
    </style>
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Aceptar o Rechazar un Procedimiento') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'cid_procedimiento_id': cid_procedimiento.id} %}
        {% call f.form_tag('cid_procedimientos.accept_reject', fid='cid_procedimiento_accept_reject_form', **form_kwargs) %}
            {% if cid_procedimiento.seguimiento == "ELABORADO" %}
                {% call f.form_group(form.elaboro_nombre, readonly=true) %}{% endcall %}
            {% elif cid_procedimiento.seguimiento == "REVISADO" %}
                {% call f.form_group(form.reviso_nombre, readonly=true) %}{% endcall %}
            {% endif %}
            {% call f.form_group(form.titulo_procedimiento, readonly=true) %}{% endcall %}
            {% call f.form_group(form.codigo, readonly=true) %}{% endcall %}
            {% call f.form_group(form.revision, readonly=true) %}{% endcall %}
            {% call f.form_group(form.seguimiento, readonly=true) %}{% endcall %}
            {% call f.form_group(form.seguimiento_posterior, readonly=true) %}{% endcall %}
            {% call f.form_group(form.firma) %}{% endcall %}
            {% call f.form_group(form.aceptar) %}{% endcall %}
            {% call f.form_group(form.rechazar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
