{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/accordion.jinja2' as accordion %}

{% block title %}Procedimiento{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Procedimiento') %}
        {{ topbar.button_previous('Procedimientos', url_for('cid_procedimientos.list_active')) }}
        {% if current_user.can_edit('CID PROCEDIMIENTOS') %}
            {{ topbar.button_edit('Editar', url_for('cid_procedimientos.edit', cid_procedimiento_id=cid_procedimiento.id)) }}
            {% if cid_procedimiento.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('cid_procedimientos.delete', cid_procedimiento_id=cid_procedimiento.id)) }}{% endif %}
            {% if cid_procedimiento.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('cid_procedimientos.recover', cid_procedimiento_id=cid_procedimiento.id)) }}{% endif %}
            {{ topbar.button_make('Firmar', url_for('cid_procedimientos.sign_for_maker', cid_procedimiento_id=cid_procedimiento.id)) }}
        {% endif %}
        {% if current_user.can_insert('CID FORMATOS') %}
            {{ topbar.button_new('Agregar formato', url_for('cid_formatos.new', cid_procedimiento_id=cid_procedimiento.id)) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cid_procedimiento.estatus) %}
       {% call accordion.div('procedimientos_accordion')%}
            {{ accordion.item('titulo', 'Título', cid_procedimiento.titulo_procedimiento, 'procedimientos_accordion') }}
            {{ accordion.item('codigo', 'Código', cid_procedimiento.codigo, 'procedimientos_accordion') }}
            {{ accordion.item('revision', 'Revisión', cid_procedimiento.revision, 'procedimientos_accordion') }}
            {{ accordion.item('fecha', 'Fecha', cid_procedimiento.fecha, 'procedimientos_accordion') }}
            {{ accordion.item('seguimiento', 'Seguimiento', cid_procedimiento.seguimiento, 'procedimientos_accordion') }}
            {{ accordion.item('seguimiento_posterior', 'Seguimiento posterior', cid_procedimiento.seguimiento_posterior, 'procedimientos_accordion') }}
            {{ accordion.item('usuario', 'Usuario', cid_procedimiento.usuario.nombre, 'procedimientos_accordion') }}
            {##}
            {{ accordion.item('firma', 'Firma guardada', cid_procedimiento.firma, 'procedimientos_accordion') }}
            {{ accordion.item('firma_vuelo', 'Firma al vuelo', firma_al_vuelo, 'procedimientos_accordion') }}
            {##} {# Comnieza acordeon #}
            {{ detail.label_value_new_tab('Archivo PDF', cid_procedimiento.archivo, cid_procedimiento.url) }}
            {##}{# Comnieza acordeon #}
            {{ accordion.item('objetivos', 'Objetivo', objetivo, 'procedimientos_accordion')}}
            {{ accordion.item('alcance', 'Alcance', alcance, 'procedimientos_accordion')}}
            {{ accordion.item('documentos', 'Documentos', documentos, 'procedimientos_accordion')}}
            {{ accordion.item('definiciones', 'Definiciones', definiciones, 'procedimientos_accordion')}}
            {{ accordion.item('responsabilidades', 'Responsabilidades', responsabilidades, 'procedimientos_accordion')}}
            {{ accordion.item('desarrollo', 'Desarrollo', desarrollo, 'procedimientos_accordion')}}
            {{ accordion.item('registro', 'Registros', registros, 'procedimientos_accordion')}}
            {{ accordion.item('control_cambios', 'Control de Cambios', control_cambios, 'procedimientos_accordion') }}
            {{ accordion.item('elaboro_nombre', 'Elaboró nombre', cid_procedimiento.elaboro_nombre, 'procedimientos_accordion') }}
            {{ accordion.item('elaboro_puesto', 'Elaboró puesto', cid_procedimiento.elaboro_puesto, 'procedimientos_accordion') }}
            {{ accordion.item('elaboro_email', 'Elaboró correo', cid_procedimiento.elaboro_email, 'procedimientos_accordion') }}
            {{ accordion.item('reviso_nombre', 'Revisó nombre', cid_procedimiento.reviso_nombre, 'procedimientos_accordion') }}
            {{ accordion.item('reviso_puesto', 'Revisó puesto', cid_procedimiento.reviso_puesto, 'procedimientos_accordion') }}
            {{ accordion.item('reviso_email', 'Revisó correo', cid_procedimiento.reviso_email, 'procedimientos_accordion') }}
            {{ accordion.item('aprobo_nombre', 'Autorizó nombre', cid_procedimiento.aprobo_nombre, 'procedimientos_accordion') }}
            {{ accordion.item('aprobo_puesto', 'Autorizó puesto', cid_procedimiento.aprobo_puesto, 'procedimientos_accordion') }}
            {{ accordion.item('aprobo_email', 'Autorizó correo', cid_procedimiento.aprobo_email, 'procedimientos_accordion') }}
        {% endcall %}  
    {% endcall %}
    {% if cid_formatos %}
        {% call detail.card(title='Formatos') %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('CID PROCEDIMIENTOS') %}
        {% if cid_procedimiento.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + cid_procedimiento.titulo_procedimiento + '?') }}{% endif %}
        {% if cid_procedimiento.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + cid_procedimiento.titulo_procedimiento + '?') }}{% endif %}
        {{ modals.custom_javascript_make('Firmar', '¿Está seguro de que quiere firmarlo? Ya no podrá cambiarlo después.') }}
    {% endif %}
{% endblock %}
