{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/quill.jinja2' as quill %}

{% block title %}Editar Alcance{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Alcance') }}
{% endblock %}

{% block custom_head %}
    {{ quill.custom_head() }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'cid_procedimiento_id': cid_procedimiento.id} %}
        {% call f.form_tag('cid_procedimientos.edit', fid='cid_procedimiento_alcance_form', **form_kwargs) %}
            {% call f.form_group(form.descripcion, readonly=true) %}
            {% call f.form_group(form.alcance) %}{% endcall %}
            {{ quill.div() }}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ quill.editor_custom_javascript(form_id='cid_procedimiento_alcance_form', form_hidden_id='alcance', content=cid_procedimiento.alcance) }}
{% endblock %}
