{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Procedimientos{% endblock %}

{% block topbar_actions %}
    {% if estatus == 'A' %}{% set title='Procedimientos' %}{% endif %}
    {% if estatus == 'B' %}{% set title='Procedimientos inactivos' %}{% endif %}
    {% call topbar.page_buttons(title) %}
        {{ topbar.button('Formatos', url_for('cid_formatos.list_active'), 'mdi:notebook') }}
        {{ topbar.button('Registros', url_for('cid_formatos.list_active'), 'mdi:clipboard-text') }}
        {% if current_user.can_edit('cid_procedimientos') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cid_procedimientos.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cid_procedimientos.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('cid_procedimientos') %}
            {{ topbar.button_new('Nuevo Procedimiento', url_for('cid_procedimientos.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="cid_procedimientos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Procedimientos</th>
                    <th>Códigos</th>
                    <th>Revisiones</th>
                    <th>Fechas</th>
                </tr>
            </thead>
            <tbody>
                {% for cid_procedimiento in cid_procedimientos %}
                <tr>
                    <td><a href="{{ url_for('cid_procedimientos.detail', cid_procedimiento_id=cid_procedimiento.id) }}">{{ cid_procedimiento.titulo_procedimiento }}</a></td>
                    <td>{{ cid_procedimiento.codigo }}</td>
                    <td>{{ cid_procedimiento.revision }}</td>
                    <td>{{ cid_procedimiento.fecha }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('cid_procedimientos_datatable') }}
{% endblock %}
