{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if show_button_my_autorized %}
            {{ topbar.button('Autorizados de mis áreas', url_for('cid_procedimientos.list_active'), 'mdi:table-star') }}
        {% endif %}
        {% if show_button_list_all_autorized %}
            {{ topbar.button('Todos los autorizados', url_for('cid_procedimientos.list_authorized'), 'mdi:table-star') }}
        {% endif %}
        {% if show_button_list_owned %}
            {{ topbar.button('Propios', url_for('cid_procedimientos.list_owned'), 'mdi:table-heart') }}
        {% endif %}
        {% if current_user.can_admin('CID PROCEDIMIENTOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cid_procedimientos.list_all_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cid_procedimientos.list_all_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('CID PROCEDIMIENTOS') %}
            {{ topbar.button_new('Nuevo Procedimiento', url_for('cid_procedimientos.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros CidProcedimientos -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosCidProcedimientos.buscar(); return false;">
                    <div class="col-4">
                        <div class="form-floating">
                            <input id="filtroCodigo" type="text" class="form-control" aria-label="Codigo" style="text-transform: uppercase;">
                            <label for="filtroCodigo">Código</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <input id="filtroTituloProcedimiento" type="text" class="form-control" aria-label="Procedimiento" style="text-transform: uppercase;">
                            <label for="filtroTituloProcedimiento">Procedimiento</label>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosCidProcedimientos.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosCidProcedimientos.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Datatable de procedimientos -->
        <table id="cid_procedimientos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Procedimiento</th>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Seguimiento</th>
                    <th>Área</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Cid Procedimientos
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTCidProcedimientos = constructorDataTable.config();
        configDTCidProcedimientos['ajax']['url'] = '/cid_procedimientos/datatable_json';
        configDTCidProcedimientos['ajax']['data'] = {{ filtros }};
        configDTCidProcedimientos['columns'] = [
            { data: 'detalle' },
            { data: 'titulo_procedimiento' },
            { data: 'fecha' },
            { data: 'usuario' },
            { data: 'seguimiento' },
            { data: 'cid_area' },
        ];
        configDTCidProcedimientos['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 1, // titulo_procedimiento
                data: null,
                render: function(data, type, row, meta) {
                    if (data.length > 64)
                        return '<span title="' + data + '">' + data.substr(0, 64) + '…' + '</span>';
                    return data;
                }
            },
            {
                targets: 3, // usuario
                data: null,
                render: function(data, type, row, meta) {
                    if (data.nombre.length > 16) {
                        interior = '<span title="' + data.nombre + '">' + data.nombre.substring(0, 16) + '…' + '</span>';
                    } else {
                        interior = data.nombre;
                    }
                    if (data.url == '') {
                        return interior;
                    }
                    return '<a href="' + data.url + '">' + interior + '</a>';
                }
            },
            {
                targets: 5, // seguimiento
                data: null,
                render: function(data, type, row, meta) {
                    switch (data)    {
                        case "EN ELABORACION": return '<span class="badge rounded-pill bg-yellow text-dark">EN ELABORACION <span class="iconify" data-icon="mdi:account-edit"></span></span>';   break;
                        case "ELABORADO":     return '<span class="badge rounded-pill bg-warning text-dark">ELABORADO <span class="iconify" data-icon="mdi:account-check"></span></span>';   break;
                        case "EN REVISION":     return '<span class="badge rounded-pill bg-blue">EN REVISION <span class="iconify" data-icon="mdi:account-search"></span></span>';   break;
                        case "REVISADO":      return '<span class="badge rounded-pill bg-primary">REVISADO <span class="iconify" data-icon="mdi:file-check"></span></span>';   break;
                        case "EN AUTORIZACION":  return '<span class="badge rounded-pill bg-green">EN AUTORIZACION <span class="iconify" data-icon="mdi:file-document-check"></span></span>';  break;
                        case "AUTORIZADO":       return '<span class="badge rounded-pill bg-success">AUTORIZADO <span class="iconify" data-icon="mdi:shield-check"></span></span>';  break;
                    }
                    return data;
                }
            },
            {
                targets: 6, // cid_area
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url == '') {
                        return data.clave;
                    }
                    return '<a href="' + data.url + '">' + data.clave + '</a>';
                }
            },
        ];
        // Filtros Cid Procedimientos
        const filtrosCidProcedimientos = new FiltrosDataTable('#cid_procedimientos_datatable', configDTCidProcedimientos);
        filtrosCidProcedimientos.agregarInput('filtroCodigo', 'codigo');
        filtrosCidProcedimientos.agregarInput('filtroTituloProcedimiento', 'titulo_procedimiento');
        filtrosCidProcedimientos.precargar();
    </script>
{% endblock %}
