{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if show_button_my_autorized %}
            {{ topbar.button('Autorizados de mis áreas', url_for('cid_procedimientos.list_active'), 'mdi:table-star') }}
        {% endif %}
        {% if show_button_list_all_autorized %}
            {{ topbar.button('Todos los autorizados', url_for('cid_procedimientos.list_authorized'), 'mdi:table-star') }}
        {% endif %}
        {% if show_button_list_owned %}
            {{ topbar.button('Propios', url_for('cid_procedimientos.list_owned'), 'mdi:table-heart') }}
        {% endif %}
        {% if current_user.can_admin('CID PROCEDIMIENTOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cid_procedimientos.list_all_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cid_procedimientos.list_all_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('CID PROCEDIMIENTOS') %}
            {{ topbar.button_new('Nuevo Procedimiento', url_for('cid_procedimientos.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Buscador de procedimientos -->
        <form class="input-group mb-3" id="buscadorForm" onsubmit="buscar(); return false;">
           <div class="col-3 p-2">
                <div class="form-floating">
                    <input id="codigoInput" type="text" class="form-control" placeholder="código" aria-label="codigo" aria-describedby="button-buscar" style="text-transform: uppercase">
                    <label for="codigoInput">Código</label>
                </div>
            </div>
            <div class="col-3 p-2">
                <div class="form-floating">
                    <input id="seguimientoInput" type="text" class="form-control" placeholder="seguimiento" aria-label="seguimiento" aria-describedby="button-buscar" style="text-transform: uppercase">
                    <label for="seguimientoInput">Seguimiento</label>
                </div>
            </div>
            <div class="col-4 p-2">
                <div class="form-floating">
                    <input id="tituloInput" type="text" class="form-control" placeholder="titulo" aria-label="titulo" aria-describedby="button-buscar" style="text-transform: uppercase">
                    <label for="tituloInput">Procedimiento</label>
                </div>
            </div>
            <div class="col-2 p-2 text-end">
                <button class="btn btn-primary btn-lg" type="submit" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span>Buscar</button>
                <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
            </div>
        </form>
        <!-- Datatable de procedimientos -->
        <table id="cid_procedimientos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Procedimiento</th>
                    <th>Código</th>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Seguimiento</th>
                    <th>Área</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/cid_procedimientos/datatable_json_admin';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'detalle' },
            { data: 'titulo_procedimiento' },
            { data: 'codigo' },
            { data: 'fecha' },
            { data: 'usuario' },
            { data: 'seguimiento' },
            { data: 'cid_area' },
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 1, // titulo_procedimiento
                data: null,
                render: function(data, type, row, meta) {
                    if (data.length > 64)
                        return '<span title="' + data + '">' + data.substr(0, 64) + '…' + '</span>';
                    return data;
                }
            },
            {
                targets: 4, // usuario
                data: null,
                render: function(data, type, row, meta) {
                    if (data.nombre.length > 16) {
                        interior = '<span title="' + data.nombre + '">' + data.nombre.substring(0, 16) + '…' + '</span>';
                    } else {
                        interior = data.nombre;
                    }
                    if (data.url == '') {
                        return interior;
                    }
                    return '<a href="' + data.url + '">' + interior + '</a>';
                }
            },
            {
                targets: 6, // cid_area
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url == '') {
                        return data.clave;
                    }
                    return '<a href="' + data.url + '">' + data.clave + '</a>';
                }
            },
        ];

        // Tomar valores del formulario del buscador y pasarlos al Datatable
        let codigo = document.getElementById('codigoInput').value.toUpperCase();
        let seguimiento = document.getElementById('seguimientoInput').value.toUpperCase();
        let titulo = document.getElementById('tituloInput').value.toUpperCase();
        if (codigo != '')
            configDataTable['ajax']['data']['codigo'] = codigo;
        if (seguimiento != '')
            configDataTable['ajax']['data']['seguimiento_filtro'] = seguimiento;
        if (titulo != '')
            configDataTable['ajax']['data']['titulo_procedimiento'] = titulo;

        // Datatable
        $('#cid_procedimientos_datatable').DataTable(configDataTable);

    </script>
    <!-- Función de buscador -->
    <script type="text/javascript">
        function buscar(){

            // Tomar valores del formulario
            let codigo = document.getElementById('codigoInput').value.toUpperCase();
            let seguimiento = document.getElementById('seguimientoInput').value.toUpperCase();
            let titulo = document.getElementById('tituloInput').value.toUpperCase();

            // Si no hay valores se termina
            if (configDataTable['ajax']['data']['codigo'] === undefined && codigo === '' &&
                configDataTable['ajax']['data']['seguimiento_filtro'] === undefined && seguimiento === '' &&
                configDataTable['ajax']['data']['titulo_procedimiento'] === undefined && titulo === ''
            ) return false;

            // Destruir el datatable
            $('#cid_procedimientos_datatable').DataTable().destroy();

            // Si no hay valor en cada campo se borra del datatable, de lo contrario se pasa
            if (codigo == '')
                delete configDataTable['ajax']['data']['codigo'];
            else
                configDataTable['ajax']['data']['codigo'] = codigo;
            if (seguimiento == '')
                delete configDataTable['ajax']['data']['seguimiento_filtro'];
            else
                configDataTable['ajax']['data']['seguimiento_filtro'] = seguimiento;
            if (titulo == '')
                delete configDataTable['ajax']['data']['titulo_procedimiento'];
            else
                configDataTable['ajax']['data']['titulo_procedimiento'] = titulo;

            // Configurar el Datatable
            $('#cid_procedimientos_datatable').DataTable(configDataTable);

        }

        function limpiar(){

            // Si no hay valores se termina
            if (configDataTable['ajax']['data']['codigo'] === undefined &&
                configDataTable['ajax']['data']['seguimiento_filtro'] === undefined &&
                configDataTable['ajax']['data']['titulo_procedimiento'] === undefined
            ) return false;

            // Borrar del Datatable cada campo
            delete configDataTable['ajax']['data']['codigo'];
            delete configDataTable['ajax']['data']['seguimiento_filtro'];
            delete configDataTable['ajax']['data']['titulo_procedimiento'];

            // Destruir y configurar el Datatable
            $('#cid_procedimientos_datatable').DataTable().destroy();
            $('#cid_procedimientos_datatable').DataTable(configDataTable);

        }
    </script>
{% endblock %}
