<h1>PJECZ Plataforma Web</h1>

<h2>{{subject}}</h2>

<p>ESTE MENSAJE ES ELABORADO POR UN PROGRAMA. FAVOR DE NO RESPONDER.</p>

<p>At'n. {{destinatario_nombre}}</p>

<p>Le informamos que necesitamos de su valiosa cooperación para hacer el Procedimiento del SIGCD ISO que se describe a
    continuación:</p>

<p>
    Título: {{cid_procedimiento.titulo_procedimiento}}<br>
    Código: {{cid_procedimiento.codigo}}<br>
    Revisión: {{cid_procedimiento.revision}}</p>

<p>De clic en este URL para aceptar o rechazar su tarea {{host}}{{accept_reject_url}}</p>

<p>Quedo a su servicio.</p>

<p>{{remitente_nombre}}</p>