<h1>PJECZ Plataforma Web</h1>

<h2>{{subject}}</h2>

<p>ESTE MENSAJE ES ELABORADO POR UN PROGRAMA. FAVOR DE NO RESPONDER.</p>

<p>At'n. {{destinatario_nombre}}</p>

<p>Le informamos que su procedimiento fue rechazado por {{cid_procedimiento.reviso_nombre}} SIGCD ISO que se describe a
    continuación:</p>

<p>
    Título: {{cid_procedimiento.titulo_procedimiento}}<br>
    Código: {{cid_procedimiento.codigo}}<br>
    Revisión: {{cid_procedimiento.revision}}</p>

<p>Quedo a su servicio.</p>

<p>{{remitente_nombre}}</p>