{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/quill.jinja2' as quill %}

{% block title %}Nuevo Procedimiento{% endblock %}

{% block custom_head %}
    {{ quill.head() }}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Botón Atrás a la izquierda, botón Siguiente a la derecha -->
    <style>
        #atras { float: left; box-sizing: border-box; }
        #siguiente { float: right; box-sizing: border-box; }
    </style>
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Procedimiento') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        <div><form></form></div>
        <div class="multisteps-form">
            <!-- Steps Progress Bar -->
            <div class="row">
                <div class="col-lg-12 ml-auto mr-auto mb-4">
                    <div class="multisteps-form__progress">
                        <button class="multisteps-form__progress-btn js-active" type="button" title="Encabezado" style="font-size:12px" disabled>Encabezado</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Objetivo" style="font-size:12px" disabled>Objetivo</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Alcance" style="font-size:12px" disabled>Alcance</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Documentos" style="font-size:12px" disabled>Documentos</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Definiciones" style="font-size:12px" disabled>Definiciones</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Responsabilidades" style="font-size:12px" disabled>Responsabilidades</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Desarrollo" style="font-size:12px" disabled>Desarrollo</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Registros" style="font-size:12px" disabled>Registros</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Control de Cambios" style="font-size:12px" disabled>Control de Cambios</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Autorizaciones" style="font-size:12px" disabled>Autorizaciones</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Vista previa" style="font-size:12px" disabled>Vista previa</button>
                    </div>
                </div>
            </div>
            <!-- Steps Form Panels -->
            <div class="row">
                <div class="col-lg-12 m-auto">
                    {% call f.form_tag('cid_procedimientos.new', fid='cid_procedimiento_form', css_class='multisteps-form__form') %}
                        <!-- Encabezado -->
                        {% call quill.step_first('Encabezado', next_onclick='javascript:guardar_encabezado()') %}
                            {% call f.form_group(form.titulo_procedimiento) %}{% endcall %}
                            {% call f.form_group(form.codigo) %}{% endcall %}
                            {% call f.form_group(form.revision) %}{% endcall %}
                            {% call f.form_group(form.fecha) %}{% endcall %}
                        {% endcall %}
                        <!-- Step Objetivo -->
                        {% call quill.step('Objetivo', back_onclick='javascript:guardar_objetivo()', next_onclick='javascript:guardar_objetivo()', save_onclick='javascript:guardar_objetivo()') %}
                            {{ quill.div(div_id='objetivo_quill') }}
                            <div style="display: none;">{% call f.form_group(form.objetivo, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                        <!-- Step Alcance -->
                        {% call quill.step('Alcance', back_onclick='javascript:guardar_alcance()', next_onclick='javascript:guardar_alcance()', save_onclick='javascript:guardar_alcance()') %}
                            {{ quill.div(div_id='alcance_quill') }}
                            <div style="display: none;">{% call f.form_group(form.alcance, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                        <!-- Step Documentos -->
                        {% call quill.step('Documentos de Referencia', back_onclick='javascript:guardar_documentos()', next_onclick='javascript:guardar_documentos()', save_onclick='javascript:guardar_documentos()') %}
                            {{ quill.div(div_id='documentos_quill') }}
                            <div style="display: none;">{% call f.form_group(form.documentos, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                        <!-- Step Definiciones -->
                        {% call quill.step('Definiciones', back_onclick='javascript:guardar_definiciones()', next_onclick='javascript:guardar_definiciones()', save_onclick='javascript:guardar_definiciones()') %}
                            {{ quill.div(div_id='definiciones_quill') }}
                            <div style="display: none;">{% call f.form_group(form.definiciones, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                        <!-- Responsabilidades -->
                        {% call quill.step('Responsabilidades', back_onclick='javascript:guardar_responsabilidades()', next_onclick='javascript:guardar_responsabilidades()', save_onclick='javascript:guardar_responsabilidades()') %}
                            {{ quill.div(div_id='responsabilidades_quill') }}
                            <div style="display: none;">{% call f.form_group(form.responsabilidades, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                        <!-- Desarrollo -->
                        {% call quill.step('Desarrollo', back_onclick='javascript:guardar_desarrollo()', next_onclick='javascript:guardar_desarrollo()', save_onclick='javascript:guardar_desarrollo()') %}
                            {{ quill.div(div_id='desarrollo_quill') }}
                            <div style="display: none;">{% call f.form_group(form.desarrollo, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                        <!-- Registros -->
                        {% call quill.step('Registros', back_onclick='javascript:guardar_registros()', next_onclick='javascript:guardar_registros()', save_onclick='javascript:guardar_registros()') %}
                            {{ quill.div(div_id='registros_quill') }}
                            <div style="display: none;">{% call f.form_group(form.registros, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                        <!-- Control de cambios -->
                        {% call quill.step('Control de Cambios', back_onclick='javascript:guardar_control_cambios()', next_onclick='javascript:guardar_control_cambios()', save_onclick='javascript:guardar_control_cambios()') %}
                            {{ quill.div(div_id='control_cambios_quill') }}
                            <h4>Elaboró</h4>
                            <div class="row">
                                <div class="col">
                                    {% call f.form_group(form.elaboro_nombre) %}{% endcall %}
                                </div>
                                <div class="col">
                                    {% call f.form_group(form.elaboro_puesto) %}{% endcall %}
                                </div>
                                <div class="col">
                                    {% call f.form_group(form.elaboro_email) %}{% endcall %}
                                </div>
                                </div>
                                <h4>Revisó</h4>
                                <div class="row">
                                    <div class="col">
                                        {% call f.form_group(form.reviso_nombre) %}{% endcall %}
                                    </div>
                                    <div class="col">
                                        {% call f.form_group(form.reviso_puesto) %}{% endcall %}
                                    </div>
                                    <div class="col">
                                        {% call f.form_group(form.reviso_email) %}{% endcall %}
                                    </div>
                                </div>
                                <h4>Autorizó</h4>
                                <div class="row">
                                    <div class="col">
                                        {% call f.form_group(form.aprobo_nombre) %}{% endcall %}
                                    </div>
                                    <div class="col">
                                        {% call f.form_group(form.aprobo_puesto) %}{% endcall %}
                                    </div>
                                    <div class="col">
                                        {% call f.form_group(form.aprobo_email) %}{% endcall %}
                                    </div>
                            </div>
                            <div style="display: none;">{% call f.form_group(form.control_cambios, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                        <!-- Vista previa -->
                        <style>.ql-disabled{overflow:auto;}</style>
                        {% call quill.step_last('Vista Previa', back_onclick='javascript:guardar_vista_previa()') %}
                            {{ quill.div(div_id='vista_previa_quill') }}
                        {% endcall %}
                    {% endcall %}
                </div>
            </div>
        </div>
    {{ quill.editor(instance='autorizacionesQuill', div_id='autorizaciones_quill') }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Quill -->
    {{ quill.library() }}
    {{ quill.editor(instance='objetivoQuill', div_id='objetivo_quill') }}
    {{ quill.editor(instance='alcanceQuill', div_id='alcance_quill') }}
    {{ quill.editor(instance='documentosQuill', div_id='documentos_quill') }}
    {{ quill.editor(instance='definicionesQuill', div_id='definiciones_quill') }}
    {{ quill.editor(instance='responsabilidadesQuill', div_id='responsabilidades_quill') }}
    {{ quill.editor(instance='desarrolloQuill', div_id='desarrollo_quill') }}
    {{ quill.editor(instance='registrosQuill', div_id='registros_quill') }}
    {{ quill.editor(instance='controlCambiosQuill', div_id='control_cambios_quill') }}
    {{ quill.reader(instance='vistaPreviaQuill', div_id='vista_previa_quill') }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/cid_procedimientos.js') }}"></script>
    <!-- Select2 bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#elaboro_email').addClass('js-example-placeholder-single js-states form-control');
            $('#reviso_email').addClass('js-example-placeholder-single js-states form-control');
            $('#aprobo_email').addClass('js-example-placeholder-single js-states form-control');
            $("#elaboro_email").prop("selectedIndex", -1); // Poner en blanco el select
            $("#reviso_email").prop("selectedIndex", -1); // Poner en blanco el select
            $("#aprobo_email").prop("selectedIndex", -1); // Poner en blanco el select
            $(".js-example-placeholder-single").select2({
                placeholder: "correo",
                allowClear: true
            });
        });
    </script>
    <!-- Llenar los inputs con JSON vacios -->
    <script>
        const vacio = '{"ops":[{"insert":"\n"}]}';
        $('#objetivo').val(vacio);
        $('#alcance').val(vacio);
        $('#documentos').val(vacio);
        $('#definiciones').val(vacio);
        $('#responsabilidades').val(vacio);
        $('#desarrollo').val(vacio);
        $('#registros').val(vacio);
        $('#control_cambios').val(vacio);
        $('#vista_previa').val(vacio);
    </script>
{% endblock %}
