{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/quill.jinja2' as quill %}

{% block title %}Nuevo Procedimiento{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Procedimiento') }}
{% endblock %}

{% block custom_head %}
    {{ quill.head() }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('cid_procedimientos.new', fid='cid_procedimiento_form') %}
        <div><form></form></div>
        <div class="multisteps-form">
            <!--progress bar-->
            <div class="row">
                <div class="col-lg-12 ml-auto mr-auto mb-4">
                    <div class="multisteps-form__progress">
                        <button class="multisteps-form__progress-btn js-active" type="button" title="Encabezado">Encabezado</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Objetivo">Objetivo</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Alcance">Alcance</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Documentos">Documentos</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Definiciones">Definiciones</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Responsabilidades">Responsabilidades</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Desarrollo">Desarrollo</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Registros">Registros</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Control de Cambios">Control de Cambios</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Vista previa">Vista previa</button>
                    </div>
                </div>
            </div>
            <!--form panels-->
            <div class="row">
                <div class="col-lg-12 m-auto">
                    <form class="multisteps-form__form">
                        <!-- Encabezado -->
                        {% call quill.step_first('Encabezado', next_onclick='javascript:guardar_objetivo()') %}
                            {{ quill.step_encabezado() }}
                        {% endcall %}
                        <!-- Step Objetivo -->
                        {% call quill.step('Objetivo', next_onclick='javascript:guardar_objetivo()') %}
                            {{ quill.div('objetivo_quill') }}
                        {% endcall %}
                        <!-- Step Alcance -->
                        {% call quill.step('Alcance', next_onclick='javascript:guardar_alcance()') %}
                            {{ quill.div('alcance_quill') }}
                        {% endcall %}
                        <!-- Step Documentos -->
                        {% call quill.step('Documentos', next_onclick='javascript:guardar_documentos()') %}
                            {{ quill.div('documentos_quill') }}
                        {% endcall %}
                        <!-- Step Definiciones -->
                        {% call quill.step('Definiciones', next_onclick='javascript:guardar_definiciones()') %}
                            {{ quill.div('definiciones_quill') }}
                        {% endcall %}
                        <!-- Responsabilidades -->
                        {% call quill.step('Responsabilidades', next_onclick='javascript:guardar_responsabilidades()') %}
                            {{ quill.div('responsabilidades_quill') }}
                        {% endcall %}
                        <!-- Desarrollo -->
                        {% call quill.step('Desarrollo', next_onclick='javascript:guardar_desarrollo()') %}
                            {{ quill.div('desarrollo_quill') }}
                        {% endcall %}
                        <!-- Registros -->
                        {% call quill.step('Registros', next_onclick='javascript:guardar_registros()') %}
                            {{ quill.div('registros_quill') }}
                        {% endcall %}
                        <!-- Control de cambios -->
                        {% call quill.step('Control de Cambios', next_onclick='javascript:guardar_control_cambios()') %}
                            {{ quill.step_control_cambios() }}
                            {{ quill.div('control_cambios_quill') }}
                        {% endcall %}
                        <!-- Vista previa -->
                        <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                            <h3 class="multisteps-form__title">Vista previa</h3>
                            <div class="multisteps-form__content">
                            <div class="form-row mt-4">
                                <textarea class="multisteps-form__textarea form-control" placeholder=""></textarea>
                            </div>
                            <div class="d-grid gap-2 d-md-flex aligns-items-right justify-content-end mt-4">
                                <button class="btn btn-primary js-btn-prev" type="button" title="Atrás">Atrás</button>
                                <button class="btn btn-success ml-auto" type="submit" id="guardar" title="Guardar">Guardar</button>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ quill.library() }}
    {{ quill.editor(instance='objetivoQuill', div_id='objetivo_quill') }}
    {{ quill.editor(instance='alcanceQuill', div_id='alcance_quill') }}
    {{ quill.editor(instance='documentosQuill', div_id='documentos_quill') }}
    {{ quill.editor(instance='definicionesQuill', div_id='definiciones_quill') }}
    {{ quill.editor(instance='responsabilidadesQuill', div_id='responsabilidades_quill') }}
    {{ quill.editor(instance='desarrolloQuill', div_id='desarrollo_quill') }}
    {{ quill.editor(instance='registrosQuill', div_id='registros_quill') }}
    {{ quill.editor(instance='cambiosQuill', div_id='control_cambios_quill') }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/cid_procedimientos.js') }}"></script>
{% endblock %}
