{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/quill.jinja2' as quill %}
{% import 'macros/add_datatable.jinja2' as add_data %}


{% block title %}Nuevo Procedimiento{% endblock %}

{% block custom_head %}
    {{ quill.head() }}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Botón Atrás a la izquierda, botón Siguiente a la derecha -->
    <style>
        #atras { float: left; box-sizing: border-box; }
        #siguiente { float: right; box-sizing: border-box; }
        .tActive{ background-color: #1EA6FE; }
        #registro_dataTable1 > tbody > tr:hover{ cursor:pointer; }
        #obj_pop{ z-index:1000 !important; float:left; position:relative; margin-left:120px; margin-top:-60px;}
        #alcance_pop{ z-index:1000 !important; float:left; position:relative; margin-left:120px; margin-top:-60px;}
        #docu_pop{ z-index:1000 !important; float:left; position:relative; margin-left:380px; margin-top:-60px;}
        #def_pop{ z-index:1000 !important; float:left; position:relative; margin-left:180px; margin-top:-60px;}
        #respo_pop{ z-index:1000 !important; float:left; position:relative; margin-left:260px; margin-top:-60px;}
        #desar_pop{ z-index:1000 !important; float:left; position:relative; margin-left:150px; margin-top:-60px;}
        #regis_pop{ z-index:1000 !important; float:left; position:relative; margin-left:120px; margin-top:-60px;}
        #control_pop{ z-index:1000 !important; float:left; position:relative; margin-left:250px; margin-top:-60px;}
    </style>
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Procedimiento') }}
{% endblock %}

{% block content %}
{{ add_data.modal_edit() }}
{{ add_data.modal_edit_cambio() }}
    {% call f.card() %}
        <div><form></form></div>
        <div class="multisteps-form">
            <!-- Steps Progress Bar -->
            <div class="row">
                <div class="col-lg-12 ml-auto mr-auto mb-4">
                    <div class="multisteps-form__progress">
                        <button class="multisteps-form__progress-btn js-active" type="button" title="Encabezado" style="font-size:12px" disabled>Encabezado</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Objetivo" style="font-size:12px" disabled>Objetivo</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Alcance" style="font-size:12px" disabled>Alcance</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Documentos" style="font-size:12px" disabled>Documentos</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Definiciones" style="font-size:12px" disabled>Definiciones</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Responsabilidades" style="font-size:12px" disabled>Responsabilidades</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Desarrollo" style="font-size:12px" disabled>Desarrollo</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Registros" style="font-size:12px" disabled>Registros</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Control de Cambios" style="font-size:12px" disabled>Control de Cambios</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Autorizaciones" style="font-size:12px" disabled>Autorizaciones</button>
                    </div>
                </div>
            </div>
            <!-- Steps Form Panels -->
            <div class="row">
                <div class="col-lg-12 m-auto">
                    {% call f.form_tag('cid_procedimientos.new', fid='cid_procedimiento_form', css_class='multisteps-form__form') %}
                        <!-- Encabezado -->
                        {% call quill.step_first('Encabezado', next_onclick='javascript:guardar_encabezado()') %}
                            {% call f.form_group(form.titulo_procedimiento) %}{% endcall %}
                            {% call f.form_group(form.codigo) %}{% endcall %}
                            {% call f.form_group(form.revision) %}{% endcall %}
                            {% call f.form_group(form.fecha) %}{% endcall %}
                        {% endcall %}
                        <!-- Step Objetivo -->
                        {% call quill.step('Objetivo', back_onclick='javascript:guardar_objetivo()', next_onclick='javascript:guardar_objetivo()', save_onclick='javascript:guardar_objetivo()') %}
                            <div id="obj_pop"><a tabindex="0" class="popover-objetivo" data-bs-toggle="popover"><i class="iconify" data-icon="mdi:information"></i></a></div>
                            {{ quill.div(div_id='objetivo_quill') }}
                            <div style="display: none;">{% call f.form_group(form.objetivo, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                        <!-- Step Alcance -->
                        {% call quill.step('Alcance', back_onclick='javascript:guardar_alcance()', next_onclick='javascript:guardar_alcance()', save_onclick='javascript:guardar_alcance()') %}
                            <div id="alcance_pop"><a tabindex="0" class="popover-alcance" data-bs-toggle="popover"><i class="iconify" data-icon="mdi:information"></i></a></div>
                            {{ quill.div(div_id='alcance_quill') }}
                            <div style="display: none;">{% call f.form_group(form.alcance, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                        <!-- Step Documentos -->
                        {% call quill.step('Documentos de Referencia', back_onclick='javascript:guardar_documentos()', next_onclick='javascript:guardar_documentos()', save_onclick='javascript:guardar_documentos()') %}
                            <div id="docu_pop"><a tabindex="0" class="popover-documento" data-bs-toggle="popover"><i class="iconify" data-icon="mdi:information"></i></a></div>
                            {{ quill.div(div_id='documentos_quill') }}
                            <div style="display: none;">{% call f.form_group(form.documentos, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                        <!-- Step Definiciones -->
                        {% call quill.step('Definiciones', back_onclick='javascript:guardar_definiciones()', next_onclick='javascript:guardar_definiciones()', save_onclick='javascript:guardar_definiciones()') %}
                            <div id="def_pop"><a tabindex="0" class="popover-definiciones" data-bs-toggle="popover"><i class="iconify" data-icon="mdi:information"></i></a></div>
                            {{ quill.div(div_id='definiciones_quill') }}
                            <div style="display: none;">{% call f.form_group(form.definiciones, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                        <!-- Responsabilidades -->
                        {% call quill.step('Responsabilidades', back_onclick='javascript:guardar_responsabilidades()', next_onclick='javascript:guardar_responsabilidades()', save_onclick='javascript:guardar_responsabilidades()') %}
                            <div id="respo_pop"><a tabindex="0" class="popover-respon" data-bs-toggle="popover"><i class="iconify" data-icon="mdi:information"></i></a></div>
                            {{ quill.div(div_id='responsabilidades_quill') }}
                            <div style="display: none;">{% call f.form_group(form.responsabilidades, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                        <!-- Desarrollo -->
                        {% call quill.step('Desarrollo', back_onclick='javascript:guardar_desarrollo()', next_onclick='javascript:guardar_desarrollo()', save_onclick='javascript:guardar_desarrollo()') %}
                            <div id="desar_pop"><a tabindex="0" class="popover-desarrollo" data-bs-toggle="popover"><i class="iconify" data-icon="mdi:information"></i></a></div>
                            {{ quill.div(div_id='desarrollo_quill') }}
                            <div style="display: none;">{% call f.form_group(form.desarrollo, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                        <!-- Registros -->
                        {% call quill.step('Registros', back_onclick='javascript:guardar_registros()', next_onclick='javascript:guardar_registros()', save_onclick='javascript:guardar_registros()') %}
                            {% call add_data.div_container('form-alert1-reg') %}
                                <div id="regis_pop"><a tabindex="0" class="popover-registro" data-bs-toggle="popover"><i class="iconify" data-icon="mdi:information"></i></a></div>
                                {% call add_data.form_create() %}
                                        {% call add_data.input_form('2','text','registro_codigo','Código') %}{% endcall %}
                                        {% call add_data.input_form('3','text','registro_nombre','Nombre registro') %}{% endcall %}
                                        {% call add_data.input_form('3','text','registro_responsable','Responsable') %}{% endcall %}
                                        {% call add_data.input_form('2','number','registro_retencion','Años Retención', 'min="1"') %}{% endcall %}
                                        {{ add_data.boton('btn_add_reg','Agregar Registro') }}
                                        <div class="row">
                                            <table id="registro_dataTable1" class="table table-striped table-hover" width="100%">
                                                <thead>
                                                    <th>Código</th>
                                                    <th>Nombre registro</th>
                                                    <th>Responsable</th>
                                                    <th>Años de retención</th>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                            {{ add_data.btn_datatable('Borrar Datos', 'btn_del_reg', 'danger', '') }}
                                            {{ add_data.btn_datatable('Editar', 'btn_edit_reg', 'info', 'data-bs-toggle="modal" data-bs-target="#edit_reg_modal"') }}
                                        </div>
                                {% endcall %}
                            {% endcall %}
                            <div style="display: none;">{% call f.form_group(form.registros, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                        <!-- Control de cambios -->
                        {% call quill.step('Control de Cambios', back_onclick='javascript:guardar_control_cambios()', next_onclick='javascript:guardar_control_cambios()', save_onclick='javascript:guardar_control_cambios()') %}
                            {% call add_data.div_container('form-alert1-camb') %}
                                <div id="control_pop"><a tabindex="0" class="popover-control" data-bs-toggle="popover"><i class="iconify" data-icon="mdi:information"></i></a></div>
                                {% call add_data.form_create() %}
                                        {% call add_data.input_form('2','text','control_revision','No. Revision') %}{% endcall %}
                                        {% call add_data.input_form('3','text','control_cambio','Cambios y/o Actualizaciónes') %}{% endcall %}
                                        {% call add_data.input_form('3','text','control_solicitud','Solicitud de Cambio No.') %}{% endcall %}
                                        {% call add_data.input_form('2','date','control_fecha','Fecha') %}{% endcall %}
                                        {{ add_data.boton('btn_add_cam','Agregar Cambio') }}
                                        <div class="row">
                                            <table id="cambio_dataTable1" class="table table-striped table-hover" width="100%">
                                                <thead>
                                                    <th>No. Revisión</th>
                                                    <th>Cambios y/o Actualizaciónes</th>
                                                    <th>Solicitud de cambio No.</th>
                                                    <th>Fecha</th>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                            {{ add_data.btn_datatable('Borrar Datos', 'btn_del_cam', 'danger', '') }}
                                            {{ add_data.btn_datatable('Editar', 'btn_edit_cam', 'info', 'data-bs-toggle="modal" data-bs-target="#edit_cambio_modal"') }}
                                        </div>
                                {% endcall %}
                            {% endcall %}
                            <div style="display: none;">{% call f.form_group(form.control_cambios, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                        <!-- Autorizaciones -->
                        {% call quill.step_last('Autorizaciones', back_onclick='javascript:guardar_autorizaciones()')%}
                            <h4>Elaboró</h4>
                            <div class="row">
                                <div class="col">
                                    {% call f.form_group(form.elaboro_nombre) %}{% endcall %}
                                </div>
                                <div class="col">
                                    {% call f.form_group(form.elaboro_puesto) %}{% endcall %}
                                </div>
                                <div class="col">
                                    {% call f.form_group(form.elaboro_email) %}{% endcall %}
                                </div>
                            </div>
                            <h4>Revisó</h4>
                            <div class="row">
                                <div class="col">
                                    {% call f.form_group(form.reviso_nombre) %}{% endcall %}
                                </div>
                                <div class="col">
                                    {% call f.form_group(form.reviso_puesto) %}{% endcall %}
                                </div>
                                <div class="col">
                                    {% call f.form_group(form.reviso_email) %}{% endcall %}
                                </div>
                            </div>
                            <h4>Autorizó</h4>
                            <div class="row">
                                <div class="col">
                                    {% call f.form_group(form.aprobo_nombre) %}{% endcall %}
                                </div>
                                <div class="col">
                                    {% call f.form_group(form.aprobo_puesto) %}{% endcall %}
                                </div>
                                <div class="col">
                                    {% call f.form_group(form.aprobo_email) %}{% endcall %}
                                </div>
                            </div>
                            <div style="display: none;">{% call f.form_group(form.autorizaciones, readonly=true) %}{% endcall %}</div>
                        {% endcall %}
                    {% endcall %}
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}

{# se manda llamar el json de la ayuda  #}
{% block content_help %}
    {{ help_quill }}
{% endblock %}

{% block custom_javascript %}
    <!-- Quill -->
    {{ quill.library() }}
    {{ quill.editor(instance='objetivoQuill', div_id='objetivo_quill') }}
    {{ quill.editor(instance='alcanceQuill', div_id='alcance_quill') }}
    {{ quill.editor(instance='documentosQuill', div_id='documentos_quill') }}
    {{ quill.editor(instance='definicionesQuill', div_id='definiciones_quill') }}
    {{ quill.editor(instance='responsabilidadesQuill', div_id='responsabilidades_quill') }}
    {{ quill.editor(instance='desarrolloQuill', div_id='desarrollo_quill') }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/cid_procedimientos.js') }}"></script>
    <!-- Select2 bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Comieza script para agregar datos a DataTables de Registros -->
    <script>
      $(document).ready(function() {
            var tabla = $('#registro_dataTable1').DataTable();
            $("#btn_add_reg").click(function(){
                if($("#registro_codigo").val() === "" || $("#registro_nombre").val() === "" || $("#registro_responsable").val() === "" || $("#registro_retencion").val() === ""){
                    $("#form-alert1-reg").show();
                    setTimeout('$("#form-alert1-reg").hide()', 5000);
                    $("#registro_codigo").focus();
                }else{
                    tabla.row.add(
                        [
                            $("#registro_codigo").val(),
                            $("#registro_nombre").val(),
                            $("#registro_responsable").val(),
                            $("#registro_retencion").val()
                        ]
                    ).draw( false );

                    $("#registro_codigo").val("");
                    $("#registro_nombre").val("");
                    $("#registro_responsable").val("");
                    $("#registro_retencion").val("");

                    $("#registro_codigo").focus();
                }
            });

            $('#registro_dataTable1 tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('tActive') ) {
                    $(this).removeClass('tActive');
                }
                else {
                    tabla.$('tr.tActive').removeClass('tActive');
                    $(this).addClass('tActive');
                }
            } );

            $('#btn_del_reg').click( function () {
                tabla.row('.tActive').remove().draw(false);
            } );

            $('#btn_edit_reg').click( function() {
                let datos = tabla.row('.tActive').data();
                $("#e_registro_codigo").val(datos[0]);
                $("#e_registro_nombre").val(datos[1]);
                $("#e_registro_responsable").val(datos[2]);
                $("#e_registro_retencion").val(datos[3]);
            });

            $("#e_updt_btn").click( function() {

                let newArr = [
                    $("#e_registro_codigo").val(),
                    $("#e_registro_nombre").val(),
                    $("#e_registro_responsable").val(),
                    $("#e_registro_retencion").val()
                ];

                tabla.row('.tActive').data(newArr);
            });
        });
    </script>
     <!-- Comieza script para agregar datos a DataTables de Control de Cambios -->
    <script>
      $(document).ready(function() {
            let tabla_control = $('#cambio_dataTable1').DataTable();
            $("#btn_add_cam").click(function(){
                if($("#control_revision").val() === "" || $("#control_cambio").val() === "" || $("#control_solicitud").val() === "" || $("#control_fecha").val() === ""){
                    $("#form-alert1-camb").show();
                    setTimeout('$("#form-alert1-camb").hide()', 5000);
                    $("#control_revision").focus();
                }else{
                    tabla_control.row.add(
                        [
                            $("#control_revision").val(),
                            $("#control_cambio").val(),
                            $("#control_solicitud").val(),
                            $("#control_fecha").val()
                        ]
                    ).draw( false );

                    $("#control_revision").val("");
                    $("#control_cambio").val("");
                    $("#control_solicitud").val("");
                    $("#control_fecha").val("");

                    $("#control_revision").focus();
                }
            });

            $('#cambio_dataTable1 tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('tActive') ) {
                    $(this).removeClass('tActive');
                }
                else {
                    tabla_control.$('tr.tActive').removeClass('tActive');
                    $(this).addClass('tActive');
                }
            } );

            $('#btn_del_cam').click( function () {
                tabla_control.row('.tActive').remove().draw(false);
            } );

            $('#btn_edit_cam').click( function() {
                let datos_c = tabla_control.row('.tActive').data();
                $("#e_control_revision").val(datos_c[0]);
                $("#e_control_cambio").val(datos_c[1]);
                $("#e_control_solicitud").val(datos_c[2]);
                $("#e_control_fecha").val(datos_c[3]);
            });

            $("#e_updt_control_btn").click( function() {

                let newArr = [
                    $("#e_control_revision").val(),
                    $("#e_control_cambio").val(),
                    $("#e_control_solicitud").val(),
                    $("#e_control_fecha").val()
                ];

                tabla_control.row('.tActive').data(newArr);
            });
        });
    </script>
    <!-- Llenar los inputs con JSON vacios -->
    <script>
        $(document).ready(function(){
            const vacio = '{"ops":[{"insert":"\n"}]}';
            const vacio_form = '{}';
            $('#objetivo').val(vacio);
            $('#alcance').val(vacio);
            $('#documentos').val(vacio);
            $('#definiciones').val(vacio);
            $('#responsabilidades').val(vacio);
            $('#desarrollo').val(vacio);
            $('#registros').val(vacio_form);
            $('#control_cambios').val(vacio_form);
            //$('#vista_previa').val(vacio);
        });
    </script>
    <script>
        $(document).ready(function(){
            $('#elaboro_email').addClass('js-example-placeholder-single js-states form-control');
            $('#reviso_email').addClass('js-example-placeholder-single js-states form-control');
            $('#aprobo_email').addClass('js-example-placeholder-single js-states form-control');
            $("#elaboro_email").prop("selectedIndex", -1); // Poner en blanco el select
            $("#reviso_email").prop("selectedIndex", -1); // Poner en blanco el select
            $("#aprobo_email").prop("selectedIndex", -1); // Poner en blanco el select
            $(".js-example-placeholder-single").select2({
                // --- Carga de emails por Ajax --- //
                ajax: {
                    url: '/cid_procedimientos/usuarios_email',
                    headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                    dataType: 'json',
                    delay: 250,
                    type: "POST",
                    data: function (params) {
                        return { 'searchString': params.term };
                    }
                },
                placeholder: "correo",
                minimumInputLength: 4,
                allowClear: true
            });
        });
    </script>
    <!-- En este script se crean los popovers con la información de cada paso en el procedimiento -->
    <script>
        $(document).ready(function(){
            var popover = new bootstrap.Popover(document.querySelector('.popover-objetivo'), {
                trigger: 'hover',
                title: 'Objetivo',
                content: 'Resultado / propósito esperado de las acciones descritas en el documento.'
            });
            var popover = new bootstrap.Popover(document.querySelector('.popover-alcance'), {
                trigger: 'hover',
                title: 'Alcance',
                content: 'El alcance puede incluir la totalidad de la organización, procesos, subprocesos, funciones específicas e identificadas de la organización, secciones específicas e identificadas de la organización.'
            });
            var popover = new bootstrap.Popover(document.querySelector('.popover-documento'), {
                trigger: 'hover',
                title: 'Documentos de Referencia',
                content: 'Documentos que tienen alguna relación con el contenido del documento y que deben tomarse en consideración al ejecutar las acciones descritas.'
            });
            var popover = new bootstrap.Popover(document.querySelector('.popover-definiciones'), {
                trigger: 'hover',
                title: 'Definiciones',
                content: 'Palabras o términos que son utilizados como parte del “lenguaje técnico” o interpretaciones apegadas a lo establecido a la norma de referencia.'
            });

            var popover = new bootstrap.Popover(document.querySelector('.popover-respon'), {
                trigger: 'hover',
                title: 'Responsabilidades',
                content: 'Obligación de la que una persona debe responder. Se describen las responsabilidades a cumplir conforme las acciones descritas en el documento.'
            });
            var popover = new bootstrap.Popover(document.querySelector('.popover-desarrollo'), {
                trigger: 'hover',
                title: 'Desarrollo',
                content: 'Pasos secuenciales y lógicos que se siguen para lograr el resultado/propósito (objetivo) del documento. Se recomienda identificar en este apartado los riesgos, los formatos, las variables críticas, los indicadores de medición y los requisitos legales relacionados con las acciones descritas.'
            });
            var popover = new bootstrap.Popover(document.querySelector('.popover-registro'), {
                trigger: 'hover',
                title: 'Registros',
                content: 'Evidencias tangibles que demuestran que las acciones descritas en el documento se ejecutaron congruentemente con lo documentado.'
            });
            var popover = new bootstrap.Popover(document.querySelector('.popover-control'), {
                trigger: 'hover',
                title: 'Control de cambios',
                content: 'Identificación de las modificaciones que ha sufrido el documento a lo largo de su período de implementación.'
            });
        });
    </script>
{% endblock %}
