{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nueva Revisión{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nueva Revisión') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'cid_procedimiento_id': cid_procedimiento.id} %}
        {% call f.form_tag('cid_procedimientos.copiar_procedimiento_con_revision', fid='cid_procedimiento_form', **form_kwargs) %}
            {% call f.form_group(form.id) %}{% endcall %}
            {% call f.form_group(form.titulo_procedimiento) %}{% endcall %}
            {% call f.form_group(form.codigo, readonly=true) %}{% endcall %}
            {% call f.form_group(form.revision, readonly=true) %}{% endcall %}
            {% call f.form_group(form.fecha) %}{% endcall %}
            <button type="button" id="guardar" class="btn btn-primary">Guardar</button>
            {# Modal #}
            <div class="modal fade" id="nueva_revision_modal" tabindex="-1" aria-labelledby="nueva_revisionModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="nueva_revision_title">Nueva Revisión</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="nueva_revision_body" class="modal-body">
                        <p>¿Estás seguro que deseas crear una nueva revisión?</p>
                        <p>Revisión actual:   {{cid_procedimiento.revision}} , Nueva revisión:  {{cid_procedimiento.revision + 1}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" id="nueva_revision_confirm" class="btn btn-primary">Confirmar</button>
                    </div>
                    </div>
                </div>
            </div>
        {% endcall %}
    {% endcall %}
{% endblock %}
{% block custom_javascript %}
    <script>
        $(document).ready(function() {
            $("#guardar").click(function(){
                $("#nueva_revision_modal").modal('show');
            });
        });
    </script>
{% endblock %}
