<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <table width="100%" cellspacing=0 cellpadding=10>
        <tr>
            <td rowspan="2" class="encabezado">
                PJECZ
            </td>
            <td class="encabezado" colspan="3">{{ titulo_procedimiento }}</td>
        </tr>
        <tr>
            <td class="encabezado">Código<br>{{ codigo }}</td>
            <td class="encabezado">Revisión<br>{{ revision }}</td>
            <td class="encabezado">Fecha<br>{{ fecha }}</td>
        </tr>
    </table>
</body>

</html>
