<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h3>OBJETIVO</h3>

    {{ objetivo }}

    <h2>ALCANCE</h2>

    {{ alcance }}

    <h2>DOCUMENTOS DE REFERENCIA</h2>

    {{ documentos }}

    <h2>DEFINICIONES</h2>

    {{ definiciones }}

    <h2>RESPONSABILIDADES</h2>

    {{ responsabilidades }}

    <h2>DESARROLLO</h2>

    {{ desarrollo }}

    <h2>REGISTROS</h2>

    {{ registros }}

    <h2>CONTROL DE CAMBIOS</h2>

    <br>
    <table width='100%' cellpadding="10">
        <tr>
            <td align="center">Elaboró</td>
            <td align="center">Revisó</td>
            <td align="center">Aprobó</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td align="center">
                <hr>{{elaboro_nombre}}<br>{{elaboro_puesto}}
            </td>
            <td align="center">
                <hr>{{reviso_nombre}}<br>{{reviso_puesto}}
            </td>
            <td align="center">
                <hr>{{aprobo_nombre}}<br>{{aprobo_puesto}}
            </td>
        </tr>
    </table>

    {{ control_cambios }}

</body>

</html>
