<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h2>OBJETIVO</h2>

    {{ objetivo }}

    <h2>ALCANCE</h2>

    {{ alcance }}

    <h2>DOCUMENTOS DE REFERENCIA</h2>

    {{ documentos }}

    <h2>DEFINICIONES</h2>

    {{ definiciones }}

    <h2>RESPONSABILIDADES</h2>

    {{ responsabilidades }}

    <h2>DESARROLLO</h2>

    {{ desarrollo }}

    <h2>REGISTROS</h2>

    {{ registros }}
</body>

</html>
