{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Buscar Cid Procedimientos{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Buscar Cid Procedimientos') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('cid_procedimientos.search', fid='cid_procedimiento_search_form') %}
            {% call f.form_group(form.id) %}{% endcall %}
            {% call f.form_group(form.titulo_procedimiento) %}{% endcall %}
            {% call f.form_group(form.codigo) %}{% endcall %}
            {% call f.form_group(form.elaboro_nombre) %}{% endcall %}
            {% call f.form_group(form.reviso_nombre) %}{% endcall %}
            {% call f.form_group(form.aprobo_nombre) %}{% endcall %}
            {% call f.form_group(form.fecha_desde) %}{% endcall %}
            {% call f.form_group(form.fecha_hasta) %}{% endcall %}
            {{ form.buscar() }}
        {% endcall %}
    {% endcall %}
{% endblock %}
