{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Glosa{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Glosa') %}
        {% if current_user.can_admin('GLOSAS') %}
            {{ topbar.button_previous('Glosas de ' + glosa.autoridad.clave, url_for('glosas.list_autoridad_glosas', autoridad_id=glosa.autoridad_id)) }}
        {% else %}
            {{ topbar.button_previous('Glosas', url_for('glosas.list_active')) }}
        {% endif %}
        {% if current_user.can_admin('GLOSAS') %}
            {{ topbar.button_upload('Subir', url_for('glosas.new_for_autoridad', autoridad_id=glosa.autoridad_id)) }}
        {% elif current_user.can_insert('GLOSAS') and current_user.autoridad_id == glosa.autoridad_id %}
            {{ topbar.button_upload('Subir', url_for('glosas.new')) }}
        {% endif %}
        {% if current_user.can_admin('GLOSAS') or (current_user.can_edit('GLOSAS') and glosa.autoridad_id == current_user.autoridad_id) %}
            {{ topbar.button_edit('Editar', url_for('glosas.edit', glosa_id=glosa.id)) }}
            {% if glosa.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('glosas.delete', glosa_id=glosa.id)) }}{% endif %}
            {% if glosa.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('glosas.recover', glosa_id=glosa.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=glosa.estatus) %}
        {{ detail.label_value_big('Descripción', glosa.descripcion) }}
        {{ detail.label_value('Distrito', glosa.autoridad.distrito.nombre) }}
        {{ detail.label_value('Autoridad', glosa.autoridad.descripcion) }}
        {{ detail.label_value('Fecha', moment(glosa.fecha, local=True).format("DD MMM YYYY")) }}
        {{ detail.label_value('Tipo de juicio', glosa.tipo_juicio) }}
        {{ detail.label_value('Expediente', glosa.expediente) }}
        {{ detail.label_value_new_tab('Archivo PDF', glosa.archivo, glosa.url) }}
        {{ detail.label_value_new_tab('Acuse', 'De clic aqui', url_for('glosas.checkout', id_hashed=glosa.encode_id())) }}
        {{ detail.label_value('Creado', moment(glosa.creado).format('llll')) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('GLOSAS') or (current_user.can_edit('GLOSAS') and glosa.autoridad_id == current_user.autoridad_id) %}
        {% if glosa.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + glosa.descripcion + '?') }}{% endif %}
        {% if glosa.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + glosa.descripcion + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
