{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Editar Glosa{% endblock %}

{% block content %}
    {{ f.page_breadcrumb('Editar ' + glosa.expediente) }}
        <div class="container-fluid">
        {% set form_kwargs = {'glosa_id': glosa.id} %}
        {% call f.form_tag('glosas.edit', fid='glosa_form', **form_kwargs) %}
            {% call f.form_group(form.autoridad) %}{% endcall %}
            {% call f.form_group(form.fecha) %}{% endcall %}
            {% call f.form_group(form.juicio_tipo) %}{% endcall %}
            {% call f.form_group(form.expediente) %}{% endcall %}
            {% call f.form_group(form.url) %}{% endcall %}
            {{ form.guardar() }}
        {% endcall %}
    </div>
{% endblock %}
