{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Editar Glosa{% endblock %}

{% block content %}
    {{ f.page('Editar ' + glosa.descripcion) }}
    <div class="container-fluid">
        {% call f.card() %}
            {% set form_kwargs = {'glosa_id': glosa.id} %}
            {% call f.form_tag('glosas.edit', fid='glosa_form', **form_kwargs) %}
                {% call f.form_group(form.fecha, readonly=true) %}{% endcall %}
                {% call f.form_group(form.tipo_juicio) %}{% endcall %}
                {% call f.form_group(form.descripcion) %}{% endcall %}
                {% call f.form_group(form.expediente) %}{% endcall %}
                {% call f.form_group(form.guardar) %}{% endcall %}
            {% endcall %}
        {% endcall %}
    </div>
{% endblock %}
