{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Todas las Glosas{% endblock %}

{% block topbar_actions %}
    {% if autoridad %}
        {% if estatus == 'A' %}{% set title='Glosas de ' + autoridad.clave %}{% endif %}
        {% if estatus == 'B' %}{% set title='Glosas inactivas de ' + autoridad.clave %}{% endif %}
    {% else %}
        {% if estatus == 'A' %}{% set title='Todas las Glosas' %}{% endif %}
        {% if estatus == 'B' %}{% set title='Todas las Glosas inactivas' %}{% endif %}
    {% endif %}
    {% call topbar.page_buttons(title) %}
        {{ topbar.button_districts('Autoridades', url_for('glosas.list_autoridades')) }}
        {% if autoridad %}
            {% if current_user.can_admin('glosas') %}
                {{ topbar.button_upload('Subir', url_for('glosas.new_for_autoridad', autoridad_id=autoridad.id)) }}
            {% endif %}
            {% if current_user.can_edit('glosas') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivas', url_for('glosas.list_autoridad_glosas_inactive', autoridad_id=autoridad.id)) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activas', url_for('glosas.list_autoridad_glosas', autoridad_id=autoridad.id)) }}{% endif %}
            {% endif %}
            {# if current_user.can_insert('tareas') #}
                {# topbar.button_refresh('Refrescar', url_for('glosas.refresh', autoridad_id=autoridad.id)) #}
            {# endif #}
        {% else %}
            {% if current_user.can_edit('glosas') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('glosas.list_inactive')) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('glosas.list_active')) }}{% endif %}
            {% endif %}
        {% endif %}
        {# topbar.button_search('Buscar', url_for('glosas.search')) #}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="glosas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Creados</th>
                    <th>Autoridades</th>
                    <th>Fechas</th>
                    <th>Descripciones</th>
                    <th>Expedientes</th>
                    <th>Tipos de juicios</th>
                    <th>Archivos</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        $('#glosas_datatable').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            responsive: true,
            scrollX: true,
            ajax: {
                url: "/glosas/datatable_json_admin",
                type: "POST",
                headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}"},
                dataType: "json",
                dataSrc: "data",
                data: {
                    {% if autoridad %}autoridad_id: {{ autoridad.id }},{% endif %}
                    estatus: "{{ estatus }}"
                }
            },
            columns: [
                { data: "creado" },
                { data: "autoridad" },
                { data: "fecha" },
                { data: "detalle" },
                { data: "expediente" },
                { data: "tipo_juicio" },
                { data: "archivo" }
            ],
            columnDefs: [
                {
                    targets: 0,
                    type: "date",
                    render: function (data, type, row) {
                        return moment.utc(data).local().format("YYYY-MM-DD HH:mm:ss");
                    }
                },
                {
                    targets: 3,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.descripcion + '</a>';
                    }
                },
                {
                    targets: 6,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">PDF</a>';
                    }
                }
            ],
            language: {
                lengthMenu: "Mostrar _MENU_",
                search: "Filtrar:",
                zeroRecords: "No se encontraron registros",
                info: "Página _PAGE_ de _PAGES_",
                infoEmpty: "No hay registros",
                infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                }
            }
        });
    </script>
{% endblock %}
