{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Glosas{% endblock %}

{% block topbar_actions %}
    {% if autoridad %}
        {% set title='Glosas de ' + autoridad.clave %}
    {% else %}
        {% if estatus == 'A' %}{% set title='Glosas' %}{% endif %}
        {% if estatus == 'B' %}{% set title='Glosas inactivas' %}{% endif %}
    {% endif %}
    {% call topbar.page_buttons(title) %}
        {{ topbar.button_districts('Autoridades', url_for('glosas.list_autoridades')) }}
        {% if autoridad %}
            {% if current_user.can_admin('glosas') or (current_user.can_insert('glosas') and current_user.autoridad_id == autoridad.id) %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivas', url_for('glosas.list_inactive')) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activas', url_for('glosas.list_active')) }}{% endif %}
            {% endif %}
            {% if current_user.can_admin('glosas') %}
                {{ topbar.button_upload('Subir', url_for('glosas.new_for_autoridad', autoridad_id=autoridad.id)) }}
            {% elif current_user.can_insert('glosas') and current_user.autoridad_id == autoridad.id %}
                {{ topbar.button_upload('Subir', url_for('glosas.new')) }}
            {% endif %}
            {# if current_user.can_admin('glosas') and current_user.can_insert('tareas') #}
                {# topbar.button_refresh('Refrescar', url_for('glosas.refresh', autoridad_id=autoridad.id)) #}
            {# endif #}
        {% endif %}
        {{ topbar.button_search('Buscar', url_for('glosas.search')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="glosas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Fechas</th>
                    <th>Descripciones</th>
                    <th>Tipos de juicios</th>
                    <th>Expedientes</th>
                    <th>Archivos</th>
                </tr>
            </thead>
            <tbody>
                {% for glosa in glosas %}
                <tr>
                    <td>{{ glosa.fecha }}</td>
                    <td><a href="{{ url_for('glosas.detail', glosa_id=glosa.id) }}">{{ glosa.descripcion }}</a></td>
                    <td>{{ glosa.tipo_juicio }}</td>
                    <td>{{ glosa.expediente }}</td>
                    <td><a href="{{ glosa.url }}" target="_blank">PDF {{ list.icon_open_in_new() }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('glosas_datatable', order='desc') }}
{% endblock %}
