{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Todas las Glosas{% endblock %}

{% block topbar_actions %}
    {% if estatus == 'A'%}{% set title='Todas las Glosas' %}{% endif %}
    {% if estatus == 'B'%}{% set title='Todas las Glosas inactivas' %}{% endif %}
    {% call topbar.page_buttons(title) %}
        {{ topbar.button_search('Buscar', url_for('glosas.search')) }}
        {{ topbar.button_districts('Distritos', url_for('glosas.list_distritos')) }}
        {% if autoridad %}
            {% if current_user.can_admin('glosas') %}
                {{ topbar.button_upload('Subir', url_for('glosas.new_for_autoridad', autoridad_id=autoridad.id)) }}
            {% endif %}
            {% if current_user.can_insert('tareas') %}
                {{ topbar.button_refresh('Refrescar', url_for('glosas.refresh', autoridad_id=autoridad.id)) }}
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="glosas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %}">
            <thead>
                <tr>
                    <th>Creados</th>
                    <th>Autoridades</th>
                    <th>Fechas</th>
                    <th>Descripciones</th>
                    <th>Tipos de juicios</th>
                    <th>Expedientes</th>
                    <th>Archivos</th>
                </tr>
            </thead>
            <tbody>
                {% for glosa in glosas %}
                <tr>
                    <td>{{ glosa.creado.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>{{ glosa.autoridad.clave }}</td>
                    <td>{{ glosa.fecha }}</td>
                    <td><a href="{{ url_for('glosas.detail', glosa_id=glosa.id) }}">{{ glosa.descripcion }}</a></td>
                    <td>{{ glosa.tipo_juicio }}</td>
                    <td>{{ glosa.expediente }}</td>
                    <td><a href="{{ glosa.url }}" target="_blank">PDF <i class="fas fa-external-link-alt"></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('glosas_datatable', order='desc') }}
{% endblock %}
