{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Glosas{% endblock %}

{% block topbar_actions %}
    {{ list.topbar_option('Buscar', url_for('glosas.search'), 'fas fa-search') }}
    {% if current_user.can_edit('glosas') %}
        {% if estatus == 'A' %}{{ list.topbar_option('Inactivas', url_for('glosas.list_inactive'), 'fas fa-eye-slash') }}{% endif %}
        {% if estatus == 'B' %}{{ list.topbar_option('Activas', url_for('glosas.list_active'), 'fas fa-eye') }}{% endif %}
    {% endif %}
    {% if current_user.can_insert('glosas') %}
        {{ list.topbar_option('Nueva Glosa', url_for('glosas.new'), 'fas fa-plus') }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ list.page('Glosas') }}
    <div class="container-fluid">
        {% call list.card() %}
            <table id="glosas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %}">
                <thead>
                    <tr>
                        <th>Fechas</th>
                        <th>Expedientes</th>
                        <th>Tipos de juicio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for glosa in glosas %}
                    <tr>
                        <td>{{ glosa.fecha }}</td>
                        <td><a href="{{ url_for('glosas.detail', glosa_id=glosa.id) }}">{{ glosa.expediente }}</a></td>
                        <td>{{ glosa.juicio_tipo }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('glosas_datatable') }}
{% endblock %}
