{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Glosas{% endblock %}

{% block topbar_actions %}
    {{ list.topbar_option_search('Buscar', url_for('glosas.search')) }}
    {{ list.topbar_option('Distritos', url_for('glosas.list_distritos'), 'fas fa-sitemap') }}
    {% if autoridad %}
        {% if current_user.can_admin('glosas') %}
            {{ list.topbar_option_upload('Subir', url_for('glosas.new_for_autoridad', autoridad_id=autoridad.id)) }}
        {% endif %}
        {% if current_user.can_insert('tareas') %}
            {{ list.topbar_option_refresh('Refrescar', url_for('glosas.refresh', autoridad_id=autoridad.id)) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if estatus == 'A'%}{{ list.page('Glosas') }}{% endif %}
    {% if estatus == 'B'%}{{ list.page('Glosas inactivas') }}{% endif %}
    <div class="container-fluid">
        {% call list.card() %}
            <table id="glosas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %}">
                <thead>
                    <tr>
                        <th>Creados</th>
                        <th>Autoridades</th>
                        <th>Fechas</th>
                        <th>Tipos de juicios</th>
                        <th>Expedientes</th>
                        <th>Glosas PDF</th>
                    </tr>
                </thead>
                <tbody>
                    {% for glosa in glosas %}
                    <tr>
                        <td>{{ glosa.creado.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ glosa.autoridad.clave }}</td>
                        <td><a href="{{ url_for('glosas.detail', glosa_id=glosa.id) }}">{{ glosa.fecha }}</a></td>
                        <td>{{ glosa.tipo_juicio }}</td>
                        <td>{{ glosa.expediente }}</td>
                        <td><a href="{{ glosa.url }}" target="_blank">{{ glosa.archivo }} <i class="fas fa-external-link-alt"></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('glosas_datatable', order='desc') }}
{% endblock %}
