{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Gráfica{% endblock %}

{% block custom_head %}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Gráfica') %}
        {{ topbar.button_previous('Gráficas', url_for('rep_graficas.list_active')) }}
        {% if current_user.can_edit('rep_graficas') %}
            {{ topbar.button_edit('Editar', url_for('rep_graficas.edit', rep_grafica_id=rep_grafica.id)) }}
            {% if rep_grafica.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('rep_graficas.delete', rep_grafica_id=rep_grafica.id)) }}{% endif %}
            {% if rep_grafica.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('rep_graficas.recover', rep_grafica_id=rep_grafica.id)) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('rep_graficas') %}
            {# topbar.button_new('Nuevo Reporte', url_for('rep_reportes.new', rep_grafica_id=rep_grafica.id)) #}
            {{ topbar.button_make('Elaborar Gráfica', url_for('rep_graficas.make', rep_grafica_id=rep_grafica.id)) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=rep_grafica.estatus) %}
        {{ detail.label_value_big('Descripción', rep_grafica.descripcion) }}
        {{ detail.label_value('Desde', rep_grafica.desde) }}
        {{ detail.label_value('Hasta', rep_grafica.hasta) }}
        {{ detail.label_value('Corte', rep_grafica.corte) }}
    {% endcall %}
    {% call detail.card(title='Chartjs.org') %}
        <canvas id="myChart" height="70hiv"></canvas>
    {% endcall %}
    {% if rep_reportes %}
        {% call detail.card(title='Reportes') %}
            <table id="rep_reportes_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Descripciones</th>
                        <th>Inicios</th>
                        <th>Términos</th>
                        <th>Programado</th>
                        <th>Progreso</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rep_reporte in rep_reportes %}
                    <tr>
                        <td><a href="{{ url_for('rep_reportes.detail', rep_reporte_id=rep_reporte.id) }}">{{ rep_reporte.descripcion }}</a></td>
                        <td>{{ rep_reporte.inicio }}</td>
                        <td>{{ rep_reporte.termino }}</td>
                        <td>{{ rep_reporte.programado }}</td>
                        <td>{{ rep_reporte.progreso }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('rep_graficas') %}
        {% if rep_grafica.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar ' + rep_grafica.descripcion + '?') }}{% endif %}
        {% if rep_grafica.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar ' + rep_grafica.descripcion + '?') }}{% endif %}
    {% endif %}
    {% if current_user.can_insert('rep_reportes') %}
        {{ modals.custom_javascript_make('Elaborar', '¿Elaborar ' + rep_grafica.descripcion + '?') }}
    {% endif %}
    {% if rep_reportes %}
        {{ detail.datatable('rep_reportes_datatable') }}
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js" integrity="sha512-5vwN8yor2fFT9pgPS9p9R7AszYaNn0LkQElTXIsZFCL7ucT8zDCAqlQXDdaqgA1mZP47hdvztBMsIoFxq/FyyQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $.getJSON("/rep_graficas/datos/1", function(response) {
            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    datasets: [
                        {
                            label: 'EDICTOS',
                            data: response.edictos,
                            backgroundColor: 'rgba(255, 159, 64, 0.2)',
                            borderColor: 'rgb(255, 159, 64)',
                            borderWidth: 1
                        },
                        {
                            label: 'LISTAS DE ACUERDOS',
                            data: response.listas_de_acuerdos,
                            backgroundColor: 'rgba(153, 102, 255, 0.2)',
                            borderColor: 'rgb(153, 102, 255)',
                            borderWidth: 1
                        },
                        {
                            label: 'SENTENCIAS',
                            data: response.sentencias,
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    parsing: {
                        xAxisKey: 'fecha',
                        yAxisKey: 'cantidad'
                    },
                    scales: {
                        x: { stacked: true },
                        y: { stacked: true }
                    }
                }
            });
        });
    </script>
{% endblock %}
