{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Gráfica{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Gráfica') %}
        {{ topbar.button_previous('Gráficas', url_for('rep_graficas.list_active')) }}
        {% if current_user.can_edit('rep_graficas') %}
            {{ topbar.button_edit('Editar', url_for('rep_graficas.edit', rep_grafica_id=rep_grafica.id)) }}
            {% if rep_grafica.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('rep_graficas.delete', rep_grafica_id=rep_grafica.id)) }}{% endif %}
            {% if rep_grafica.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('rep_graficas.recover', rep_grafica_id=rep_grafica.id)) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('rep_reportes') %}
            {{ topbar.button_new('Nuevo Reporte', url_for('rep_reportes.new', rep_grafica_id=rep_grafica.id)) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=rep_grafica.estatus) %}
        {{ detail.label_value_big('Descripción', rep_grafica.descripcion) }}
        {{ detail.label_value('Desde', rep_grafica.desde) }}
        {{ detail.label_value('Hasta', rep_grafica.hasta) }}
        {{ detail.label_value('Corte', rep_grafica.corte) }}
    {% endcall %}
    {% if rep_reportes %}
        {% call detail.card() %}
            <table id="rep_reportes_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Descripciones</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Programado</th>
                        <th>Progreso</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rep_reporte in rep_reportes %}
                    <tr>
                        <td><a href="{{ url_for('rep_reportes.detail', rep_reporte_id=rep_reporte.id) }}">{{ rep_reporte.descripcion }}</a></td>
                        <td>{{ rep_reporte.desde }}</td>
                        <td>{{ rep_reporte.hasta }}</td>
                        <td>{{ rep_reporte.programado }}</td>
                        <td>{{ rep_reporte.progreso }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('rep_graficas') %}
        {% if rep_grafica.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + rep_grafica.descripcion + '?') }}{% endif %}
        {% if rep_grafica.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', 'Recuperar a ' + rep_grafica.descripcion + '?') }}{% endif %}
    {% endif %}
    {{ detail.datatable('rep_reportes_datatable') }}
{% endblock %}
