{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}SIGA Grabación{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('SIGA Grabación') %}
        {{ topbar.button_previous('Grabaciones', url_for('siga_grabaciones.list_active')) }}
        {% if current_user.can_edit('SIGA_GRABACIONES') %}
            {{ topbar.button_edit('Editar Nota', url_for('siga_grabaciones.edit_note', siga_grabacion_id=siga_grabacion.id)) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=siga_grabacion.estatus) %}
        {{ detail.label_value_big('ID', siga_grabacion.id) }}
        {{ detail.label_value('Sala', siga_grabacion.siga_sala.clave, url_for('siga_salas.detail', siga_sala_id=siga_grabacion.siga_sala_id)) }}
        {{ detail.label_value('Autoridad', siga_grabacion.autoridad.nombre, url_for('autoridades.detail', autoridad_id=siga_grabacion.autoridad_id)) }}
        {{ detail.label_value('Materia', siga_grabacion.materia.nombre, url_for('materias.detail', materia_id=siga_grabacion.materia_id)) }}
        {{ detail.label_value('Expediente', siga_grabacion.expediente) }}
        {{ detail.label_value('Duración', siga_grabacion.duracion) }}
        {{ detail.label_value('Inicio', siga_grabacion.inicio) }}
        {{ detail.label_value('Termino', siga_grabacion.termino) }}
        <div class="row">
            <div class="col-md-3 text-end">Tamaño</div>
            <div class="col-md-9">
                <strong id="tamanio">{{ siga_grabacion.tamanio }}</strong>
            </div>
        </div>
        {{ detail.label_value('Justicia ruta', siga_grabacion.justicia_ruta) }}
        {{ detail.label_value('Google Storage', siga_grabacion.storage_url) }}
        <div class="row">
            <div class="col-md-3 text-end">Estado</div>
            <div class="col-md-9">
                {% if siga_grabacion.estado == "VALIDO" %}
                    <span class="badge rounded-pill bg-primary">{{ siga_grabacion.estado}}</span>
                {% elif siga_grabacion.estado == "INVALIDO" %}
                    <span class="badge rounded-pill bg-danger">{{ siga_grabacion.estado }}</span>
                {% else %}
                    {{ siga_grabacion.estado }}
                {% endif %}
            </div>
        </div>
        {{ detail.label_value('Nombre del Archivo', siga_grabacion.archivo_nombre) }}
        {{ detail.label_value('Nota', siga_grabacion.nota) }}
    {% endcall %}

    {% call detail.card("Previsualización") %}
        <video controls>
            <source src="path/to/video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Script para mostrar diferentes tamaños de archivo -->
    <script>
        function convertBytesTo(bytes) {
            let tamanio = bytes / 1024
            if (tamanio < 1024) {
                return tamanio.toFixed(2) + " KB";
            }
            tamanio = bytes / (1024 * 1024)
            if (tamanio < 1024) {
                return tamanio.toFixed(2) + " MB";
            }
            return tamanio;
        }
        $(document).ready(function(){
            const tamanio_in_bytes = $('#tamanio').text();
            const tamanio_escalar = convertBytesTo(tamanio_in_bytes);
            $('#tamanio').text(tamanio_escalar);
        });
    </script>
{% endblock %}
