{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}SIGA Grabaciones{% endblock %}

{% block custom_head %}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://storage.googleapis.com/pjecz-informatica/static/css/select2.css" rel="stylesheet" />
{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('SIGA_SALAS') %}
            {{ topbar.button('Salas', url_for('siga_salas.list_active'), 'mdi:video-box') }}
        {% endif %}
        {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivas', url_for('siga_grabaciones.list_inactive')) }}{% endif %}
        {% if estatus == 'B' %}{{ topbar.button_list_active('Activas', url_for('siga_grabaciones.list_active')) }}{% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Datatable Grabaciones -->
        <table id="grabaciones_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Inicio/Termino</th>
                    <th>Autoridad</th>
                    <th>Materia</th>
                    <th>Expediente</th>
                    <th>Duración</th>
                    <th>Estado</th>
                    <th>Nota</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
