{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Anomalía General en la Remesa{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Anomalía General en la Remesa - ' + remesa.id | string ) %}
        {{ topbar.button_previous('Remesa', url_for('arc_remesas.detail', remesa_id=remesa.id)) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card('Detalle de la Remesa') %}
        {{ detail.label_value('ID', remesa.id) }}
        {{ detail.label_value('Enviada', moment(remesa.tiempo_enviado).format('llll')) }}
        {{ detail.label_value('Instancia', remesa.autoridad.clave + ' : ' + remesa.autoridad.descripcion_corta) }}
        {{ detail.label_value('Años', remesa.anio) }}
        {{ detail.label_value('Núm. Oficio', remesa.num_oficio) }}
        {{ detail.label_value('Tipo de Documentos', remesa.arc_documento_tipo.nombre) }}
    {% endcall %}
    {# Detalles Observaciones #}
    {% if remesa.observaciones_solicitante %}
        <div class="card mb-3">
            <div class="card-header bg-warning text-dark" style="font-weight: bold;">Observaciones del Solicitante </div>
            <div class="card-body" style="background-color: #fff3cd;">
                <div class="col-md-9 text-start">{{ remesa.observaciones_solicitante }}</div>
            </div>
        </div>
    {% endif %}
    <!-- Formulario para seleccionar Remesa -->
    {% call f.card() %}
        {% set form_kwargs = {'remesa_id': remesa.id} %}
        {% call f.form_tag('arc_remesas.anomalia', fid='remesa_form', **form_kwargs) %}
            {% call f.form_group(form.anomalia_general) %}{% endcall %}
            {% call f.form_group(form.observaciones_archivista) %}{% endcall %}
            <div class="row">
                <div class="col-md-auto">
                    <input class="btn btn-success" id="guardar" name="guardar" type="submit" value="Guardar">
                    <input class="btn btn-danger" id="eliminar" name="eliminar" type="submit" value="Eliminar">
                </div>
            </div>
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
{% endblock %}
