{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Detalle de Remesa{% endblock %}

{% block custom_head %}
    <style>
    .bg-pink {
        color: white;
        background-color: #d63384;
    }
    .bg-purple {
        color: white;
        background-color: #6f42c1;
    }
    .bg-brown {
        color: white;
        background-color: #653208;
    }
    </style>
{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Remesa - ' + remesa.id | string ) %}
        {% if remesa.esta_archivado %}
            {{ topbar.button_previous('Remesas', url_for('arc_archivos.list_history')) }}
        {% else %}
            {{ topbar.button_previous('Remesas', url_for('arc_archivos.list_active')) }}
        {% endif %}
        {% if mostrar_secciones["boton_cancelar"] %}
            {{ topbar.button_delete('Cancelar', url_for('arc_remesas.cancel', remesa_id=remesa.id)) }}
            {{ topbar.button_edit('Editar', url_for('arc_remesas.edit', remesa_id=remesa.id)) }}
        {% endif %}
        {% if mostrar_secciones["boton_recuperar"] %}
            {{ topbar.button_primary('Recuperar', url_for('arc_remesas.recover', remesa_id=remesa.id), 'mdi:file-replace') }}
        {% endif %}
        {% if mostrar_secciones["boton_pasar_historial"] %}
            {{ topbar.button('Pasar al Historial', url_for('arc_remesas.history', remesa_id=remesa.id), "mdi:history") }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {# Detalle #}
    {% call detail.card('Detalles de la Remesa') %}
        {{ detail.label_value('Creado', moment(remesa.creado).format('llll')) }}
        {{ detail.label_value('Juzgado', remesa.autoridad.clave + ' : ' + remesa.autoridad.descripcion_corta, url_for('autoridades.detail', autoridad_id=remesa.autoridad.id)) }}
        <div class="row">
            {% if estado_text and estado_text['class'] %}
                <div class="col-md-3 text-end">Estado</div>
                <div class="col-md-9">
                    <span class="badge rounded-pill {{estado_text['class']}}">{{ estado_text['texto'] }}</span>
                {% if remesa.esta_archivado %}
                    : <span class="badge rounded-pill bg-brown">EN HISTORIAL <span class="iconify" data-icon="mdi:history"></span></span>
                {% endif %}
            {% else %}
                {{ detail.label_value('Estado', remesa.estado) }}
            {% endif %}
            </div>
        </div>
        {{ detail.label_value('Año', remesa.anio) }}
        {{ detail.label_value('Número de Oficio', remesa.num_oficio) }}
    {% endcall %}
    {# Detalles Observaciones #}
    {% if remesa.observaciones %}
        <div class="card mb-3">
            <div class="card-header bg-warning text-dark" style="font-weight: bold;">Observaciones </div>
            <div class="card-body" style="background-color: #fff3cd;">
                <div class="col-md-9 text-start">{{ remesa.observaciones }}</div>
            </div>
        </div>
    {% endif %}
    {# Listados de Documentos #}
    {% call detail.card('Listado de Documentos') %}
        <!-- Datatable -->
        <table id="arc_documentos_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Expediente</th>
                    <th>Tipo</th>
                    <th>Juicio</th>
                    <th>Partes</th>
                    <th>Fojas Nuevas</th>
                    <th>Observaciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
        <a href="{{url_for('arc_documentos.list_active')}}" type="button" class="btn btn-primary"><span class="iconify" data-icon="mdi:file-document-plus"></span> Agregar Documento</a>
    {% endcall %}
    {# Detalle Enviar #}
    {% call detail.card() %}
        <a href="{{url_for('arc_remesas.send', remesa_id=remesa.id)}}" type="button" class="btn btn-success">Enviar <span class="iconify" data-icon="mdi:send"></span></a>
    {% endcall %}
    {# Listado de la Bitacora de la Remesa #}
    {% call detail.card('Bitacora Remesa') %}
        <!-- Datatable -->
        <table id="arc_remesa_bitacora_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Fecha y Hora</th>
                    <th>Usuario</th>
                    <th>Acción</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
    <!-- Modal para confirmar la cancelación de la Remesa -->
    {% if current_user.can_edit('ARC DOCUMENTOS SOLICITUDES') %}
        {{ modals.custom_javascript_delete('Cancelar', '¿Desea Cancelar la Remesa ' + remesa.id | string + '?') }}
    {% endif %}
    <!-- Mostar estilo de cuando la remesa está en el historial -->
    {% if remesa.esta_archivado %}
        <script>
            $('.card-body').css('background-color', '#ddd')
        </script>
    {% endif %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/arc_remesas_documentos/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros_documentos }};
        configDataTable['columns'] = [
            { data: 'expediente' },
            { data: 'tipo' },
            { data: 'juicio' },
            { data: 'partes' },
            { data: 'fojas' },
            { data: 'observaciones' },
            { data: 'acciones' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // expediente
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.expediente + '</a>';
                }
            },
            {
                targets: 3, // partes
                data: null,
                render: function(data, type, row, meta) {
                    if (data.actor.length > 24)
                        actor = '<span title="' + data.actor + '">' + data.actor.substr(0, 24) + '…' + '</span>';
                    else
                        actor = data.actor;
                    if (data.demandado.length > 24)
                        demandado = '<span title="' + data.demandado + '">' + data.demandado.substr(0, 24) + '…' + '</span>';
                    else
                        demandado = data.demandado;
                    return '<strong>Actor:</strong> ' + actor + '<br>' + '<strong>Demandado:</strong> ' + demandado;
                }
            },
            {
                targets: 4, // Fojas
                data: null,
                render: function(data, type, row, meta) {
                    return data.nuevas ;
                }
            },
            {
                targets: 5, // Observaciones
                data: null,
                render: function(data, type, row, meta) {
                    if (data.length > 16)
                        return '<span title="' + data + '">' + data.substr(0, 16) + '…' + '</span>';
                    else
                        return data;
                }
            },
            {
                targets: 6, // Acciones
                data: null,
                render: function(data, type, row, meta) {
                    html = '<a href="' + data.ver  + '" class="btn btn-sm btn-outline-primary"><span title="Consultar" class="iconify" data-icon="mdi:eye"></span></a> ';
                    html += '<a href="' + data.editar  + '" class="btn btn-sm btn-outline-warning"><span title="Editar" class="iconify" data-icon="mdi:pencil"></span></a> ';
                    html += '<a href="' + data.eliminar  + '" class="btn btn-sm btn-outline-danger"><span title="Quitar" class="iconify" data-icon="mdi:close"></span></a>'
                    return html;
                }
            }
        ];
        // Datatable
        $('#arc_documentos_datatable').DataTable(configDataTable);
    </script>
    <!-- DataTable para Bitacora -->
    <script>
        configDataTable['ajax']['url'] = '/arc_remesas_bitacoras/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros_bitacora }};
        configDataTable['columns'] = [
            { data: 'tiempo' },
            { data: 'usuario' },
            { data: 'accion' },
            { data: 'observaciones' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // tiempo
                data: null,
                render: function(data, type, row, meta) {
                    return moment.utc(data).local().format("YYYY-MM-DD HH:mm:ss");
                }
            },
            {
                targets: 1, // usuario
                data: null,
                render: function(data, type, row, meta) {
                    if (data.nombre.length > 24) 
                        return '<a href="' + data.url + '"><span title="' + data.nombre + '">' + data.nombre.substr(0, 24) + '…' + '</span></a>';
                    else   
                        return '<a href="' + data.url + '">' + data.nombre + '</a>';
                }
            },
            {
                targets: 2, // estado
                data: null,
                render: function(data, type, row, meta) {
                    switch (data)    {
                        case "CREADA":       return '<span class="badge rounded-pill bg-warning text-dark">CREADA</span>';   break;
                        case "ENVIADA":         return '<span class="badge rounded-pill bg-pink">ENVIADA</span>';   break;
                        case "ASIGNADA":        return '<span class="badge rounded-pill bg-primary">ASIGNADA</span>';   break;
                        case "RECHAZADA":       return '<span class="badge rounded-pill bg-danger">RECHAZADA</span>';   break;
                        case "ARCHIVADA":       return '<span class="badge rounded-pill bg-success">ARCHIVADA</span>';   break;
                    }
                    return data;
                }
            },
            {
                targets: 3, // Observaciones
                data: null,
                render: function(data, type, row, meta) {
                    if (data.length > 24)
                        return '<span title="' + data + '">' + data.substr(0, 24) + '…' + '</span>';
                    else
                        return data;
                }
            },
        ];

        // Búsqueda

        // Datatable
        $('#arc_remesa_bitacora_datatable').DataTable(configDataTable);
    </script>
{% endblock %}