{% extends 'layouts/app.jinja2' %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Editar Remesa{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Editar Remesa - ' + remesa_id | string) %}
        {{ topbar.button_previous('Remesa', url_for('arc_remesas.detail', remesa_id=remesa_id)) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'remesa_id': remesa_id} %}
        {% call f.form_tag('arc_remesas.edit', fid='remesa_form', **form_kwargs) %}
            {% call f.form_group(form.creado_readonly, readonly=true) %}{% endcall %}
            {% call f.form_group(form.juzgado_readonly, readonly=true) %}{% endcall %}
            {% call f.form_group(form.anio) %}{% endcall %}
            {% call f.form_group(form.tipo_documentos_readonly, readonly=true) %}{% endcall %}
            {% call f.form_group(form.num_oficio) %}{% endcall %}
            {% call f.form_group(form.observaciones_solicitante) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
