{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Escritura{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + escritura.expediente) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'escritura_id': escritura.id} %}
        {% call f.form_tag('escrituras.edit', fid='escritura_form', **form_kwargs) %}
            {% call f.form_group(form.distrito, readonly=true) %}{% endcall %}
            {% call f.form_group(form.autoridad, readonly=true) %}{% endcall %}
            {% call f.form_group(form.expediente) %}{% endcall %}
            {% call f.form_group(form.tipo) %}{% endcall %}
            {% call f.form_group(form.texto) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
