{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/quill.jinja2' as quill %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nueva Escritura{% endblock %}

{% block custom_head %}
    {{ quill.head() }}
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nueva Escritura') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
    <div class="row">
        <div class="col-md-7">
            {% call f.form_tag('escrituras.new', fid='escritura_form') %}
                {% call f.form_group(form.distrito, readonly=true) %}{% endcall %}
                {% call f.form_group(form.autoridad, readonly=true) %}{% endcall %}
                {% call f.form_group(form.expediente) %}{% endcall %}
                {% call f.form_group(form.tipo) %}{% endcall %}
                {{ quill.div(div_id='contenido_quill') }}
                <div style="display: none;">{% call f.form_group(form.texto, readonly=true) %}{% endcall %}</div>
                {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
        </div>
        <div class="col-md-5">
           <table>
                <thead>
                    <th>Receptor</th>
                    <th>Destino</th>
                </thead>
                <tbody>
                    <td>e</td>
                    <td>eg</td>
                </tbody>
           </table>
        </div>
    </div>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Quill -->
    {{ quill.library() }}
    {{ quill.editor(form_id='escritura_form', instance='contenidoQuill', div_id='contenido_quill', hidden_id='contenido', content='') }}
    <!-- Llenar el input de contenido con un JSON vacio porque es nuevo -->
    <script>
        $(document).ready(function(){
            $('#contenido').val('{"ops":[{"insert":"\n"}]}');
        });
    </script>
{% endblock %}