{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Servicios{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('CIT SERVICIOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cit_servicios.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cit_servicios.list_active')) }}{% endif %}
        {% endif %}
            {{ topbar.button_new('Nuevo Servicio', url_for('cit_servicios.new')) }}
            {{ topbar.button_previous('Citas', url_for('cit_citas.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="cit_servicios_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Clave</th>
                    <th>Nombre</th>
                    <th>Solicitar Expedientes</th>
                    <th>Duración</th>
                </tr>
            </thead>
            <tbody>
                {% for servicio in servicios %}
                <tr>
                    <td><a href="{{ url_for('cit_servicios.detail', servicio_id=servicio.id) }}">{{ servicio.clave }}</a></td>
                    <td>{{ servicio.nombre }}</td>
                    <td>{{ servicio.solicitar_expedientes }}</td>
                    <td>{{ servicio.duracion.strftime("%H:%M") }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('cit_servicios_datatable') }}
{% endblock %}
