{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Servicio{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Servicio') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('cit_servicios.new', fid='cit_servicios_form') %}
            {% call f.form_group(form.clave) %}{% endcall %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.solicitar_expedientes) %}{% endcall %}
            {% call f.form_group(form.duracion) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
