{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Formato{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(cid_formato.descripcion) %}
        {{ topbar.button_previous('Formatos', url_for('cid_formatos.list_active')) }}
        {% if current_user.can_edit('cid_formatos') %}
            {{ topbar.button_edit('Editar', url_for('cid_formatos.edit', cid_formato_id=cid_formato.id)) }}
            {% if cid_formato.estatus == 'A' %}{{ topbar.button_delete('Eliminar', 'javascript:showModalDelete()') }}{% endif %}
            {% if cid_formato.estatus == 'B' %}{{ topbar.button_recover('Recuperar', 'javascript:showModalRecover()') }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cid_formato.estatus) %}
        {# detail.label_value_big('Formato', cid_formato.descripcion) #}
        {{ detail.label_value('Procedimiento', cid_formato.procedimiento.descripcion, url_for('cid_procedimientos.detail', cid_procedimiento_id=cid_formato.procedimiento_id)) }}
    {% endcall %}
    {% if current_user.can_edit('cid_formatos') %}
        {{ detail.modal('Eliminar', '¿Eliminar a ' + cid_formato.descripcion + '?', 'modalDelete', url_for('cid_formatos.delete', cid_formato_id=cid_formato.id)) }}
        {{ detail.modal('Recuperar', '¿Recuperar a ' + cid_formato.descripcion + '?', 'modalRecover', url_for('cid_formatos.recover', cid_formato_id=cid_formato.id)) }}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('cid_formatos') %}
        {{ detail.custom_javascript_delete_recover() }}
    {% endif %}
{% endblock %}
