{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Editar Formato{% endblock %}

{% block content %}
    {{ f.page('Editar ' + cid_formato.descripcion) }}
    <div class="container-fluid">
        {% call f.card() %}
            {% set form_kwargs = {'cid_formato_id': cid_formato.id} %}
            {% call f.form_tag('cid_formatos.edit', fid='cid_formato_form', **form_kwargs) %}
                {% call f.form_group(form.descripcion) %}{% endcall %}
                {% call f.form_group(form.procedimiento) %}{% endcall %}
                {{ form.guardar() }}
            {% endcall %}
        {% endcall %}
    </div>
{% endblock %}
