{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Formato{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + cid_formato.descripcion) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'cid_formato_id': cid_formato.id} %}
        {% call f.form_tag('cid_formatos.edit', fid='cid_formato_form', **form_kwargs) %}
            {% call f.form_group(form.procedimiento_titulo, readonly=true) %}{% endcall %}
            {% call f.form_group(form.codigo) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
