{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{titulo}}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if show_button_my_autorized %}
            {{ topbar.button('Autorizados en mi área', url_for('cid_formatos.list_active'), 'mdi:table-star') }}
        {% endif %}
        {% if show_button_list_all_autorized %}
            {{ topbar.button('Autorizados para todos', url_for('cid_formatos.list_authorized'), 'mdi:table-star') }}
        {% endif %}
        {% if show_button_list_owned %}
            {{ topbar.button('Propios', url_for('cid_formatos.list_owned'), 'mdi:table-heart') }}
        {% endif %}
        {% if current_user.can_admin('CID FORMATOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cid_formatos.list_all_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cid_formatos.list_all_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
     <form class="input-group mb-3" id="buscadorForm" onsubmit="buscar(); return false;">
            <div class="col-6" style="padding:2px;">
                <div class="form-floating">
                    <input id="tituloInput" type="text" class="form-control" placeholder="titulo" aria-label="titulo" aria-describedby="button-buscar" style="text-transform: uppercase">
                    <label for="tituloInput">Procedimiento</label>
                </div>
            </div>
            <div class="col-6" style="padding:2px;">
                <div class="form-floating">
                    <input id="descripcionInput" type="text" class="form-control" placeholder="descripcion" aria-label="descripcion" aria-describedby="button-buscar" style="text-transform: uppercase">
                    <label for="descripcionInput">Descripción</label>
                </div>
            </div>
            <div class="col-12 text-end" style="margin-top: 5px; padding:1px;">
                <button class="btn btn-primary btn-lg" type="submit" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span>Buscar</button>
                <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
            </div>
        </form>
        <table id="cid_formatos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Procedimiento</th>
                    <th>Descripcion</th>
                    <th>Descargar</th>
                    <th>Clasificación</th>
                    <th>Área</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/cid_formatos/datatable_json_admin';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'detalle' },
            { data: 'cid_procedimiento' },
            { data: 'descripcion' },
            { data: 'descargar' },
            { data: 'autoridad' },
            { data: 'cid_area' },
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 1, // cid_procedimiento
                data: null,
                render: function(data, type, row, meta) {
                    if (data.titulo_procedimiento.length > 32) {
                        interior = '<span title="' + data.titulo_procedimiento + '">' + data.titulo_procedimiento.substring(0, 32) + '…' + '</span>';
                    } else {
                        interior = data.titulo_procedimiento;
                    }
                    if (data.url == '') {
                        return interior;
                    }
                    return '<a href="' + data.url + '">' + interior + '</a>';
                }
            },
            {
                targets: 2, // descripcion
                data: null,
                render: function(data, type, row, meta) {
                    if (data.length > 32) {
                        return '<span title="' + data + '">' + data.substring(0, 32) + '…' + '</span>';
                    } else {
                        return data;
                    }
                }
            },
            {
                targets: 3, // descargar
                data: null,
                render: function(data, type, row, meta) {
                    if (data.archivo.length > 32) {
                        interior = '<span title="' + data.archivo + '">' + data.archivo.substring(0, 32) + '…' + '</span>';
                    } else {
                        interior = data.archivo;
                    }
                    return '<a href="' + data.url + '">' + interior + '</a>';
                }
            },
            {
                targets: 5, // cid_area
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url == '') {
                        return data.clave;
                    }
                    return '<a href="' + data.url + '">' + data.clave + '</a>';
                }
            },
        ];

        // Búsqueda
        let titulo = document.getElementById('tituloInput').value.toUpperCase();
        let descripcion = document.getElementById('descripcionInput').value.toUpperCase();

        if(titulo != '')
            configDataTable['ajax']['data']['cid_procedimiento'] = titulo;
        if(descripcion != '')
            configDataTable['ajax']['data']['descripcion'] = descripcion;

        $('#cid_formatos_datatable').DataTable(configDataTable);
    </script>
     <!-- Función de buscador -->
    <script type="text/javascript">
        function buscar(){
            let titulo = document.getElementById('tituloInput').value.toUpperCase();
            let descripcion = document.getElementById('descripcionInput').value.toUpperCase();

            if(configDataTable['ajax']['data']['cid_procedimiento'] === undefined && titulo === '' &&
               configDataTable['ajax']['data']['descripcion'] === undefined && descripcion === ''
            )return false;

            console.log(titulo, descripcion);

            $('#cid_formatos_datatable').DataTable().destroy();

            if(titulo == '')
                delete configDataTable['ajax']['data']['cid_procedimiento'];
            else
                configDataTable['ajax']['data']['cid_procedimiento'] = titulo;
            if(descripcion == '')
                delete configDataTable['ajax']['data']['descripcion'];
            else
                configDataTable['ajax']['data']['descripcion'] = descripcion;

            $('#cid_formatos_datatable').DataTable(configDataTable);

        }

        function limpiar(){
            if( configDataTable['ajax']['data']['cid_procedimiento'] === undefined &&
                configDataTable['ajax']['data']['descripcion'] === undefined
            )return false;

            delete configDataTable['ajax']['data']['cid_procedimiento'];
            delete configDataTable['ajax']['data']['descripcion'];

            $('#cid_formatos_datatable').DataTable().destroy();
            $('#cid_formatos_datatable').DataTable(configDataTable);


        }
    </script>
{% endblock %}