{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{titulo}}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if show_button_my_autorized %}
            {{ topbar.button('Autorizados en mi área', url_for('cid_formatos.list_active'), 'mdi:table-star') }}
        {% endif %}
        {% if show_button_list_all_autorized %}
            {{ topbar.button('Autorizados para todos', url_for('cid_formatos.list_authorized'), 'mdi:table-star') }}
        {% endif %}
        {% if show_button_list_owned %}
            {{ topbar.button('Propios', url_for('cid_formatos.list_owned'), 'mdi:table-heart') }}
        {% endif %}
        {% if current_user.can_admin('CID FORMATOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cid_formatos.list_all_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cid_formatos.list_all_active')) }}{% endif %}
        {% endif %}
        {{ modals.button_modal('Exportar Lista Maestra a XLSX', url_for('cid_formatos.exportar_xlsx'), 'ExportXLSX', 'mdi:download', "¿Quiere exportar la Lista Maestra a un archivo XLSX?") }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros CidFormatos -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosCidFormatos.buscar(); return false;">
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroId" type="text" class="form-control" aria-label="Id">
                            <label for="filtroId">ID</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <input id="filtroDescripcion" type="text" class="form-control" aria-label="Descripcion" style="text-transform: uppercase;">
                            <label for="filtroDescripcion">Descripcion</label>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosCidFormatos.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosCidFormatos.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Datatable de formatos -->
        <table id="cid_formatos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Procedimiento</th>
                    <th>Descripcion</th>
                    <th>Descargar</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ modals.custom_javascript('Exportar a XLSX', '', 'ExportXLSX') }}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Cid Procedimientos
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTCidFormatos = constructorDataTable.config();
        configDTCidFormatos['ajax']['url'] = '/cid_formatos/datatable_json_admin';
        configDTCidFormatos['ajax']['data'] = {{ filtros }};
        configDTCidFormatos['columns'] = [
            { data: 'detalle' },
            { data: 'cid_procedimiento' },
            { data: 'descripcion' },
            { data: 'descargar' },
        ];
        configDTCidFormatos['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 1, // cid_procedimiento
                data: null,
                render: function(data, type, row, meta) {
                    if (data.titulo_procedimiento.length > 32) {
                        interior = '<span title="' + data.titulo_procedimiento + '">' + data.titulo_procedimiento.substring(0, 32) + '…' + '</span>';
                    } else {
                        interior = data.titulo_procedimiento;
                    }
                    if (data.url == '') {
                        return interior;
                    }
                    return '<a href="' + data.url + '">' + interior + '</a>';
                }
            },
            {
                targets: 2, // descripcion
                data: null,
                render: function(data, type, row, meta) {
                    if (data.length > 32) {
                        return '<span title="' + data + '">' + data.substring(0, 32) + '…' + '</span>';
                    } else {
                        return data;
                    }
                }
            },
            {
                targets: 3, // descargar
                data: null,
                render: function(data, type, row, meta) {
                    if (data.archivo.length > 32) {
                        interior = '<span title="' + data.archivo + '">' + data.archivo.substring(0, 32) + '…' + '</span>';
                    } else {
                        interior = data.archivo;
                    }
                    return '<a href="' + data.url + '">' + interior + '</a>';
                }
            }
        ];
        // Filtros Cid Procedimientos
        const filtrosCidFormatos = new FiltrosDataTable('#cid_formatos_datatable', configDTCidFormatos);
        filtrosCidFormatos.agregarInput('filtroId', 'cid_formato_id');
        filtrosCidFormatos.agregarInput('filtroDescripcion', 'descripcion');
        filtrosCidFormatos.precargar();
    </script>
{% endblock %}
