{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Formatos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {# topbar.button('Inicial', url_for('cid_formatos.list_active'), 'mdi:table-star') #}
        {{ topbar.button('Autorizados', url_for('cid_formatos.list_authorized'), 'mdi:table-star') }}
        {{ topbar.button('Propios', url_for('cid_formatos.list_owned'), 'mdi:table-heart') }}
        {{ topbar.button('Todos', url_for('cid_formatos.list_all'), 'mdi:table') }}
        {{ topbar.button('Ir a Procedimientos', url_for('cid_procedimientos.list_all'), 'mdi:swap-horizontal') }}
        {% if current_user.can_edit('CID FORMATOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cid_formatos.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cid_formatos.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="cid_formatos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Procedimiento</th>
                    <th>Descripcion</th>
                    <th>Descargar</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/cid_formatos/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'detalle' },
            { data: 'cid_procedimiento' },
            { data: 'descripcion' },
            { data: 'descargar' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 1, // cid_procedimiento
                data: null,
                render: function(data, type, row, meta) {
                    if (data.titulo_procedimiento.length > 32) {
                        interior = '<span title="' + data.titulo_procedimiento + '">' + data.titulo_procedimiento.substring(0, 32) + '…' + '</span>';
                    } else {
                        interior = data.titulo_procedimiento;
                    }
                    if (data.url == '') {
                        return interior;
                    }
                    return '<a href="' + data.url + '">' + interior + '</a>';
                }
            },
            {
                targets: 2, // descripcion
                data: null,
                render: function(data, type, row, meta) {
                    if (data.length > 32) {
                        return '<span title="' + data + '">' + data.substring(0, 32) + '…' + '</span>';
                    } else {
                        return data;
                    }
                }
            },
            {
                targets: 3, // descargar
                data: null,
                render: function(data, type, row, meta) {
                    if (data.archivo.length > 32) {
                        interior = '<span title="' + data.archivo + '">' + data.archivo.substring(0, 32) + '…' + '</span>';
                    } else {
                        interior = data.archivo;
                    }
                    return '<a href="' + data.url + '">' + interior + '</a>';
                }
            },
        ];
        $('#cid_formatos_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
