{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/list.jinja2' as list %}


{% block title %}Equipos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Equipo: ' + equipo.descripcion) %}
        {{ topbar.button_previous('Equipos', url_for('inv_equipos.list_active')) }}
        {% if current_user.can_edit('INV EQUIPOS') %}
            {{ topbar.button_edit('Editar', url_for('inv_equipos.edit', equipo_id=equipo.id)) }}
            {% if equipo.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('inv_equipos.delete', equipo_id=equipo.id)) }}{% endif %}
            {% if equipo.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('inv_equipos.recover', equipo_id=equipo.id)) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('INV EQUIPOS FOTOS') %}
            {{ topbar.button('Subir Foto', url_for('inv_equipos_fotos.new', equipo_id=equipo.id), 'mdi:file-upload') }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=equipo.estatus) %}
        {{ detail.label_value('ID', equipo.id) }}
        {{ detail.label_value('Usuario', equipo.custodia.nombre_completo) }}
        {{ detail.label_value('Marca', equipo.modelo.marca.nombre) }}
        {{ detail.label_value('Modelo', equipo.modelo.descripcion) }}
        {{ detail.label_value('Red', equipo.red.nombre) }}
        {{ detail.label_value('Inventario', equipo.numero_inventario) }}
        {{ detail.label_value('No. serie', equipo.numero_serie) }}
        {{ detail.label_value('Fecha de adquisición', equipo.adquisicion_fecha) }}
        {{ detail.label_value('Descripción', equipo.descripcion) }}
        {{ detail.label_value('Dirección IP', equipo.direccion_ip) }}
        {{ detail.label_value('Dirección MAC', equipo.direccion_mac) }}
        {{ detail.label_value('Número nodo', equipo.numero_nodo) }}
        {{ detail.label_value('Número switch', equipo.numero_switch) }}
        {{ detail.label_value('Número puerto', equipo.numero_puerto) }}
    {% endcall %}
    {% if current_user.can_view('INV COMPONENTES') %}
        {% call detail.card('Componentes') %}
            <table id="inv_componentes_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Categoría</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Versión</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('INV COMPONENTES') %}
                <a href="{{ url_for('inv_componentes.new', equipo_id=equipo.id) }}" class="btn btn-primary">Agregar</a>
            {% endif %}
        {% endcall %}
    {% endif %}
    {% if fotos %}
        {% call list.card('Fotos Adjuntas') %}
            <table id="inv__equipos_fotos_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for foto in fotos %}
                        <tr>
                            <td><a href="{{ url_for('inv_equipos_fotos.detail', equipo_foto_id=foto.id) }}">{{ foto.archivo }}</a></td>
                            <td>{{ foto.descripcion | truncate(48) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    {% endif %}    
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('INV EQUIPOS') %}
        {% if equipo.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + equipo.descripcion + '?') }}{% endif %}
        {% if equipo.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + equipo.descripcion + '?') }}{% endif %}
    {% endif %}
    {{ list.datatable('inv_equipos_fotos_datatable') }}
    {{ detail.config_datatable() }}
    {% if current_user.can_view('INV COMPONENTES') %}
        <script>
            configDataTable['ajax']['url'] = '/inv_componentes/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'equipo_id': {{ equipo.id}} };
            configDataTable['columns'] = [
                { data: "categoria" },
                { data: "detalle" },
                { data: "cantidad" },
                { data: "version" },
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // categoria
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.nombre + '</a>';
                    }
                },
                {
                    targets: 1, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.descripcion + '</a>';
                    }
                }
            ];
            $('#inv_componentes_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
{% endblock %}
