{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Equipo{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Equipo ' + inv_equipo.inv_equipo_id | string) %}
        {% if current_user.can_admin('INV EQUIPOS') %}
            {{ topbar.button_previous('Equipos', url_for('inv_equipos.list_active')) }}
        {% elif current_user.can_view('INV EQUIPOS') %}
            {{ topbar.button_previous('Tickets', url_for('soportes_tickets.list_active')) }}
        {% endif %}
        {% if current_user.can_admin('INV EQUIPOS') %}
            {{ topbar.button_edit('Editar', url_for('inv_equipos.edit', inv_equipo_id=inv_equipo.id)) }}
            {% if inv_equipo.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('inv_equipos.delete', inv_equipo_id=inv_equipo.id)) }}{% endif %}
            {% if inv_equipo.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('inv_equipos.recover', inv_equipo_id=inv_equipo.id)) }}{% endif %}
        {% elif current_user.can_edit('INV EQUIPOS') %}
            {{ topbar.button_edit('Editar', url_for('inv_equipos.edit', inv_equipo_id=inv_equipo.id)) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=inv_equipo.estatus) %}
        {{ detail.label_value('ID', inv_equipo.id) }}
        {% if current_user.can_view('USUARIOS') %}
            {{ detail.label_value('Custodia', inv_equipo.inv_custodia.nombre_completo, url_for('inv_custodias.detail', inv_custodia_id=inv_equipo.inv_custodia_id)) }}
        {% else %}
            {{ detail.label_value('Custodia', inv_equipo.inv_custodia.nombre_completo) }}
        {% endif %}
        {% if current_user.can_view('INV MARCAS') %}
            {{ detail.label_value('Marca', inv_equipo.inv_modelo.inv_marca.nombre, url_for('inv_marcas.detail', inv_marca_id=inv_equipo.inv_modelo.inv_marca.id)) }}
        {% else %}
            {{ detail.label_value('Marca', inv_equipo.inv_modelo.inv_marca.nombre) }}
        {% endif %}
        {% if current_user.can_view('INV MODELOS') %}
            {{ detail.label_value('Modelo', inv_equipo.inv_modelo.descripcion, url_for('inv_modelos.detail', inv_modelo_id=inv_equipo.inv_modelo_id)) }}
        {% else %}
            {{ detail.label_value('Modelo', inv_equipo.inv_modelo.descripcion) }}
        {% endif %}
        {{ detail.label_value('Tipo de equipo', inv_equipo.tipo) }}
        {{ detail.label_value('Fecha de adquisición', moment(inv_equipo.adquisicion_fecha, local=True).format("DD MMM YYYY")) }}
        {{ detail.label_value('Inventario', inv_equipo.numero_inventario) }}
        {{ detail.label_value('No. serie', inv_equipo.numero_serie) }}
        {{ detail.label_value('Descripción', inv_equipo.descripcion) }}
        {% if current_user.can_view('INV REDES') %}
            {{ detail.label_value('Red', inv_equipo.inv_red.nombre, url_for('inv_redes.detail', inv_red_id=inv_equipo.inv_red_id)) }}
        {% else %} 
            {{ detail.label_value('Red', inv_equipo.inv_red.nombre ) }}
        {% endif %}
        {{ detail.label_value('Dirección IP', inv_equipo.direccion_ip) }}
        {{ detail.label_value('Dirección MAC', inv_equipo.direccion_mac) }}
        {{ detail.label_value('Número nodo', inv_equipo.numero_nodo) }}
        {{ detail.label_value('Número switch', inv_equipo.numero_switch) }}
        {{ detail.label_value('Número puerto', inv_equipo.numero_puerto) }}
    {% endcall %}
    {% if current_user.can_view('INV COMPONENTES') %}
        {% call detail.card('Componentes') %}
            <table id="inv_componentes_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Categoría</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Generación</th>
                        <th>Versión</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('INV COMPONENTES') %}
                <a href="{{ url_for('inv_componentes.new', inv_equipo_id=inv_equipo.id) }}" class="btn btn-primary">Agregar</a>
            {% endif %}
        {% endcall %}
    {% endif %}
    {% if current_user.can_view('INV EQUIPOS FOTOS') %}
        {% call detail.card('Fotos Adjuntas') %}
            <table id="inv_equipos_fotos_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('INV EQUIPOS FOTOS') %}
                <a href="{{ url_for('inv_equipos_fotos.new', inv_equipo_id=inv_equipo.id) }}" class="btn btn-primary">Adjuntar Foto</a>
            {% endif %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('INV EQUIPOS') %}
        {% if inv_equipo.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + inv_equipo.descripcion + '?') }}{% endif %}
        {% if inv_equipo.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + inv_equipo.descripcion + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
    {{ detail.config_datatable() }}
    {% if current_user.can_view('INV COMPONENTES') %}
        <script>
            configDataTable['ajax']['url'] = '/inv_componentes/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'inv_equipo_id': {{ inv_equipo.id}} };
            configDataTable['columns'] = [
                { data: "detalle" },
                { data: "inv_categoria" },
                { data: "descripcion" },
                { data: "cantidad" },
                { data: "generacion" },
                { data: "version" },
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: 1, // inv_categoria
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.nombre + '</a>';
                    }
                },
            ];
            $('#inv_componentes_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
    {% if current_user.can_view('INV EQUIPOS FOTOS') %}
        <script>
            configDataTable['ajax']['url'] = '/inv_equipos_fotos/datatable_json';
            configDataTable['ajax']['data'] = {'estatus': "A", 'inv_equipo_id': {{ inv_equipo.id}} };
            configDataTable['columns'] = [
                { data: "detalle" },
                { data: "descripcion" },
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // categoria
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.nombre + '</a>';
                    }
                },
            ];
            $('#inv_equipos_fotos_datatable').DataTable().destroy();
            $('#inv_equipos_fotos_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
{% endblock %}
