{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Equipos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Equipo: N° ' + equipo.numero_inventario | string) %}
        {{ topbar.button_previous('Equipos', url_for('inv_equipos.list_active')) }}
        {% if current_user.can_insert('INV EQUIPOS FOTOS') %}
            {{ topbar.button('Subir Foto', url_for('inv_equipos_fotos.new', equipo_id=equipo.id)) }}
        {% endif %}
        {% if current_user.can_edit('INV EQUIPOS') %}
            {{ topbar.button_edit('Editar', url_for('inv_equipos.edit', equipo_id=equipo.id)) }}
            {% if equipo.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('inv_equipos.delete', equipo_id=equipo.id)) }}{% endif %}
            {% if equipo.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('inv_equipos.recover', equipo_id=equipo.id)) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('INV COMPONENTES') %}
            {{ topbar.button_new('Agregar componentes', url_for('inv_componentes.new', equipo_id=equipo.id)) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=equipo.estatus) %}
        {{ detail.label_value('Modelo', equipo.modelo.descripcion) }}
        {{ detail.label_value('Nombre Red', equipo.red.nombre) }}
        {{ detail.label_value('Número Inventario', equipo.numero_inventario) }}
        {{ detail.label_value('Número serie', equipo.numero_serie) }}
        {{ detail.label_value('Adquisicion Fecha', equipo.adquisicion_fecha) }}
        {{ detail.label_value('Descripción', equipo.descripcion) }}
        {{ detail.label_value('Dirección IP', equipo.direccion_ip) }}
        {{ detail.label_value('Dirección MAC', equipo.direccion_mac) }}
        {{ detail.label_value('Número nodo', equipo.numero_nodo) }}
        {{ detail.label_value('Número switch', equipo.numero_switch) }}
        {{ detail.label_value('Número puerto', equipo.numero_puerto) }}
    {% endcall %}
    {% if componentes %}
        {% call detail.card(title='Componentes') %}
            <table id="inv_componentes_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Descripciones</th>
                        <th>Cantidad</th>
                        <th>Version</th>
                    </tr>
                </thead>
                <tbody>
                    {% for componente in componentes %}
                        {% if componente.estatus == "A" %}
                        <tr>
                            <td><a href="{{ url_for('inv_componentes.detail', componente_id=componente.id) }}">{{ componente.descripcion }}</a></td>
                            <td>{{ componente.cantidad }}</td>
                            <td>{{ componente.version }}</td> 
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('INV EQUIPOS') %}
        {% if equipo.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + equipo.descripcion + '?') }}{% endif %}
        {% if equipo.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + equipo.descripcion + '?') }}{% endif %}
    {% endif %}
{% endblock %}
