{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Equipos{% endblock %}

{% block custom_head %}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Equipo ' + inv_equipo.id | string) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'inv_equipo_id': inv_equipo.id} %}
        {% call f.form_tag('inv_equipos.edit', fid='equipo_id_form', **form_kwargs) %}
            {% call f.form_group(form.custodia, readonly=true) %}{% endcall %}
            {% call f.form_group(form.email, readonly=true) %}{% endcall %}
            {% call f.form_group(form.oficina, readonly=true) %}{% endcall %}
            {% call f.form_group(form.puesto, readonly=true) %}{% endcall %}
            {% call f.form_group(form.inv_modelo) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.adquisicion_fecha) %}{% endcall %}
            {% call f.form_group(form.numero_serie) %}{% endcall %}
            {% call f.form_group(form.numero_inventario) %}{% endcall %}
            {% call f.form_group(form.inv_red) %}{% endcall %}
            {% call f.form_group(form.direccion_ip) %}{% endcall %}
            {% call f.form_group(form.direccion_mac) %}{% endcall %}
            {% call f.form_group(form.numero_nodo) %}{% endcall %}
            {% call f.form_group(form.numero_switch) %}{% endcall %}
            {% call f.form_group(form.numero_puerto) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Select2 bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#inv_red').addClass('js-example-placeholder-single js-states form-control');
            $('#inv_modelo').addClass('js-example-placeholder-single js-states form-control');
            $('#inv_modelo').each(function() {
                if($(this).text() == '{{inv_equipo.inv_modelo}}') {
                    $("#inv_modelo").val( $(this).val() );
                }
            });
            $('#inv_red').each(function() {
                if($(this).text() == '{{inv_equipo.inv_red}}') {
                    $("#inv_red").val( $(this).val() );
                }
            });
            $(".js-example-placeholder-single").select2({
                placeholder: "Selecciona campo",
                allowClear: true,
            });
        });
    </script>
{% endblock%}
