{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Equipos{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Equipo: ' + equipo.numero_inventario | string) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'equipo_id': equipo.id} %}
        {% call f.form_tag('inv_equipos.edit', fid='equipo_id_form', **form_kwargs) %}
            {% call f.form_group(form.modelo) %}{% endcall %}
            {% call f.form_group(form.nombre_red) %}{% endcall %}
            {% call f.form_group(form.adquisicion_fecha) %}{% endcall %}
            {% call f.form_group(form.numero_serie) %}{% endcall %}
            {% call f.form_group(form.numero_inventario) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.direccion_ip) %}{% endcall %}
            {% call f.form_group(form.direccion_mac) %}{% endcall %}
            {% call f.form_group(form.numero_nodo) %}{% endcall %}
            {% call f.form_group(form.numero_switch) %}{% endcall %}
            {% call f.form_group(form.numero_puerto) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
