{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Buscar Equipos{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Buscar Equipos') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('inv_equipos.search', fid='equipo_search_form') %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.numero_serie) %}{% endcall %}
            {% call f.form_group(form.adquisicion_fecha) %}{% endcall %}
            {{ form.buscar() }}
        {% endcall %}
    {% endcall %}
{% endblock %}
