{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Delito Generico{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + repsvm_delito_generico.nombre) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'repsvm_delito_generico_id': repsvm_delito_generico.id} %}
        {% call f.form_tag('repsvm_delitos_genericos.edit', fid='repsvm_delito_generico_form', **form_kwargs) %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
