{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}REPSVM Delitos Genericos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('REPSVM AGRESORES') %}
            {{ topbar.button('Agresores', url_for('repsvm_agresores.list_active'), 'mdi:account-cancel') }}
        {% endif %}
        {% if current_user.can_view('REPSVM DELITOS ESPECIFICOS') %}
            {{ topbar.button('D. Especificos', url_for('repsvm_delitos_especificos.list_active'), 'mdi:label-multiple') }}
        {% endif %}
        {% if current_user.can_view('REPSVM TIPOS SENTENCIAS') %}
            {{ topbar.button('T. Sentencias', url_for('repsvm_tipos_sentencias.list_active'), 'mdi:bookshelf') }}
        {% endif %}
        {% if current_user.can_view('MATERIAS TIPOS JUZGADOS') %}
            {{ topbar.button('T. Juzgados', url_for('materias_tipos_juzgados.list_active'), 'mdi:gavel') }}
        {% endif %}
        {% if current_user.can_edit('REPSVM DELITOS GENERICOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('repsvm_delitos_genericos.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('repsvm_delitos_genericos.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('REPSVM DELITOS GENERICOS') %}
            {{ topbar.button_new('Nuevo Delito Generico', url_for('repsvm_delitos_genericos.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="repsvm_delitos_genericos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for repsvm_delito_generico in repsvm_delitos_genericos %}
                <tr>
                    <td><a href="{{ url_for('repsvm_delitos_genericos.detail', repsvm_delito_generico_id=repsvm_delito_generico.id) }}">{{ repsvm_delito_generico.nombre }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('repsvm_delitos_genericos_datatable') }}
{% endblock %}
