{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Registro{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Registro') %}
        {{ topbar.button_previous('Registros', url_for('est_informes_registros.list_active')) }}
        {# if current_user.can_admin('ESTADISTICAS INFORMES REGISTROS') %}
            {{ topbar.button_edit('Editar', url_for('est_informes_registros.edit', est_informe_registro_id=est_informe_registro.id)) }}
            {% if est_informe_registro.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('est_informes_registros.delete', est_informe_registro_id=est_informe_registro.id)) }}{% endif %}
            {% if est_informe_registro.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('est_informes_registros.recover', est_informe_registro_id=est_informe_registro.id)) }}{% endif %}
        {% endif #}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=est_informe_registro.estatus) %}
        {{ detail.label_value_big('Registro ID', est_informe_registro.id) }}
        {{ detail.label_value('Informe ID', est_informe_registro.est_informe_id) }}
        {{ detail.label_value('Variable ID', est_informe_registro.est_variable_id) }}
        {{ detail.label_value('Cantidad', est_informe_registro.cantidad) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {# if current_user.can_admin('ESTADISTICAS INFORMES REGISTROS') %}
        {% if est_informe_registro.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + est_informe_registro.id + '?') }}{% endif %}
        {% if est_informe_registro.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + est_informe_registro.id + '?') }}{% endif %}
    {% endif #}
    {{ detail.moment_js(moment) }}
{% endblock %}
