{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Documento Anexo en Remesa{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Documento Anexo en Remesa ' + remesa.id | string + ' - ' + arc_remesa_documento.id | string ) %}
        {{ topbar.button_previous('Remesa', url_for('arc_remesas.detail', remesa_id=remesa.id)) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {# Detalle del Documento Anexo a la Remesa #}
    {% call detail.card('Detalles del Documento Anexo a la Remesa') %}
        {{ detail.label_value('Añadido', moment(arc_remesa_documento.creado).format('llll')) }}
        {{ detail.label_value('Última Actualización', moment(arc_remesa_documento.modificado).format('llll')) }}
        {{ detail.label_value('Fojas', arc_remesa_documento.fojas) }}
        {{ detail.label_value('Tipo', arc_remesa_documento.tipo) }}
        {{ detail.label_value('Tiene Anomalías', arc_remesa_documento.tiene_anomalia) }}
    {% endcall %}
    {# Observaciones #}
    {% if arc_remesa_documento.observaciones %}
        <div class="card mb-3">
            <div class="card-header bg-warning text-dark" style="font-weight: bold;">Observaciones del Archivador</div>
            <div class="card-body" style="background-color: #fff3cd;">
                <textarea class="form-control" style="height: 100px;" disabled>{{ arc_remesa_documento.observaciones }}</textarea>
            </div>
        </div>
    {% endif %}
    {# Detalle de la Remesa #}
    {% call detail.card('Detalles de la Remesa') %}
        {{ detail.label_value('Creado', moment(remesa.creado).format('llll')) }}
        {{ detail.label_value('Última Actualización', moment(remesa.modificado).format('llll')) }}
        {{ detail.label_value('Juzgado', remesa.autoridad.clave + ' : ' + remesa.autoridad.descripcion_corta, url_for('autoridades.detail', autoridad_id=remesa.autoridad_id)) }}
        {{ detail.label_value('Año', remesa.anio) }}
        {{ detail.label_value('Número de Oficio', remesa.num_oficio) }}
        {{ detail.label_value('Estado', remesa.estado) }}
        {{ detail.label_value('Observaciones', remesa.observaciones) }}
    {% endcall %}
    {# Detalle del Documento #}
    {% call detail.card('Detalles del Documento') %}
        {{ detail.label_value('Núm. Expediente', documento.expediente, url_for("arc_documentos.detail", documento_id=documento.id)) }}
        {{ detail.label_value('Año', documento.anio) }}
        <hr>
        {{ detail.label_value('Actor', documento.actor) }}
        {{ detail.label_value('Demandado', documento.demandado) }}
        <hr>
        {{ detail.label_value('Juicio', documento.juicio) }}
        {{ detail.label_value('Tipo', documento.tipo) }}
        {{ detail.label_value('Tipo de Juzgado', documento.tipo_juzgado) }}
        {{ detail.label_value('Fojas', documento.fojas) }}
        {{ detail.label_value('Ubicacion', documento.ubicacion) }}
    {% endcall %}
    {# Formulario de Archivamiento #}
    {% if mostrar_secciones["archivar"] %}
        <div class="card mb-3">
            <div class="card-header bg-primary text-light" style="font-weight: bold;">Archivar</div>
            <div class="card-body" style="background-color: #cfe2ff;">
                {% set form_kwargs = {'arc_remesa_documento_id': arc_remesa_documento.id} %}
                {% call f.form_tag('arc_remesas_documentos.archive', fid='remesa_documento_form', **form_kwargs) %}
                    {% call f.form_group(form.fojas) %}{% endcall %}
                    {% call f.form_group(form.observaciones) %}{% endcall %}
                    {% call f.form_group(form.archivar) %}{% endcall %}
                {% endcall %}
            </div>
        </div>        
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
{% endblock %}