{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Modulos Favoritos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="modulos_favoritos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Icono</th>
                    <th>Nombre en Menú</th>
                    <th>Nombre Clave</th>
                    <th>Estatus</th>
                </tr>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/modulos_favoritos/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'icono' },
            { data: 'nombre_corto' },
            { data: 'detalle' },
            { data: 'toggle_estatus' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // icono
                data: null,
                render: function(data, type, row, meta) {
                    return '<span class="iconify" data-icon="' + data + '" style="font-size: 1.4em"></span>';
                }
            },
            {
                targets: 2, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.nombre + '</a>';
                }
            },
            {
                targets: 3, // Boton toggle estatus
                data: null,
                render: function(data, type, row, meta) {
                    myId = 'estatus' + data.id;
                    myOnClick = "toggleEstatus('#" + myId + "', '" + data.url + "')";
                    if (data.estatus === 'A') {
                        return '<button id="' + myId + '" type="button" class="btn btn-sm btn-outline-primary" onclick="' + myOnClick + '"><span class="iconify" data-icon="mdi:toggle-switch"></span></button>';
                    } else {
                        return '<button id="' + myId + '" type="button" class="btn btn-sm btn-light" onclick="' + myOnClick + '"><span class="iconify" data-icon="mdi:toggle-switch-off"></span></button>';
                    }
                }
            }
        ];
        $('#modulos_favoritos_datatable').DataTable(configDataTable);

        // Preparar headers para POST
        const myHeaders = new Headers();
        myHeaders.append("X-CSRF-TOKEN", "{{ csrf_token() }}");
        const myInit = {
            method: 'POST',
            headers: myHeaders,
            mode: 'cors',
            cache: 'default'
        };

        // Boton toggle estatus
        function toggleEstatus(id, url) {
            $(id).prop("disabled", true); // Deshabilitar boton para evitar multiples clicks
            fetch(url, myInit)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        if (data.estatus === 'A') {
                            $(id).removeClass('btn-light');
                            $(id).addClass('btn-outline-primary'); // Color azul
                            $(id).html('<span class="iconify" data-icon="mdi:toggle-switch"></span>'); // Icono toggle-switch
                        } else {
                            $(id).removeClass('btn-outline-primary');
                            $(id).addClass('btn-light'); // Color gris
                            $(id).html('<span class="iconify" data-icon="mdi:toggle-switch-off"></span>'); // Icono toggle-switch-off
                        }
                        console.log(data.message);
                    } else {
                        console.log(data.message);
                    }
                    $(id).prop("disabled", false); // Habilitar boton
                })
                .catch(error => {
                    console.log(error);
                });
        }
    </script>
{% endblock %}
