/*
 * Select2
 */

/* --- Select2 para filtros --- */

.js-select2-filter + .select2-container .select2-selection--single {
  height: 58px;
  border: 1px solid #ced4da;
}

.js-select2-filter
  + .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 71px;
  font-size: 1rem;
  margin-left: 2px;
}

.js-select2-filter + .select2-selection--single {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

.js-select2-filter + .select2-selection__arrow,
.js-select2-filter + .select2-selection__clear {
  visibility: hidden;
}

/* --- Select2 para formularios normales --- */

.select2-container .select2-selection--single {
  height: 39px;
  border: 1px solid #ced4da;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 40px;
  font-size: 1rem;
  margin-left: -10px;
}
