{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Expediente{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Expediente - ' + documento.id | string ) %}
        {{ topbar.button_previous('Expedientes', url_for('arc_documentos.list_active')) }}
        {% if mostrar_secciones['boton_editar'] %}
            {{ topbar.button_edit('Editar', url_for('arc_documentos.edit', arc_documento_id=documento.id)) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {# Detalle #}
    {% call detail.card(estatus=documento.estatus) %}
        {{ detail.label_value('Núm. Expediente', documento.expediente) }}
        {{ detail.label_value('Año', documento.anio) }}
        {{ detail.label_value('Instancia', documento.autoridad.clave + ' : ' + documento.autoridad.descripcion_corta) }}
        <hr>
        {{ detail.label_value('Actor', documento.actor) }}
        {{ detail.label_value('Demandado', documento.demandado) }}
        <hr>
        {{ detail.label_value('Instancia de Origen', documento.arc_juzgado_origen.nombre) }}
        {{ detail.label_value('Juicio', documento.juicio) }}
        {{ detail.label_value('Tipo', documento.arc_documento_tipo.nombre) }}
        {{ detail.label_value('Tipo de Instancia', documento.tipo_juzgado) }}
        <hr>
        {{ detail.label_value('Fojas', documento.fojas) }}
        <div class="row">
            <div class="col-md-3 text-end">Ubicación</div>
            <div class="col-md-9">
                {% if documento.ubicacion == "JUZGADO" %}
                    <span class="badge rounded-pill bg-info text-dark">{{ documento.ubicacion }} <span class="iconify" data-icon="mdi:gavel"></span></span>
                {% elif documento.ubicacion == "NO DEFINIDO" %}
                    <span class="badge rounded-pill bg-danger">{{ documento.ubicacion }} <span class="iconify" data-icon="mdi:close-octagon"></span></span>
                {% elif documento.ubicacion == "ARCHIVO" %}
                    <span class="badge rounded-pill bg-secondary">{{ documento.ubicacion }} <span class="iconify" data-icon="mdi:archive"></span></span>
                {% elif documento.ubicacion == "REMESA" %}
                    <span class="badge rounded-pill bg-warning text-dark">{{ documento.ubicacion }} <span class="iconify" data-icon="mdi:truck"></span></span>
                {% else %}
                    <strong>{{ documento.ubicacion }}</strong>
                {% endif %}
            </div>
        </div>
    {% endcall %}
    {% if documento.notas %}
        <div class="card mb-3">
            <div class="card-header bg-warning text-dark" style="font-weight: bold;">Notas</div>
            <div class="card-body" style="background-color: #fff3cd;">
                <div class="col-md-9 text-start">{{ documento.notas }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
    {% if current_user.can_edit('ARC DOCUMENTOS') %}
        {% if documento.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar?') }}{% endif %}
        {% if documento.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar?') }}{% endif %}
    {% endif %}
{% endblock %}
