{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Expedientes{% endblock %}

{% block custom_head %}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://storage.googleapis.com/pjecz-informatica/static/css/select2.css" rel="stylesheet" />
{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('ARC DOCUMENTOS') %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('arc_documentos.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_view('ARC DOCUMENTOS TIPOS') %}
            {{ topbar.button('Tipos de Documentos', url_for('arc_documentos_tipos.list_active'), 'mdi:file-code') }}
        {% endif %}
        {% if current_user.can_insert('ARC DOCUMENTOS') %}
            {{ topbar.button_new('Nuevo Documento', url_for('arc_documentos.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Formulario de filtros -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="buscadorForm" onsubmit="buscar(); return false;">
                    <div class="col-4">
                        <div class="form-floating">
                            <input id="expedienteInput" type="text" class="form-control" aria-label="Núm. Expediente" aria-describedby="button-buscar" onchange="buscar(); return false;">
                            <label for="expedienteInput">Núm. Expediente</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <select id="juzgadoInput" class="form-control js-select2-filter" onchange="buscar(); return false;" style="text-transform: uppercase"></select>
                            <label for="juzgadoInput">Instancia</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <select class="form-select" id="tipoSelect" name="tipoSelect" aria-label="tIPO" onchange="buscar(); return false;" style="flex: inherit;">
                                <option selected value=""></option>
                                {% for tipo in tipos %}
                                    <option value="{{tipo}}">{{tipo}}</option>
                                {% endfor %}
                            </select>
                            <label for="tipoSelect">Tipo</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="form-floating">
                            <input id="partesInput" type="text" class="form-control" aria-label="text" aria-describedby="button-buscar" style="text-transform: uppercase">
                            <label for="partesInput">Partes</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <select class="form-select" id="ubicacionSelect" name="ubicacionSelect" aria-label="Todas" onchange="buscar(); return false;" style="flex: inherit;">
                                <option selected value=""></option>
                                {% for ubicacion in ubicaciones %}
                                    <option value="{{ubicacion}}">{{ubicacion}}</option>
                                {% endfor %}
                            </select>
                            <label for="ubicacionSelect">Ubicación</label>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Datatable -->
        <table id="arc_documentos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Expediente</th>
                    <th>Instancia</th>
                    <th>Tipo</th>
                    <th>Partes</th>
                    <th>Ubicación</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/arc_documentos/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'expediente' },
            { data: 'juzgado' },
            { data: 'tipo' },
            { data: 'partes' },
            { data: 'ubicacion' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // expediente
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.expediente + '</a>';
                }
            },
            {
                targets: 1, // juzgado
                data: null,
                render: function(data, type, row, meta) {
                    return '<span title="' + data.nombre + '"><a href="' + data.url + '">' + data.clave + '</span></a>';
                }
            },
            {
                targets: 3, // partes
                data: null,
                render: function(data, type, row, meta) {
                    if (data.actor.length > 24)
                        actor = '<span title="' + data.actor + '">' + data.actor.substr(0, 24) + '…' + '</span>';
                    else
                        actor = data.actor;
                    if (data.demandado.length > 24)
                        demandado = '<span title="' + data.demandado + '">' + data.demandado.substr(0, 24) + '…' + '</span>';
                    else
                        demandado = data.demandado;
                    return '<strong>Actor:</strong> ' + actor + '<br>' + '<strong>Demandado:</strong> ' + demandado;
                }
            },
            {
                targets: 4, // ubicacion
                data: null,
                render: function(data, type, row, meta) {

                    switch (data)    {
                        case "NO DEFINIDO": return '<span class="badge rounded-pill bg-danger">NO DEFINIDO <span class="iconify" data-icon="mdi:close-octagon"></span></span>';   break;
                        case "JUZGADO":     return '<span class="badge rounded-pill bg-info text-dark">JUZGADO <span class="iconify" data-icon="mdi:gavel"></span></span>';   break;
                        case "REMESA":     return '<span class="badge rounded-pill bg-warning text-dark">REMESA <span class="iconify" data-icon="mdi:truck"></span></span>';   break;
                        case "ARCHIVO":      return '<span class="badge rounded-pill bg-secondary">ARCHIVO <span class="iconify" data-icon="mdi:archive"></span></span>';   break;
                    }
                    return data;
                }
            }
        ];

        // Búsqueda
        let expediente = document.getElementById('expedienteInput').value;
        let juzgado_id = document.getElementById('juzgadoInput').value;
        let tipo = document.getElementById('tipoSelect').value;
        let partes = document.getElementById('partesInput').value.toUpperCase();
        let ubicacion = document.getElementById('ubicacionSelect').value;

        if(expediente != '')
            configDataTable['ajax']['data']['expediente'] = expediente;
        if(juzgado_id != '')
            configDataTable['ajax']['data']['juzgado_id'] = juzgado_id;
        if(tipo != '')
            configDataTable['ajax']['data']['tipo'] = tipo;
        if(partes != '')
            configDataTable['ajax']['data']['partes'] = partes;
        if(ubicacion != '')
            configDataTable['ajax']['data']['ubicacion'] = ubicacion;
        
        // Datatable
        $('#arc_documentos_datatable').DataTable(configDataTable);
    </script>
    <!-- Función de buscador -->
    <script type="text/javascript">
        function buscar() {
            let expediente = document.getElementById('expedienteInput').value;
            let juzgado_id = document.getElementById('juzgadoInput').value;
            let tipo = document.getElementById('tipoSelect').value;
            let partes = document.getElementById('partesInput').value.toUpperCase();
            let ubicacion = document.getElementById('ubicacionSelect').value;

            if( configDataTable['ajax']['data']['expediente'] === undefined && expediente === '' &&
                configDataTable['ajax']['data']['juzgado_id'] === undefined && juzgado_id === '' &&
                configDataTable['ajax']['data']['tipo'] === undefined && tipo === '' &&
                configDataTable['ajax']['data']['partes'] === undefined && partes === '' &&
                configDataTable['ajax']['data']['ubicacion'] === undefined && ubicacion === ''
            ) return false;

            $('#arc_documentos_datatable').DataTable().destroy();

            if(expediente == '')
                delete configDataTable['ajax']['data']['expediente'];
            else
                configDataTable['ajax']['data']['expediente'] = expediente;
            if(juzgado_id == '')
                delete configDataTable['ajax']['data']['juzgado_id'];
            else
                configDataTable['ajax']['data']['juzgado_id'] = juzgado_id;
            if(tipo == '')
                delete configDataTable['ajax']['data']['tipo'];
            else
                configDataTable['ajax']['data']['tipo'] = tipo;
            if(partes == '')
                delete configDataTable['ajax']['data']['partes'];
            else
                configDataTable['ajax']['data']['partes'] = partes;
            if(ubicacion == '')
                delete configDataTable['ajax']['data']['ubicacion'];
            else
                configDataTable['ajax']['data']['ubicacion'] = ubicacion;

            $('#arc_documentos_datatable').DataTable(configDataTable);
        };

        function limpiar()  {
            if( configDataTable['ajax']['data']['expediente'] === undefined &&
                configDataTable['ajax']['data']['juzgado_id'] === undefined &&
                configDataTable['ajax']['data']['tipo'] === undefined &&
                configDataTable['ajax']['data']['partes'] === undefined &&
                configDataTable['ajax']['data']['ubicacion'] === undefined
            ) return false;
            
            delete configDataTable['ajax']['data']['expediente'];
            delete configDataTable['ajax']['data']['juzgado_id'];
            delete configDataTable['ajax']['data']['tipo'];
            delete configDataTable['ajax']['data']['partes'];
            delete configDataTable['ajax']['data']['ubicacion'];

            document.getElementById('juzgadoInput').textContent = '';
            document.getElementById('juzgadoInput').options[0] = null;

            $('#arc_documentos_datatable').DataTable().destroy();
            $('#arc_documentos_datatable').DataTable(configDataTable);
        };
    </script>
    <!-- Select2 bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#juzgadoInput').select2({
                // --- Carga de juzgados por Ajax --- //
                ajax: {
                    url: '/autoridades/juzgados_json',
                    headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                    dataType: 'json',
                    delay: 250,
                    type: "POST",
                    data: function (params) {
                        return { 'clave': params.term.toUpperCase(), "es_archivo_solicitante": true };
                    }
                },
                minimumInputLength: 3,
                cache: false
            });
        });
    </script>
{% endblock %}
