{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Documento{% endblock %}

{% block custom_head %}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Documento') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('arc_documentos.new', fid='documento_form') %}
            {% call f.form_group(form.num_expediente) %}{% endcall %}
            {% call f.form_group(form.anio) %}{% endcall %}
            {% call f.form_group(form.juzgado_id) %}{% endcall %}
            {% call f.form_group(form.actor) %}{% endcall %}
            {% call f.form_group(form.demandado) %}{% endcall %}
            {% call f.form_group(form.juicio) %}{% endcall %}
            {% call f.form_group(form.tipo_juzgado) %}{% endcall %}
            {% call f.form_group(form.juzgado_origen) %}{% endcall %}
            {% call f.form_group(form.tipo) %}{% endcall %}
            {% call f.form_group(form.ubicacion) %}{% endcall %}
            <hr>
            {% call f.form_group(form.fojas) %}{% endcall %}
            {% call f.form_group(form.observaciones) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Select2 bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#juzgado_id').addClass('js-example-placeholder-single js-states form-control');
            $("#juzgado_id").prop("selectedIndex", -1); // Poner en blanco el select
            $(".js-example-placeholder-single").select2({
                // --- Carga de emails por Ajax --- //
                ajax: {
                    url: '/autoridades/list_por_tipo_json/juzgado',
                    headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                    dataType: 'json',
                    delay: 250,
                    type: "POST",
                    data: function (params) {
                        return { 'searchString': params.term.toUpperCase() };
                    }
                },
                placeholder: "{{buscar}}",
                minimumInputLength: 3,
                allowClear: true
            });
        });
    </script>
{% endblock %}