{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Documento{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Documento') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('arc_documentos.new', fid='documento_form') %}
            {% call f.form_group(form.num_expediente) %}{% endcall %}
            {% call f.form_group(form.anio) %}{% endcall %}
            {% call f.form_group(form.actor) %}{% endcall %}
            {% call f.form_group(form.demandado) %}{% endcall %}
            {% call f.form_group(form.juicio) %}{% endcall %}
            {% call f.form_group(form.tipo_juzgado) %}{% endcall %}
            {% call f.form_group(form.num_expediente_reasignado) %}{% endcall %}
            {% call f.form_group(form.juzgado_reasignado) %}{% endcall %}
            {% call f.form_group(form.tipo) %}{% endcall %}
            {% call f.form_group(form.ubicacion) %}{% endcall %}
            <hr>
            {% call f.form_group(form.fojas) %}{% endcall %}
            {% call f.form_group(form.observaciones) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
