{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Red{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Red ' + inv_red.nombre) %}
        {{ topbar.button_previous('Redes', url_for('inv_redes.list_active')) }}
        {% if current_user.can_edit('INV REDES') %}
            {{ topbar.button_edit('Editar', url_for('inv_redes.edit', inv_red_id=inv_red.id)) }}
            {% if inv_red.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('inv_redes.delete', inv_red_id=inv_red.id)) }}{% endif %}
            {% if inv_red.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('inv_redes.recover', inv_red_id=inv_red.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=inv_red.estatus) %}
        {{ detail.label_value('Nombre', inv_red.nombre) }}
        {{ detail.label_value('Tipo', inv_red.tipo) }}
    {% endcall %}
    {% if current_user.can_view('INV EQUIPOS') %}
        {% call detail.card('Equipos') %}
            <table id="inv_equipos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha de fabricación</th>
                        <th>Tipo de equipo</th>
                        <th>Marca</th>
                        <th>Descripción</th>
                        <th>Número de serie</th>
                        <th>Dirección ip</th>
                        <th>Dirección mac</th>
                        <th>Nombre completo en la custodia</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('INV REDES') %}
        {% if inv_red.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + inv_red.nombre + '?') }}{% endif %}
        {% if inv_red.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + inv_red.nombre + '?') }}{% endif %}
    {% endif %}
    {{ detail.config_datatable() }}
    {% if current_user.can_view('INV EQUIPOS') %}
        <script>
            configDataTable['ajax']['url'] = '/inv_equipos/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'inv_red_id': {{ inv_red.id}} };
            configDataTable['columns'] = [
                { data: "detalle" },
                { data: "fecha_fabricacion" },
                { data: "tipo" },
                { data: "inv_marca" },
                { data: "descripcion" },
                { data: "numero_serie" },
                { data: "direccion_ip" },
                { data: "direccion_mac" },
                { data: "nombre_completo" },
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: [0], // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: [3], // inv_marca
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.nombre + '</a>';
                    }
                },
                {
                    targets: 4, // descripción del equipo
                    data: null,
                    render: function(data, type, row, meta){
                        if(data.length > 16){
                            return '<span title="' + data + '">' + data.substr(0, 16) + '…' + '</span>';
                        }
                        return data;
                    }
                },
            ];
            $('#inv_equipos_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
{% endblock %}
