{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Redes{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Red:  ' + red.nombre) %}
        {{ topbar.button_previous('Redes', url_for('inv_redes.list_active')) }}
        {% if current_user.can_edit('INV REDES') %}
            {{ topbar.button_edit('Editar', url_for('inv_redes.edit', red_id=red.id)) }}
            {% if red.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('inv_redes.delete', red_id=red.id)) }}{% endif %}
            {% if red.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('inv_redes.recover', red_id=red.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card() %}
        {{ detail.label_value('Nombre', red.nombre) }}
        {{ detail.label_value('Tipo', red.tipo) }}
    {% endcall %}
    {% if current_user.can_view('INV EQUIPOS') %}
        {% call detail.card('Equipos') %}
            <table id="inv_equipos_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha adquisición</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Descripción</th>
                        <th>Usuario</th> 
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('INV REDES') %}
        {% if red.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + red.nombre + '?') }}{% endif %}
        {% if red.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + red.nombre + '?') }}{% endif %}
    {% endif %}
    {{ detail.config_datatable() }}
    {% if current_user.can_view('INV EQUIPOS') %}
        <script>
            configDataTable['ajax']['url'] = '/inv_equipos/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'red_id': {{ red.id}} };
            configDataTable['columns'] = [
                { data: "id" },
                { data: "adquisicion_fecha" },
                { data: "marca" },
                { data: "modelo" },
                { data: "descripcion" },
                { data: "usuario" },
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: [0], // id
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.equipo_id + '</a>';
                    }
                },
                {
                    targets: [2,3], // marca, modelo
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.nombre + '</a>';
                    }
                },
                {
                    targets: 5, //usuario
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.nombre_completo + '</a>';
                    }
                },
            ];
            $('#inv_equipos_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
{% endblock %}