{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Redes{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_previous('Inventarios', url_for('inv_inventarios.list_active')) }}
        {% if current_user.can_edit('INV REDES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('inv_redes.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('inv_redes.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('INV REDES') %}
            {{ topbar.button_new('Nueva Red', url_for('inv_redes.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="inv_redes_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for red in redes %}
                <tr>
                    <td><a href="{{ url_for('inv_redes.detail', red_id=red.id) }}">{{ red.tipo }}</a></td>
                    <td>{{ red.nombre }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('inv_redes_datatable') }}
{% endblock %}
