{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/form_inline.jinja2' as f with context %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/tabs.jinja2' as tabs %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Soporte Ticket{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Ticket: ' + soporte_ticket.id | string) %}
        {# Botones para listados #}
        {% if soporte_ticket.estado == 'CANCELADO' %}
            {{ topbar.button_previous('Tickets cancelados', url_for('soportes_tickets.list_cancel')) }}
        {% elif soporte_ticket.estado == 'CERRADO' %}
            {{ topbar.button_previous('Tickets cerrados', url_for('soportes_tickets.list_closed')) }}
        {% elif soporte_ticket.estado == 'PENDIENTE' %}
            {{ topbar.button_previous('Tickets pendientes', url_for('soportes_tickets.list_pending')) }}
        {% elif soporte_ticket.estado == 'TERMINADO' %}
            {{ topbar.button_previous('Tickets terminados', url_for('soportes_tickets.list_done')) }}
        {% elif soporte_ticket.estado == 'TRABAJANDO' %}
            {{ topbar.button_previous('Tickets trabajando', url_for('soportes_tickets.list_working')) }}
        {% else %}
            {{ topbar.button_previous('Tickets', url_for('soportes_tickets.list_active')) }}
        {% endif %}
        {# Boton editar #}
        {% if current_user.can_edit('SOPORTES TICKETS') and soporte_ticket.estado in ('SIN ATENDER', 'TRABAJANDO')  %}
            {{ topbar.button_edit('Editar', url_for('soportes_tickets.edit', soporte_ticket_id=soporte_ticket.id)) }}
        {% endif %}
        {# Botones para cambiar el estado #}
        {% if funcionario and current_user.can_edit('SOPORTES TICKETS') %}
            {# Es funcionario de soporte #}
            {% if soporte_ticket.estado == 'SIN ATENDER' %}
                {{ topbar.button_primary('Tomar', url_for('soportes_tickets.take', soporte_ticket_id=soporte_ticket.id), 'mdi:hand-back-right') }}
                {{ topbar.button_primary('Categorizar', url_for('soportes_tickets.categorize', soporte_ticket_id=soporte_ticket.id), 'mdi:order-bool-descending') }}
                {{ topbar.button_primary('Cerrar', url_for('soportes_tickets.close', soporte_ticket_id=soporte_ticket.id), 'mdi:alert-octagon') }}
            {% elif soporte_ticket.estado == 'TRABAJANDO' %}
                {{ topbar.button_primary('Resolver', url_for('soportes_tickets.done', soporte_ticket_id=soporte_ticket.id), 'mdi:check') }}
                {{ modals.button_modal('Soltar', url_for('soportes_tickets.release', soporte_ticket_id=soporte_ticket.id), 'soltar', 'mdi:stop-circle-outline', '¿Deseas soltar el Ticket?') }}
                {{ topbar.button_primary('Cerrar', url_for('soportes_tickets.close', soporte_ticket_id=soporte_ticket.id), 'mdi:alert-octagon') }}
            {% elif soporte_ticket.estado in ('SIN ATENDER', 'TRABAJANDO') %}
                {{ modals.button_modal('Pendiente', url_for('soportes_tickets.pending', soporte_ticket_id=soporte_ticket.id), 'pendiente', 'mdi:message-alert', '¿Deseas marcar este Ticket como Pendiente?') }}
            {% elif soporte_ticket.estado in ('PENDIENTE') %}
                {{ topbar.button_primary('Tomar', url_for('soportes_tickets.take', soporte_ticket_id=soporte_ticket.id), 'mdi:hand-back-right') }}
            {% endif %}
        {% else %}
            {# Es usuario #}
            {% if soporte_ticket.estado == 'SIN ATENDER' %}
                {{ modals.button_modal('Cancelar', url_for('soportes_tickets.cancel', soporte_ticket_id=soporte_ticket.id), 'cancelar', 'mdi:cancel', '¿Desea cancelar el ticket?') }}
            {% endif %}
        {% endif %}
        {# Botones eliminar y recuperar #}
        {% if current_user.can_admin('SOPORTES TICKETS') %}
            {% if soporte_ticket.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('soportes_tickets.delete', soporte_ticket_id=soporte_ticket.id)) }}{% endif %}
            {% if soporte_ticket.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('soportes_tickets.recover', soporte_ticket_id=soporte_ticket.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call tabs.header() %}
        {{ tabs.button('detalles-tab', 'tab_detalles', 'Detalle', 'active') }}
        {{ tabs.button('equipos-tab', 'tab_equipos', 'Equipos') }}
        {{ tabs.button('archivo-adjunto-tab', 'tab_archivo_adjunto', 'Archivos adjuntos') }}
    {% endcall %}
    {% call tabs.content() %}
        {% call tabs.div_content('tab_detalles', 'detalles-tab', 'active') %}
            {% call detail.card(estatus=soporte_ticket.estatus) %}
                <div id="estado">
                    {{ detail.label_value_big('Estado', soporte_ticket.estado) }}
                </div>
                <div class="fs-5">
                    {{ detail.label_value('Descripción', soporte_ticket.descripcion) }}
                </div>
                {{ detail.label_value('Creado', moment(soporte_ticket.creado).format('llll')) }}
                {% if current_user.can_view('USUARIOS') %}
                    {{ detail.label_value('Usuario', soporte_ticket.usuario.nombre, url_for('usuarios.detail', usuario_id=soporte_ticket.usuario_id)) }}
                {% else %}
                    {{ detail.label_value('Usuario', soporte_ticket.usuario.nombre) }}
                {% endif %}
                {% if current_user.can_view('OFICINAS') %}
                    {{ detail.label_value('Oficina', soporte_ticket.usuario.oficina.clave_nombre, url_for('oficinas.detail', oficina_id=soporte_ticket.usuario.oficina_id)) }}
                {% else %}
                    {{ detail.label_value('Oficina', soporte_ticket.usuario.oficina.clave_nombre) }}
                {% endif %}
                {% if current_user.can_view('SOPORTES CATEGORIAS') %}
                    {{ detail.label_value('Categoría', soporte_ticket.soporte_categoria.nombre, url_for('soportes_categorias.detail', soporte_categoria_id=soporte_ticket.soporte_categoria_id)) }}
                {% else %}
                    {{ detail.label_value('Categoría', soporte_ticket.soporte_categoria.nombre) }}
                {% endif %}
                {% if soporte_ticket.funcionario_id != 1 %}
                    {% if current_user.can_view('FUNCIONARIOS') %}
                        {{ detail.label_value('Técnico', soporte_ticket.funcionario.nombre, url_for('funcionarios.detail', funcionario_id=soporte_ticket.funcionario_id)) }}
                    {% else %}
                        {{ detail.label_value('Técnico', soporte_ticket.funcionario.nombre) }}
                    {% endif %}
                {% endif %}
                {% if soporte_ticket.estado in ('CERRADO', 'TERMINADO') %}
                    {{ detail.label_value('Resolución', moment(soporte_ticket.resolucion).format('llll')) }}
                {% endif %}
                <div class="fs-5">
                    {{ detail.label_value('Respuesta/Solucion', soporte_ticket.soluciones) }}
                </div>
            {% endcall %}
        {% endcall %}
        {% call tabs.div_content('tab_equipos', 'equipos-tab') %}
                {% call detail.card('Equipos' ) %}
                    {% if current_user.can_view('INV EQUIPOS')  %}
                        <p class="mt-3"></p>
                        <table id="inv_equipos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Fecha de adquisición</th>
                                    <th>Tipo de equipo</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Descripción del equipo</th>
                                    <th>Red</th>
                                </tr>
                            </thead>
                        </table>
                    {% endif %}
                {% endcall %}
        {% endcall %}
        {% call tabs.div_content('tab_archivo_adjunto', 'archivo-adjunto-tab') %}
            {% call list.card('Archivos Adjuntos') %}
                <table id="soportes_archivos_datatable" class="table display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for archivo in archivos %}
                        <tr>
                            <td><a href="{{ url_for('soportes_adjuntos.detail', soporte_adjunto_id=archivo.id) }}">{{ archivo.archivo }}</a></td>
                            <td>{{ archivo.descripcion | truncate(48) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if soporte_ticket.estado == 'SIN ATENDER' or soporte_ticket.estado == 'TRABAJANDO' %}
                    <a href="{{ url_for('soportes_adjuntos.new', soporte_ticket_id=soporte_ticket.id) }}" class="btn btn-primary">Adjuntar Archivo</a>
                {% endif %}
            {% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
    {% if current_user.can_edit('SOPORTES TICKETS') %}
        {% if soporte_ticket.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar este ticket?') }}{% endif %}
        {% if soporte_ticket.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar este ticket?') }}{% endif %}
        {{ modals.custom_javascript('Soltar', '¿Desea soltar este ticket?', 'soltar') }}
        {{ modals.custom_javascript('Pendiente', '¿Deseas marcar como "Pendiente" este ticket?', 'pendiente') }}
        {{ modals.custom_javascript('Cancelar Ticket', '¿Deseas cancelar este ticket?', 'cancelar') }}
    {% endif %}
    {{ list.datatable('soportes_archivos_datatable') }}
    {{ detail.config_datatable() }}
    <script>
        switch ("{{ soporte_ticket.estado }}")    {
            case "SIN ATENDER": $('.card-body').css("background-color", "#fef9e7"); $('.card').css("border-color", "#7d6608"); $('#estado').css("color", "#7d6608"); break;
            case "TRABAJANDO":  $('.card-body').css("background-color", "#ebf5fb"); $('.card').css("border-color", "#154360"); $('#estado').css("color", "#154360"); break;
            case "CANCELADO":   $('.card-body').css("background-color", "#fdedec"); $('.card').css("border-color", "#641e16"); $('#estado').css("color", "#641e16"); break;
            case "PENDIENTE":   $('.card-body').css("background-color", "#f5eef8"); $('.card').css("border-color", "#4a235a"); $('#estado').css("color", "#4a235a"); break;
            case "TERMINADO":   $('.card-body').css("background-color", "#eafaf1"); $('.card').css("border-color", "#0b5345"); $('#estado').css("color", "#0b5345"); break;
            case "CERRADO":     $('.card-body').css("background-color", "#eceff1"); $('.card').css("border-color", "#546e7a"); $('#estado').css("color", "#546e7a"); break;
        }
    </script>
    <script>
        $('#archivo-adjunto-tab').on('shown.bs.tab', function(){
            console.log('archivo-adjunto-tab');
        });
    </script>
    {% if current_user.can_view('INV EQUIPOS') %}
        <script>
        $('#equipos-tab').on('shown.bs.tab', function(){
            configDataTable['ajax']['url'] = '/inv_equipos/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'usuario_id': {{ soporte_ticket.usuario.id}} };
            configDataTable['columns'] = [
                { data: "detalle" },
                { data: "adquisicion_fecha" },
                { data: "tipo" },
                { data: "inv_marca" },
                { data: "inv_modelo" },
                { data: "descripcion" },
                { data: "inv_red" },
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: [0], // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: [3,4,6], // inv_marca, inv_modelo, inv_red
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data.url == '') {
                            return data.nombre;
                        } else {
                            return '<a href="' + data.url + '">' + data.nombre + '</a>';
                        }
                    }
                },
            ];
            $('#inv_equipos_datatable').DataTable().destroy();
            $('#inv_equipos_datatable').DataTable(configDataTable);

        });
                { data: "adquisicion_fecha" },
        </script>
    {% endif %}
{% endblock %}
