{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Soporte Ticket{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(soportes_tickets.descripcion) %}
        {{ topbar.button_previous('Soportes Tickets', url_for('soportes_tickets.list_active')) }}
        {% if current_user.can_edit('SOPORTES TICKETS') %}
            {# topbar.button_edit('Editar', url_for('soportes_tickets.edit', soportes_tickets_id=soportes_tickets.id)) #}
            {# if soportes_tickets.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('soportes_tickets.delete', soportes_tickets_id=soportes_tickets.id)) }}{% endif #}
            {# if soportes_tickets.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('soportes_tickets.recover', soportes_tickets_id=soportes_tickets.id)) }}{% endif #}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=soportes_tickets.estatus) %}
        {{ detail.label_value('Descripción', soportes_tickets.descripcion) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('SOPORTES TICKETS') %}
        {# if soportes_tickets.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + soportes_tickets.descripcion + '?') }}{% endif #}
        {# if soportes_tickets.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + soportes_tickets.descripcion + '?') }}{% endif #}
    {% endif %}
{% endblock %}
