{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Soporte Ticket{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Ticket: ' + soporte_ticket.id | string) %}
        {{ topbar.button_previous('Soportes Tickets', url_for('soportes_tickets.list_active')) }}
        {% if current_user.can_admin('SOPORTES TICKETS') %}
            {{ topbar.button_edit('Editar', url_for('soportes_tickets.edit', soporte_ticket_id=soporte_ticket.id)) }}
            {{ topbar.button_danger('Cancelar', url_for('soportes_tickets.cancel', soporte_ticket_id=soporte_ticket.id), 'mdi:cancel') }}
            {# if soportes_tickets.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('soportes_tickets.delete', soportes_tickets_id=soportes_tickets.id)) }}{% endif #}
            {# if soportes_tickets.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('soportes_tickets.recover', soportes_tickets_id=soportes_tickets.id)) }}{% endif #}
        {% endif %}
        {% if current_user.can_edit('SOPORTES TICKETS') %}
            {% if soporte_ticket.estado == 'ABIERTO' %}
                {{ topbar.button_primary('Tomar', url_for('soportes_tickets.take', soporte_ticket_id=soporte_ticket.id), 'mdi:hand-back-right') }}
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=soporte_ticket.estatus) %}
        {{ detail.label_value('Creado', moment(soporte_ticket.creado).format('llll')) }}
        {{ detail.label_value('Usuario', soporte_ticket.usuario.nombre) }}
        {{ detail.label_value('Categoría', soporte_ticket.soporte_categoria.nombre) }}
        {{ detail.label_value('Estado', soporte_ticket.estado) }}
        {{ detail.label_value('Descripción del Problema', soporte_ticket.descripcion) }}
        {{ detail.label_value('Técnico', soporte_ticket.funcionario.nombre) }}
        {{ detail.label_value('Resolución', soporte_ticket.resolucion) }}
        {{ detail.label_value('Soluciones', soporte_ticket.soluciones) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('SOPORTES TICKETS') %}
        {# if soportes_tickets.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + soportes_tickets.descripcion + '?') }}{% endif #}
        {# if soportes_tickets.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + soportes_tickets.descripcion + '?') }}{% endif #}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
