{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Ticket{% endblock %}

{% block custom_head %}
    <!-- traer css para diseño del botón help-->
    <link href="{{ url_for('static', filename='css/quill.css') }}" rel="stylesheet" type="text/css"/>
    <!-- font awesom-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Ticket ' + soporte_ticket.id | string) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'soporte_ticket_id': soporte_ticket.id} %}
        {% call f.form_tag('soportes_tickets.edit', fid='soporte_ticket_form', **form_kwargs) %}
            {% call f.form_group(form.usuario, readonly=true) %}{% endcall %}
            {% call f.form_group(form.descripcion, rows=6) %}{% endcall %}
            {% call f.form_group(form.categoria, readonly=true) %}{% endcall %}
            {% call f.form_group(form.tecnico, readonly=true) %}{% endcall %}
            {% call f.form_group(form.estado, readonly=true) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{# se manda llamar el json de la ayuda  #}
{% block content_help %}
    {{ help_tickets }}
{% endblock %}
