{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Soportes Tickets{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('SOPORTES CATEGORIAS') %}
            {{ topbar.button('Categorías', url_for('soportes_categorias.list_active'), 'mdi:car-wrench') }}
        {% endif %}
        {% if current_user.can_insert('SOPORTES TICKETS') %}
            {{ topbar.button('No Resueltos', url_for('soportes_tickets.list_no_resolve'), 'mdi:pause-circle') }}
            {{ topbar.button('Terminados', url_for('soportes_tickets.list_done'), 'mdi:check-circle') }}
            {{ topbar.button('Cancelados', url_for('soportes_tickets.list_cancel'), 'mdi:close-circle') }}
            {{ topbar.button_new('Nuevo Ticket', url_for('soportes_tickets.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}

    {% call list.card('Abiertos - Categorizados') %}
        <table id="soportes_tickets_abiertos_categorizados_datatable" class="table display nowrap" style="width:100%; background-color:#fef9e7;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Oficina</th>
                    <th>Categoría</th>
                    <th>Descripción</th>
                </tr>
            </thead>
        </table>
    {% endcall %}

    <!-- Mostrar todos los abiertos a los de rol administrador -->
    {% if current_user.can_edit('SOPORTES TICKETS')%}
            {% call list.card('Abiertos - TODOS' ) %}
                <table id="soportes_tickets_abiertos_todos_datatable" class="table display nowrap" style="width:100%; background-color:#fef9e7;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Usuario</th>
                            <th>Oficina</th>
                            <th>Categoría</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                </table>
            {% endcall %}
        {% endif %}

        {% call list.card('Trabajando') %}
                <table id="soportes_tickets_trabajando_datatable" class="table display nowrap" style="width:100%; background-color:#ebf5fb;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Usuario</th>
                            <th>Oficina</th>
                            <th>Categoría</th>
                            <th>Descripción</th>
                            <th>Técnico</th>
                        </tr>
                    </thead>
                </table>
        {% endcall %}

{% endblock %}

{% block custom_javascript %}
    <!-- Refrescar esta página TODO: Cambiar a SocketIO -->
    <script> window.setTimeout(function () { window.location.reload(); }, 300000); </script>

    <script>
        // configuración general para el datatable
        let datatable_config = {
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            responsive: true,
            scrollX: true,
            ajax: {
                url: "/soportes_tickets/datatable_json",
                type: "POST",
                headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}"},
                dataType: "json",
                dataSrc: "data",
                data: ""
            },
            columns: [
                { data: "id" },
                { data: "usuario" },
                { data: "oficina" },
                { data: "categoria" },
                { data: "descripcion" },
                { data: "tecnico" }
            ],
            columnDefs: [
                {
                    targets: 0,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: 2,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<span title="' + data.nombre + '">' + data.clave + '</span>';
                    }
                },
                {
                    targets: [1, 3, 4],
                    data: null,
                    render: function(data, type, row, meta) {
                        return (data.length > 32 ? data.substr(0, 32) + '…' : data);
                    }
                }
            ],
            language: {
                lengthMenu: "Mostrar _MENU_",
                search: "Filtrar:",
                zeroRecords: "No se encontraron registros",
                info: "Total de registros _TOTAL_ ",
                infoEmpty: "No hay registros",
                infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                }
            }
        }

        // Datatables para tickets en trabajando
        datatable_config['ajax']['data'] = {{ filtros_trabajando }};
        $('#soportes_tickets_trabajando_datatable').DataTable(datatable_config);

        // Datatable para tickets abiertos por categoría
        datatable_config['columns'] = [
                { data: "id" },
                { data: "usuario" },
                { data: "oficina" },
                { data: "categoria" },
                { data: "descripcion" }
            ];
        datatable_config['ajax']['data'] = {{ filtros_abiertos_categorizados }};
        $('#soportes_tickets_abiertos_categorizados_datatable').DataTable(datatable_config);

        // Datatables para tickets abietos todos
        datatable_config['ajax']['data'] = {{ filtros_abiertos_todos }};
        $('#soportes_tickets_abiertos_todos_datatable').DataTable(datatable_config);
    </script>
{% endblock %}
