{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Tickets Abiertos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Tickets Abiertos') %}
        {% if current_user.can_view('SOPORTES CATEGORIAS') %}
            {{ topbar.button('Categorías', url_for('soportes_categorias.list_active'), 'mdi:car-wrench') }}
        {% endif %}
        {{ topbar.button_primary('Trabajando', url_for('soportes_tickets.list_working'), 'mdi:plus-circle') }}
        {{ topbar.button('No Resueltos', url_for('soportes_tickets.list_no_resolve'), 'mdi:pause-circle') }}
        {{ topbar.button('Terminados', url_for('soportes_tickets.list_done'), 'mdi:check-circle') }}
        {{ topbar.button('Cancelados', url_for('soportes_tickets.list_cancel'), 'mdi:close-circle') }}
        {% if current_user.can_insert('SOPORTES TICKETS') %}
            {{ topbar.button_new('Nuevo Ticket', url_for('soportes_tickets.new')) }}
        {% endif %}
        {{ topbar.button_search('Buscar', url_for('soportes_tickets.search')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    <div id="cercanos">
    {% call list.card('Abiertos - Cercanos') %}
        <table id="soportes_tickets_abiertos_cercanos_datatable" class="table display nowrap" style="width:100%; background-color:#fef9e7;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Oficina</th>
                    <th>Categoría</th>
                    <th>Descripción</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
    </div>
    <div id="categorizados">
    {% call list.card('Abiertos - Categorizados') %}
        <table id="soportes_tickets_abiertos_categorizados_datatable" class="table display nowrap" style="width:100%; background-color:#fef9e7;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Oficina</th>
                    <th>Categoría</th>
                    <th>Descripción</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
    </div>
    {% call list.card('Abiertos - TODOS' ) %}
        <table id="soportes_tickets_abiertos_todos_datatable" class="table display nowrap" style="width:100%; background-color:#fef9e7;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Oficina</th>
                    <th>Categoría</th>
                    <th>Descripción</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>

        // Configuración general
        let datatable_config = {
            processing: true,
            serverSide: true,
            ordering: true,
            searching: false,
            responsive: true,
            scrollX: true,
            order: [[ 0, "asc" ]],
            ajax: {
                url: "/soportes_tickets/datatable_json",
                type: "POST",
                headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}"},
                dataType: "json",
                dataSrc: "data",
                data: "" // Se define mas abajo
            },
            columns: [
                { data: "id" },
                { data: "usuario" },
                { data: "oficina" },
                { data: "categoria" },
                { data: "descripcion" },
                { data: "tecnico" }
            ],
            columnDefs: [
                {
                    targets: 0, // ID
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: [1, 3], // Usuario, Categoría
                    data: null,
                    render: function(data, type, row, meta) {
                        if(data.nombre.length > 32)
                            texto = '<span title="' + data.nombre + '">' + data.nombre.substr(0, 32) + '…' + '</span>';
                        else
                            texto = data.nombre;
                        if(data.url == '')
                            return texto;
                        else
                            return '<a href="' + data.url + '">' + texto + '</a>';
                    }
                },
                {
                    targets: 2, // Oficina
                    data: null,
                    render: function(data, type, row, meta) {
                        texto = '<span title="' + data.nombre + '">' + data.clave + '</span>';
                        if(data.url == '')
                            return texto;
                        else
                            return '<a href="' + data.url + '">' + texto + '</a>';
                    }
                },
                {
                    targets: 4,
                    data: null,
                    render: function(data, type, row, meta) {
                        if(data.length > 32)
                            return '<span title="' + data + '">' + data.substr(0, 32) + '…' + '</span>';
                        return data;
                    }
                }
            ],
            language: {
                lengthMenu: "Mostrar _MENU_",
                search: "Filtrar:",
                zeroRecords: "No se encontraron registros",
                info: "Total de registros _TOTAL_ ",
                infoEmpty: "No hay registros",
                infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                }
            }
        }

        // Datatable Tickets Abiertos - Cercanos
        datatable_config['columns'] = [
                { data: "id" },
                { data: "usuario" },
                { data: "oficina" },
                { data: "categoria" },
                { data: "descripcion" }
            ];
        datatable_config['ajax']['data'] = {
            "estatus": "A",
            "estado": "ABIERTO",
            "soportes_tickets_abiertos": "CERCANOS"
        };
        let cercanos = $('#soportes_tickets_abiertos_cercanos_datatable').DataTable(datatable_config);
        $('#soportes_tickets_abiertos_cercanos_datatable').on( 'init.dt', function () {
            if ( ! cercanos.data().count() ){
                $('#cercanos').hide();
            }
        });

        // Datatable Tickets Abiertos - Categorizados
        datatable_config['ajax']['data'] = {
            "estatus": "A",
            "estado": "ABIERTO",
            "soportes_tickets_abiertos": "CATEGORIZADOS"
        };
        let categorizados = $('#soportes_tickets_abiertos_categorizados_datatable').DataTable(datatable_config);
        $('#soportes_tickets_abiertos_categorizados_datatable').on( 'init.dt', function () {
            if ( ! categorizados.data().count() ){
                $('#categorizados').hide();
            }
        });

        // Datatable Tickets Abiertos - Todos
        datatable_config['ajax']['data'] = {
            "estatus": "A",
            "estado": "ABIERTO",
            "soportes_tickets_abiertos": "TODOS"
        };
        $('#soportes_tickets_abiertos_todos_datatable').DataTable(datatable_config);

    </script>
{% endblock %}
