{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Soportes Tickets{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('SOPORTES CATEGORIAS') %}
            {{ topbar.button('Categorías', url_for('soportes_categorias.list_active'), 'mdi:car-wrench') }}
        {% endif %}
        {% if current_user.can_insert('SOPORTES TICKETS') %}
            {{ topbar.button('No Resueltos', url_for('soportes_tickets.list_no_resolve'), 'mdi:pause-circle') }}
            {{ topbar.button('Terminados', url_for('soportes_tickets.list_done'), 'mdi:check-circle') }}
            {{ topbar.button('Cancelados', url_for('soportes_tickets.list_cancel'), 'mdi:close-circle') }}
            {{ topbar.button_new('Nuevo Ticket', url_for('soportes_tickets.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% for categoria in categorias %}
        {% call list.card('Abiertos - ' + categoria ) %}
            <table id="{{categoria.lower().replace(' ', '')}}_datatable" class="table display nowrap" style="width:100%; background-color:#fef9e7;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Oficina</th>
                        <th>Categoría</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for abierto in categorias[categoria] %}
                    <tr>
                        <td><a href="{{ url_for('soportes_tickets.detail', soporte_ticket_id=abierto.id) }}">{{ abierto.id }}</a></td>
                        <td>{{ abierto.usuario.nombre | truncate(24) }}</td>
                        <td>{{ abierto.usuario.oficina.clave }}</td>
                        <td>{{ abierto.soporte_categoria.nombre | truncate(48) }}</td>
                        <td>{{ abierto.descripcion | truncate(48) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    {% endfor %}
    <!-- Mostrar todos los abiertos a los de rol administrador -->
    {% if current_user.can_admin('SOPORTES TICKETS')%}
            {% call list.card('Abiertos - TODOS' ) %}
                <table id="soportes_tickets_abiertos_todos_datatable" class="table display nowrap" style="width:100%; background-color:#fef9e7;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Usuario</th>
                            <th>Oficina</th>
                            <th>Categoría</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for abierto in abiertos_admin %}
                        <tr>
                            <td><a href="{{ url_for('soportes_tickets.detail', soporte_ticket_id=abierto.id) }}">{{ abierto.id }}</a></td>
                            <td>{{ abierto.usuario.nombre | truncate(24) }}</td>
                            <td>{{ abierto.usuario.oficina.clave }}</td>
                            <td>{{ abierto.soporte_categoria.nombre | truncate(48) }}</td>
                            <td>{{ abierto.descripcion | truncate(48) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endcall %}
        {% endif %}
    {% if trabajados %}
        {% call list.card('Trabajando') %}
                <table id="soportes_tickets_trabajando_datatable" class="table display nowrap" style="width:100%; background-color:#ebf5fb;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Usuario</th>
                            <th>Oficina</th>
                            <th>Categoría</th>
                            <th>Descripción</th>
                            <th>Técnico</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trabajado in trabajados %}
                        <tr>
                            <td><a href="{{ url_for('soportes_tickets.detail', soporte_ticket_id=trabajado.id) }}">{{ trabajado.id }}</a></td>
                            <td>{{ trabajado.usuario.nombre | truncate(24) }}</td>
                            <td>{{ trabajado.usuario.oficina.clave }}</td>
                            <td>{{ trabajado.soporte_categoria.nombre | truncate(48) }}</td>
                            <td>{{ trabajado.descripcion | truncate(32) }}</td>
                            <td>{{ trabajado.funcionario.nombre | truncate(24) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% for categoria in categorias %}
        {{ list.datatable( categoria.lower().replace(' ', '') + "_datatable") }}
    {% endfor %}
    {{ list.datatable('soportes_tickets_abiertos_todos_datatable') }}
    {{ list.datatable('soportes_tickets_trabajando_datatable') }}
    <!-- Refrescar esta página -->
    <script> window.setTimeout(function () { window.location.reload(); }, 300000); </script>
{% endblock %}
