{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Ticket{% endblock %}

{% block custom_head %}
    <style>
        .radiobutton_inline {
            display: flex;
        }
    </style>
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Ticket') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('soportes_tickets.new', fid='soporte_tickets_form') %}
            {% call f.form_group(form.usuario, readonly=true) %}{% endcall %}
            {% call f.form_group(form.descripcion, rows=7) %}{% endcall %}
            {% call f.form_group(form.clasificacion, css_class="radiobutton_inline") %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
