{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Ticket para un usuario{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Ticket para ' + usuario.nombre) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'usuario_id': usuario.id} %}
        {% call f.form_tag('soportes_tickets.new_for_usuario', fid='soporte_ticket_form', **form_kwargs) %}
            {% call f.form_group(form.usuario, readonly=true) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.categoria) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
