{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Identidades de Géneros{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('IDENTIDADES GENEROS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('identidades_generos.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('identidades_generos.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('IDENTIDADES GENEROS') %}
            {{ topbar.button_new('Nueva Identidad de Género', url_for('identidades_generos.new')) }}
        {% endif %}
        {{ topbar.button_search('Buscar', url_for('identidades_generos.search')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="identidades_generos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Procedimiento</th>
                    <th>Nombre actual</th>
                    <th>Nombre anterior</th>
                    <th>Fecha de nacimiento</th>
                    <th>Lugar de nacimiento</th>
                    <th>Género anterior</th>
                    <th>Género actual</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/identidades_generos/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "detalle" },
            { data: "nombre_actual" },
            { data: "nombre_anterior" },
            { data: "fecha_nacimiento" },
            { data: "lugar_nacimiento" },
            { data: "genero_anterior" },
            { data: "genero_actual" }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.procedimiento + '</a>';
                }
            },
            {
                targets: 3, // fecha_nacimiento
                type: "date",
                render: function (data, type, row) {
                    return moment(data).format("DD MMM YYYY");
                }
            },
            {
                targets: [1, 2, 4], // nombre_actual, nombre_anterior, lugar_nacimiento
                data: null,
                render: function(data, type, row, meta) {
                    return data.length > 24 ? data.substr(0, 24) + '…' : data;
                }
            }
        ];
        $('#identidades_generos_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
