{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Deudor Alimentario{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Deudor Alimentario') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('redams.new', fid='redam_form') %}
            {% call f.form_group(form.distrito) %}{% endcall %}
            {% call f.form_group(form.autoridad) %}{% endcall %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.expediente) %}{% endcall %}
            {% call f.form_group(form.fecha) %}{% endcall %}
            {% call f.form_group(form.observaciones) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ f.js_select_distrito_autoridad(distritos, autoridades, mi_distrito=distrito_no_definido.id, mi_autoridad=autoridad_no_definido.id) }}
{% endblock %}
