{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Buscar REDAM{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Buscar REDAM') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('redams.search', fid='redam_search_form') %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.expediente) %}{% endcall %}
            {{ form.buscar() }}
        {% endcall %}
    {% endcall %}
{% endblock %}
