{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail with context %}

{% block title %}Ubicación de Expedientes{% endblock %}

{% block content %}
    {{ detail.page_breadcrumb('Ubicación de Expedientes') }}
    <div class="container-fluid">
        {% call detail.card() %}
            {{ detail.label_value_big('Expediente', ubicacion_expediente.expediente) }}
            {{ detail.label_value('Ubicación', ubicacion_expediente.ubicacion) }}
            {{ detail.label_value('Distrito', ubicacion_expediente.autoridad.distrito.nombre) }}
            {{ detail.label_value('Autoridad', ubicacion_expediente.autoridad.descripcion, url_for('autoridades.detail', autoridad_id=ubicacion_expediente.autoridad_id)) }}
        {% endcall %}
    </div>
{% endblock %}
