{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Editar Ubicacion de Expediente{% endblock %}

{% block content %}
    {{ f.page_breadcrumb('Editar ' + ubicacion_expediente.ubicacion) }}
        <div class="container-fluid">
        {% set form_kwargs = {'ubicacion_expediente_id': ubicacion_expediente.id} %}
        {% call f.form_tag('ubicaciones_expedientes.edit', fid='ubicacion_expediente_form', **form_kwargs) %}
            {% call f.form_group(form.ubicacion) %}{% endcall %}
            {{ form.guardar() }}
        {% endcall %}
    </div>
{% endblock %}
