{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Ubicacion de Expedientes{% endblock %}

{% block topbar_actions %}
    {{ list.topbar_option_search('Buscar', url_for('ubicaciones_expedientes.search')) }}
    {% if current_user.can_edit('ubicaciones_expedientes') %}
        {% if estatus == 'A' %}{{ list.topbar_option_list_inactive('Inactivas', url_for('ubicaciones_expedientes.list_inactive')) }}{% endif %}
        {% if estatus == 'B' %}{{ list.topbar_option_list_active('Activas', url_for('ubicaciones_expedientes.list_active')) }}{% endif %}
    {% endif %}
    {% if current_user.can_insert('ubicaciones_expedientes') %}
        {{ list.topbar_option_new('Nueva Ubicación de Expedientes', url_for('ubicaciones_expedientes.new')) }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if estatus == 'A' %}{{ list.page('Ubicación de Expedientes') }}{% endif %}
    {% if estatus == 'B' %}{{ list.page('Ubicación de Expedientes inactivos') }}{% endif %}
    <div class="container-fluid">
        {% call list.card() %}
            <table id="ubicaciones_expedientes_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %}">
                <thead>
                    <tr>
                        <th>Distrito</th>
                        <th>Autoridad</th>
                        <th>Expediente</th>
                        <th>Ubicación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ubicacion_expediente in ubicaciones_expedientes %}
                    <tr>
                        <td>{{ ubicacion_expediente.autoridad.distrito.nombre }}</td>
                        <td>{{ ubicacion_expediente.autoridad.descripcion }}</td>
                        <td>{{ubicacion_expediente.expediente}}</td>
                        <td><a href="{{ url_for('ubicaciones_expedientes.detail', ubicacion_expediente_id=ubicacion_expediente.id) }}">{{ ubicacion_expediente.ubicacion }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('ubicaciones_expedientes_datatable') }}
{% endblock %}
