{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Todas las Ubicaciones de Expedientes{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_districts('Departamentos', url_for('ubicaciones_expedientes.list_distritos')) }}
        {% if autoridad %}
            {% if current_user.can_admin('UBICACIONES EXPEDIENTES') %}
                {{ topbar.button_new('Nueva Ubicación de Expediente', url_for('ubicaciones_expedientes.new_for_autoridad', autoridad_id=autoridad.id)) }}
            {% endif %}
            {% if current_user.can_edit('UBICACIONES EXPEDIENTES') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('ubicaciones_expedientes.list_autoridad_ubicaciones_expedientes_inactive', autoridad_id=autoridad.id)) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('ubicaciones_expedientes.list_autoridad_ubicaciones_expedientes', autoridad_id=autoridad.id)) }}{% endif %}
            {% endif %}
        {% else %}
            {% if current_user.can_edit('UBICACIONES EXPEDIENTES') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivas', url_for('ubicaciones_expedientes.list_inactive')) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activas', url_for('ubicaciones_expedientes.list_active')) }}{% endif %}
            {% endif %}
        {% endif %}
        {{ topbar.button_search('Buscar', url_for('ubicaciones_expedientes.search')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="ubicaciones_expedientes_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Creados</th>
                    <th>Autoridades</th>
                    <th>Expedientes</th>
                    <th>Ubicaciones</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        $('#ubicaciones_expedientes_datatable').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            responsive: true,
            scrollX: true,
            ajax: {
                url: "/ubicaciones_expedientes/datatable_json_admin",
                type: "POST",
                headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}"},
                dataType: "json",
                dataSrc: "data",
                data: {{ filtros }}
            },
            columns: [
                { data: "creado" },
                { data: "autoridad" },
                { data: "detalle" },
                { data: "ubicacion" }
            ],
            columnDefs: [
                {
                    targets: 0,
                    type: "date",
                    render: function (data, type, row) {
                        return moment.utc(data).local().format("YYYY-MM-DD HH:mm:ss");
                    }
                },
                {
                    targets: 2,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.expediente + '</a>';
                    }
                }
            ],
            language: {
                lengthMenu: "Mostrar _MENU_",
                search: "Filtrar:",
                zeroRecords: "No se encontraron registros",
                info: "Total de registros _TOTAL_ ",
                infoEmpty: "No hay registros",
                infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                }
            }
        });
    </script>
{% endblock %}
