{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Nueva Ubicacion de Expediente{% endblock %}

{% block content %}
    {{ f.page('Nueva Ubicacion de Expediente') }}
    <div class="container-fluid">
        {% call f.card() %}
            {% call f.form_tag('ubicaciones_expedientes.new', fid='ubicacion_expediente_form') %}
                {% call f.form_group(form.distrito, readonly=true) %}{% endcall %}
                {% call f.form_group(form.autoridad, readonly=true) %}{% endcall %}
                {% call f.form_group(form.expediente) %}{% endcall %}
                {% call f.form_group(form.ubicacion) %}{% endcall %}
                {% call f.form_group(form.guardar) %}{% endcall %}
            {% endcall %}
        {% endcall %}
    </div>
{% endblock %}
