{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Inventario{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('INV INVENTARIOS') %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('inv_inventarios.list_active')) }}{% endif %}
            {{ topbar.button_primary('Equipos', url_for('inv_equipos.list_active'), 'mdi:desktop-classic') }}
            {{ topbar.button('Categorías', url_for('inv_categorias.list_active'),'mdi:car-wrench') }}
        {% endif %}
        
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="inv_inventario_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Numero inventario</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                    {% for equipo in Equipos %}
                        {% if componente.estatus == "A" %}
                        <tr>
                            <td><a href="{{ url_for('inv_componentes.detail', componente_id=componente.id) }}">{{ componente.descripcion }}</a></td>
                            
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
        </table>
    {% endcall %}
{% endblock %}

