{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Autoridad{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Autoridad') %}
        {{ topbar.button_previous('Autoridades', url_for('autoridades.list_active')) }}
        {% if current_user.can_edit('autoridades') %}
            {{ topbar.button_edit('Editar', url_for('autoridades.edit', autoridad_id=autoridad.id)) }}
            {% if autoridad.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('autoridades.delete', autoridad_id=autoridad.id)) }}{% endif %}
            {% if autoridad.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('autoridades.recover', autoridad_id=autoridad.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=autoridad.estatus) %}
        {{ detail.label_value_big('Descripción', autoridad.descripcion) }}
        {{ detail.label_value('Descripción corta', autoridad.descripcion_corta) }}
        {{ detail.label_value('Departamento', autoridad.distrito.nombre, url_for('distritos.detail', distrito_id=autoridad.distrito_id)) }}
        {{ detail.label_value('Clave', autoridad.clave) }}
        {{ detail.label_value_boolean('Es Jurisdiccional', autoridad.es_jurisdiccional) }}
        {{ detail.label_value_boolean('Es Notaría', autoridad.es_notaria) }}
        {{ detail.label_value('Órgano Jurisdiccional', autoridad.organo_jurisdiccional) }}
        {{ detail.label_value('Materia', autoridad.materia.nombre, url_for('materias.detail', materia_id=autoridad.materia_id)) }}
        {{ detail.label_value('Categoría de audiencias', autoridad.audiencia_categoria) }}
        {{ detail.label_value('Directorio para edictos', autoridad.directorio_edictos, link=url_for('edictos.list_autoridad_edictos', autoridad_id=autoridad.id)) }}
        {{ detail.label_value('Directorio para glosas', autoridad.directorio_glosas, link=url_for('glosas.list_autoridad_glosas', autoridad_id=autoridad.id)) }}
        {{ detail.label_value('Directorio para listas de acuerdos', autoridad.directorio_listas_de_acuerdos, link=url_for('listas_de_acuerdos.list_autoridad_listas_de_acuerdos', autoridad_id=autoridad.id)) }}
        {{ detail.label_value('Directorio para sentencias', autoridad.directorio_sentencias, link=url_for('sentencias.list_autoridad_sentencias', autoridad_id=autoridad.id)) }}
        {{ detail.label_value('Creado', moment(autoridad.creado).format('llll')) }}
    {% endcall %}
    {% if usuarios and current_user.can_view('usuarios') %}
        {% call detail.card('Usuarios') %}
            <table id="usuarios_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>e-mail</th>
                        <th>Nombres</th>
                        {% if current_user.can_view('roles') %}<th>Rol</th>{% endif %}
                        <th>Workspace</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td><a href="{{ url_for('usuarios.detail', usuario_id=usuario.id) }}">{{ usuario.email }}</a></td>
                        <td>{{ usuario.nombre }}</td>
                        {% if current_user.can_view('roles') %}<td>{{ usuario.rol.nombre }}</td>{% endif %}
                        <td>{{ usuario.workspace }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('autoridades') %}
        {% if autoridad.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + autoridad.descripcion + '?') }}{% endif %}
        {% if autoridad.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + autoridad.descripcion + '?') }}{% endif %}
    {% endif %}
    {{ detail.datatable('usuarios_datatable') }}
    {{ detail.moment_js(moment) }}
{% endblock %}
