{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Autoridad{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Autoridad ' + autoridad.descripcion_corta) %}
        {{ topbar.button_previous('Autoridades', url_for('autoridades.list_active')) }}
        {% if current_user.can_edit('AUTORIDADES') %}
            {{ topbar.button_edit('Editar', url_for('autoridades.edit', autoridad_id=autoridad.id)) }}
            {% if autoridad.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('autoridades.delete', autoridad_id=autoridad.id)) }}{% endif %}
            {% if autoridad.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('autoridades.recover', autoridad_id=autoridad.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {# Tarjetas #}
    <div id="tarjetas" class="row">
        {% if autoridad.estatus == 'A' and autoridad.audiencia_categoria != "NO DEFINIDO" %}
        <div id="autoridades_audiencias_container" class="col-md-6 mb-2">
            <div id="autoridades_audiencias_spinner">
                <h5>Agenda de Audiencias</h5>
                <p class="card-text"><span class="spinner-border" role="status"></span></p>
            </div>
        </div>
        {% endif %}
        {% if autoridad.estatus == 'A' and autoridad.directorio_edictos != "" %}
        <div id="autoridades_edictos_container" class="col-md-6 mb-2">
            <div id="autoridades_edictos_spinner">
                <h5>Edictos</h5>
                <p class="card-text"><span class="spinner-border" role="status"></span></p>
            </div>
        </div>
        {% endif %}
        {% if autoridad.estatus == 'A' and autoridad.directorio_listas_de_acuerdos != "" %}
        <div id="autoridades_listas_de_acuerdos_container" class="col-md-6 mb-2">
            <div id="autoridades_listas_de_acuerdos_spinner">
                <h5>Listas de Acuerdos</h5>
                <p><span class="spinner-border" role="status"></span></p>
            </div>
        </div>
        {% endif %}
        {% if autoridad.estatus == 'A' and autoridad.directorio_sentencias != "" %}
        <div id="autoridades_sentencias_container" class="col-md-6 mb-2">
            <div id="autoridades_sentencias_spinner">
                <h5>Sentencias</h5>
                <p><span class="spinner-border" role="status"></span></p>
            </div>
        </div>
        {% endif %}
    </div>
    {# Detalle #}
    {% call detail.card(estatus=autoridad.estatus) %}
        {{ detail.label_value('Clave', autoridad.clave) }}
        {% if current_user.can_view("DISTRITOS") %}
            {{ detail.label_value('Distrito', autoridad.distrito.nombre, url_for('distritos.detail', distrito_id=autoridad.distrito_id)) }}
        {% else %}
            {{ detail.label_value('Distrito', autoridad.distrito.nombre) }}
        {% endif %}
        {{ detail.label_value('Descripción', autoridad.descripcion) }}
        {{ detail.label_value('Descripción corta', autoridad.descripcion_corta) }}
        {{ detail.label_value('Órgano Jurisdiccional', autoridad.organo_jurisdiccional) }}
        {{ detail.label_value_boolean('Es Jurisdiccional', autoridad.es_jurisdiccional) }}
        {{ detail.label_value_boolean('Es Notaría', autoridad.es_notaria) }}
        {{ detail.label_value_boolean('Es revisor de escrituras', autoridad.es_revisor_escrituras) }}
        {{ detail.label_value('Materia (si es de Primera Instancia)', autoridad.materia.nombre) }}
        {{ detail.label_value('Categoría de audiencias', autoridad.audiencia_categoria) }}
        {{ detail.label_value('Directorio para edictos', autoridad.directorio_edictos) }}
        {{ detail.label_value('Directorio para glosas', autoridad.directorio_glosas) }}
        {{ detail.label_value('Directorio para listas de acuerdos', autoridad.directorio_listas_de_acuerdos) }}
        {{ detail.label_value('Directorio para sentencias', autoridad.directorio_sentencias) }}
        {{ detail.label_value('Límite días para listas de acuerdos', autoridad.limite_dias_listas_de_acuerdos) }}
        {{ detail.label_value('Creado', moment(autoridad.creado).format('llll')) }}
    {% endcall %}
    {# Usuarios de la autoridad #}
    {% if current_user.can_view('USUARIOS') %}
        {% call detail.card('Usuarios') %}
            <table id="usuarios_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>e-mail</th>
                        <th>Nombres</th>
                        <th>Puestos</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
    {# Funcionarios de la autoridad #}
    {% if current_user.can_view('AUTORIDADES FUNCIONARIOS') %}
        {% call detail.card('Funcionarios') %}
            <table id="autoridades_funcionarios_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Funcionario CURP</th>
                        <th>Funcionario nombre</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('AUTORIDADES') %}
        {% if autoridad.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + autoridad.descripcion + '?') }}{% endif %}
        {% if autoridad.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + autoridad.descripcion + '?') }}{% endif %}
    {% endif %}
    {{ detail.config_datatable() }}
    {% if current_user.can_view('USUARIOS') %}
        <script>
            configDataTable['ajax']['url'] = '/usuarios/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'autoridad_id': {{ autoridad.id}} };
            configDataTable['columns'] = [
                { data: "detalle" },
                { data: "nombre" },
                { data: "puesto" }
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.email + '</a>';
                    }
                },
                {
                    targets: [1, 2], // nombre, puesto
                    data: null,
                    render: function(data, type, row, meta) {
                        return (data.length > 32 ? data.substr(0, 32) + '…' : data);
                    }
                }
            ];
            $('#usuarios_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
    {% if current_user.can_view('AUTORIDADES FUNCIONARIOS') %}
        <script>
            configDataTable['ajax']['url'] = '/autoridades_funcionarios/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'autoridad_id': {{ autoridad.id}} };
            configDataTable['columns'] = [
                { data: "detalle" },
                { data: "funcionario" },
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: 1, // funcionario
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data.url == '') {
                            return data.nombre;
                        } else {
                            return '<a href="' + data.url + '">' + data.nombre + '</a>';
                        }
                    }
                }
            ];
            $('#autoridades_funcionarios_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
    {{ detail.moment_js(moment) }}
    <!-- Obtener informacion para las tarjetas -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/autoridades_audiencias.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/autoridades_edictos.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/autoridades_listas_de_acuerdos.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/autoridades_sentencias.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {% if autoridad.audiencia_categoria != "NO DEFINIDO" %}
            obtener_autoridades_audiencias('/autoridades/{{ autoridad.id }}/audiencias_json', '#autoridades_audiencias_container', '#autoridades_audiencias_spinner');
            {% endif %}
            {% if autoridad.directorio_edictos != "" %}
            obtener_autoridades_edictos('/autoridades/{{ autoridad.id }}/edictos_json', '#autoridades_edictos_container', '#autoridades_edictos_spinner');
            {% endif %}
            {% if autoridad.directorio_listas_de_acuerdos != "" %}
            obtener_autoridades_listas_de_acuerdos('/autoridades/{{ autoridad.id }}/listas_de_acuerdos_json', '#autoridades_listas_de_acuerdos_container', '#autoridades_listas_de_acuerdos_spinner');
            {% endif %}
            {% if autoridad.directorio_sentencias != "" %}
            obtener_autoridades_sentencias('/autoridades/{{ autoridad.id }}/sentencias_json', '#autoridades_sentencias_container', '#autoridades_sentencias_spinner');
            {% endif %}
        });
    </script>
{% endblock %}
