{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Autoridades{% endblock %}

{% block topbar_actions %}
    {% if estatus == 'A' %}{% set title='Autoridades' %}{% endif %}
    {% if estatus == 'B' %}{% set title='Autoridades inactivas' %}{% endif %}
    {% call topbar.page_buttons(title) %}
        {{ topbar.button_districts('Departamentos', url_for('distritos.list_active')) }}
        {{ topbar.button('Materias', url_for('materias.list_active'), 'mdi:tag') }}
        {{ topbar.button('Tipos de Juicios', url_for('materias_tipos_juicios.list_active'), 'mdi:label') }}
        {% if current_user.can_edit('autoridades') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivas', url_for('autoridades.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activas', url_for('autoridades.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('autoridades') %}
            {{ topbar.button_new('Nueva Autoridad', url_for('autoridades.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="autoridades_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Claves</th>
                    <th>Departamentos</th>
                    <th>Descripciones</th>
                    <th>Desc. cortas</th>
                </tr>
            </thead>
            <tbody>
                {% for autoridad in autoridades %}
                <tr>
                    <td><a href="{{ url_for('autoridades.detail', autoridad_id=autoridad.id) }}">{{ autoridad.clave }}</a></td>
                    <td>{{ autoridad.distrito.nombre_corto }}</td>
                    <td>{{ autoridad.descripcion }}</td>
                    <td>{{ autoridad.descripcion_corta }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('autoridades_datatable') }}
{% endblock %}
