{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Autoridades{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('DISTRITOS') %}
            {{ topbar.button_districts('Distritos', url_for('distritos.list_active')) }}
        {% endif %}
        {% if current_user.can_edit('AUTORIDADES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivas', url_for('autoridades.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activas', url_for('autoridades.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('AUTORIDADES') %}
            {{ topbar.button_new('Nueva Autoridad', url_for('autoridades.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="autoridades_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Claves</th>
                    <th>Distritos</th>
                    <th>Descripciones</th>
                    <th>Órganos Jurisdiccionales</th>
                    <th>Materias</th>
                </tr>
            </thead>
            <tbody>
            {% for autoridad in autoridades %}
                <tr>
                    <td><a href="{{ url_for('autoridades.detail', autoridad_id=autoridad.id) }}">{{ autoridad.clave }}</a></td>
                    <td>{{ autoridad.distrito.nombre_corto }}</td>
                    <td>{{ autoridad.descripcion|truncate(64) }}</td>
                    <td>{{ autoridad.organo_jurisdiccional }}</td>
                    <td>{{ autoridad.materia.nombre }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('autoridades_datatable') }}
{% endblock %}
