{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Autoridades{% endblock %}

{% block topbar_actions %}
    {% call list.topbar_actions() %}
        {{ list.topbar_actions_option('Buscar', url_for('autoridades.search')) }}
        {% if current_user.can_edit('autoridades') %}
            {% if estatus == 'A' %}{{ list.topbar_actions_option('Inactivos', url_for('autoridades.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ list.topbar_actions_option('Activos', url_for('autoridades.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('autoridades') %}
            {{ list.topbar_actions_option('Nueva Autoridad', url_for('autoridades.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {{ list.page('Autoridades') }}
    <div class="container-fluid">
        {% call list.card() %}
            <table id="autoridades_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %}">
                <thead>
                    <tr>
                        <th>Distrito</th>
                        <th>Autoridad</th>
                        <th>Clave</th>
                    </tr>
                </thead>
                <tbody>
                    {% for autoridad in autoridades %}
                    <tr>
                        <td>{{ autoridad.distrito.nombre }}</td>
                        <td><a href="{{ url_for('autoridades.detail', autoridad_id=autoridad.id) }}">{{ autoridad.descripcion }}</a></td>
                        <td>{{ autoridad.clave }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('autoridades_datatable') }}
{% endblock %}
