{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Nueva Autoridad{% endblock %}

{% block content %}
    {{ f.page_breadcrumb('Nueva Autoridad') }}
    <div class="container-fluid">
        {% call f.form_tag('autoridades.new', fid='autoridad_form') %}
            {% call f.form_group(form.distrito) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.email) %}{% endcall %}
            {{ form.guardar() }}
        {% endcall %}
    </div>
{% endblock %}
