{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nueva Autoridad{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nueva Autoridad') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('autoridades.new', fid='autoridad_form') %}
            {% call f.form_group(form.distrito) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.descripcion_corta) %}{% endcall %}
            {% call f.form_group(form.clave) %}{% endcall %}
            {% call f.form_group(form.es_jurisdiccional) %}{% endcall %}
            {% call f.form_group(form.es_notaria) %}{% endcall %}
            {% call f.form_group(form.organo_jurisdiccional) %}{% endcall %}
            {% call f.form_group(form.materia) %}{% endcall %}
            {% call f.form_group(form.audiencia_categoria) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
