{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Buscar Autoridades{% endblock %}

{% block content %}
    {{ f.page('Buscar Autoridades') }}
    <div class="container-fluid">
        {% call f.form_tag('autoridades.search', fid='autoridades_search_form') %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {{ form.buscar() }}
        {% endcall %}
    </div>
{% endblock %}
