{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}API Key{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('API Key ' + usuario.email) %}
        {{ topbar.button_previous('Detalle del usuario', url_for('usuarios.detail', usuario_id=usuario.id)) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card() %}
        <form onsubmit="preventFormSubmit()">
            <div class="mb-3">
                <label for="staticEmail" class="col-form-label">Nombre</label>
                <input type="text" disabled class="form-control" id="staticEmail" value="{{ usuario.nombre }}">
            </div>
            <div class="mb-3">
                <label for="staticAPIKeyExpiracion" class="col-form-label">API Key expiración</label>
                <input type="text" disabled class="form-control" id="staticAPIKeyExpiracion" value="">
            </div>
            <div class="form-group mb-3">
                <label for="fieldAPIKey" class="col-form-label">API Key</label>
                <div class="input-group mb-2">
                    <button type="button" class="btn btn-outline-danger" id="buttonCopyToClipboard" onclick="cleanAPIKey()">Limpiar</button>
                    <button type="button" class="btn btn-outline-secondary" id="buttonCopyToClipboard" onclick="newAPIKey()">Nueva</button>
                    <input type="text" class="form-control" id="fieldAPIKey" aria-label="API Key" aria-describedby="buttonCopyToClipboard" value="{{ usuario.api_key }}">
                    <button type="button" class="btn btn-outline-primary" id="buttonCopyToClipboard" onclick="copyToClipboard()">Copiar</button>
                </div>
                <div>
                    🚨 <strong>ADVERTENCIA:</strong> Si la limpia o hace una nueva, la anterior dejará de funcionar.
                </div>
            </div>
        </form>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        // Prevent form submit
        function preventFormSubmit() {
            event.preventDefault();
        }
        // Define URL for request
        var request_url = '{{ url_for("usuarios.request_api_key_json", usuario_id=usuario.id) }}';
        // Prepare headers
        const myHeaders = new Headers();
        myHeaders.append("X-CSRF-TOKEN", "{{ csrf_token() }}");
        // Init request
        const myInit = {
            method: 'POST',
            headers: myHeaders,
            mode: 'cors',
            cache: 'default'
        };
        // Request to new_api_key_json give a JSON with success, message, api_key and api_key_expiracion
        function requestAPIKey() {
            // Fetch request
            fetch(request_url, myInit)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById('fieldAPIKey').value = data.api_key;
                        document.getElementById('staticAPIKeyExpiracion').value = data.api_key_expiracion;
                        console.log(data.message);
                    } else {
                        console.log(data.message);
                    }
                })
                .catch(error => {
                    console.log(error);
                });
        }
        // Copy to clipboard
        function copyToClipboard() {
            var copyText = document.getElementById('fieldAPIKey');
            if (copyText.value == '') {
                console.log('No hay nada que copiar');
            } else {
                copyText.select();
                copyText.setSelectionRange(0, 99999);
                document.execCommand('copy');
                console.log('Copiado al portapapeles');
            }
        }
        // Clean API Key
        function cleanAPIKey() {
            formData = new FormData();
            formData.append('action', 'clean');
            myInit.body = formData;
            requestAPIKey();
        }
        // New API Key
        function newAPIKey() {
            formData = new FormData();
            formData.append('action', 'new');
            myInit.body = formData;
            requestAPIKey();
        }
        // On document ready, request API Key
        $(document).ready(function() {
            requestAPIKey();
        });
    </script>
{% endblock %}
