{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}
    {{ f.page('Cambiar contraseña') }}
    <div class="container-fluid">
        {% call f.form_tag('usuarios.change_password', fid='change_password_form') %}
            {% call f.form_group(form.contrasena_actual) %}{% endcall %}
            {% call f.form_group(form.contrasena) %}{% endcall %}
            {% call f.form_group(form.contrasena_repetir) %}{% endcall %}
            {{ form.actualizar() }}
        {% endcall %}
    </div>
{% endblock %}
