{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Usuario{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(usuario.nombre) %}
        {{ topbar.button_previous('Usuarios', url_for('usuarios.list_active')) }}
        {% if current_user.can_edit('usuarios') %}
            {{ topbar.button_edit('Editar', url_for('usuarios.edit', usuario_id=usuario.id)) }}
            {% if usuario.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('usuarios.delete', usuario_id=usuario.id)) }}{% endif %}
            {% if usuario.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('usuarios.recover', usuario_id=usuario.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=usuario.estatus) %}
        {{ detail.label_value_big('Nombre', usuario.nombre) }}
        {{ detail.label_value('Distrito', usuario.autoridad.distrito.nombre, url_for('distritos.detail', distrito_id=usuario.autoridad.distrito_id)) }}
        {{ detail.label_value('Autoridad', usuario.autoridad.descripcion, url_for('autoridades.detail', autoridad_id=usuario.autoridad_id)) }}
        {{ detail.label_value('e-mail', usuario.email) }}
        {% if current_user.can_edit('usuarios') %}
            {{ detail.label_value('Workspace', usuario.workspace) }}
            {{ detail.label_value('Rol', usuario.rol.nombre) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('usuarios') %}
        {% if usuario.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + usuario.nombre + '?') }}{% endif %}
        {% if usuario.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', 'Recuperar a ' + usuario.nombre + '?') }}{% endif %}
    {% endif %}
{% endblock %}
