{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail with context %}

{% block title %}Usuario{% endblock %}

{% block topbar_actions %}
    {% call detail.topbar_actions() %}
        {% if current_user.can_edit('usuarios') %}
            {{ detail.topbar_actions_option('Editar', url_for('usuarios.edit', usuario_id=usuario.id)) }}
            {% if usuario.estatus == 'A' %}{{ detail.topbar_actions_option('Eliminar', 'javascript:showModalDelete()') }}{% endif %}
            {% if usuario.estatus == 'B' %}{{ detail.topbar_actions_option('Recuperar', 'javascript:showModalRecover()') }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {{ detail.page('Usuario') }}
    <div class="container-fluid">
        {% call detail.card('', usuario.estatus) %}
            {{ detail.label_value_big('Nombre', usuario.nombre) }}
            {{ detail.label_value('e-mail', usuario.email) }}
            {{ detail.label_value('Rol', usuario.rol.nombre) }}
            {{ detail.label_value('Distrito', usuario.autoridad.distrito.nombre, url_for('distritos.detail', distrito_id=usuario.autoridad.distrito_id)) }}
            {{ detail.label_value('Autoridad', usuario.autoridad.descripcion, url_for('autoridades.detail', autoridad_id=usuario.autoridad_id)) }}
        {% endcall %}
        {% if entradas_salidas %}
            {% call detail.card('Entradas/Salidas') %}
            <table id="entradas_salidas_datatable" class="table">
                <thead>
                    <tr>
                        <th>Tiempo</th>
                        <th>Tipo</th>
                        <th>Dirección IP</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrada_salida in entradas_salidas: %}
                    <tr>
                        <td>{{ entrada_salida.creado }}</td>
                        <td>{{ entrada_salida.tipo }}</td>
                        <td>{{ entrada_salida.direccion_ip }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endcall %}
        {% endif %}
    </div>
    {% if current_user.can_edit('usuarios') %}
        {{ detail.modal('Eliminar', '¿Eliminar a ' + usuario.nombre + '?', 'modalDelete', url_for('usuarios.delete', usuario_id=usuario.id)) }}
        {{ detail.modal('Recuperar', '¿Recuperar a ' + usuario.nombre + '?', 'modalRecover', url_for('usuarios.recover', usuario_id=usuario.id)) }}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.datatable('entradas_salidas_datatable') }}
    {% if current_user.can_edit('usuarios') %}
        {{ detail.custom_javascript_delete_recover() }}
    {% endif %}
{% endblock %}
