{% extends 'layouts/login.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Plataforma Web{% endblock %}

{% block welcome %}
    <div class="text-center p-t-20 p-b-20">
        <span class="db"><img class="img-fluid py-2" src="{{ url_for('static', filename='images/poder-judicial.png') }}" alt="PJECZ" /></span>
        <h3 class="text-white py-2">Plataforma Web</h3>
    </div>
{% endblock %}

{% block content %}
    {% call f.form_tag('usuarios.login') %}
    <div class="row p-b-30">
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user"></i></span>
                </div>
                {% call f.field(form.identidad, class='form-control form-control-lg', placeholder='correo electrónico', autofocus='autofocus') %}{% endcall %}
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-warning text-white" id="basic-addon2"><i class="ti-pencil"></i></span>
                </div>
                {% call f.field(form.contrasena, class='form-control form-control-lg', placeholder='contraseña') %}{% endcall %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <div class="p-t-20">
                    <button class="btn btn-success float-right" type="submit">Accesar</button>
                </div>
            </div>
        </div>
    </div>
    {% endcall %}
{% endblock %}
