{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Nuevo Usuario{% endblock %}

{% block content %}
    {{ f.page('Nuevo Usuario') }}
    <div class="container-fluid">
        {% call f.form_tag('usuarios.new', fid='usuario_form') %}
            {% call f.form_group(form.distrito) %}{% endcall %}
            {% call f.form_group(form.autoridad) %}{% endcall %}
            {% call f.form_group(form.nombres) %}{% endcall %}
            {% call f.form_group(form.apellido_paterno) %}{% endcall %}
            {% call f.form_group(form.apellido_materno) %}{% endcall %}
            {% call f.form_group(form.email) %}{% endcall %}
            {% call f.form_group(form.workspace) %}{% endcall %}
            {% call f.form_group(form.rol) %}{% endcall %}
            {% call f.form_group(form.contrasena) %}{% endcall %}
            {% call f.form_group(form.contrasena_repetir) %}{% endcall %}
            {{ form.guardar() }}
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    {{ f.js_select_distrito_autoridad(distritos, autoridades) }}
{% endblock %}
