{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Usuario{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Usuario') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('usuarios.new', fid='usuario_form') %}
            {% call f.form_group(form.distrito) %}{% endcall %}
            {% call f.form_group(form.autoridad) %}{% endcall %}
            {% call f.form_group(form.nombres) %}{% endcall %}
            {% call f.form_group(form.apellido_paterno) %}{% endcall %}
            {% call f.form_group(form.apellido_materno) %}{% endcall %}
            {% call f.form_group(form.curp) %}{% endcall %}
            {% call f.form_group(form.email) %}{% endcall %}
            {% call f.form_group(form.puesto) %}{% endcall %}
            {% call f.form_group(form.contrasena) %}{% endcall %}
            {% call f.form_group(form.contrasena_repetir) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ f.js_select_distrito_autoridad(distritos, autoridades) }}
{% endblock %}
