{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Mi Perfil{% endblock %}

{% block topbar_actions %}
    {{ topbar.page(current_user.nombre) }}
{% endblock %}

{% block content %}
    {% call detail.card('Mi Perfil') %}
        {{ detail.label_value_big('Nombre', current_user.nombre) }}
        {{ detail.label_value('Distrito', current_user.autoridad.distrito.nombre) }}
        {{ detail.label_value('Autoridad', current_user.autoridad.descripcion) }}
        {{ detail.label_value('CURP', current_user.curp) }}
        {{ detail.label_value('e-mail', current_user.email) }}
        {{ detail.label_value('Workspace', current_user.workspace) }}
        {{ detail.label_value('Puesto', current_user.puesto) }}
    {% endcall %}
    {% call detail.card('Sistema') %}
        {{ detail.label_value('Hoy UTC', ahora_utc_str) }}
        {{ detail.label_value('Hoy MX Coahuila', ahora_mx_coah_str) }}
    {% endcall %}
{% endblock %}
