{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Cancelar un Vale Solicitado{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Cancelar el Vale Solicitado ' + fin_vale.id | string) }}
{% endblock %}

{% block content %}
    {% call f.card(css_class='bg-danger text-white') %}
        {% set form_kwargs = {'fin_vale_id': fin_vale.id} %}
        {% call f.form_tag('fin_vales.cancel_request_task', fid='fin_vale_cancel_request_task_form', **form_kwargs) %}
            {% call f.form_group(form.solicito_nombre, readonly=true) %}{% endcall %}
            {% call f.form_group(form.usuario_nombre, readonly=true) %}{% endcall %}
            {% call f.form_group(form.tipo, readonly=true) %}{% endcall %}
            {% call f.form_group(form.justificacion, readonly=true) %}{% endcall %}
            {% call f.form_group(form.monto, readonly=true) %}{% endcall %}
            {% call f.form_group(form.solicito_efirma_folio) %}{% endcall %}
            {% call f.form_group(form.contrasena) %}{% endcall %}
            {% call f.form_group(form.cancelar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
