{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Vale{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons("Vale " + fin_vale.id | string + " " + fin_vale.estado) %}
        {{ topbar.button_previous('Vales', url_for('fin_vales.list_active')) }}
        {% if current_user.can_edit('FIN VALES') %}
            {{ topbar.button_edit('P2 Solicitar', url_for('fin_vales.step_2_request', fin_vale_id=fin_vale.id)) }}
            {{ topbar.button_edit('C2 Cancelar', url_for('fin_vales.cancel_2_request', fin_vale_id=fin_vale.id)) }}
            {{ topbar.button_edit('P3 Autorizar', url_for('fin_vales.step_3_authorize', fin_vale_id=fin_vale.id)) }}
            {{ topbar.button_edit('C3 Cancelar', url_for('fin_vales.cancel_3_authorize', fin_vale_id=fin_vale.id)) }}
            {{ topbar.button_edit('P4 Entregar', url_for('fin_vales.step_4_deliver', fin_vale_id=fin_vale.id)) }}
            {{ topbar.button_edit('P5 Adjuntar', url_for('fin_vales.step_5_attachments', fin_vale_id=fin_vale.id)) }}
            {{ topbar.button_edit('P6 Archivar', url_for('fin_vales.step_6_archive', fin_vale_id=fin_vale.id)) }}
        {% endif %}
        {% if current_user.can_admin('FIN VALES') %}
            {% if fin_vale.estatus == 'A' %}
                {{ topbar.button_delete('Eliminar', url_for('fin_vales.delete', fin_vale_id=fin_vale.id)) }}
            {% endif %}
            {% if fin_vale.estatus == 'B' %}
                {{ topbar.button_recover('Recuperar', url_for('fin_vales.recover', fin_vale_id=fin_vale.id)) }}
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{#
    <a href="{{ url_for('fin_vales.request_task', fin_vale_id=fin_vale.id) }}" class="btn btn-success btn-block">
        Solicitar
    </a>
    <a href="{{ fin_vale.solicito_efirma_url }}" target="_blank" class="btn btn-secondary btn-block">
        Abrir e-firma
    </a>
    <a href="{{ url_for('fin_vales.cancel_request_task', fin_vale_id=fin_vale.id) }}" class="btn btn-danger btn-block">
        Cancelar
    </a>
    <a href="{{ url_for('fin_vales.authorize_task', fin_vale_id=fin_vale.id) }}" class="btn btn-success btn-block">
        Autorizar
    </a>
    <a href="{{ fin_vale.autorizo_efirma_url }}" target="_blank" class="btn btn-secondary btn-block">
        Abrir e-firma
    </a>
    <a href="{{ url_for('fin_vales.cancel_authorize_task', fin_vale_id=fin_vale.id) }}" class="btn btn-danger btn-block">
        Cancelar
    </a>
    estatus=fin_vale.estatus
#}

{% block content %}
    {% call detail.card(title='Creado') %}
        {{ detail.label_value('Usuario', fin_vale.usuario.nombre) }}
        {{ detail.label_value('Puesto', fin_vale.usuario.puesto) }}
        {{ detail.label_value('Tipo', fin_vale.tipo) }}
        {{ detail.label_value('Monto', '$ ' + fin_vale.monto | string) }}
        {{ detail.label_value_big('Justificacion', fin_vale.justificacion) }}
    {% endcall %}
    {% if current_user.can_view('FIN VALES ADJUNTOS') and (fin_vale.estado == "AUTORIZADO" or fin_vale.estado == "POR REVISAR") %}
        {% call detail.card(title='Comprobantes', estatus=fin_vale.estatus) %}
            <table id="fin_vales_adjuntos_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo</th>
                        <th>Vinculo</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('FIN VALES ADJUNTOS') %}
                <a href="{{ url_for('fin_vales_adjuntos.new', fin_vale_id=fin_vale.id) }}" class="btn btn-primary">
                    Agregar comprobante
                </a>
            {% endif %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
    {% if current_user.can_edit('FIN VALES') %}
        {% if fin_vale.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + fin_vale.id | string + '?') }}{% endif %}
        {% if fin_vale.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + fin_vale.id | string + '?') }}{% endif %}
    {% endif %}
    {{ detail.config_datatable() }}
    {% if current_user.can_view('FIN VALES ADJUNTOS') and (fin_vale.estado == "AUTORIZADO" or fin_vale.estado == "POR REVISAR") %}
        <script>
            configDataTable['ajax']['url'] = '/fin_vales_adjuntos/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'fin_vale_id': {{ fin_vale.id}} };
            configDataTable['columns'] = [
                { data: 'detalle' },
                { data: 'tipo' },
                { data: 'vinculo' }
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: 2, // vinculo
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '" target="_blank">' + data.archivo + '</a>';
                    }
                },
            ];
            $('#fin_vales_adjuntos_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
{% endblock %}
