{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Vale{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Vale ' + fin_vale.id | string) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'fin_vale_id': fin_vale.id} %}
        {% call f.form_tag('fin_vales.edit', fid='fin_vale_form', **form_kwargs) %}
            {% call f.form_group(form.usuario_nombre, readonly=true) %}{% endcall %}
            {% call f.form_group(form.autorizo_nombre) %}{% endcall %}
            {% call f.form_group(form.autorizo_puesto) %}{% endcall %}
            {% call f.form_group(form.tipo) %}{% endcall %}
            {% call f.form_group(form.justificacion) %}{% endcall %}
            {% call f.form_group(form.monto) %}{% endcall %}
            {% call f.form_group(form.solicito_nombre) %}{% endcall %}
            {% call f.form_group(form.solicito_puesto) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
