{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/help.jinja2' as help %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Vales{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_list_active('Mi Listado', url_for('fin_vales.list_active')) }}
        {% if title != 'Mis Vales' %}
            {{ topbar.button_list_active('Mis Vales', url_for('fin_vales.list_mine_active')) }}
        {% endif %}
        {% if current_user.can_admin('FIN VALES') %}
            {{ topbar.button('Creados', url_for('fin_vales.list_create_active'), 'mdi:new-box') }}
            {{ topbar.button('Solicitados', url_for('fin_vales.list_request_active'), 'mdi:check') }}
            {{ topbar.button('Autorizados', url_for('fin_vales.list_authorize_active'), 'mdi:check-all') }}
            {{ topbar.button('Entregados', url_for('fin_vales.list_deliver_active'), 'mdi:basket') }}
            {{ topbar.button('Por Revisar', url_for('fin_vales.list_attachments_active'), 'mdi:clock') }}
            {{ topbar.button('Archivados', url_for('fin_vales.list_archive_active'), 'mdi:archive') }}
        {% endif %}
        {% if current_user.can_edit('FIN VALES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('fin_vales.list_inactive')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('FIN VALES') %}
            {{ topbar.button_new('Crear', url_for('fin_vales.step_1_create')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="fin_vales_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Estado</th>
                    <th>Oficina</th>
                    <th>Creado por</th>
                    <th>Justificacion</th>
                    <th>Monto</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block content_help %}
    {{ help.help_button('https://www.pjecz.gob.mx/pjecz-plataforma-web/fin_vales/') }}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/fin_vales/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'detalle' },
            { data: 'estado' },
            { data: 'usuario_oficina_clave' },
            { data: 'usuario_nombre' },
            { data: 'justificacion' },
            { data: 'monto' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 2, // usuario_nombre
                data: null,
                render: function(data, type, row, meta) {
                    if (data.length > 16)
                        return '<span title="' + data + '">' + data.substr(0, 16) + '…' + '</span>';
                    return data;
                }
            },
            {
                targets: 4, // justificacion
                data: null,
                render: function(data, type, row, meta) {
                    if (data.length > 92)
                        return '<span title="' + data + '">' + data.substr(0, 92) + '…' + '</span>';
                    return data;
                }
            },
            {
                targets: 5, // monto
                data: null,
                render: function(data, type, row, meta) {
                    return '$ ' + data;
                }
            }
        ];
        $('#fin_vales_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
