{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/help.jinja2' as help %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Vales{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_list_active('Mi Listado', url_for('fin_vales.list_active')) }}
        {% if title != 'Mis Vales' %}
            {{ topbar.button_list_active('Mis Vales', url_for('fin_vales.list_mine_active')) }}
        {% endif %}
        {% if current_user.can_admin('FIN VALES') %}
            {{ topbar.button('Creados', url_for('fin_vales.list_create_active'), 'mdi:new-box') }}
            {{ topbar.button('Solicitados', url_for('fin_vales.list_request_active'), 'mdi:check') }}
            {{ topbar.button('Autorizados', url_for('fin_vales.list_authorize_active'), 'mdi:check-all') }}
            {{ topbar.button('Entregados', url_for('fin_vales.list_deliver_active'), 'mdi:basket') }}
            {{ topbar.button('Por Revisar', url_for('fin_vales.list_attachments_active'), 'mdi:clock') }}
            {{ topbar.button('Archivados', url_for('fin_vales.list_archive_active'), 'mdi:archive') }}
        {% endif %}
        {% if current_user.can_edit('FIN VALES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('fin_vales.list_inactive')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('FIN VALES') %}
            {{ topbar.button_new('Crear', url_for('fin_vales.step_1_create')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros Fin Vales -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosFinVales.buscar(); return false;">
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroFinValeId" type="text" class="form-control" aria-label="ID">
                            <label for="filtroFinValeId">ID</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <select id="filtroFinValeEstado" class="form-select" aria-label="Estado">
                            <option selected value="">Filtro Estado</option>
                            <option value="CREADO">CREADO</option>
                            <option value="SOLICITADO">SOLICITADO</option>
                            <option value="CANCELADO POR SOLICITANTE">CANCELADO POR SOLICITANTE</option>
                            <option value="AUTORIZADO">AUTORIZADO</option>
                            <option value="CANCELADO POR AUTORIZANTE">CANCELADO POR AUTORIZANTE</option>
                            <option value="ENTREGADO">ENTREGADO</option>
                            <option value="POR REVISAR">POR REVISAR</option>
                            <option value="ARCHIVADO">ARCHIVADO</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <select id="filtroDistrito" class="form-select" aria-label="Distrito">
                            <option selected value="">Filtro Distrito</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <select id="filtroAutoridad" class="form-select" aria-label="Autoridad">
                            <option selected value="">Filtro Autoridad</option>
                        </select>
                    </div>
                    <div class="col-2 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosFinVales.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosFinVales.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable Fin Vales -->
        <table id="fin_vales_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Estado</th>
                    <th>Distrito</th>
                    <th>Autoridad</th>
                    <th>Usuario</th>
                    <th>Monto</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block content_help %}
    {{ help.help_button('https://www.pjecz.gob.mx/pjecz-plataforma-web/fin_vales/') }}
{% endblock %}

{% block custom_javascript %}
    <!-- Cargar distritos y autoridades -->
    <script>
        // Llamar a /distritos/select_json para cargar el select distrito
        fetch('/distritos/select_json')
            .then(response => response.json())
            .then(data => {
                const distritoSelect = document.getElementById('filtroDistrito');
                data.forEach(distrito => {
                    const option = document.createElement('option');
                    option.value = distrito.id;
                    option.text = distrito.nombre_corto;
                    distritoSelect.appendChild(option);
                });
            });
        // Llamar a /autoridades/select_json para cargar el select autoridad, si el distrito cambia
        document.getElementById('filtroDistrito').addEventListener('change', () => {
            const distritoId = document.getElementById('filtroDistrito').value;
            fetch(`/autoridades/select_json/${distritoId}?es_notaria=false`)
                .then(response => response.json())
                .then(data => {
                    const autoridadSelect = document.getElementById('filtroAutoridad');
                    autoridadSelect.innerHTML = '';
                    data.forEach(autoridad => {
                        const option = document.createElement('option');
                        option.value = autoridad.id;
                        option.text = autoridad.descripcion_corta;
                        autoridadSelect.appendChild(option);
                    });
                });
        });
    </script>
    <!-- DataTable Fin Vales -->
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Fin Vales
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDataTable = constructorDataTable.config();
        configDataTable['ajax']['url'] = '/fin_vales/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'detalle' },
            { data: 'estado' },
            { data: 'distrito_nombre_corto' },
            { data: 'autoridad_descripcion_corta' },
            { data: 'usuario_nombre' },
            { data: 'monto' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 2, // usuario_nombre
                data: null,
                render: function(data, type, row, meta) {
                    if (data.length > 16)
                        return '<span title="' + data + '">' + data.substr(0, 16) + '…' + '</span>';
                    return data;
                }
            },
            {
                targets: 5, // monto
                data: null,
                render: function(data, type, row, meta) {
                    return '$ ' + data;
                }
            }
        ];
        // Filtros Fin Vales
        const filtrosFinVales = new FiltrosDataTable('#fin_vales_datatable', configDataTable);
        filtrosFinVales.agregarInput('filtroFinValeId', 'fin_vale_id');
        filtrosFinVales.agregarInput('filtroFinValeEstado', 'estado');
        filtrosFinVales.agregarInput('filtroDistrito', 'usuario_distrito_id');
        filtrosFinVales.agregarInput('filtroAutoridad', 'usuario_autoridad_id');
        filtrosFinVales.precargar();
    </script>
{% endblock %}
