{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Vale{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Vale') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('fin_vales.new', fid='registro_form') %}
            {% call f.form_group(form.usuario_nombre, readonly=true) %}{% endcall %}
            {% call f.form_group(form.autorizo_nombre) %}{% endcall %}
            {% call f.form_group(form.autorizo_puesto) %}{% endcall %}
            {% call f.form_group(form.tipo) %}{% endcall %}
            {% call f.form_group(form.justificacion) %}{% endcall %}
            {% call f.form_group(form.monto) %}{% endcall %}
            {% call f.form_group(form.solicito_nombre) %}{% endcall %}
            {% call f.form_group(form.solicito_puesto) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
