{% extends 'layouts/print.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}

{% block title %}Vale de Gasolina {{ fin_vale.id }}{% endblock %}

{% block content %}
    <div id="seccionLugarFecha">
        Saltillo, Coahuila., {{ moment(fin_vale.creado).format('ll') }}
    </div>
    <div id="seccionDestinatario">
        {{ fin_vale.autorizo_nombre }}<br>
        {{ fin_vale.autorizo_puesto }}<br>
        PRESENTE.-
    </div>
    <div id="seccionContenido">
        <p>
            {{ fin_vale.justificacion }}
        </p>
    </div>
    <div id="seccionFirma">
        <p style="margin-bottom: 1cm;">A T E N T A M E N T E</p>
        <p style="margin-bottom: 1cm;">
            {{ fin_vale.solicito_puesto }}<br>
            {{ fin_vale.solicito_nombre }}
        </p>
    </div>
    {% if efirma_sello_digital %}
    <div id="seccionEFirma">
        <p><strong>Este documento tiene Firma Electrónica.</strong> Para validarlo:</p>
        <table>
            <thead>
                <th>1. Con su teléfono celular lea este QR y cargue la página</th>
                <th>2. Revise que el <strong>Sello Digital</strong> sea igual a éste</th>
            </thead>
            <tr>
                <td style="text-align: center;"><img class="imagenQR" src="{{ efirma_qr_url }}" alt="QR"></td>
                <td class="textoSelloDigital"> {{ efirma_sello_digital }}</td>
            </tr>
        </table>
        <p><strong>3. Compare que la información sea la misma.</strong> En caso contrario, debe rechazarlo.</p>
    </div>
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
{% endblock %}
