{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/help.jinja2' as help %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Solicitar Vale{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Solicitar Vale ' + fin_vale.id | string) }}
{% endblock %}

{% block content %}
    {% call detail.card(title='Creado') %}
        {{ detail.label_value('Nombre', fin_vale.usuario.nombre) }}
        {{ detail.label_value('Puesto', fin_vale.usuario.puesto) }}
        {{ detail.label_value('e-mail', fin_vale.usuario.email) }}
        {{ detail.label_value('Tiempo', moment(fin_vale.creado).format('llll')) }}
        {{ detail.label_value('Tipo', fin_vale.tipo) }}
        {{ detail.label_value('Monto', '$ ' + fin_vale.monto | string) }}
        {{ detail.label_value('Justificacion', fin_vale.justificacion) }}
    {% endcall %}
    {% call f.card(title='Solicitar') %}
        {% set form_kwargs = {'fin_vale_id': fin_vale.id} %}
        {% call f.form_tag('fin_vales.step_2_request', fid='step_2_request_form', **form_kwargs) %}
            {% call f.form_group(form.solicito_nombre, readonly=true) %}{% endcall %}
            {% call f.form_group(form.solicito_puesto, readonly=true) %}{% endcall %}
            {% call f.form_group(form.solicito_email, readonly=true) %}{% endcall %}
            {% call f.form_group(form.contrasena) %}{% endcall %}
            {% call f.form_group(form.solicitar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block content_help %}
    {{ help.help_button('https://www.pjecz.gob.mx/pjecz-plataforma-web/fin_vales/#solicitar-un-nuevo-vale-de-gasolina') }}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
{% endblock %}
