{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Entregar Vale{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Entregar Vale ' + fin_vale.id | string) }}
{% endblock %}

{% block content %}
    {% call f.card(title='Paso 4: Entregar') %}
        {% set form_kwargs = {'fin_vale_id': fin_vale.id} %}
        {% call f.form_tag('fin_vales.step_4_deliver', fid='step_4_deliver_form', **form_kwargs) %}
            {% call f.form_group(form.folio) %}{% endcall %}
            {% call f.form_group(form.entregar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
