{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Entregar Vale{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Entregar Vale ' + fin_vale.id | string) }}
{% endblock %}

{% block content %}
    {% call detail.card(title='Creado') %}
        {{ detail.label_value('Nombre', fin_vale.usuario.nombre) }}
        {{ detail.label_value('Puesto', fin_vale.usuario.puesto) }}
        {{ detail.label_value('e-mail', fin_vale.usuario.email) }}
        {{ detail.label_value('Tiempo', moment(fin_vale.creado).format('llll')) }}
        {{ detail.label_value('Tipo', fin_vale.tipo) }}
        {{ detail.label_value('Monto', '$ ' + fin_vale.monto | string) }}
        {{ detail.label_value('Justificacion', fin_vale.justificacion) }}
    {% endcall %}
    {% call detail.card(title='Solicitado') %}
        {{ detail.label_value('Nombre', fin_vale.solicito_nombre) }}
        {{ detail.label_value('Puesto', fin_vale.solicito_puesto) }}
        {{ detail.label_value('e-mail', fin_vale.solicito_email) }}
        {{ detail.label_value('Tiempo', fin_vale.solicito_efirma_tiempo) }}
        {{ detail.label_value('Mensaje', fin_vale.solicito_efirma_mensaje) }}
        {{ detail.label_value('Error', fin_vale.solicito_efirma_error) }}
        {{ detail.label_value_new_tab('Folio y URL', fin_vale.solicito_efirma_folio, fin_vale.solicito_efirma_url) }}
    {% endcall %}
    {% call detail.card(title='Autorizado') %}
        {{ detail.label_value('Nombre', fin_vale.autorizo_nombre) }}
        {{ detail.label_value('Puesto', fin_vale.autorizo_puesto) }}
        {{ detail.label_value('e-mail', fin_vale.autorizo_email) }}
        {{ detail.label_value('Tiempo', fin_vale.autorizo_efirma_tiempo) }}
        {{ detail.label_value('Mensaje', fin_vale.autorizo_efirma_mensaje) }}
        {{ detail.label_value('Error', fin_vale.autorizo_efirma_error) }}
        {{ detail.label_value_new_tab('Folio y URL', fin_vale.autorizo_efirma_folio, fin_vale.autorizo_efirma_url) }}
    {% endcall %}
    {% call f.card(title='Entregar') %}
        {% set form_kwargs = {'fin_vale_id': fin_vale.id} %}
        {% call f.form_tag('fin_vales.step_4_deliver', fid='step_4_deliver_form', **form_kwargs) %}
            {% call f.form_group(form.folio) %}{% endcall %}
            {% call f.form_group(form.entregar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
{% endblock %}
