{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/help.jinja2' as help %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Crear Vale{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Crear Vale') }}
{% endblock %}

{% block content %}
    {% call f.card(title='Crear') %}
        {% call f.form_tag('fin_vales.step_1_create', fid='step_1_create_form') %}
            {% call f.form_group(form.usuario_nombre, readonly=true) %}{% endcall %}
            {% call f.form_group(form.usuario_puesto, readonly=true) %}{% endcall %}
            {% call f.form_group(form.usuario_email, readonly=true) %}{% endcall %}
            {% call f.form_group(form.tipo, readonly=true) %}{% endcall %}
            {% call f.form_group(form.monto) %}{% endcall %}
            {% call f.form_group(form.justificacion) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block content_help %}
    {{ help.help_button('https://www.pjecz.gob.mx/pjecz-plataforma-web/fin_vales/#solicitar-un-nuevo-vale-de-gasolina') }}
{% endblock %}

{% block custom_javascript %}
    <script>
        $(document).ready(function(){

            // Si cambia el monto, se actualiza la justifiacion
            $('#monto').on('change', function() {
                monto = $('#monto').val();
                montoTexto = '';
                if (monto == 100) {
                    montoTexto = '$100.00 (Cien pesos 00/100 M.N.)';
                } else if (monto == 200) {
                    montoTexto = '$200.00 (Doscientos pesos 00/100 M.N.)';
                } else if (monto == 500) {
                    montoTexto = '$500.00 (Quinientos pesos 00/100 M.N.)';
                } else {
                    montoTexto = '$0.00 (Cero pesos 00/100 M.N.)';
                }
                $('#justificacion').val('Solicito un vale de gasolina de ' + montoTexto + ' para ' + $('#usuario_nombre').val() + ' con el objetivo de ir a DESTINO U OFICINA.');
            });

        });
    </script>
{% endblock %}
