{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Autoridades Funcionarios{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('AUTORIDADES FUNCIONARIOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('autoridades_funcionarios.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('autoridades_funcionarios.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="autoridades_funcionarios_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Autoridad</th>
                    <th>Autoridad descripción corta</th>
                    <th>Funcionario CURP</th>
                    <th>Funcionario nombre</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/autoridades_funcionarios/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "detalle" },
            { data: "autoridad" },
            { data: "autoridad_descripcion_corta" },
            { data: "funcionario" },
            { data: "funcionario_nombre" }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 1, // autoridad
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url == '') {
                        return data.clave;
                    } else {
                        return '<a href="' + data.url + '">' + data.clave + '</a>';
                    }
                }
            },
            {
                targets: 3, // funcionario
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url == '') {
                        return data.curp;
                    } else {
                        return '<a href="' + data.url + '">' + data.curp + '</a>';
                    }
                }
            }
        ];
        $('#autoridades_funcionarios_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
