{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Autoridades Funcionarios{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('AUTORIDADES FUNCIONARIOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('autoridades_funcionarios.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('autoridades_funcionarios.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('AUTORIDADES FUNCIONARIOS') %}
            {{ topbar.button_new('Nuevo Autoridad Funcionario', url_for('autoridades_funcionarios.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="autoridades_funcionarios_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for autoridad_funcionario in autoridades_funcionarios %}
                <tr>
                    <td><a href="{{ url_for('autoridades_funcionarios.detail', autoridad_funcionario_id=autoridad_funcionario.id) }}">{{ autoridad_funcionario.descripcion }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('autoridades_funcionarios_datatable') }}
{% endblock %}
