{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Autoridad Funcionario{% endblock %}

{% block topbar_actions %}
    {{ topbar.page(titulo) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('autoridades_funcionarios.new', fid='autoridad_funcionario_form') %}
            {% call f.form_group(form.autoridad) %}{% endcall %}
            {% call f.form_group(form.funcionario) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
