{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Resultado{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Resultado') %}
        {{ topbar.button_previous('Resultados', url_for('rep_resultados.list_active')) }}
        {% if current_user.can_edit('rep_resultados') %}
            {% if rep_resultado.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('rep_resultados.delete', rep_resultado_id=rep_resultado.id)) }}{% endif %}
            {% if rep_resultado.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('rep_resultados.recover', rep_resultado_id=rep_resultado.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=rep_resultado.estatus) %}
        {{ detail.label_value_big('Descripción', rep_resultado.descripcion) }}
        {{ detail.label_value_big('Cantidad', rep_resultado.cantidad) }}
        {{ detail.label_value('Reporte', rep_resultado.reporte.descripcion, url_for('rep_reportes.detail', rep_reporte_id=rep_resultado.reporte_id)) }}
        {{ detail.label_value('Módulo', rep_resultado.modulo.nombre, url_for('modulos.detail', modulo_id=rep_resultado.modulo_id)) }}
        {{ detail.label_value('Tipo', rep_resultado.tipo) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('rep_resultados') %}
        {% if rep_resultado.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + rep_resultado.descripcion + '?') }}{% endif %}
        {% if rep_resultado.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', 'Recuperar a ' + rep_resultado.descripcion + '?') }}{% endif %}
    {% endif %}
{% endblock %}
