{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Resultados{% endblock %}

{% block topbar_actions %}
    {% if estatus == 'A' %}{% set title='Resultados' %}{% endif %}
    {% if estatus == 'B' %}{% set title='Resultados inactivos' %}{% endif %}
    {% call topbar.page_buttons(title) %}
        {% if current_user.can_edit('rep_resultados') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('rep_resultados.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('rep_resultados.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="rep_resultados_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Creados</th>
                    <th>Reportes</th>
                    <th>Módulos</th>
                    <th>Descripciones</th>
                    <th>Tipos</th>
                    <th>Cantidades</th>
                </tr>
            </thead>
            <tbody>
                {% for rep_resultado in rep_resultados %}
                <tr>
                    <td>{{ rep_resultado.creado }}</td>
                    <td>{{ rep_resultado.rep_reporte.descripcion }}</td>
                    <td>{{ rep_resultado.modulo.nombre }}</td>
                    <td><a href="{{ url_for('rep_resultados.detail', rep_resultado_id=rep_resultado.id) }}">{{ rep_resultado.descripcion }}</a></td>
                    <td>{{ rep_resultado.tipo }}</td>
                    <td>{{ rep_resultado.cantidad }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable_times('rep_resultados_datatable') }}
{% endblock %}
