{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Agregar Area a la Autoridad{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Agregar Area-Autoridad') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'autoridad_id': autoridad.id} %}
        {% call f.form_tag('cid_areas_autoridades.new_with_autoridad', fid='cid_area_autoridad_form', **form_kwargs) %}
            {% call f.form_group(form.autoridad, readonly=true) %}{% endcall %}
            {% call f.form_group(form.cid_area) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
