{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Soportes Categorías{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('SOPORTES TICKETS') %}
            {{ topbar.button('Tickets', url_for('soportes_tickets.list_active'), 'mdi:tools') }}
        {% endif %}
        {% if current_user.can_edit('SOPORTES CATEGORIAS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('soportes_categorias.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('soportes_categorias.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('SOPORTES CATEGORIAS') %}
            {{ topbar.button_new('Nueva Categoría', url_for('soportes_categorias.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="soportes_categorias_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Atendido por</th>
                    <th>Departamento</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        $('#soportes_categorias_datatable').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            responsive: true,
            scrollX: true,
            ajax: {
                url: "/soportes_categorias/datatable_json",
                type: "POST",
                headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                dataType: "json",
                dataSrc: "data",
                data: {{ filtros }}
            },
            columns: [
                { data: "detalle" },
                { data: "atendido" },
                { data: "departamento" },
            ],
            columnDefs: [
                {
                    targets: 0,
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data.nombre.length > 48) {
                            texto = '<span title="' + data.nombre + '">' + data.nombre.substr(0, 48) + '…</span>'
                        } else {
                            texto = data.nombre
                        }
                        return '<a href="' + data.url + '">' + texto + '</a>';
                    }
                },
                {
                    targets: 2,
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data != null)
                            if (data.length > 48) {
                                return '<span title="' + data + '">' + data.substr(0, 48) + '…</span>';
                            } else {
                                return data;
                            }
                        return '—';
                    }
                }
            ],
            language: {
                lengthMenu: "Mostrar _MENU_",
                search: "Filtrar:",
                zeroRecords: "No se encontraron registros",
                info: "Total de registros _TOTAL_ ",
                infoEmpty: "No hay registros",
                infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                }
            }
        });
    </script>
{% endblock %}
