{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Soporte Categoría{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Soporte Categoría') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('soportes_categorias.new', fid='soporte_categoria_form') %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
