{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/form_inline.jinja2' as f with context %}
{% import 'macros/detail.jinja2' as detail %}

{% block title %}Archivo Estadísticas{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Archivo Estadísticas - Solicitudes y Remesas') %}
        {{ topbar.button_previous('Estadísticas', url_for('arc_estadisticas.indice')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card(title='Filtros') %}
        {% call f.form_tag('arc_estadisticas.report_solicitudes_remesas', fid='listas_de_acuerdos_report_form') %}
            {% call f.form_group(form.fecha_desde, placeholder='Desde') %}{% endcall %}
            {% call f.form_group(form.fecha_hasta, placeholder='Hasta') %}{% endcall %}
            {% call f.form_group(form.elaborar) %}{% endcall %}
        {% endcall %}
    {% endcall %}

    {% call detail.card(title='Totales') %}
    {% endcall %}

    {% call list.card(title='Por Distrito') %}
    {% endcall %}

    {% call list.card(title='Por Instancia') %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/blueprint/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'detalle' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.nombre + '</a>';
                }
            }
        ];
        $('#blueprint_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
