{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail with context %}

{% block title %}Abogado registrado{% endblock %}

{% block content %}
    {{ detail.page_breadcrumb('Abogado registrado') }}
    <div class="container-fluid">
        {% call detail.card(estatus=abogado.estatus) %}
            {{ detail.label_value_big('Nombre', abogado.nombre) }}
            {{ detail.label_value('Número', abogado.numero) }}
            {{ detail.label_value('Libro', abogado.libro) }}
            {{ detail.label_value('Fecha', abogado.fecha) }}
        {% endcall %}
    </div>
{% endblock %}
