{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Editar Abogado registrado{% endblock %}

{% block content %}
    {{ f.page_breadcrumb('Editar ' + abogado.nombre) }}
    <div class="container-fluid">
        {% set form_kwargs = {'abogado_id': abogado.id} %}
        {% call f.form_tag('abogados.edit', fid='abogado_form', **form_kwargs) %}
            {% call f.form_group(form.numero) %}{% endcall %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.libro) %}{% endcall %}
            {% call f.form_group(form.fecha) %}{% endcall %}
            {{ form.guardar() }}
        {% endcall %}
    </div>
{% endblock %}
