{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Abogados registrados{% endblock %}

{% block topbar_actions %}
    {% if estatus == 'A' %}{% set title='Abogados registrados' %}{% endif %}
    {% if estatus == 'B' %}{% set title='Abogados registrados inactivos' %}{% endif %}
    {% call topbar.page_buttons(title) %}
        {% if current_user.can_edit('abogados') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('abogados.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('abogados.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('abogados') %}
            {{ topbar.button_new('Nuevo Abogado', url_for('abogados.new')) }}
        {% endif %}
        {# topbar.button_search('Buscar', url_for('abogados.search')) #}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="abogados_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Número</th>
                    <th>Libro</th>
                    <th>Nombre</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        $('#abogados_datatable').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            responsive: true,
            scrollX: true,
            ajax: {
                url: "/abogados/ajax",
                type: "POST",
                headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}"},
                dataType: "json",
                dataSrc: "data",
                data: {'estatus': "{{ estatus }}"}
            },
            columns: [
                { data: "fecha" },
                { data: "numero" },
                { data: "libro" },
                { data: "vinculo" }
            ],
            columnDefs: [
                {
                    targets: 3,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="/abogados/' + data.id + '">' + data.nombre + '</a>';
                    }
                }
            ],
            language: {
                lengthMenu: "Mostrar _MENU_",
                search: "Filtrar:",
                zeroRecords: "No se encontraron registros",
                info: "Página _PAGE_ de _PAGES_",
                infoEmpty: "No hay registros",
                infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                }
            }
        });
    </script>
{% endblock %}
