{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Abogado registrado{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Abogado registrado') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('abogados.new', fid='abogados_form') %}
            {% call f.form_group(form.fecha) %}{% endcall %}
            {% call f.form_group(form.numero) %}{% endcall %}
            {% call f.form_group(form.libro) %}{% endcall %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
