{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Buscar Abogados registrados{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Buscar Abogados registrados') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('abogados.search', fid='abogados_search_form') %}
            {% call f.form_group(form.fecha_desde) %}{% endcall %}
            {% call f.form_group(form.fecha_hasta) %}{% endcall %}
            {% call f.form_group(form.numero) %}{% endcall %}
            {% call f.form_group(form.libro) %}{% endcall %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.buscar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
