{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Buscar Abogados registrados{% endblock %}

{% block content %}
    {{ f.page_breadcrumb('Buscar Abogados registrados') }}
    <div class="container-fluid">
        {% call f.form_tag('abogados.search', fid='abogados_search_form') %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.fecha_desde) %}{% endcall %}
            {% call f.form_group(form.fecha_hasta) %}{% endcall %}
            {{ form.buscar() }}
        {% endcall %}
    </div>
{% endblock %}
