{% extends 'layouts/public.jinja2' %}

{% block title %}Constancia de Recepción de Documentos{% endblock %}

{% block content %}
    <div class="container py-2">
        <div class="text-center py-2">
            <h2>PODER JUDICIAL<br>DEL ESTADO DE COAHUILA DE ZARAGOZA<h2>
            <h3>CONSTANCIA DE RECEPCIÓN DE DOCUMENTOS</h3>
        </div>
        <div class="py-2">
            <p>
                Fecha {{ edicto.creado.strftime('%Y-%m-%d %H:%M') }}<br>
                ID VPE{{ edicto.id }}<br>
                <strong>{{ edicto.autoridad.descripcion }}</strong><br>
                <strong>{{ edicto.autoridad.distrito.nombre }}</strong>
            </p>
        </div>
        <div class="text-center py-2">
            <h3>P R E S E N T E</h3>
        </div>
        <div class="py-2">
            <p>Se hace constar que en la aplicación electrónica "Edictos en Línea" del sitio web del Poder Judicial del Estado de Coahuila de Zaragoza se recibió el siguiente documento:</p>
            <ul>
                <li>{{ edicto.archivo }}</li>
            </ul>
            <p>Mismo que estará disponible en el sitio web del Poder Judicial de Coahuila de Zaragoza a la brevedad.</p>
            <p>Lo anterior para los efectos legales que haya lugar.</p>
        </div>
        <div class="text-center py-2">
            <p><strong>
                ATENTAMENTE<br>
                SALTILLO, COAHUILA DE ZARAGOZA, A {{ dia }} DE {{ mes }} DE {{ ano }}<br>
                DIRECCIÓN DE INFORMÁTICA
            </strong></p>
        </div>
    </div>
{% endblock %}
