{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Todos los Edictos{% endblock %}

{% block topbar_actions %}
    {% if autoridad %}
        {% if estatus == 'A' %}{% set title='Edictos de ' + autoridad.clave %}{% endif %}
        {% if estatus == 'B' %}{% set title='Edictos inactivos de ' + autoridad.clave %}{% endif %}
    {% else %}
        {% if estatus == 'A' %}{% set title='Todos los Edictos' %}{% endif %}
        {% if estatus == 'B' %}{% set title='Todos los Edictos inactivos' %}{% endif %}
    {% endif %}
    {% call topbar.page_buttons(title) %}
        {{ topbar.button_districts('Departamentos', url_for('edictos.list_distritos')) }}
        {% if autoridad %}
            {% if current_user.can_admin('edictos') %}
                {{ topbar.button_upload('Subir', url_for('edictos.new_for_autoridad', autoridad_id=autoridad.id)) }}
            {% endif %}
            {% if current_user.can_edit('edictos') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('edictos.list_autoridad_edictos_inactive', autoridad_id=autoridad.id)) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('edictos.list_autoridad_edictos', autoridad_id=autoridad.id)) }}{% endif %}
            {% endif %}
            {# if current_user.can_insert('tareas') #}
                {# topbar.button_refresh('Refrescar', url_for('edictos.refresh', autoridad_id=autoridad.id)) #}
            {# endif #}
        {% else %}
            {% if current_user.can_edit('edictos') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('edictos.list_inactive')) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('edictos.list_active')) }}{% endif %}
            {% endif %}
        {% endif %}
        {{ topbar.button_search('Buscar', url_for('edictos.search')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="edictos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Creados</th>
                    <th>Autoridades</th>
                    <th>Fechas</th>
                    <th>Descripciones</th>
                    <th>Expedientes</th>
                    <th>No. Pub.</th>
                    <th>Archivos</th>
                </tr>
            </thead>
            <tbody>
                {% for edicto in edictos %}
                <tr>
                    <td>{{ edicto.creado.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>{{ edicto.autoridad.clave }}</td>
                    <td>{{ edicto.fecha }}</td>
                    <td><a href="{{ url_for('edictos.detail', edicto_id=edicto.id) }}">{{ edicto.descripcion }}</a></td>
                    <td>{{ edicto.expediente }}</td>
                    <td>{{ edicto.numero_publicacion }}</td>
                    <td><a href="{{ edicto.url }}" target="_blank">PDF {{ list.icon_open_in_new() }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable_times('edictos_datatable') }}
{% endblock %}
