{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Todos los Edictos{% endblock %}

{% block topbar_actions %}
    {% if autoridad %}
        {% if estatus == 'A' %}{% set title='Edictos de ' + autoridad.clave %}{% endif %}
        {% if estatus == 'B' %}{% set title='Edictos inactivos de ' + autoridad.clave %}{% endif %}
    {% else %}
        {% if estatus == 'A' %}{% set title='Todos los Edictos' %}{% endif %}
        {% if estatus == 'B' %}{% set title='Todos los Edictos inactivos' %}{% endif %}
    {% endif %}
    {% call topbar.page_buttons(title) %}
        {{ topbar.button_districts('Departamentos', url_for('edictos.list_distritos')) }}
        {% if autoridad %}
            {% if current_user.can_admin('edictos') %}
                {{ topbar.button_upload('Subir', url_for('edictos.new_for_autoridad', autoridad_id=autoridad.id)) }}
            {% endif %}
            {% if current_user.can_edit('edictos') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('edictos.list_autoridad_edictos_inactive', autoridad_id=autoridad.id)) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('edictos.list_autoridad_edictos', autoridad_id=autoridad.id)) }}{% endif %}
            {% endif %}
            {# if current_user.can_insert('tareas') #}
                {# topbar.button_refresh('Refrescar', url_for('edictos.refresh', autoridad_id=autoridad.id)) #}
            {# endif #}
        {% else %}
            {% if current_user.can_edit('edictos') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('edictos.list_inactive')) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('edictos.list_active')) }}{% endif %}
            {% endif %}
        {% endif %}
        {# topbar.button_search('Buscar', url_for('edictos.search')) #}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="edictos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Creados</th>
                    <th>Autoridades</th>
                    <th>Fechas</th>
                    <th>Descripciones</th>
                    <th>Expedientes</th>
                    <th>No. Pub.</th>
                    <th>Archivos</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        $('#edictos_datatable').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            responsive: true,
            scrollX: true,
            ajax: {
                url: "/edictos/ajax_admin",
                type: "POST",
                headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}"},
                dataType: "json",
                dataSrc: "data",
                data: {
                    {% if autoridad %}'autoridad_id': "{{ autoridad.id }}",{% endif %}
                    'estatus': "{{ estatus }}"
                }
            },
            columns: [
                { data: "creado" },
                { data: "autoridad_clave" },
                { data: "fecha" },
                { data: "vinculo" },
                { data: "expediente" },
                { data: "numero_publicacion" },
                { data: "archivo" }
            ],
            columnDefs: [
                {
                    targets: 3,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="/edictos/' + data.id + '">' + data.descripcion + '</a>';
                    }
                },
                {
                    targets: 6,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">PDF</a>';
                    }
                }
            ],
            language: {
                lengthMenu: "Mostrar _MENU_",
                search: "Filtrar:",
                zeroRecords: "No se encontraron registros",
                info: "Página _PAGE_ de _PAGES_",
                infoEmpty: "No hay registros",
                infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                }
            }
        });
    </script>
{% endblock %}
