{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Edictos{% endblock %}

{% block topbar_actions %}
    {{ list.topbar_option_search('Buscar', url_for('edictos.search')) }}
    {{ list.topbar_option('Distritos', url_for('edictos.list_distritos'), 'fas fa-sitemap') }}
    {% if autoridad %}
        {% if current_user.can_admin('edictos') %}
            {{ list.topbar_option_upload('Subir', url_for('edictos.new_for_autoridad', autoridad_id=autoridad.id)) }}
        {% endif %}
        {% if current_user.can_edit('edictos') %}
            {% if estatus == 'A' %}{{ list.topbar_option_list_inactive('Inactivos', url_for('edictos.list_autoridad_edictos_inactive', autoridad_id=autoridad.id)) }}{% endif %}
            {% if estatus == 'B' %}{{ list.topbar_option_list_active('Activos', url_for('edictos.list_autoridad_edictos', autoridad_id=autoridad.id)) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('tareas') %}
            {{ list.topbar_option_refresh('Refrescar', url_for('edictos.refresh', autoridad_id=autoridad.id)) }}
        {% endif %}
    {% else %}
        {% if current_user.can_edit('edictos') %}
            {% if estatus == 'A' %}{{ list.topbar_option_list_inactive('Inactivos', url_for('edictos.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ list.topbar_option_list_active('Activos', url_for('edictos.list_active')) }}{% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if estatus == 'A'%}{{ list.page('Edictos') }}{% endif %}
    {% if estatus == 'B'%}{{ list.page('Edictos inactivos') }}{% endif %}
    <div class="container-fluid">
        {% call list.card() %}
            <table id="edictos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %}">
                <thead>
                    <tr>
                        <th>Creados</th>
                        <th>Autoridades</th>
                        <th>Fechas</th>
                        <th>Descripciones</th>
                        <th>Expedientes</th>
                        <th>No. Pub.</th>
                        <th>Archivos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for edicto in edictos %}
                    <tr>
                        <td>{{ edicto.creado.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ edicto.autoridad.clave }}</td>
                        <td>{{ edicto.fecha }}</td>
                        <td><a href="{{ url_for('edictos.detail', edicto_id=edicto.id) }}">{{ edicto.descripcion }}</a></td>
                        <td>{{ edicto.expediente }}</td>
                        <td>{{ edicto.numero_publicacion }}</td>
                        <td><a href="{{ edicto.url }}" target="_blank">PDF <i class="fas fa-external-link-alt"></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('edictos_datatable', order='desc') }}
{% endblock %}
