{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Edictos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_districts('Distritos', url_for('edictos.list_distritos')) }}
        {% if autoridad %}
            {% if current_user.can_admin('EDICTOS') or (current_user.can_edit('EDICTOS') and current_user.autoridad_id == autoridad.id) %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('edictos.list_inactive')) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('edictos.list_active')) }}{% endif %}
            {% endif %}
            {% if current_user.can_admin('EDICTOS') %}
                {{ topbar.button_upload('Subir', url_for('edictos.new_for_autoridad', autoridad_id=autoridad.id)) }}
            {% elif current_user.can_insert('EDICTOS') and current_user.autoridad_id == autoridad.id %}
                {{ topbar.button_upload('Subir', url_for('edictos.new')) }}
            {% endif %}
        {% endif %}
        {{ topbar.button_search('Buscar', url_for('edictos.search')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="edictos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Fechas</th>
                    <th>Descripciones</th>
                    <th>Expedientes</th>
                    <th>No. Pub.</th>
                    <th>Archivos</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        $('#edictos_datatable').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            responsive: true,
            scrollX: true,
            ajax: {
                url: "/edictos/datatable_json",
                type: "POST",
                headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}"},
                dataType: "json",
                dataSrc: "data",
                data: {{ filtros }}
            },
            columns: [
                { data: "fecha" },
                { data: "detalle" },
                { data: "expediente" },
                { data: "numero_publicacion" },
                { data: "archivo" }
            ],
            columnDefs: [
                {
                    targets: 0,
                    type: "date",
                    render: function (data, type, row) {
                        return moment.utc(data).local().format("DD MMM YYYY");
                    }
                },
                {
                    targets: 1,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' +
                            (data.descripcion.length > 40 ? data.descripcion.substr(0, 40) + '…' : data.descripcion) +
                            '</a>';
                    }
                },
                {
                    targets: 4,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '" target="_blank">PDF</a>';
                    }
                }
            ],
            language: {
                lengthMenu: "Mostrar _MENU_",
                search: "Filtrar:",
                zeroRecords: "No se encontraron registros",
                info: "Total de registros _TOTAL_ ",
                infoEmpty: "No hay registros",
                infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                }
            }
        });
    </script>
{% endblock %}
