{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Buscar Edictos{% endblock %}

{% block content %}
    {{ f.page('Buscar Edictos') }}
    <div class="container-fluid">
        {% call f.form_tag('edictos.search', fid='edicto_search_form') %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.expediente) %}{% endcall %}
            {{ form.buscar() }}
        {% endcall %}
    </div>
{% endblock %}
