{% extends 'layouts/base.jinja2' %}
{% import 'macros/app.jinja2' as app %}
{% import 'macros/flash.jinja2' as flash with context %}

{% block template_head %}
    <!-- CSRF token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block main %}
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Plataforma Web</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout">Salir</a>
            </li>
        </ul>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                {% include 'layouts/sidebar_navigation.jinja2' %}
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {{ flash.render() }}
                {# include 'layouts/tasks_progress.jinja2' #}
                {% block topbar_actions %}{% endblock %}
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}

{% block template_javascript %}
    <!-- Menu sidebar -->
    <!-- script src="{{ url_for('static', filename='vendor/matrix-admin-bt4/dist/js/sidebarmenu.js') }}"></script -->
{% endblock %}
