<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='images/favicon.png') }}">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <title>{% block title %}{% endblock %}</title>
        <!-- Matrix Admin BT4 CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/matrix-admin-bt4/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/matrix-admin-bt4/dist/css/style.min.css') }}" type="text/css">
        {% block custom_head %}{% endblock %}
    </head>
    <body>
        <!-- Main wrapper -->
        <div id="main-wrapper">
            {% block main %}{% endblock %}
        </div>
        <!-- JQuery -->
        <script src="{{ url_for('static', filename='vendor/matrix-admin-bt4/assets/libs/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{ url_for('static', filename='vendor/matrix-admin-bt4/assets/libs/popper.js/dist/umd/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/matrix-admin-bt4/assets/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <!-- Slimscrollbar scrollbar JavaScript -->
        <script src="{{ url_for('static', filename='vendor/matrix-admin-bt4/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/matrix-admin-bt4/assets/extra-libs/sparkline/sparkline.js') }}"></script>
        <!-- Wave Effects -->
        <script src="{{ url_for('static', filename='vendor/matrix-admin-bt4/dist/js/waves.js') }}"></script>
        <!-- Menu sidebar -->
        <script src="{{ url_for('static', filename='vendor/matrix-admin-bt4/dist/js/sidebarmenu.js') }}"></script>
        <!-- Custom JavaScript -->
        <script src="{{ url_for('static', filename='vendor/matrix-admin-bt4/dist/js/custom.js') }}"></script>
        <!-- Datatables -->
        <script src="{{ url_for('static', filename='vendor/matrix-admin-bt4/assets/extra-libs/DataTables/datatables.min.js') }}"></script>
        <!-- Sidebar navigation collapse
        <script>
            $(document).ready(function () { $("#main-wrapper").toggleClass("mini-sidebar"); });
        </script> -->
        {% block custom_javascript %}{% endblock %}
    </body>
</html>
