<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
        <title>{% block title %}{% endblock %}</title>
        <!-- Matrix Admin BT4 CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/matrix-admin-bt4/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/matrix-admin-bt4/dist/css/style.min.css') }}" type="text/css">
        {% block template_head %}{% endblock %}
        {% block custom_head %}{% endblock %}
    </head>
    <body>
        {% block main %}{% endblock %}
        <!-- JQuery -->
        <script src="{{ url_for('static', filename='vendor/matrix-admin-bt4/assets/libs/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{ url_for('static', filename='vendor/matrix-admin-bt4/assets/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <!-- popper.js.org tooltip & popover positioning engine -->
        <script src="{{ url_for('static', filename='vendor/matrix-admin-bt4/assets/libs/popper.js/dist/umd/popper.min.js') }}"></script>
        {% block template_javascript %}{% endblock %}
        {% block custom_javascript %}{% endblock %}
    </body>
</html>
