{% extends 'layouts/base.jinja2' %}
{% import 'macros/flash.jinja2' as flash with context %}

{% block template_head %}
    <!-- Bootstrap 5 Login -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bs5-login.css') }}">
    <!-- CSRF token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block main %}
    <main class="form-signin">
        {% block welcome %}{% endblock %}
        {{ flash.render() }}
        {% block firebase_content %}{% endblock %}
        {% block acceso_form_content %}{% endblock %}
    </main>
{% endblock %}
