<!-- Sidebar navigation -->
<div class="d-flex flex-column flex-shrink-0 p-3 text-white">
    <ul class="nav nav-pills flex-column mb-auto">
        {{ app.sidebar_nav_option('Inicio', '/', 'mdi:view-dashboard') }}
        {% if current_user.can_view('abogados') %}{{ app.sidebar_nav_option('Abogados registrados', '/abogados', 'mdi:tie') }}{% endif %}
        {% if current_user.can_view('edictos') %}{{ app.sidebar_nav_option('Edictos', '/edictos', 'mdi:file-check') }}{% endif %}
        {% if current_user.can_view('glosas') %}{{ app.sidebar_nav_option('Glosas', '/glosas', 'mdi:book') }}{% endif %}
        {% if current_user.can_view('listas_de_acuerdos') %}{{ app.sidebar_nav_option('Listas de acuerdos', '/listas_de_acuerdos', 'mdi:file-document') }}{% endif %}
        {% if current_user.can_view('peritos') %}{{ app.sidebar_nav_option('Peritos', '/peritos', 'mdi:clipboard-account') }}{% endif %}
        {% if current_user.can_view('cid_procedimientos') %}{{ app.sidebar_nav_option('Procedimientos', '/cid_procedimientos', 'mdi:book-open-variant') }}{% endif %}
        {% if current_user.can_view('transcripciones') %} {{ app.sidebar_nav_option('Transcripciones', '/transcripciones', 'mdi:voicemail') }} {% endif %}
        {% if current_user.can_view('ubicaciones_expedientes') %}{{ app.sidebar_nav_option('Ubicación de Expedientes', '/ubicaciones_expedientes', 'mdi:file-find') }}{% endif %}
        {% if current_user.can_view('sentencias') %}{{ app.sidebar_nav_option('V.P. Sentencias', '/sentencias', 'mdi:gavel') }}{% endif %}
        {% if current_user.can_view('autoridades') %}{{ app.sidebar_nav_option('Autoridades', '/autoridades', 'mdi:scale-balance') }}{% endif %}
        {% if current_user.can_edit('bitacoras') %} {{ app.sidebar_nav_option('Bitácoras', '/bitacoras', 'mdi:calendar-clock') }} {% endif %}
        {% if current_user.can_view('usuarios') %}{{ app.sidebar_nav_option('Usuarios', '/usuarios', 'mdi:account-key') }}{% endif %}
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <strong>{{ current_user.nombre[:24] }}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="{{ url_for('usuarios.profile') }}">Perfil</a></li>
            <li><a class="dropdown-item" href="/logout">Salir</a></li>
        </ul>
    </div>
</div>
