<!-- Sidebar navigation -->
<aside id="sidebar" class="left-sidebar" data-sidebarbg="skin5">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                {{ app.sidebar_nav_option('Inicio', '/', 'mdi mdi-view-dashboard') }}
                {% if current_user.can_view('abogados') %}{{ app.sidebar_nav_option('Abogados registrados', '/abogados', 'mdi mdi-tie') }}{% endif %}
                {% if current_user.can_view('edictos') %}{{ app.sidebar_nav_option('Edictos', '/edictos', 'mdi mdi-file') }}{% endif %}
                {% if current_user.can_view('glosas') %}{{ app.sidebar_nav_option('Glosas', '/glosas', 'mdi mdi-file') }}{% endif %}
                {% if current_user.can_view('listas_de_acuerdos') %}{{ app.sidebar_nav_option('Listas de acuerdos', '/listas_de_acuerdos', 'mdi mdi-file') }}{% endif %}
                {% if current_user.can_view('peritos') %}{{ app.sidebar_nav_option('Peritos', '/peritos', 'mdi mdi-file') }}{% endif %}
                {% call app.sidebar_nav_submenu('Catálogos', 'mdi mdi-account-settings') %}
                    {% if current_user.can_view('distritos') %}{{ app.sidebar_nav_option('Distritos', '/distritos', 'mdi mdi-apps') }}{% endif %}
                    {% if current_user.can_view('autoridades') %}{{ app.sidebar_nav_option('Autoridades', '/autoridades', 'mdi mdi-scale-balance') }}{% endif %}
                {% endcall %}
                {% call app.sidebar_nav_submenu('Autentificaciones', 'mdi mdi-account-settings') %}
                    {% if current_user.can_view('bitacoras') %} {{ app.sidebar_nav_option('Bitácoras', '/bitacoras', 'mdi mdi-calendar-clock') }} {% endif %}
                    {% if current_user.can_view('entradas_salidas') %} {{ app.sidebar_nav_option('Entradas/Salidas', '/entradas_salidas', 'mdi mdi-calendar-clock') }} {% endif %}
                    {% if current_user.can_view('roles') %} {{ app.sidebar_nav_option('Roles', '/roles', 'mdi mdi-gamepad') }} {% endif %}
                {% endcall %}
                {% if current_user.can_view('usuarios') %}{{ app.sidebar_nav_option('Usuarios', '/usuarios', 'mdi mdi-account-key') }}{% endif %}
            </ul>
        </nav>
    </div>
</aside>
