<!-- Sidebar navigation -->
<div class="position-sticky pt-3">
    <ul class="nav flex-column">
        {{ app.sidebar_nav_option('Inicio', '/', 'mdi mdi-view-dashboard') }}
        {% if current_user.can_view('abogados') %}{{ app.sidebar_nav_option('Abogados registrados', '/abogados', 'mdi mdi-tie') }}{% endif %}
        {% if current_user.can_view('edictos') %}{{ app.sidebar_nav_option('Edictos', '/edictos', 'mdi mdi-file-check') }}{% endif %}
        {% if current_user.can_view('glosas') %}{{ app.sidebar_nav_option('Glosas', '/glosas', 'mdi mdi-book') }}{% endif %}
        {% if current_user.can_view('listas_de_acuerdos') %}{{ app.sidebar_nav_option('Listas de acuerdos', '/listas_de_acuerdos', 'mdi mdi-file-document') }}{% endif %}
        {% if current_user.can_view('peritos') %}{{ app.sidebar_nav_option('Peritos', '/peritos', 'mdi mdi-clipboard-account') }}{% endif %}
        {% if current_user.can_view('sentencias') %}{{ app.sidebar_nav_option('Sentencias', '/sentencias', 'mdi mdi-book') }}{% endif %}
        {% if current_user.can_view('transcripciones') %} {{ app.sidebar_nav_option('Transcripciones', '/transcripciones', 'mdi mdi-voicemail') }} {% endif %}
        {% if current_user.can_view('ubicaciones_expedientes') %}{{ app.sidebar_nav_option('Ubicación de Expedientes', '/ubicaciones_expedientes', 'mdi mdi-file-find') }}{% endif %}
        {% if current_user.can_view('cid_formatos') %}{{ app.sidebar_nav_option('Procedimientos', '/cid_procedimientos', 'mdi mdi-file') }}{% endif %}
        {% if current_user.can_view('cid_formatos') %}{{ app.sidebar_nav_option('Formatos', '/cid_formatos', 'mdi mdi-file') }}{% endif %}
        {% if current_user.can_view('cid_registros') %}{{ app.sidebar_nav_option('Registros', '/cid_registros', 'mdi mdi-file') }}{% endif %}
        {% if current_user.can_view('distritos') %}{{ app.sidebar_nav_option('Departamentos', '/distritos', 'fa fa-sitemap') }}{% endif %}
        {% if current_user.can_view('autoridades') %}{{ app.sidebar_nav_option('Autoridades', '/autoridades', 'mdi mdi-scale-balance') }}{% endif %}
        {% if current_user.can_view('materias') %}{{ app.sidebar_nav_option('Materias', '/materias', 'mdi mdi-tag') }}{% endif %}
        {% if current_user.can_view('usuarios') %}{{ app.sidebar_nav_option('Usuarios', '/usuarios', 'mdi mdi-account-key') }}{% endif %}
        {% if current_user.can_edit('bitacoras') %} {{ app.sidebar_nav_option('Bitácoras', '/bitacoras', 'mdi mdi-calendar-clock') }} {% endif %}
        {% if current_user.can_edit('entradas_salidas') %} {{ app.sidebar_nav_option('Entradas/Salidas', '/entradas_salidas', 'mdi mdi-calendar-clock') }} {% endif %}
        {% if current_user.can_edit('roles') %} {{ app.sidebar_nav_option('Roles', '/roles', 'mdi mdi-gamepad') }} {% endif %}
        {% if current_user.can_edit('tareas') %} {{ app.sidebar_nav_option('Tareas', '/tareas', 'mdi mdi-washing-machine') }} {% endif %}
    </ul>
</div>
