{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Centro de Trabajo{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(centro_trabajo.nombre) %}
        {{ topbar.button_previous('Centros de Trabajo', url_for('centros_trabajos.list_active')) }}
        {% if current_user.can_view('FUNCIONARIOS') %}
            {{ topbar.button('Directorio', url_for('funcionarios.list_active'), 'mdi:account') }}
        {% endif %}
        {% if current_user.can_edit('CENTROS TRABAJOS') %}
            {{ topbar.button_edit('Editar', url_for('centros_trabajos.edit', centro_trabajo_id=centro_trabajo.id)) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=centro_trabajo.estatus) %}
        {{ detail.label_value_big('Clave', centro_trabajo.clave) }}
        {{ detail.label_value('Nombre', centro_trabajo.nombre) }}
        {{ detail.label_value('Teléfono', centro_trabajo.telefono) }}
        {% if current_user.can_view("DISTRITOS") %}
            {{ detail.label_value('Distrito', centro_trabajo.distrito.nombre, url_for('distritos.detail', distrito_id=centro_trabajo.distrito_id)) }}
        {% else %}
            {{ detail.label_value('Distrito', centro_trabajo.distrito.nombre) }}
        {% endif %}
    {% endcall %}
    {% if current_user.can_view('FUNCIONARIOS') %}
        {% call detail.card('Funcionarios') %}
            <table id="funcionarios_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>e-mail</th>
                        <th>Nombre</th>
                        <th>Puesto</th>
                        <th>Teléfono</th>
                        <th>Extensión</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.config_datatable() }}
    {% if current_user.can_view('FUNCIONARIOS') %}
        <script>
            configDataTable['ajax']['url'] = '/funcionarios/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'centro_trabajo_id': {{ centro_trabajo.id}} };
            configDataTable['columns'] = [
                { data: "detalle" },
                { data: "nombre" },
                { data: "puesto" },
                { data: "telefono" },
                { data: "extension" }
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.email + '</a>';
                    }
                },
                {
                    targets: [1, 2], // nombre, puesto
                    data: null,
                    render: function(data, type, row, meta) {
                        return (data.length > 48 ? data.substr(0, 48) + '…' : data);
                    }
                }
            ];
            $('#funcionarios_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
