{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Centro de Trabajo{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + centro_trabajo.nombre) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'centro_trabajo_id': centro_trabajo.id} %}
        {% call f.form_tag('centros_trabajos.edit', fid='centro_trabajo_form', **form_kwargs) %}
            {% call f.form_group(form.clave, readonly=True) %}{% endcall %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.telefono) %}{% endcall %}
            {% call f.form_group(form.distrito) %}{% endcall %}
            {% call f.form_group(form.domicilio) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
