{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Centros de Trabajos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('FUNCIONARIOS') %}
            {{ topbar.button('Funcionarios', url_for('funcionarios.list_active'), 'mdi:account') }}
        {% endif %}
        {% if current_user.can_edit('CENTROS TRABAJOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('centros_trabajos.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('centros_trabajos.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="centros_trabajos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Clave</th>
                    <th>Nombre</th>
                    <th>Area</th>
                    <th>Distrito</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/centros_trabajos/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'detalle' },
            { data: 'nombre' },
            { data: 'area' },
            { data: 'distrito' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.clave + '</a>';
                }
            },
            {
                targets: 3, // distrito
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url == '') {
                        return data.nombre_corto;
                    } else {
                        return '<a href="' + data.url + '">' + data.nombre_corto + '</a>';
                    }
                }
            },
        ];
        $('#centros_trabajos_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
