{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Aceptar Rechazar una Custodia{% endblock %}

{% block custom_head %}
    <style>
        #rechazar { background-color:#B80000; border-color:#B80000; box-sizing: border-box; float: right; }
        #aceptar { box-sizing: border-box; float: left;}
    </style>
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Aceptar o Rechazar una Custodia') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'inv_custodia_id': inv_custodia.id } %}
        {% call f.form_tag('inv_custodias.accept_reject', fid='inv_custodia_accept_reject_form', **form_kwargs) %}
            {% call f.form_group(form.nombre_completo, readonly=true) %}{% endcall %}
            {% call f.form_group(form.curp, readonly=true) %}{% endcall %}
            {% call f.form_group(form.oficina, readonly=true) %}{% endcall %}
            {% call f.form_group(form.puesto, readonly=true) %}{% endcall %}
            {% call f.form_group(form.aceptar) %}{% endcall %}
            {% call f.form_group(form.rechazar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
