{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Custodia{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Custodia ' + inv_custodia.id | string) %}
        {{ topbar.button_previous('Custodias', url_for('inv_custodias.list_active')) }}
        {% if current_user.can_admin('INV CUSTODIAS') %}
            {{ topbar.button_edit('Editar', url_for('inv_custodias.edit', inv_custodia_id=inv_custodia.id)) }}
            {% if inv_custodia.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('inv_custodias.delete', inv_custodia_id=inv_custodia.id)) }}{% endif %}
            {% if inv_custodia.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('inv_custodias.recover', inv_custodia_id=inv_custodia.id)) }}{% endif %}
        {% elif current_user.can_edit('INV CUSTODIAS') %}
            {{ topbar.button_edit('Editar', url_for('inv_custodias.edit', inv_custodia_id=inv_custodia.id)) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=inv_custodia.estatus) %}
        {% if current_user.can_view('USUARIOS') %}
            {{ detail.label_value('Usuario', inv_custodia.nombre_completo, url_for('usuarios.detail', usuario_id=inv_custodia.usuario_id)) }}
        {% else %}
            {{ detail.label_value('Usuario', inv_custodia.nombre_completo) }}
        {% endif %}
        {{ detail.label_value('Curp', inv_custodia.curp) }}
        {{ detail.label_value('Oficina', inv_custodia.usuario.oficina.clave_nombre, url_for('oficinas.detail', oficina_id=inv_custodia.usuario.oficina_id)) }}
        {{ detail.label_value('Puesto', inv_custodia.usuario.puesto) }}
        {{ detail.label_value('Fecha', moment(inv_custodia.fecha, local=True).format("DD MMM YYYY")) }}
        {{ detail.label_value('C. Equipos', inv_custodia.equipos_cantidad) }}
        {{ detail.label_value('C. Fotos', inv_custodia.equipos_fotos_cantidad) }}

    {% endcall %}
    {% if current_user.can_view('INV EQUIPOS')  %}
        {% call detail.card('Equipos') %}
            <table id="inv_equipos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>F. Fab.</th>
                        <th>Tipo</th>
                        <th>Marca</th>
                        <th>Descripción </th>
                        <th>No. Serie</th>
                        <th>D. IP</th>
                        <th>D. MAC</th>
                        <th>Red</th>
                        <th>Custodia de</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('INV EQUIPOS') %}
                <a href="{{ url_for('inv_equipos.new', inv_custodia_id=inv_custodia.id) }}" class="btn btn-primary">Agregar</a>
            {% endif %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('INV CUSTODIAS') %}
        {% if inv_custodia.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + inv_custodia.nombre_completo + '?') }}{% endif %}
        {% if inv_custodia.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + inv_custodia.nombre_completo + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
    {{ detail.config_datatable() }}
    {% if current_user.can_view('INV EQUIPOS') %}
        <script>
            configDataTable['ajax']['url'] = '/inv_equipos/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'inv_custodia_id': {{ inv_custodia.id}} };
            configDataTable['columns'] = [
                { data: "detalle" },
                { data: "fecha_fabricacion" },
                { data: "tipo" },
                { data: "inv_marca" },
                { data: "descripcion" },
                { data: "numero_serie" },
                { data: "direccion_ip" },
                { data: "direccion_mac" },
                { data: "inv_red" },
                { data: "nombre_completo" },
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: [0,], // detalle
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: [3,8], // inv_marca, inv_red
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data.url == '') {
                            return data.nombre;
                        } else {
                            return '<a href="' + data.url + '">' + data.nombre + '</a>';
                        }
                    }
                },
                {
                    targets: 4, // descripción del equipo
                    data: null,
                    render: function(data, type, row, meta){
                        if(data.length > 16){
                            return '<span title="' + data + '">' + data.substr(0, 16) + '…' + '</span>';
                        }
                        return data;
                    }
                },
                {
                    targets: 9, // nombre completo de la custodia
                    data: null,
                    render: function(data, type, row, meta){
                        if(data.length > 13){
                            return '<span title="' + data + '">' + data.substr(0, 13) + '…' + '</span>';
                        }
                        return data;
                    }
                },
            ];
            $('#inv_equipos_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
{% endblock %}
