{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Custodias{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button('Equipos', url_for('inv_equipos.list_active'),'mdi:desktop-classic') }}
        {{ topbar.button('Modelos', url_for('inv_modelos.list_active'), 'mdi:chart-bubble') }}
        {{ topbar.button('Marcas', url_for('inv_marcas.list_active'), 'mdi:bookmark-multiple') }}
        {{ topbar.button('Categorías', url_for('inv_categorias.list_active'),'mdi:car-wrench') }}
        {{ topbar.button('Redes', url_for('inv_redes.list_active'), 'mdi:access-point-network') }}
        {% if current_user.can_edit('INV CUSTODIAS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('inv_custodias.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('inv_custodias.list_active')) }}{% endif %}
        {% endif %}
        {{ topbar.button_search('Buscar', url_for('inv_custodias.search')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="inv_custodias_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre completo</th>
                    <th>Fecha</th>
                    <th>Oficina</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/inv_custodias/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "detalle" },
            { data: "usuario" },
            { data: "fecha" },
            { data: "oficina" },
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0,
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 1,
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url == '') {
                        return data.nombre;
                    } else {
                        return '<a href="' + data.url + '">' + data.nombre + '</a>';
                    }
                }
            },
            {
                targets: 3,
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url == '') {
                        return data.clave;
                    } else {
                        return '<a href="' + data.url + '">' + data.clave + '</a>';
                    }
                }
            },
        ];
        $('#inv_custodias_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
