{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nueva Custodia{% endblock %}

{% block custom_head %}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nueva Custodia') }}
{% endblock %}


{% block content %}
    {% call f.card() %}
        {# {% set form_kwargs = {'usuario_id': usuario.id} %}   #}
        {% call f.form_tag('inv_custodias.new', fid='custodia_form') %}
            {% call f.form_group(form.usuario, readonly=true) %}{% endcall %}
            {# {% call f.form_group(form.nombre_completo) %}{% endcall %} #}
            {# {% call f.form_group(form.curp) %}{% endcall %} #}
            {% call f.form_group(form.fecha) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Select2 bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {# Mandamos llamar la funcion para hacer el select2 poder buscar en el select#}
    
{% endblock%}