{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Tipo de Perito{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + perito_tipo.nombre) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'perito_tipo_id': perito_tipo.id} %}
        {% call f.form_tag('peritos_tipos.edit', fid='perito_tipo_form', **form_kwargs) %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
