{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Permisos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('modulos') %}
            {{ topbar.button('Módulos', url_for('modulos.list_active'), 'mdi:toy-brick') }}
        {% endif %}
        {% if current_user.can_view('roles') %}
            {{ topbar.button('Roles', url_for('roles.list_active'), 'mdi:gamepad') }}
        {% endif %}
        {% if current_user.can_view('usuarios') %}
            {{ topbar.button('Usuarios', url_for('usuarios.list_active'), 'mdi:account-key') }}
        {% endif %}
        {% if current_user.can_edit('permisos') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('permisos.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('permisos.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('permisos') %}
            {{ topbar.button_new('Nuevo Permiso', url_for('permisos.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="permisos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Permisos</th>
                </tr>
            </thead>
            <tbody>
            {% for permiso in permisos %}
                <tr>
                    <td><a href="{{ url_for('permisos.detail', permiso_id=permiso.id) }}">{{ permiso.nombre }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('permisos_datatable') }}
{% endblock %}
