{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Permiso{% endblock %}

{% block topbar_actions %}
    {{ topbar.page(titulo) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('permisos.new', fid='permiso_form') %}
            {% call f.form_group(form.modulo) %}{% endcall %}
            {% call f.form_group(form.rol) %}{% endcall %}
            {% call f.form_group(form.nivel) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
