{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Peritos{% endblock %}

{% block content %}
    {{ list.page_breadcrumb('Peritos') }}
    <div class="container-fluid">
        {% call list.card() %}
            <table id="peritos_datatable" class="table">
                <thead>
                    <tr>
                        <th>Peritos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for perito in peritos %}
                    <tr>
                        <td><a href="{{ url_for('peritos.detail', perito_id=perito.id) }}">{{ perito.nombre }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    <script>
        $('#peritos_datatable').DataTable();
    </script>
{% endblock %}
