{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Peritos{% endblock %}

{% block topbar_actions %}
    {% call list.topbar_actions() %}
        {{ list.topbar_actions_option('Buscar Perito', url_for('peritos.search')) }}
        {% if current_user.can_insert('peritos') %}
            {{ list.topbar_actions_option('Nuevo Perito', url_for('peritos.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {{ list.page('Peritos') }}
    <div class="container-fluid">
        {% call list.card() %}
            <table id="peritos_datatable" class="table">
                <thead>
                    <tr>
                        <th>Distritos</th>
                        <th>Tipos</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for perito in peritos %}
                    <tr>
                        <td>{{ perito.distrito.nombre }}</td>
                        <td>{{ perito.tipo }}</td>
                        <td><a href="{{ url_for('peritos.detail', perito_id=perito.id) }}">{{ perito.nombre }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    <script>
        $('#peritos_datatable').DataTable();
    </script>
{% endblock %}
