{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Peritos{% endblock %}

{% block topbar_actions %}
    {{ list.topbar_option_search('Buscar', url_for('peritos.search')) }}
    {% if current_user.can_edit('peritos') %}
        {% if estatus == 'A' %}{{ list.topbar_option_list_inactive('Inactivos', url_for('peritos.list_inactive')) }}{% endif %}
        {% if estatus == 'B' %}{{ list.topbar_option_list_active('Activos', url_for('peritos.list_active')) }}{% endif %}
    {% endif %}
    {% if current_user.can_insert('peritos') %}
        {{ list.topbar_option_new('Nuevo Perito', url_for('peritos.new')) }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if estatus == 'A' %}{{ list.page('Peritos') }}{% endif %}
    {% if estatus == 'B' %}{{ list.page('Peritos inactivos') }}{% endif %}
    <div class="container-fluid">
        {% call list.card() %}
            <table id="peritos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %}">
                <thead>
                    <tr>
                        <th>Distritos</th>
                        <th>Tipos</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for perito in peritos %}
                    <tr>
                        <td>{{ perito.distrito.nombre }}</td>
                        <td>{{ perito.tipo }}</td>
                        <td><a href="{{ url_for('peritos.detail', perito_id=perito.id) }}">{{ perito.nombre }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('peritos_datatable') }}
{% endblock %}
