{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Nuevo Perito{% endblock %}

{% block content %}
    {{ f.page('Nuevo Perito') }}
    <div class="container-fluid">
        {% call f.card() %}
            {% call f.form_tag('peritos.new', fid='perito_form') %}
                {% call f.form_group(form.nombre) %}{% endcall %}
                {% call f.form_group(form.distrito) %}{% endcall %}
                {% call f.form_group(form.tipo) %}{% endcall %}
                {% call f.form_group(form.domicilio) %}{% endcall %}
                {% call f.form_group(form.telefono_fijo) %}{% endcall %}
                {% call f.form_group(form.telefono_celular) %}{% endcall %}
                {% call f.form_group(form.email) %}{% endcall %}
                {% call f.form_group(form.notas) %}{% endcall %}
                {% call f.form_group(form.renovacion) %}{% endcall %}
                {{ form.guardar() }}
            {% endcall %}
        {% endcall %}
    </div>
{% endblock %}
