{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Buscar Peritos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Buscar Peritos') %}
        {{ topbar.button_previous('Peritos', url_for('peritos.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('peritos.search', fid='perito_search_form') %}
            {% call f.form_group(form.distrito) %}{% endcall %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.tipo) %}{% endcall %}
            {{ form.buscar() }}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        $("#tipo").prop("selectedIndex", -1); // Poner en blanco el select Tipo
    </script>
{% endblock %}
