{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Buscar Peritos{% endblock %}

{% block content %}
    {{ f.page('Buscar Peritos') }}
    <div class="container-fluid">
        {% call f.form_tag('peritos.search', fid='perito_search_form') %}
            {% call f.form_group(form.distrito) %}{% endcall %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.tipo) %}{% endcall %}
            {{ form.buscar() }}
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    <script>
        $("#tipo").prop("selectedIndex", -1); // Poner en blanco el select Tipo
    </script>
{% endblock %}
