{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Oficina{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' +  oficina.clave ) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'oficina_id': oficina.id} %}
        {% call f.form_tag('oficinas.edit', fid='oficina_id_form', **form_kwargs) %}
            {% call f.form_group(form.clave) %}{% endcall %}
            {% call f.form_group(form.descripcion_corta) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.es_juridiccional) %}{% endcall %}
            {% call f.form_group(form.apertura) %}{% endcall %}
            {% call f.form_group(form.cierre) %}{% endcall %}
            {% call f.form_group(form.limite_personas) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
