{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Oficinas{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('OFICINAS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('oficinas.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('oficinas.list_active')) }}{% endif %}
        {% endif %}
            {{ topbar.button_new('Nueva Oficina', url_for('oficinas.new')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="oficinas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Clave</th>
                    <th>Descripción Corta</th>
                    <th>Horario</th>
                </tr>
            </thead>
            <tbody>
                {% for oficina in oficinas %}
                <tr>
                    <td><a href="{{ url_for('oficinas.detail', oficina_id=oficina.id) }}">{{ oficina.clave }}</a></td>
                    <td>{{ oficina.descripcion_corta }}</td>
                    <td>{{ oficina.apertura.strftime("%H:%M") }} — {{ oficina.cierre.strftime("%H:%M") }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('oficinas_datatable') }}
{% endblock %}
