{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Buscar Oficina{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Buscar Oficina') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('oficinas.search', fid='oficina_search_form') %}
            {% call f.form_group(form.clave) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {{ form.buscar() }}
        {% endcall %}
    {% endcall %}
{% endblock %}
