{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Tesis Jurisprudencia{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + tesis_jurisprudencia.titulo) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'tesis_jurisprudencia_id': tesis_jurisprudencia.id} %}
        {% call f.form_tag('tesis_jurisprudencias.edit', fid='tesis_jurisprudencia_form', **form_kwargs) %}
            {% call f.form_group(form.titulo) %}{% endcall %}
            {% call f.form_group(form.subtitulo) %}{% endcall %}
            {% call f.form_group(form.tipo) %}{% endcall %}
            {% call f.form_group(form.estado) %}{% endcall %}
            {% call f.form_group(form.numero_registro_digital) %}{% endcall %}
            {% call f.form_group(form.clave_control) %}{% endcall %}
            {% call f.form_group(form.clase) %}{% endcall %}
            {% call f.form_group(form.distrito) %}{% endcall %}
            {% call f.form_group(form.autoridad) %}{% endcall %}
            {% call f.form_group(form.instancia) %}{% endcall %}
            {% call f.form_group(form.materia) %}{% endcall %}
            {% call f.form_group(form.rubro) %}{% endcall %}
            {% call f.form_group(form.texto) %}{% endcall %}
            {% call f.form_group(form.precedentes) %}{% endcall %}
            {% call f.form_group(form.funcionario) %}{% endcall %}
            {% call f.form_group(form.aprobacion_fecha) %}{% endcall %}
            {% call f.form_group(form.votacion) %}{% endcall %}
            {% call f.form_group(form.votos_particulares) %}{% endcall %}
            {% call f.form_group(form.publicacion_tiempo) %}{% endcall %}
            {% call f.form_group(form.aplicacion_tiempo) %}{% endcall %}
            {% call f.form_group(form.epoca) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
