{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Tesis y Jurisprudencias{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_districts('Autoridades', url_for('tesis_jurisprudencias.list_autoridades')) }}
        {% if current_user.can_view('EPOCAS') %}
            {{ topbar.button('Epocas', url_for('epocas.list_active'), 'mdi:table-clock') }}
        {% endif %}
        {% if current_user.can_view('FUNCIONARIOS') %}
            {{ topbar.button('Funcionarios', url_for('funcionarios.list_active'), 'mdi:account') }}
        {% endif %}
        {% if autoridad %}
            {% if current_user.can_admin('TESIS JURISPRUDENCIAS') %}
                {{ topbar.button_new('Nueva Tesis o Jurisprudencia', url_for('tesis_jurisprudencias.new_for_autoridad', autoridad_id=autoridad.id)) }}
            {% endif %}
            {# {% if current_user.can_edit('TESIS JURISPRUDENCIAS') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('tesis_jurisprudencias.list_autoridad_tesis_jurisprudencias_inactive', autoridad_id=autoridad.id)) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('tesis_jurisprudencias.list_autoridad_tesis_jurisprudencias', autoridad_id=autoridad.id)) }}{% endif %}
            {% endif %} #}
        {% else %}
            {% if current_user.can_edit('TESIS JURISPRUDENCIAS') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('tesis_jurisprudencias.list_inactive')) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('tesis_jurisprudencias.list_active')) }}{% endif %}
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="tesis_jurisprudencias_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Creado</th>
                    <th>Autoridad</th>
                    <th>Título</th>
                    <th>Clase</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        $('#tesis_jurisprudencias_datatable').DataTable({
            processing: true,
            serverSide: true,
            searching: false,
            responsive: true,
            scrollX: true,
            ajax: {
                url: "/tesis_jurisprudencias/datatable_json_admin",
                type: "POST",
                headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                dataType: "json",
                dataSrc: "data",
                data: {{ filtros }}
            },
            columns: [
                { data: "creado" },
                { data: "autoridad_clave" },
                { data: "detalle" },
                { data: "clase" }
            ],
            order: [[ 0, "desc" ]],
            columnDefs: [
                {
                    targets: 0,
                    type: "date",
                    render: function (data, type, row) {
                        return moment.utc(data).local().format("YYYY-MM-DD HH:mm:ss");
                    }
                },
                {
                    targets: 2,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.titulo + '</a>';
                    }
                }
            ],
            language: {
                lengthMenu: "Mostrar _MENU_",
                search: "Filtrar:",
                zeroRecords: "No se encontraron registros",
                info: "Total de registros _TOTAL_ ",
                infoEmpty: "No hay registros",
                infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                }
            }
        });
    </script>
{% endblock %}
