{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Rol{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Rol ' + rol.nombre) %}
        {{ topbar.button_previous('Roles', url_for('roles.list_active')) }}
        {% if current_user.can_edit('roles') %}
            {{ topbar.button_edit('Editar', url_for('roles.edit', rol_id=rol.id)) }}
            {% if rol.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('roles.delete', rol_id=rol.id)) }}{% endif %}
            {% if rol.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('roles.recover', rol_id=rol.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card('Permisos') %}
        <table id="permisos_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Modulos</th>
                    <th>Permisos</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for permiso in rol.permisos %}
                {% if permiso.estatus == "A" and permiso.modulo.estatus == "A" %}
                <tr>
                    <td><a href="{{ url_for('modulos.detail', modulo_id=permiso.modulo_id) }}">{{ permiso.modulo.nombre }}</a></td>
                    <td><a href="{{ url_for('permisos.detail', permiso_id=permiso.id) }}">{{ permiso.nivel_descrito }}</a></td>
                    <td>
                    {% if current_user.can_edit('permisos') %}
                        {{ list.button_edit(url=url_for('permisos.edit', permiso_id=permiso.id)) }}
                        {{ modals.button_delete(url=url_for('permisos.delete', permiso_id=permiso.id), id='DeletePermiso', message='¿Eliminar ' + permiso.nombre + '?') }}
                    {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('permisos.new_with_rol', rol_id=rol.id) }}" class="btn btn-primary">Agregar</a>
    {% endcall %}
    {% call detail.card('Usuarios-Roles') %}
        <table id="usuarios_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Puestos</th>
                    <th>e-mail</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for usuario_rol in rol.usuarios_roles %}
                {% if usuario_rol.estatus == "A" and usuario_rol.usuario.estatus == "A" %}
                <tr>
                    <td><a href="{{ url_for('usuarios.detail', usuario_id=usuario_rol.usuario_id) }}">{{ usuario_rol.usuario.nombre }}</a></td>
                    <td>{{ usuario_rol.usuario.puesto }}</td>
                    <td>{{ usuario_rol.usuario.email }}</td>
                    <td>
                    {% if current_user.can_edit('usuarios roles') %}
                        {{ modals.button_delete(url=url_for('usuarios_roles.delete', usuario_rol_id=usuario_rol.id), id='DeleteUsuarioRol', message='¿Eliminar ' + usuario_rol.usuario.nombre + '?') }}
                    {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('usuarios_roles.new_with_rol', rol_id=rol.id) }}" class="btn btn-primary">Agregar</a>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('roles') %}
        {% if rol.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + rol.nombre + '?') }}{% endif %}
        {% if rol.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + rol.nombre + '?') }}{% endif %}
    {% endif %}
    {{ detail.datatable('permisos_datatable') }}
    {{ detail.datatable('usuarios_datatable') }}
    {{ modals.custom_javascript('Eliminar', '¿Eliminar ese permiso del rol?', 'DeletePermiso') }}
    {{ modals.custom_javascript('Eliminar', '¿Eliminar ese usuario del rol?', 'DeleteUsuarioRol') }}
{% endblock %}
