{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Registro{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Registro ' + registro.descripcion) %}
        {{ topbar.button_previous('Registros', url_for('cid_registros.list_active')) }}
        {% if current_user.can_edit('cid_registros') %}
            {{ topbar.button_edit('Editar', url_for('cid_registros.edit', registro_id=registro.id)) }}
            {% if registro.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('cid_registros.delete', registro_id=registro.id)) }}{% endif %}
            {% if registro.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('cid_registros.recover', registro_id=registro.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=registro.estatus) %}
        {# detail.label_value_big('Registro', cid_registro.descripcion) #}
        {{ detail.label_value('Fecha', cid_registro.creado.strftime('%Y-%m-%d %H:%M')) }}
        {{ detail.label_value('Formato', cid_registro.formato.descripcion, url_for('cid_formatos.detail', cid_formato_id=cid_registro.formato_id)) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('cid_registros') %}
        {% if registro.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + registro.descripcion + '?') }}{% endif %}
        {% if registro.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + registro.descripcion + '?') }}{% endif %}
    {% endif %}
{% endblock %}
