{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Registro{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Registro') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('cid_registros.new', fid='cid_registro_form') %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.formato) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
