{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}REPSVM Agresor{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('REPSVM Agresor') %}
        {{ topbar.button_previous('Agresores', url_for('repsvm_agresores.list_active')) }}
        {% if current_user.can_edit('REPSVM AGRESORES') %}
            {{ topbar.button_edit('Editar', url_for('repsvm_agresores.edit', repsvm_agresor_id=repsvm_agresor.id)) }}
            {% if repsvm_agresor.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('repsvm_agresores.delete', repsvm_agresor_id=repsvm_agresor.id)) }}{% endif %}
            {% if repsvm_agresor.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('repsvm_agresores.recover', repsvm_agresor_id=repsvm_agresor.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=repsvm_agresor.estatus) %}
        {{ detail.label_value_big('Nombre', repsvm_agresor.nombre) }}
        {{ detail.label_value('Distrito', repsvm_agresor.distrito.nombre, url_for('distritos.detail', distrito_id=repsvm_agresor.distrito_id)) }}
        {{ detail.label_value('Consecutivo', repsvm_agresor.consecutivo) }}
        {{ detail.label_value('Delito genérico', repsvm_agresor.delito_generico) }}
        {{ detail.label_value('Delito especifico', repsvm_agresor.delito_especifico) }}
        {{ detail.label_value('Número de causa', repsvm_agresor.numero_causa) }}
        {{ detail.label_value('Pena impuesta', repsvm_agresor.pena_impuesta) }}
        {{ detail.label_value('Observaciones', repsvm_agresor.observaciones) }}
        {{ detail.label_value('Tipo de Juzgado', repsvm_agresor.tipo_juzgado) }}
        {{ detail.label_value('Tipo de Sentencia', repsvm_agresor.tipo_sentencia) }}
        {{ detail.label_value('V.P. Sentencia', repsvm_agresor.sentencia_url, repsvm_agresor.sentencia_url) }}
        {{ detail.label_value('Es público', repsvm_agresor.es_publico) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('REPSVM AGRESORES') %}
        {% if repsvm_agresor.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + repsvm_agresor.nombre + '?') }}{% endif %}
        {% if repsvm_agresor.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + repsvm_agresor.nombre + '?') }}{% endif %}
    {% endif %}
{% endblock %}
