{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}REPSVM Agresores{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('REPSVM AGRESORES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('repsvm_agresores.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('repsvm_agresores.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('REPSVM AGRESORES') %}
            {{ topbar.button_new('Nuevo Agresor', url_for('repsvm_agresores.new')) }}
        {% endif %}
        {{ topbar.button_search('Buscar', url_for('repsvm_agresores.search')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="repsvm_agresores_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Distrito</th>
                    <th>Consecutivo</th>
                    <th>Nombre</th>
                    <th>Número de causa</th>
                    <th>Pena impuesta</th>
                    <th>V.P. Sentencia</th>
                    <th>Es público</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/repsvm_agresores/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "distrito" },
            { data: "consecutivo" },
            { data: "detalle" },
            { data: "numero_causa" },
            { data: "pena_impuesta" },
            { data: "sentencia_url" },
            { data: "es_publico" },
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // Distrito
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url != '') {
                        return '<a href="' + data.url + '">' + data.nombre_corto + '</a>';
                    }
                    return data.nombre_corto;
                }
            },
            {
                targets: 2, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    if (data.nombre.length > 24) {
                        texto = '<span title="' + data.nombre + '">' + data.nombre.substr(0, 24) + '…' + '</span>';
                    } else {
                        texto = data.nombre;
                    }
                    return '<a href="' + data.url + '">' + texto + '</a>';
                }
            },
            {
                targets: [3, 4], // Numero de Causa y Pena
                data: null,
                render: function(data, type, row, meta) {
                    if (data.length > 24) {
                        return '<span title="' + data + '">' + data.substr(0, 48) + '…' + '</span>';
                    }
                    return data;
                }
            },
            {
                targets: 5, // Sentencia URL
                data: null,
                render: function(data, type, row, meta) {
                    if (data != '') {
                        return '<a href="' + data + '" target="_blank"><span class="iconify" data-icon="mdi:file-download"></span></a>';
                    }
                    return '';
                }
            },
            {
                targets: 6, // Es público
                data: null,
                render: function(data, type, row, meta) {
                    if (data) {
                        return '<span class="iconify" data-icon="mdi:check"></span>';
                    }
                    return '';
                }
            },
        ];
        $('#repsvm_agresores_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
