{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Buscar REPSVM Agresores{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Buscar REPSVM Agresores') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('repsvm_agresores.search', fid='repsvm_agresor_search_form') %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.numero_causa) %}{% endcall %}
            {{ form.buscar() }}
        {% endcall %}
    {% endcall %}
{% endblock %}
