{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/list.jinja2' as list %}

{% block title %}Modelo{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Modelo ' + inv_modelo.descripcion) %}
        {{ topbar.button_previous('Modelos', url_for('inv_modelos.list_active')) }}
        {% if current_user.can_edit('INV MODELOS') %}
            {{ topbar.button_edit('Editar', url_for('inv_modelos.edit', inv_modelo_id=inv_modelo.id)) }}
            {% if inv_modelo.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('inv_modelos.delete', inv_modelo_id=inv_modelo.id)) }}{% endif %}
            {% if inv_modelo.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('inv_modelos.recover', inv_modelo_id=inv_modelo.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=inv_modelo.estatus) %}
        {% if current_user.can_view('INV MARCAS') %}
            {{ detail.label_value('Marca', inv_modelo.inv_marca.nombre, url_for('inv_marcas.detail', inv_marca_id=inv_modelo.inv_marca_id)) }}
        {% else %}
            {{ detail.label_value('Marca', inv_modelo.inv_marca.nombre) }}
        {% endif %}
        {{ detail.label_value('Descripción', inv_modelo.descripcion) }}
    {% endcall %}
    {% if current_user.can_view('INV EQUIPOS') %}
        {% call detail.card('Equipos') %}
            <table id="inv_equipos_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha de fabricación</th>
                        <th>Tipo de equipo</th>
                        <th>Descripción del equipo</th>
                        <th>Red</th>
                        <th>Nombre completo en la custodia</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('INV MODELOS') %}
        {% if inv_modelo.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + inv_modelo.descripcion + '?') }}{% endif %}
        {% if inv_modelo.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + inv_modelo.descripcion + '?') }}{% endif %}
    {% endif %}
    {{ detail.config_datatable() }}
    {% if current_user.can_view('INV EQUIPOS') %}
        <script>
            configDataTable['ajax']['url'] = '/inv_equipos/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'inv_modelo_id': {{ inv_modelo.id}} };
            configDataTable['columns'] = [
                { data: "detalle" },
                { data: "fecha_fabricacion" },
                { data: "tipo" },
                { data: "descripcion" },
                { data: "inv_red" },
                { data: "nombre_completo" },
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: [0], // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: [4], // inv_red
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.nombre + '</a>';
                    }
                },
            ];
            $('#inv_equipos_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
{% endblock %}
