{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Modelo{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + modelo.marca.nombre) }}

{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'modelo_id': modelo.id} %}
        {% call f.form_tag('inv_modelos.edit', fid='modelo_form', **form_kwargs) %}
            {% call f.form_group(form.nombre, redonly=true) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
