{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Modelos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_previous('Equipos', url_for('inv_equipos.list_active')) }}
        {% if current_user.can_edit('INV MODELOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('inv_modelos.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('inv_modelos.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('INV MODELOS') %}
            {{ topbar.button_new('Nuevo Modelo', url_for('inv_modelos.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
{% call list.card() %}
        <table id="inv_modelos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/inv_modelos/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'marca' },
            { data: 'detalle' },
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.nombre + '</a>';
                }
            },
            {
                targets: 1, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.descripcion + '</a>';
                }
            }
        ];
        $('#inv_modelos_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
 