{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Modelos{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button('Custodias', url_for('inv_custodias.list_active'),'mdi:security-network') }}
        {{ topbar.button('Equipos', url_for('inv_equipos.list_active'),'mdi:desktop-classic') }}
        {{ topbar.button('Marcas', url_for('inv_marcas.list_active'), 'mdi:bookmark-multiple') }}
        {{ topbar.button('Categorías', url_for('inv_categorias.list_active'),'mdi:car-wrench') }}
        {{ topbar.button('Redes', url_for('inv_redes.list_active'), 'mdi:access-point-network') }}
        {% if current_user.can_edit('INV MODELOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('inv_modelos.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('inv_modelos.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros Inv Modelos -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosInvModelos.buscar(); return false;">
                    <div class="col-4">
                        <div class="form-floating">
                            <input id="filtroMarcaNombre" type="text" class="form-control" aria-label="Marca" style="text-transform: uppercase;">
                            <label for="filtroMarcaNombre">Marca</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <input id="filtroModeloDescripcion" type="text" class="form-control" aria-label="Descripción" style="text-transform: uppercase;">
                            <label for="filtroModeloDescripcion">Descripción</label>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosInvModelos.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosInvModelos.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable Inv Modelos -->
        <table id="inv_modelos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Inv Modelos
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTInvModelos = constructorDataTable.config();
        configDTInvModelos['ajax']['url'] = '/inv_modelos/datatable_json';
        configDTInvModelos['ajax']['data'] = {{ filtros }};
        configDTInvModelos['columns'] = [
            { data: 'marca' },
            { data: 'detalle' },
        ];
        configDTInvModelos['columnDefs'] = [
            {
                targets: 0, // marca
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url == '') {
                        return data.nombre;
                    } else {
                        return '<a href="' + data.url + '">' + data.nombre + '</a>';
                    }
                }
            },
            {
                targets: 1, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.descripcion + '</a>';
                }
            },
        ];
        // Filtros Conceptos
        const filtrosInvModelos = new FiltrosDataTable('#inv_modelos_datatable', configDTInvModelos);
        filtrosInvModelos.agregarInput('filtroMarcaNombre', 'inv_marca_nombre');
        filtrosInvModelos.agregarInput('filtroModeloDescripcion', 'inv_modelo_descripcion');
        filtrosInvModelos.precargar();
    </script>
{% endblock %}
