{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Sentencias{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('SENTENCIAS') %}
            {{ topbar.button('Sentencias', url_for('sentencias.list_active'), 'mdi:gamepad') }}
        {% endif %}
        {% if current_user.can_view('TESIS JURISPRUDENCIAS') %}
            {{ topbar.button('TesisJurisprudencias', url_for('tesis_jurisprudencias.list_active'), 'mdi:gavel') }}
        {% endif %}
        {% if current_user.can_edit('TESIS JURISPRUDENCIAS SENTENCIAS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('tesis_jurisprudencias_sentencias.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('tesis_jurisprudencias_sentencias.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('TESIS JURISPRUDENCIAS SENTENCIAS') %}
            {{ topbar.button_new('Nuevo Tesis-Jurisprudencia-Sentencia', url_for('tesis_jurisprudencias_sentencias.new_with_tesis')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="tesis_jurisprudencias_sentencias_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Tesis y Jurisprudencia</th>
                    <th>Sentencia</th>
                </tr>
            </thead>
            <tbody>
                {% for tesis_sentencia in tesis_jurisprudencias_sentencias %}
                <tr>
                    <td>{{ tesis_sentencia.tesis_jurisprudencia.clave_control  }}</td>
                    <td><a href="{{ url_for('tesis_jurisprudencias_sentencias.detail', tesis_jurisprudencia_sentencia_id=tesis_sentencia.id) }}">{{ tesis_sentencia.sentencia.sentencia }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('tesis_jurisprudencias_sentencias_datatable') }}
{% endblock %}
