{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Area{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(cid_area.nombre) %}
        {{ topbar.button_previous('Areas', url_for('cid_areas.list_active')) }}
        {% if current_user.can_edit('CID AREAS') %}
            {{ topbar.button_edit('Editar', url_for('cid_areas.edit', cid_area_id=cid_area.id)) }}
            {% if cid_area.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('cid_areas.delete', cid_area_id=cid_area.id)) }}{% endif %}
            {% if cid_area.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('cid_areas.recover', cid_area_id=cid_area.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cid_area.estatus) %}
        {{ detail.label_value_big('Clave', cid_area.clave) }}
        {{ detail.label_value('Nombre', cid_area.nombre) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('CID AREAS') %}
        {% if cid_area.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + cid_area.nombre + '?') }}{% endif %}
        {% if cid_area.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + cid_area.nombre + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
