{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Area{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(cid_area_autoridad.clave) %}
        {{ topbar.button_previous('Areas', url_for('cid_areas.list_active')) }}
        {% if current_user.can_edit('CID AREAS') %}
            {{ topbar.button_edit('Editar', url_for('cid_areas.edit', cid_area_id=cid_area_autoridad.cid_area.id)) }}
            {% if cid_area_autoridad.cid_area.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('cid_areas.delete', cid_area_id=cid_area_autoridad.cid_area.id)) }}{% endif %}
            {% if cid_area_autoridad.cid_area.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('cid_areas.recover', cid_area_id=cid_area_autoridad.cid_area.id)) }}{% endif %}
        {% endif %} 
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cid_area_autoridad.estatus) %}
        {{ detail.label_value_big('Clave', cid_area_autoridad.cid_area.clave) }}
        {{ detail.label_value('Nombre', cid_area_autoridad.cid_area.nombre) }}
    {% endcall %}
    {# Autoridades #}
    {% if current_user.can_view('CID AREAS AUTORIDADES') %}
        {% call detail.card('Areas-Autoridades') %}
            <table id="cid_areas_autoridades_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Autoridad</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('CID AREAS') %}
        {% if cid_area_autoridad.cid_area.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + cid_area_autoridad.cid_area.nombre + '?') }}{% endif %}
        {% if cid_area_autoridad.cid_area.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + cid_area_autoridad.cid_area.nombre + '?') }}{% endif %}
    {% endif %}
       {{ detail.config_datatable() }}
    {% if current_user.can_view('CID AREAS AUTORIDADES') %}
        <script>
            configDataTable['ajax']['url'] = '/cid_areas_autoridades/datatable_json';
            configDataTable['ajax']['data'] = {{ filtros }};
            configDataTable['columns'] = [
                { data: 'detalle' },
                { data: 'autoridad' }
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: 1, // autoridad
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data.url == '') {
                            return data.descripcion_corta;
                        } else {
                            return '<a href="' + data.url + '">' + data.descripcion_corta + '</a>';
                        }
                    }
                }
            ];
            $('#cid_areas_autoridades_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
{% endblock %}
