{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Area{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(cid_area.clave) %}
        {{ topbar.button_previous('Areas', url_for('cid_areas.list_active')) }}
        {% if current_user.can_edit('CID AREAS') %}
            {{ topbar.button_edit('Editar', url_for('cid_areas.edit', cid_area_id=cid_area.id)) }}
            {% if cid_area.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('cid_areas.delete', cid_area_id=cid_area.id)) }}{% endif %}
            {% if cid_area.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('cid_areas.recover', cid_area_id=cid_area.id)) }}{% endif %}
        {% endif %} 
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cid_area.estatus) %}
        {{ detail.label_value_big('Clave', cid_area.clave) }}
        {{ detail.label_value('Nombre', cid_area.nombre) }}
    {% endcall %}
    {# Autoridad con areas #}
    {% if current_user.can_view('AUTORIDADES') %}
        {% call detail.card('Autoridades') %}
            <table id="autoridades_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Clave</th>
                        <th>Descripción corta</th>
                        <th>Órgano Jurisdiccional</th>
                        <th>Materia</th>
                        <th>Sede</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('AUTORIDADES') %}
        {% if cid_area.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + cid_area.nombre + '?') }}{% endif %}
        {% if cid_area.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + cid_area.nombre + '?') }}{% endif %}
    {% endif %}
    {{ detail.config_datatable() }}
    {% if current_user.can_view('AUTORIDADES') %}
        <script>
            // DataTable Autoridades
            configDataTable['ajax']['url'] = '/autoridades/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'cid_area_id': {{ cid_area.id}} };
            configDataTable['columns'] = [
                { data: "detalle" },
                { data: "descripcion_corta" },
                { data: "organo_jurisdiccional" },
                { data: "materia" },
                { data: "sede" }
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.clave + '</a>';
                    }
                },
                {
                    targets: 3, // materia
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data.url == '') {
                            return data.nombre;
                        } else {
                            return '<a href="' + data.url + '">' + data.nombre + '</a>';
                        }
                    }
                }
            ];
            $('#autoridades_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
{% endblock %}
