{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nueva Area{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nueva Area') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('cid_areas.new', fid='cid_area_form') %}
            {% call f.form_group(form.clave) %}{% endcall %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
