{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Versión Pública de Sentencia{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('V.P. Sentencia') %}
        {% if current_user.can_admin('SENTENCIAS') %}
            {{ topbar.button_previous('V.P. Sentencias de ' + sentencia.autoridad.clave, url_for('sentencias.list_autoridad_sentencias', autoridad_id=sentencia.autoridad_id)) }}
        {% else %}
            {{ topbar.button_previous('V.P. Sentencias', url_for('sentencias.list_active')) }}
        {% endif %}
        {% if current_user.can_admin('SENTENCIAS') %}
            {{ topbar.button_upload('Subir', url_for('sentencias.new_for_autoridad', autoridad_id=sentencia.autoridad_id)) }}
        {% elif current_user.can_insert('SENTENCIAS') and current_user.autoridad_id == sentencia.autoridad_id %}
            {{ topbar.button_upload('Subir', url_for('sentencias.new')) }}
        {% endif %}
        {% if current_user.can_admin('SENTENCIAS') %}
            {{ topbar.button_edit('Editar', url_for('sentencias.edit', sentencia_id=sentencia.id)) }}
        {% endif %}
        {% if current_user.can_admin('SENTENCIAS') or (current_user.can_edit('SENTENCIAS') and sentencia.autoridad_id == current_user.autoridad_id) %}
            {% if sentencia.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('sentencias.delete', sentencia_id=sentencia.id)) }}{% endif %}
            {% if sentencia.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('sentencias.recover', sentencia_id=sentencia.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=sentencia.estatus) %}
        {{ detail.label_value_big('Sentencia', sentencia.sentencia) }}
        {{ detail.label_value('Distrito', sentencia.autoridad.distrito.nombre) }}
        {{ detail.label_value('Autoridad', sentencia.autoridad.descripcion) }}
        {{ detail.label_value('Fecha de la sentencia', moment(sentencia.sentencia_fecha, local=True).format("DD MMM YYYY")) }}
        {{ detail.label_value('Expediente', sentencia.expediente) }}
        {{ detail.label_value('Fecha de publicación', moment(sentencia.fecha, local=True).format("DD MMM YYYY")) }}
        {{ detail.label_value('Materia', sentencia.materia_tipo_juicio.materia.nombre) }}
        {{ detail.label_value('Tipo de Juicio', sentencia.materia_tipo_juicio.descripcion) }}
        {{ detail.label_value('Descripción', sentencia.descripcion) }}
        {{ detail.label_value_boolean('Es Perspectiva de Género', sentencia.es_perspectiva_genero) }}
        {{ detail.label_value_new_tab('Enlace público para descargar PDF', sentencia.descargar_url, sentencia.descargar_url) }}
        {% if current_user.can_admin('SENTENCIAS') %}
            {{ detail.label_value_new_tab('Descargar como administrador PDF', sentencia.archivo, url_for('sentencias.download', url=sentencia.url)) }}
        {% endif %}
        {{ detail.label_value_new_tab('Acuse', 'De clic aqui', url_for('sentencias.checkout', id_hashed=sentencia.encode_id())) }}
        {{ detail.label_value('Creado', moment(sentencia.creado).format('llll')) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('SENTENCIAS') or (current_user.can_edit('SENTENCIAS') and sentencia.autoridad_id == current_user.autoridad_id) %}
        {% if sentencia.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + sentencia.sentencia + '?') }}{% endif %}
        {% if sentencia.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + sentencia.sentencia + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
