{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Versión Pública de Sentencia{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + sentencia.sentencia + ' del ' + sentencia.autoridad.clave) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'sentencia_id': sentencia.id} %}
        {% call f.form_tag('sentencias.edit', fid='sentencia_form', **form_kwargs) %}
            <h2>Información básica</h2>
            {% call f.form_group(form.sentencia) %}{% endcall %}
            {% call f.form_group(form.sentencia_fecha) %}{% endcall %}
            {% call f.form_group(form.expediente) %}{% endcall %}
            {% call f.form_group(form.es_paridad_genero) %}{% endcall %}
            {% call f.form_group(form.fecha) %}{% endcall %}
            <h2>Información complementaria</h2>
            {% call f.form_group(form.materia) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.tipo_juicio) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
