{% extends 'layouts/app.jinja2' %}
{% import 'macros/form_inline.jinja2' as f with context %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Versiones Públicas de Sentencias{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_districts('Distritos', url_for('sentencias.list_distritos')) }}
        {% if autoridad %}
            {% if current_user.can_admin('SENTENCIAS') or (current_user.can_insert('SENTENCIAS') and current_user.autoridad_id == autoridad.id) %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivas', url_for('sentencias.list_inactive')) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activas', url_for('sentencias.list_active')) }}{% endif %}
            {% endif %}
            {% if current_user.can_admin('SENTENCIAS') %}
                {{ topbar.button_upload('Subir', url_for('sentencias.new_for_autoridad', autoridad_id=autoridad.id)) }}
            {% elif current_user.can_insert('SENTENCIAS') and current_user.autoridad_id == autoridad.id %}
                {{ topbar.button_upload('Subir', url_for('sentencias.new')) }}
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
    <!-- Filtros Sentencias -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosSentencias.buscar(); return false;">
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroSentencia" type="text" class="form-control" aria-label="Sentencia" style="text-transform: uppercase;">
                            <label for="filtroSentencia">Sentencia</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroExpediente" type="text" class="form-control" aria-label="Expediente" style="text-transform: uppercase;">
                            <label for="filtroExpediente">Expediente</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroFechaDesde" type="date" class="form-control" aria-label="F. de Publicación" style="text-transform: uppercase;">
                            <label for="filtroFechaDesde">F. de Publicación</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroFechaHasta" type="date" class="form-control" aria-label="F. de Publicación" style="text-transform: uppercase;">
                            <label for="filtroFechaHasta">F. de Publicación</label>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosSentencias.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosSentencias.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable Sentencias -->
        <table id="sentencias_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Sentencia</th>
                    <th>Expediente</th>
                    <th>Tipo de Juicio</th>
                    <th>P. Género</th>
                    <th>Descargar</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
    {# Reporte #}
    {% if form %}
        {% call list.card(title='Reporte de Listas de Acuerdos') %}
            {% call f.form_tag('sentencias.report', fid='sentencias_report_form') %}
                {% call f.form_group(form.autoridad_id, type='hidden') %}{% endcall %}
                {% call f.form_group(form.fecha_desde, placeholder='Desde') %}{% endcall %}
                {% call f.form_group(form.fecha_hasta, placeholder='Hasta') %}{% endcall %}
                {% call f.form_group(form.por_tipos_de_juicios) %}{% endcall %}
                {% call f.form_group(form.elaborar) %}{% endcall %}
            {% endcall %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Sentencias
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTSentencias = constructorDataTable.config();
        configDTSentencias['ajax']['url'] = '/sentencias/datatable_json';
        configDTSentencias['ajax']['data'] = {{ filtros }};
        configDTSentencias['columns'] = [
            { data: "fecha" },
            { data: "detalle" },
            { data: "expediente" },
            { data: "materia_tipo_juicio_descripcion" },
            { data: "es_perspectiva_genero" },
            { data: "archivo" }
        ];
        configDTSentencias['columnDefs'] = [
            {
                targets: 1, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.sentencia + '</a>';
                }
            },
            {
                targets: 3, // materia_tipo_juicio_descripcion
                data: null,
                render: function(data, type, row, meta) {
                    return data.length > 20 ? data.substr(0, 40) + '…' : data;
                }
            },
            {
                targets: 5, // archivo
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.descargar_url + '" target="_blank">PDF</a>';
                }
            }
        ];
        // Filtros Sentencias
        const filtrosSentencias = new FiltrosDataTable('#sentencias_datatable', configDTSentencias);
        filtrosSentencias.agregarInput('filtroSentencia', 'sentencia');
        filtrosSentencias.agregarInput('filtroExpediente', 'expediente');
        filtrosSentencias.agregarInput('filtroFechaDesde', 'fecha_desde');
        filtrosSentencias.agregarInput('filtroFechaHasta', 'fecha_hasta');
        filtrosSentencias.precargar();
    </script>
{% endblock %}
