{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Versiones Públicas de Sentencias{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_districts('Distritos', url_for('sentencias.list_distritos')) }}
        {% if autoridad %}
            {% if current_user.can_admin('SENTENCIAS') or (current_user.can_insert('SENTENCIAS') and current_user.autoridad_id == autoridad.id) %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivas', url_for('sentencias.list_inactive')) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activas', url_for('sentencias.list_active')) }}{% endif %}
            {% endif %}
            {% if current_user.can_admin('SENTENCIAS') %}
                {{ topbar.button_upload('Subir', url_for('sentencias.new_for_autoridad', autoridad_id=autoridad.id)) }}
            {% elif current_user.can_insert('SENTENCIAS') and current_user.autoridad_id == autoridad.id %}
                {{ topbar.button_upload('Subir', url_for('sentencias.new')) }}
            {% endif %}
            {# if current_user.can_admin('SENTENCIAS') and current_user.can_insert('TAREAS') #}
                {# topbar.button_refresh('Refrescar', url_for('sentencias.refresh', autoridad_id=autoridad.id)) #}
            {# endif #}
        {% endif %}
        {{ topbar.button_search('Buscar', url_for('sentencias.search')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="sentencias_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Fechas</th>
                    <th>Sentencias</th>
                    <th>Expedientes</th>
                    <th>Materias</th>
                    <th>Tipos de Juicios</th>
                    <th>P. Género</th>
                    <th>Archivos</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        $('#sentencias_datatable').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            responsive: true,
            scrollX: true,
            ajax: {
                url: "/sentencias/datatable_json",
                type: "POST",
                headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                dataType: "json",
                dataSrc: "data",
                data: {{ filtros }}
            },
            columns: [
                { data: "fecha" },
                { data: "detalle" },
                { data: "expediente" },
                { data: "materia_nombre" },
                { data: "materia_tipo_juicio_descripcion" },
                { data: "es_perspectiva_genero" },
                { data: "archivo" }
            ],
            columnDefs: [
                {
                    targets: 0,
                    type: "date",
                    render: function (data, type, row) {
                        return moment(data).format("DD MMM YYYY");
                    }
                },
                {
                    targets: 1,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.sentencia + '</a>';
                    }
                },
                {
                    targets: 4,
                    data: null,
                    render: function(data, type, row, meta) {
                        return data.length > 20 ? data.substr(0, 40) + '…' : data;
                    }
                },
                {
                    targets: 6,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.descargar_url + '" target="_blank">PDF</a>';
                    }
                }
            ],
            language: {
                lengthMenu: "Mostrar _MENU_",
                search: "Filtrar:",
                zeroRecords: "No se encontraron registros",
                info: "Total de registros _TOTAL_ ",
                infoEmpty: "No hay registros",
                infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                }
            }
        });
    </script>
{% endblock %}
