{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Versiones Públicas de Sentencias{% endblock %}

{% block topbar_actions %}
    {{ list.topbar_option_search('Buscar', url_for('sentencias.search')) }}
    {{ list.topbar_option('Distritos', url_for('sentencias.list_distritos'), 'fas fa-sitemap') }}
    {% if autoridad %}
        {% if current_user.can_admin('sentencias') %}
            {% if estatus == 'A' %}{{ list.topbar_option_list_inactive('Inactivas', url_for('sentencias.list_autoridad_sentencias_inactive', autoridad_id=autoridad.id)) }}{% endif %}
            {% if estatus == 'B' %}{{ list.topbar_option_list_active('Activas', url_for('sentencias.list_autoridad_sentencias', autoridad_id=autoridad.id)) }}{% endif %}
        {% elif current_user.can_insert('sentencias') and current_user.autoridad_id == autoridad.id %}
            {% if estatus == 'A' %}{{ list.topbar_option_list_inactive('Inactivas', url_for('sentencias.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ list.topbar_option_list_active('Activas', url_for('sentencias.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_admin('sentencias') %}
            {{ list.topbar_option_upload('Subir', url_for('sentencias.new_for_autoridad', autoridad_id=autoridad.id)) }}
        {% elif current_user.can_insert('sentencias') and current_user.autoridad_id == autoridad.id %}
            {{ list.topbar_option_upload('Subir', url_for('sentencias.new')) }}
        {% endif %}
        {% if current_user.can_admin('sentencias') and current_user.can_insert('tareas') %}
            {{ list.topbar_option_refresh('Refrescar', url_for('sentencias.refresh', autoridad_id=autoridad.id)) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if autoridad %}
        {% call list.page_breadcrumb(autoridad.descripcion) %}
            {{ list.page_breadcrumb_item('V.P. Sentencias', link=url_for('sentencias.list_active')) }}
            {{ list.page_breadcrumb_item('Distritos', link=url_for('sentencias.list_distritos')) }}
            {{ list.page_breadcrumb_item(autoridad.distrito.nombre, link=url_for('sentencias.list_autoridades', distrito_id=autoridad.distrito_id)) }}
        {% endcall %}
    {% else %}
        {% if estatus == 'A'%}{{ list.page('V.P. Sentencias') }}{% endif %}
        {% if estatus == 'B'%}{{ list.page('V.P. Sentencias inactivas') }}{% endif %}
    {% endif %}
    <div class="container-fluid">
        {% call list.card() %}
            <table id="sentencias_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %}">
                <thead>
                    <tr>
                        {% if current_user.can_admin('sentencias') %}<th>Creados</th>{% endif %}
                        <th>Fechas</th>
                        <th>Sentencias</th>
                        <th>Expedientes</th>
                        <th>P. Género</th>
                        <th>Archivos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sentencia in sentencias %}
                    <tr>
                        {% if current_user.can_admin('sentencias') %}<td>{{ sentencia.creado.strftime('%Y-%m-%d %H:%M') }}</td>{% endif %}
                        <td>{{ sentencia.fecha }}</td>
                        <td><a href="{{ url_for('sentencias.detail', sentencia_id=sentencia.id) }}">{{ sentencia.sentencia }}</a></td>
                        <td>{{ sentencia.expediente }}</td>
                        <td>{% if sentencia.es_paridad_genero %}SI{% endif %}</td>
                        <td><a href="{{ sentencia.url }}" target="_blank">PDF <i class="fas fa-external-link-alt"></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('sentencias_datatable', order='desc') }}
{% endblock %}
