{% extends 'layouts/app.jinja2' %}
{% import 'macros/form_inline.jinja2' as f with context %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Todas las Versiones Públicas de Sentencias{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_districts('Distritos', url_for('sentencias.list_distritos')) }}
        {% if autoridad %}
            {% if current_user.can_admin('SENTENCIAS') %}
                {{ topbar.button_upload('Subir', url_for('sentencias.new_for_autoridad', autoridad_id=autoridad.id)) }}
            {% endif %}
            {% if current_user.can_edit('SENTENCIAS') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('sentencias.list_autoridad_sentencias_inactive', autoridad_id=autoridad.id)) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('sentencias.list_autoridad_sentencias', autoridad_id=autoridad.id)) }}{% endif %}
            {% endif %}
        {% else %}
            {% if current_user.can_edit('SENTENCIAS') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('sentencias.list_inactive')) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('sentencias.list_active')) }}{% endif %}
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {# Datatable #}
    {% call list.card() %}
     <!-- Filtros Sentencias -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosSentencias.buscar(); return false;">
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroFechaDesde" type="date" class="form-control" aria-label="F. de Publicación" style="text-transform: uppercase;">
                            <label for="filtroFechaDesde">F. de Publicación</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroFechaHasta" type="date" class="form-control" aria-label="F. de Publicación" style="text-transform: uppercase;">
                            <label for="filtroFechaHasta">F. de Publicación</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <select id="filtroMateria" class="form-select" aria-label="Materia">
                                <option selected value="">Todas las Materias</option>
                            </select>
                            <label class="form-floating-label">Materia</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <select id="filtroTipoJuicio" class="form-select" aria-label="Tipo de Juicio">
                                <option selected value="">Todos los Tipos de Juicios</option>
                            </select>
                            <label class="form-floating-label">Tipo de Juicio</label>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosSentencias.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosSentencias.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable Sentencias -->
        <table id="sentencias_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Creado</th>
                    <th>Autoridad</th>
                    <th>Fecha</th>
                    <th>Sentencia</th>
                    <th>Expediente</th>
                    <th>Materia</th>
                    <th>Tipo de Juicio</th>
                    <th>P. G.</th>
                    <th>Archivo</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
    {# Reporte #}
    {% if form %}
        {% call list.card(title='Reporte de V.P. de Sentencias') %}
            {% call f.form_tag('sentencias.report', fid='sentencias_report_form') %}
                {% call f.form_group(form.autoridad_id, type='hidden', value=autoridad.id) %}{% endcall %}
                {% call f.form_group(form.fecha_desde, placeholder='Desde') %}{% endcall %}
                {% call f.form_group(form.fecha_hasta, placeholder='Hasta') %}{% endcall %}
                {% call f.form_group(form.por_tipos_de_juicios) %}{% endcall %}
                {% call f.form_group(form.elaborar) %}{% endcall %}
            {% endcall %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // Llamar a /materia/select_json para cargar el select
        fetch('/materias/select_json')
        .then(response => response.json())
        .then(data => {
            const materiaSelect = document.getElementById('filtroMateria');
            data.forEach(materia => {
                const option = document.createElement('option');
                option.value = materia.id;
                option.text = materia.nombre;
                materiaSelect.appendChild(option);
            });
        });
        // Llamar a /MateruaTipoJuicio/select_json para cargar el select tipo juicio, si la materia cambia
        document.getElementById('filtroMateria').addEventListener('change', () => {
            const materiaId = document.getElementById('filtroMateria').value;
            fetch(`/materias_tipos_juicios/select_json/${materiaId}`)
            .then(response => response.json())
            .then(data => {
                const tipoJuicioSelect = document.getElementById('filtroTipoJuicio');
                tipoJuicioSelect.innerHTML = '';
                data.forEach(juicio => {
                    const option = document.createElement('option');
                    option.value = juicio.id;
                    option.text = juicio.descripcion;
                    tipoJuicioSelect.appendChild(option);
                });
            });
        });
    </script>
    <script>
        // DataTable Sentencias
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTSentencias = constructorDataTable.config();
        configDTSentencias['ajax']['url'] = '/sentencias/datatable_json_admin';
        configDTSentencias['ajax']['data'] = {{ filtros }};
        configDTSentencias['columns'] = [
            { data: "detalle" },
            { data: "creado" },
            { data: "autoridad" },
            { data: "fecha" },
            { data: "sentencia" },
            { data: "expediente" },
            { data: "materia_nombre" },
            { data: "materia_tipo_juicio_descripcion" },
            { data: "es_perspectiva_genero" },
            { data: "archivo" }
        ];
        configDTSentencias['columnDefs'] = [
           {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 7, // materia_tipo_juicio_descripcion
                data: null,
                render: function(data, type, row, meta) {
                    return data.length > 20 ? data.substr(0, 40) + '…' : data;
                }
            },
            {
                targets: 9, // archivo
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.descargar_url + '" target="_blank">PDF</a>';
                }
            }
        ];
        // Filtros Sentencias
        const filtrosSentencias = new FiltrosDataTable('#sentencias_datatable', configDTSentencias);
        filtrosSentencias.agregarInput('filtroFechaDesde', 'fecha_desde');
        filtrosSentencias.agregarInput('filtroFechaHasta', 'fecha_hasta');
        filtrosSentencias.agregarInput('filtroMateria', 'materia_id');
        filtrosSentencias.agregarInput('filtroTipoJuicio', 'materia_tipo_juicio_id');
        filtrosSentencias.precargar();
    </script>
    <script>
        function limpiarSelects() {
            const selectTipoJuicio = document.getElementById('filtroTipoJuicio'); // Obtener el select de Tipo Juicio
            selectTipoJuicio.innerHTML = ''; // Remover todas las opciones
            const defaultOption = new Option("Todos los Tipos de Juicios", ""); // Crear una nueva la opción por defecto
            selectTipoJuicio.appendChild(defaultOption);// Agregar la opción por defecto al select
            selectTipoJuicio.value = defaultOption.value; // Establecer el valor del select a la opción por defecto
        }
        document.getElementById('button-limpiar').addEventListener('click', limpiarSelects);
    </script>
{% endblock %}
