{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Subir Versión Pública de Sentencia{% endblock %}

{% block custom_head %}
    {{ f.drop_zone_css() }}
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Subir Versión Pública de Sentencia') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag_multipart('sentencias.new', fid='sentencia_form') %}
            {% call f.form_group(form.distrito, readonly=true) %}{% endcall %}
            {% call f.form_group(form.autoridad, readonly=true) %}{% endcall %}
            {% call f.form_group(form.sentencia) %}{% endcall %}
            {% call f.form_group(form.sentencia_fecha) %}{% endcall %}
            {% call f.form_group(form.expediente) %}{% endcall %}
            {% call f.form_group(form.fecha) %}{% endcall %}
            {% call f.form_group(form.materia) %}{% endcall %}
            {% call f.form_group(form.materia_tipo_juicio) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.es_perspectiva_genero) %}{% endcall %}
            {% call f.drop_zone_wrapper() %}
                {% call f.form_group(form.archivo, class="dropzone") %}{% endcall %}
            {% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ f.drop_zone_js() }}
{% endblock %}
