{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Buscar en todas las V. P. de Sentencias{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Buscar en todas las V. P. de Sentencias') %}
        {{ topbar.button_previous('V.P. Sentencias', url_for('sentencias.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('sentencias.search', fid='sentencia_search_form') %}
            {% call f.form_group(form.distrito) %}{% endcall %}
            {% call f.form_group(form.autoridad) %}{% endcall %}
            {% call f.form_group(form.sentencia) %}{% endcall %}
            {# sentencia_fecha #}
            {% call f.form_group(form.expediente) %}{% endcall %}
            {# es_paridad_genero #}
            {% call f.form_group(form.fecha_desde) %}{% endcall %}
            {% call f.form_group(form.fecha_hasta) %}{% endcall %}
            {# materia #}
            {# materia_tipo_juicio #}
            {# descripcion #}
            {# tipo_juicio #}
            {{ form.buscar() }}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ f.js_select_distrito_autoridad(distritos, autoridades) }}
{% endblock %}
