{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Buscar Versiones Públicas de Sentencias{% endblock %}

{% block topbar_actions %}
    {{ f.topbar_option('Distritos', url_for('sentencias.list_distritos'), 'fas fa-sitemap') }}
{% endblock %}

{% block content %}
    {{ f.page('Buscar Versiones Públicas de Sentencias') }}
    <div class="container-fluid">
        {% call f.form_tag('sentencias.search', fid='sentencia_search_form') %}
            {% call f.form_group(form.distrito) %}{% endcall %}
            {% call f.form_group(form.autoridad) %}{% endcall %}
            {% call f.form_group(form.sentencia) %}{% endcall %}
            {% call f.form_group(form.expediente) %}{% endcall %}
            {% call f.form_group(form.fecha_desde) %}{% endcall %}
            {% call f.form_group(form.fecha_hasta) %}{% endcall %}
            {{ form.buscar() }}
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    {{ f.js_select_distrito_autoridad(distritos, autoridades) }}
{% endblock %}
