{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Estadisticas Acuerdo{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Acuerdo ' + est_acuerdo.id | string) %}
        {{ topbar.button_previous('Acuerdos', url_for('est_acuerdos.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=est_acuerdo.estatus) %}
        {{ detail.label_value('Distrito', est_acuerdo.distrito_nombre) }}
        {{ detail.label_value('Juzgado', est_acuerdo.autoridad_descripcion) }}
        {{ detail.label_value('Folio', est_acuerdo.folio) }}
        {{ detail.label_value('Expediente', est_acuerdo.expediente) }}
        {{ detail.label_value('No. de caso', est_acuerdo.numero_caso) }}
        {{ detail.label_value('F. Elaboracion', moment(est_acuerdo.fecha_elaboracion, local=True).format('YYYY-MM-DD HH:mm')) }}
        {{ detail.label_value('F. Validacion', moment(est_acuerdo.fecha_validacion, local=True).format('YYYY-MM-DD HH:mm')) }}
        {{ detail.label_value('F. Autorizacion', moment(est_acuerdo.fecha_autorizacion, local=True).format('YYYY-MM-DD HH:mm')) }}
        {{ detail.label_value('Estado', est_acuerdo.estado) }}
        {{ detail.label_value('Secretario', est_acuerdo.secretario) }}
        {{ detail.label_value('Juez', est_acuerdo.juez) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
{% endblock %}
