{# El header se usa en caso de que se quiera poner una ventana flotante#}
{%- macro header(label) -%}
        <div class="offcanvas-header offcanvas-bg ">
            <h5 class="offcanvas-title" id="sidebar-label">{{ label }}</h5>
            <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
{%- endmacro -%}

{# con este div mandas a llamar a cada item #}
{%- macro div(id) -%}
     <div class="accordion accordion-flush" id="{{id}}"> {{ caller() }} </div>
{%- endmacro -%}

{# Crea cada item para el accordion #}
{%- macro item(id, titulo, descripcion, div_call) -%}
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-{{id}}">
            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-bs-target="#collapse_{{id}}" aria-expanded="true" aria-controls="collapse_{{id}}">
                {{ titulo|safe }}
            </button>
        </h2>
        <div id="collapse_{{id}}" class="accordion-collapse collapse" aria-labelledby="flush-{{id}}" data-bs-parent="#{{div_call}}">
            <div class="accordion-body">
                    {{ descripcion|safe }}    
            </div>
        </div>
    </div>
{%- endmacro -%}