{# Este macro es el div principal que contiene los inputs #}
{%- macro div_container(id) -%}
    <div class="container container-boxed">
        <div class="row" >
            <div id="{{id}}" class="alert alert-danger" role="alert" style="display:none">
                Todos los datos son requeridos
            </div>
        </div>
        {{caller()}}
    </div>
{%- endmacro -%}

{# Se crea formulario donde iran los inputs  #}
{%- macro form_create() -%}
        <div class="row" style="padding:0 0 10px 0;">
            <div class="card-body">
                <div class="row">
                    {{ caller()}}
                </div>
            </div>
        </div>
{%- endmacro -%}

{# Se crean los inputs que quierene que aparenzcan en el formulario #}
{%- macro input_form(num_col, tipo, name, label, attr="") -%}
    <div class="mb-3 col-md-{{num_col}} ">
        <div class="form-floating">
            <input type="{{tipo}}" class="form-control" name="{{name}}" id="{{name}}" placeholder="{{label}}" {{attr}}>
            <label for="{{name}}">{{label}}</label>
        </div>
        {{ caller() }}
    </div>
{%- endmacro -%}

{# Mandamos llamar al botón para agregar los inputs al dataTables #}
{%- macro boton(id_btn,btn_name) -%}
    <div class="d-flex mb-4 col-md-2">
        <button id="{{id_btn}}" type="button" class="form-control btn btn-primary">{{btn_name}}</button>
    </div>
{%- endmacro -%}

{# Creamos los botones de Eliminar y Editar del DataTable #}
{%- macro btn_datatable(label, id, class_btn = 'primary', atributos = '') -%}
    <div class="col-md-6 d-flex mb-3"><button type="button" id="{{ id }}" class="btn btn-{{ class_btn }} w-100" {{ atributos }}>{{label}}</button></div>
{%- endmacro -%}

{# Creamos el modal para cargar los datos de registros #}
{%- macro modal_edit() -%}
    <div class="modal fade" id="edit_reg_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="Editar registro" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label>Código</label>
                <input type="text" class="form-control" id="e_registro_codigo">
                <label>Nombre registro</label>
                <input type="text" class="form-control" id="e_registro_nombre">
                <label>Responsable</label>
                <input type="text" class="form-control" id="e_registro_responsable">
                <label>Tiempo de Retención</label>
                <input type="number" class="form-control" id="e_registro_retencion" min="1">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="e_updt_btn" data-bs-dismiss="modal" class="btn btn-primary">Actualizar</button>
            </div>
            </div>
        </div>
    </div>
{%- endmacro-%}

{# Creamos el modal para cargar los datos de control de cambios #}
{%- macro modal_edit_cambio() -%}
    <div class="modal fade" id="edit_cambio_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="Editar cambio" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="control_cambio_title">Editar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label>Revisión</label>
                <input type="text" class="form-control" id="e_control_revision">
                <label>Cambio y/o Actualizaciónes</label>
                <input type="text" class="form-control" id="e_control_cambio">
                <label>Solicitud de cambio</label>
                <input type="text" class="form-control" id="e_control_solicitud">
                <label>Fecha</label>
                <input type="date" class="form-control" id="e_control_fecha">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="e_updt_control_btn" data-bs-dismiss="modal" class="btn btn-primary">Actualizar</button>
            </div>
            </div>
        </div>
    </div>
{%- endmacro-%}