{%- macro sidebar_nav_option(label, url, icon='mdi mdi-label-outline') -%}
    <li class="nav-item">
        <a class="nav-link" href="{{ url }}">
            <i class="{{ icon }}"></i> {{ label }}
        </a>
    </li>
{%- endmacro -%}

{%- macro sidebar_nav_option_active(label, url, icon='mdi mdi-label-outline') -%}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url }}">
            <i class="{{ icon }}"></i> {{ label }}
        </a>
    </li>
{%- endmacro -%}

{%- macro sidebar_nav_submenu(label, icon='mdi mdi-label-outline') -%}
    <li class="sidebar-item">
        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
            <i class="{{ icon }}"></i><span class="hide-menu"> {{ label }}</span>
        </a>
        <ul aria-expanded="false" class="collapse  first-level">
            {{ caller () }}
        </ul>
    </li>
{%- endmacro -%}
