{# Flash messages #}
{%- macro render() -%}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-messages">
            {% for category, msg in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ msg }}
                </div>
                {% if msg.endswith('recargar en 10 segundos...') %}
                    <div class="progress" style="height: 20px;">
                        <div id="progress-bar" class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 1%; height: 10px;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <script>
                        var progressBar = document.getElementById('progress-bar');
                        var width = 1;
                        var interval = setInterval(function() {
                            width += 100/(10*1000/10);  // Increase by 1% every 10ms
                            progressBar.style.width = width + '%';
                            if (width >= 100) {
                                clearInterval(interval);
                                location.reload();
                            }
                        }, 10);
                    </script>
                {% endif %}
                {% if msg.endswith('recargar en 20 segundos...') %}
                    <div class="progress" style="height: 20px;">
                        <div id="progress-bar" class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 1%; height: 10px;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <script>
                        var progressBar = document.getElementById('progress-bar');
                        var width = 1;
                        var interval = setInterval(function() {
                            width += 100/(20*1000/10);  // Increase by 1% every 10ms
                            progressBar.style.width = width + '%';
                            if (width >= 100) {
                                clearInterval(interval);
                                location.reload();
                            }
                        }, 10);
                    </script>
                {% endif %}
                {% if msg.endswith('recargar en 30 segundos...') %}
                    <div class="progress" style="height: 20px;">
                        <div id="progress-bar" class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 1%; height: 10px;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <script>
                        var progressBar = document.getElementById('progress-bar');
                        var width = 1;
                        var interval = setInterval(function() {
                            width += 100/(30*1000/10);  // Increase by 1% every 10ms
                            progressBar.style.width = width + '%';
                            if (width >= 100) {
                                clearInterval(interval);
                                location.reload();
                            }
                        }, 10);
                    </script>
                {% endif %}
                {% if msg.endswith('recargar en 60 segundos...') %}
                    <div class="progress" style="height: 20px;">
                        <div id="progress-bar" class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <script>
                        var progressBar = document.getElementById('progress-bar');
                        var width = 1;
                        var interval = setInterval(function() {
                            width += 100/(60*1000/10);  // Increase by 1% every 10ms
                            progressBar.style.width = width + '%';
                            if (width >= 100) {
                                clearInterval(interval);
                                location.reload();
                            }
                        }, 10);
                    </script>
                {% endif %}
                {% if msg.endswith('recargar en 3 minutos...') %}
                    <div class="progress" style="height: 20px;">
                        <div id="progress-bar" class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <script>
                        var progressBar = document.getElementById('progress-bar');
                        var width = 1;
                        var interval = setInterval(function() {
                            width += 100/(300*1000/10);  // Increase by 1% every 10ms
                            progressBar.style.width = width + '%';
                            if (width >= 100) {
                                clearInterval(interval);
                                location.reload();
                            }
                        }, 10);
                    </script>
                {% endif %}
                {% if msg.endswith('recargar en 6 minutos...') %}
                    <div class="progress" style="height: 20px;">
                        <div id="progress-bar" class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <script>
                        var progressBar = document.getElementById('progress-bar');
                        var width = 1;
                        var interval = setInterval(function() {
                            width += 100/(600*1000/10);  // Increase by 1% every 10ms
                            progressBar.style.width = width + '%';
                            if (width >= 100) {
                                clearInterval(interval);
                                location.reload();
                            }
                        }, 10);
                    </script>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{%- endmacro -%}
