{# Se crea formulario donde iran los inputs  #}
{%- macro form(id, id_form, value_btn) -%}
    <div class="card-body p-3">
        <div id="{{id}}"></div>
        <form action="#" method="post" id="{{id_form}}_form">
            <div id="show_items">
                <div class="row">
                    {{ caller()}}
                </div>
            </div>
            <div>
                <input type="submit" value="{{value_btn}}" class="btn btn-primary w-25" id="add_btn">
            </div>
        </form>
    </div>
{%- endmacro -%}

{%- macro input_form(num_col, name, id_nombre, label) -%}
    <div class="col-md-{{num_col}} mb-3">
        <div class="form-floating">
            <input type="text" name="registro_{{name}}[]" id="floatingInpu{{id_nombre}}" class="form-control" placeholder="{{label}}" required>
            <label for="floatingInpuCodigo">{{label}}</label>
            {{ caller () }}
        </div>
    </div>
{%- endmacro -%}

{%- macro boton(btn_name) -%}
    <div class="col-md-2 mb-3 d-grid">
        <button class="btn btn-success add_item_btn">{{btn_name}}</button>
    </div>
{%- endmacro -%}