{# Help #}

{%- macro help_button(url, a_class='btn-flotante-help') -%}
    <a href="{{ url }}" class="d-block mt-3 {{ a_class }}" role="button" target="_blank">
        <span class="iconify" data-icon="mdi:help"></span>
    </a>
{%- endmacro -%}
