{%- macro card() -%}
    <div class="card">
        <div class="card-body">
            {{ caller () }}
        </div>
    </div>
{%- endmacro -%}

{# JavaScript Datatable #}
{%- macro datatable(table_id, order="asc") -%}
    <script>
        $('#{{ table_id }}').DataTable({
            {% if order == "asc" %}order: [[ 0, "asc" ]],{% endif %}
            {% if order == "desc" %}order: [[ 0, "desc" ]],{% endif %}
            language: {
                lengthMenu: "Mostrar _MENU_",
                search: "Filtrar:",
                zeroRecords: "No se encontraron registros",
                info: "Página _PAGE_ de _PAGES_",
                infoEmpty: "No hay registros",
                infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                }
            }
        });
    </script>
{%- endmacro -%}
