{# Quill editor #}

{# Quill theme for custom_head #}
{%- macro head() -%}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/quill/2.0.0-dev.1/quill.snow.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/quill.css') }}" rel="stylesheet" type="text/css">
{%- endmacro -%}

{# Quill div #}
{%- macro div(div_id='contenido_quill') -%}
    <div id="{{ div_id }}" class="mb-2" style="display:block; clear:both; break-after:page; height:50vh;"></div>
{%- endmacro -%}

{# Quill library for custom_javascript #}
{%- macro library() -%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/2.0.0-dev.1/quill.min.js"></script>
{%- endmacro -%}

{# Quill editor for custom_javascript #}
{%- macro editor(form_id='', instance='contenidoQuill', div_id='contenido_quill', hidden_id='contenido', content='') -%}
    <script>
         // Quill editor
        var {{ instance }} = new Quill('#{{ div_id }}', {
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline', 'strike'],
                    ['blockquote', 'code-block'],
                    ['image', 'link', 'formula'],
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'script': 'sub' }, { 'script': 'super' }],  // superscript/subscript
                    [{ 'indent': '-1' }, { 'indent': '+1' }],      // outdent/indent
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'color': [] }, { 'background': [] }],       // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],
                    ['clean']
                                                         // remove formatting
                ],
            },
            theme: 'snow'
        });
        {% if content != '' %}
        // Fill at start
        {{ instance }}.setContents({{ content }});
        {% endif %}
        {% if form_id != '' and hidden_id != '' %}
        // On submit
        document.getElementById('{{ form_id }}').onsubmit = function() {copyFromQuillToInputHidden()};
        // Copy to input hidden field
        function copyFromQuillToInputHidden() {
            document.getElementById('{{ hidden_id }}').value = JSON.stringify({{ instance }}.getContents());
        }
        {% endif %}
    </script>
{%- endmacro -%}

{# Quill reader for custom_javascript #}
{%- macro reader(instance='readerQuill', div_id='contenido_quill', content='') -%}
    <script>
        $( document ).ready(function() {
            // Quill reader
            var {{ instance }} = new Quill('#{{ div_id }}', {
                readOnly: true,
                theme: 'snow'
            });

            // Fill at start
            {{ instance }}.setContents({{ content }});
        });
    </script>
{%- endmacro -%}

{# Step first #}
{%- macro step_first(title, next_onclick='') -%}
    <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
        <h3 class="multisteps-form__title">Encabezado</h3>
        <div class="multisteps-form__content space-p">
            <div class="form-row mt-4">
                <div class="col-lg-12">
                    {{ caller () }}
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex aligns-items-right justify-content-end mt-4">
                <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Siguiente" onClick="javascript:guardar_encabezado()">Siguiente</button>
            </div>
        </div>
    </div>
{%- endmacro -%}

{# Step #}
{%- macro step(title, back_onclick='', next_onclick='', save_onclick='') -%}
    <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
        <h3 class="multisteps-form__title">{{ title }}</h3>
        <div class="multisteps-form__content space-p">
            <div class="form-row mt-4">
                <div class="col-lg-12">
                    {{ caller () }}
                </div>
            </div>
            <div class="d-flex bd-highlight mb-3">
                <div class="me-auto p-2 bd-highlight">
                    <button class="btn btn-primary js-btn-prev" id="atras" type="button" title="Atrás" {% if back_onclick != '' %}onClick="{{ back_onclick }}"{% endif %}>Atrás</button>
                </div>
                <div class="p-2 bd-highlight">
                <button class="btn btn-primary float-right ml-auto js-btn-next" id="siguiente" type="button" title="Siguiente" {% if next_onclick != '' %}onClick="{{ next_onclick }}"{% endif %}>Siguiente</button>
                </div>
                <div class="p-2 bd-highlight">
                <button class="btn btn-success float-right ml-auto js-btn-save" type="submit" id="guardar" title="Guardar" {% if save_onclick != '' %}onClick="{{ save_onclick }}"{% endif %}>Guardar</button>
                </div>
            </div>
        </div>
    </div>
{%- endmacro -%}

{# Step last #}
{%- macro step_last(title, back_onclick='') -%}
    <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
        <h3 class="multisteps-form__title">{{ title }}</h3>
        <div class="multisteps-form__content space-p">
            <div class="form-row mt-4">
                <div class="col-lg-12">
                    {{ caller () }}
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex aligns-items-right justify-content-end mt-4">
                <button class="btn btn-primary js-btn-prev" id="atras" type="button" title="Atrás" {% if back_onclick != '' %}onClick="{{ back_onclick }}"{% endif %}>Atrás</button>
                <button class="btn btn-success ml-auto" type="submit" id="guardar" title="Guardar">Guardar</button>
            </div>
        </div>
    </div>
{%- endmacro -%}
