{# Quill editor #}

{# Quill theme for custom_head #}
{%- macro head() -%}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/quill/2.0.0-dev.1/quill.snow.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/quill.css') }}" rel="stylesheet" type="text/css">
{%- endmacro -%}

{# Quill div #}
{%- macro div(quill_id='editor') -%}
    <div id="{{ quill_id }}" class="mb-2" style="display:block; clear:both; break-after:page; height:50vh;"></div>
{%- endmacro -%}

{# Quill library for custom_javascript #}
{%- macro library() -%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/2.0.0-dev.1/quill.min.js"></script>
{%- endmacro -%}

{# Quill editor for custom_javascript #}
{%- macro editor(form_id='', instance='editorQuill', div_id='editor_quill', hidden_id='', content='') -%}
    <script>
        // Quill editor
        var {{ instance }} = new Quill('#{{ div_id }}', {
            modules: {
                table: true,
                toolbar: [
                    ['bold', 'italic', 'underline', 'strike'],
                    ['blockquote', 'code-block', 'image'],
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'script': 'sub' }, { 'script': 'super' }],  // superscript/subscript
                    [{ 'indent': '-1' }, { 'indent': '+1' }],      // outdent/indent
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'color': [] }, { 'background': [] }],       // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],
                    ['clean']                                      // remove formatting
                ],
            },
            theme: 'snow'
        });
        {% if content != '' %}
        // Fill at start
        {{ instance }}.setContents({{ content }});
        {% endif %}
        {% if form_id != '' and hidden_id != '' %}
        // On submit
        document.getElementById('{{ form_id }}').onsubmit = function() {copyFromQuillToInputHidden()};
        // Copy to input hidden field
        function copyFromQuillToInputHidden() {
            document.getElementById('{{ hidden_id }}').value = JSON.stringify({{ instance }}.getContents());
        }
        {% endif %}
    </script>
{%- endmacro -%}

{# Quill reader for custom_javascript #}
{%- macro reader(instance='readerQuill', div_id='contenido_quill', content='') -%}
    <script>
        $( document ).ready(function() {
            // Quill reader
            var {{ instance }} = new Quill('#{{ div_id }}', {
                readOnly: true,
                theme: 'snow'
            });
            // Fill at start
            {{ instance }}.setContents({{ content }});
        });
    </script>
{%- endmacro -%}

{# Step first #}
{%- macro step_first(title, next_onclick='') -%}
    <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
        <h3 class="multisteps-form__title">Encabezado</h3>
        <div class="multisteps-form__content">
            <div class="form-row mt-4">
                <div class="col-lg-12">
                    {{ caller () }}
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex aligns-items-right justify-content-end mt-4">
                <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Siguiente" onClick="javascript:guardar_encabezado()">Siguiente</button>
            </div>
        </div>
    </div>
{%- endmacro -%}

{# Step #}
{%- macro step(title, back_onclick='', next_onclick='') -%}
    <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
        <h3 class="multisteps-form__title">{{ title }}</h3>
        <div class="multisteps-form__content">
            <div class="form-row mt-4">
                <div class="col-lg-12">
                    {{ caller () }}
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex aligns-items-right justify-content-end mt-4">
                <button class="btn btn-primary js-btn-prev" type="button" title="Atrás" {% if back_onclick != '' %}onClick="{{ back_onclick }}"{% endif %}>Atrás</button>
                <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Siguiente" {% if next_onclick != '' %}onClick="{{ next_onclick }}"{% endif %}>Siguiente</button>
            </div>
        </div>
    </div>
{%- endmacro -%}

{# Step last #}
{%- macro step_last(title, back_onclick='') -%}
    <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
        <h3 class="multisteps-form__title">{{ title }}</h3>
        <div class="multisteps-form__content">
            <div class="form-row mt-4">
                <div class="col-lg-12">
                    {{ caller () }}
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex aligns-items-right justify-content-end mt-4">
                <button class="btn btn-primary js-btn-prev" type="button" title="Atrás" {% if back_onclick != '' %}onClick="{{ back_onclick }}"{% endif %}>Atrás</button>
                <button class="btn btn-success ml-auto" type="submit" id="guardar" title="Guardar">Guardar</button>
            </div>
        </div>
    </div>
{%- endmacro -%}

{# Fields Encabezado #}
{%- macro fields_encabezado() -%}
    <label class="form-label">Título del procedimiento</label>
    <input type="text" class="form-control" id="titulo_procedimiento"><br>
    <label class="form-label">Código</label>
    <input type="text" class="form-control" id="codigo"><br>
    <label class="form-label">Revisión</label>
    <input type="text" class="form-control" id="revision"><br>
    <label class="form-label">Fecha</label>
    <input type="date" class="form-control" id="fecha">
{%- endmacro -%}

{# Fields Control de Cambios #}
{%- macro fields_control_cambios() -%}
    <h4>Elaboró</h4>
    <div class="row">
        <div class="col">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" id="elaboro_nombre"><br>
        </div>
        <div class="col">
            <label class="form-label">Puesto</label>
            <input type="text" class="form-control" id="elaboro_puesto"><br>
        </div>
        <div class="col">
            <label class="form-label">Correo</label>
            <input type="email" class="form-control" id="elaboro_email"><br>
        </div>
    </div>
    <h4>Revisó</h4>
    <div class="row">
        <div class="col">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" id="reviso_nombre"><br>
        </div>
        <div class="col">
            <label class="form-label">Puesto</label>
            <input type="text" class="form-control" id="reviso_puesto"><br>
        </div>
        <div class="col">
            <label class="form-label">Correo</label>
            <input type="email" class="form-control" id="reviso_email"><br>
        </div>
    </div>
    <h4>Autorizó</h4>
    <div class="row">
        <div class="col">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" id="aprobo_nombre"><br>
        </div>
        <div class="col">
            <label class="form-label">Puesto</label>
            <input type="text" class="form-control" id="aprobo_puesto"><br>
        </div>
        <div class="col">
            <label class="form-label">Correo</label>
            <input type="email" class="form-control" id="aprobo_email"><br>
        </div>
    </div>
{%- endmacro -%}
