{%- macro page(label) -%}
    <div class="page-breadcrumb" style="margin-left:35px">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">{{ label }}</h4>
            </div>
        </div>
    </div>
{%- endmacro -%}

{%- macro pageR(label) -%}
    <div class="page-breadcrumb" style="margin-left:35px">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">{{ label }}</h4>
            </div>
        </div>
    </div>
{%- endmacro -%}

{%- macro encabezado_help(label) -%}
        <div class="offcanvas-header offcanvas-bg ">
            <h5 class="offcanvas-title" id="sidebar-label">{{ label }}</h5>
            <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>

        </div>
{%- endmacro -%}

{%- macro help_items(id, titulo, descripcion, show="") -%}
    <div class="accordion-item">
        <h2 class="accordion-header accordion-color" id="{{id}}">
        <button class="accordion-button collapsed fw-bolder" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{id}}"  aria-controls="collapse_{{id}}">
            {{ titulo|safe }}
        </button>
        </h2>
        <div id="collapse_{{id}}" class="accordion-collapse collapse {{show}}" aria-labelledby="{{id}}" data-bs-parent="#accordionExample">
        <div class="accordion-body help-body">
            {{ descripcion|safe }}    
        </div>
        </div>
    </div>
{%- endmacro -%}