{%- macro page(label) -%}
    <div class="page-breadcrumb" style="margin-left:35px">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">{{ label }}</h4>
            </div>
        </div>
    </div>
{%- endmacro -%}

{%- macro pageR(label) -%}
    <div class="page-breadcrumb" style="margin-left:35px">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">{{ label }}</h4>
            </div>
        </div>
    </div>
{%- endmacro -%}

{%- macro encabezado_vista_previa(label) -%}
        <div class="offcanvas-header offcanvas-bg ">
            <h5 class="offcanvas-title" id="sidebar-label">{{ label }}</h5>
            <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>

        </div>
{%- endmacro -%}

{%- macro vista_previa_items(id, titulo, descripcion, show=" ") -%}
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-{{id}}">
            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-bs-target="#collapse_{{id}}" aria-expanded="true" aria-controls="collapse_{{id}}">
                {{ titulo|safe }}
            </button>
        </h2>
        <div id="collapse_{{id}}" class="accordion-collapse collapse {{show}}" aria-labelledby="flush-{{id}}" data-bs-parent="#accordionViewP">
            <div class="accordion-body">
                    {{ descripcion|safe }}    
            </div>
        </div>
    </div>
{%- endmacro -%}