{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Audiencia de Salas{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Audiencia de Salas') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'audiencia_id': audiencia.id} %}
        {% call f.form_tag('audiencias.edit_sape', fid='audiencia_form', **form_kwargs) %}
            {# Comunes #}
            {% call f.form_group(form.distrito, readonly=true) %}{% endcall %}
            {% call f.form_group(form.autoridad, readonly=true) %}{% endcall %}
            {% call f.form_group(form.tiempo_fecha) %}{% endcall %}
            {% call f.form_group(form.tiempo_horas_minutos) %}{% endcall %}
            {% call f.form_group(form.tipo_audiencia) %}{% endcall %}
            <h2 class="h4">Civil, Familiar, Mercantil o Laboral</h2>
            {% call f.form_group(form.expediente) %}{% endcall %}
            {% call f.form_group(form.actores) %}{% endcall %}
            {% call f.form_group(form.demandados) %}{% endcall %}
            <h2 class="h4">Penal</h2>
            {% call f.form_group(form.toca) %}{% endcall %}
            {% call f.form_group(form.expediente_origen) %}{% endcall %}
            {% call f.form_group(form.delitos) %}{% endcall %}
            {% call f.form_group(form.origen) %}{% endcall %}
            {# Botón guardar #}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
