{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Audiencia{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Audiencia') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'audiencia_id': audiencia.id} %}
        {% call f.form_tag('audiencias.edit_generica', fid='audiencia_form', **form_kwargs) %}
            {# Comunes #}
            {% call f.form_group(form.distrito, readonly=true) %}{% endcall %}
            {% call f.form_group(form.autoridad, readonly=true) %}{% endcall %}
            {% call f.form_group(form.tiempo) %}{% endcall %}
            {% call f.form_group(form.tipo_audiencia) %}{% endcall %}
            {# Materias C F M L Dist. (CyF) Salas (CyF) TCyA #}
            {% call f.form_group(form.expediente) %}{% endcall %}
            {% call f.form_group(form.actores) %}{% endcall %}
            {% call f.form_group(form.demandados) %}{% endcall %}
            {# Botón guardar #}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
