{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Todas las Audiencias{% endblock %}

{% block topbar_actions %}
    {% if autoridad %}
        {% if estatus == 'A' %}{% set title='Audiencias de ' + autoridad.clave %}{% endif %}
        {% if estatus == 'B' %}{% set title='Audiencias inactivos de ' + autoridad.clave %}{% endif %}
    {% else %}
        {% if estatus == 'A' %}{% set title='Todas las Audiencias' %}{% endif %}
        {% if estatus == 'B' %}{% set title='Todas las Audiencias inactivos' %}{% endif %}
    {% endif %}
    {% call topbar.page_buttons(title) %}
        {{ topbar.button_districts('Departamentos', url_for('audiencias.list_distritos')) }}
        {% if autoridad %}
            {% if current_user.can_edit('audiencias') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('audiencias.list_autoridad_audiencias_inactive', autoridad_id=autoridad.id)) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('audiencias.list_autoridad_audiencias', autoridad_id=autoridad.id)) }}{% endif %}
            {% endif %}
        {% else %}
            {% if current_user.can_edit('audiencias') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('audiencias.list_inactive')) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('audiencias.list_active')) }}{% endif %}
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="audiencias_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Fechas y horas</th>
                    <th>Autoridades</th>
                    <th>Tipos de audiencias</th>
                    <th>Expedientes</th>
                    <th>Actores</th>
                    <th>Demandados</th>
                    <th>Sala</th>
                    <th>Caracteres</th>
                    <th>Toca</th>
                    <th>Delitos</th>
                </tr>
            </thead>
            <tbody>
                {% for audiencia in audiencias %}
                <tr>
                    <td><a href="{{ url_for('audiencias.detail', audiencia_id=audiencia.id) }}">{{ audiencia.tiempo.strftime('%Y-%m-%d %H:%M:%S') }}</a></td>
                    <td>{{ audiencia.autoridad.clave }}</td>
                    <td>{{ audiencia.tipo_audiencia }}</td>
                    <td>{% if audiencia.expediente %}{{ audiencia.expediente }}{% endif %}</td>
                    <td>{% if audiencia.actores %}{{ audiencia.actores }}{% endif %}</td>
                    <td>{% if audiencia.demandados %}{{ audiencia.demandados }}{% endif %}</td>
                    <td>{% if audiencia.sala %}{{ audiencia.sala }}{% endif %}</td>
                    <td>{% if audiencia.caracter %}{{ audiencia.caracter }}{% endif %}</td>
                    <td>{% if audiencia.toca %}{{ audiencia.toca }}{% endif %}</td>
                    <td>{% if audiencia.delitos %}{{ audiencia.delitos }}{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable_times('audiencias_datatable', order='desc') }}
{% endblock %}
