{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Agenda de Audiencias{% endblock %}

{% block topbar_actions %}
    {% if autoridad %}
        {% set title='Agenda de Audiencias de ' + autoridad.clave %}
    {% else %}
        {% if estatus == 'A' %}{% set title='Agenda de Audiencias' %}{% endif %}
        {% if estatus == 'B' %}{% set title='Agenda de Audiencias inactivos' %}{% endif %}
    {% endif %}
    {% call topbar.page_buttons(title) %}
        {{ topbar.button_districts('Departamentos', url_for('audiencias.list_distritos')) }}
        {% if autoridad %}
            {% if current_user.can_admin('audiencias') or (current_user.can_insert('audiencias') and current_user.autoridad_id == autoridad.id) %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('audiencias.list_inactive')) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('audiencias.list_active')) }}{% endif %}
            {% endif %}
            {% if current_user.can_insert('audiencias') and current_user.autoridad_id == autoridad.id %}
                {{ topbar.button_new('Nueva Audiencia', url_for('audiencias.new')) }}
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="audiencias_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Fechas y horas</th>
                    <th>Tipos de audiencias</th>
                    {% if current_user.autoridad.audiencia_categoria == 'CIVIL FAMILIAR MERCANTIL LETRADO TCYA' %}
                    <th>Expedientes</th>
                    <th>Actores</th>
                    <th>Demandados</th>
                    {% endif %}
                    {% if current_user.autoridad.audiencia_categoria == 'MATERIA ACUSATORIO PENAL ORAL' %}
                    <th>Salas</th>
                    <th>Caracteres</th>
                    <th>Causas penales</th>
                    <th>Delitos</th>
                    {% endif %}
                    {% if current_user.autoridad.audiencia_categoria == 'DISTRITALES' %}
                    <th>Expedientes</th>
                    <th>Actores</th>
                    <th>Demandados</th>
                    <th>Tocas</th>
                    <th>Exp. origen</th>
                    <th>Imputados</th>
                    {% endif %}
                    {% if current_user.autoridad.audiencia_categoria == 'SALAS' %}
                    <th>Expedientes</th>
                    <th>Actores</th>
                    <th>Demandados</th>
                    <th>Tocas</th>
                    <th>Exp. origen</th>
                    <th>Delitos</th>
                    <th>Origen</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for audiencia in audiencias %}
                <tr>
                    <td><a href="{{ url_for('audiencias.detail', audiencia_id=audiencia.id) }}">{{ audiencia.tiempo }}</a></td>
                    <td>{{ audiencia.tipo_audiencia }}</td>
                    {% if current_user.autoridad.audiencia_categoria == 'CIVIL FAMILIAR MERCANTIL LETRADO TCYA' %}
                    <th>{% if audiencia.expediente %}{{ audiencia.expediente }}{% endif %}</th>
                    <th>{% if audiencia.actores %}{{ audiencia.actores }}{% endif %}</th>
                    <th>{% if audiencia.demandados %}{{ audiencia.demandados }}{% endif %}</th>
                    {% endif %}
                    {% if current_user.autoridad.audiencia_categoria == 'MATERIA ACUSATORIO PENAL ORAL' %}
                    <th>{% if audiencia.sala %}{{ audiencia.sala }}{% endif %}</th>
                    <th>{% if audiencia.caracter %}{{ audiencia.caracter }}{% endif %}</th>
                    <th>{% if audiencia.causa_penal %}{{ audiencia.causa_penal }}{% endif %}</th>
                    <th>{% if audiencia.delitos %}{{ audiencia.delitos }}{% endif %}</th>
                    {% endif %}
                    {% if current_user.autoridad.audiencia_categoria == 'DISTRITALES' %}
                    <th>{% if audiencia.expediente %}{{ audiencia.expediente }}{% endif %}</th>
                    <th>{% if audiencia.actores %}{{ audiencia.actores }}{% endif %}</th>
                    <th>{% if audiencia.demandados %}{{ audiencia.demandados }}{% endif %}</th>
                    <th>{% if audiencia.toca %}{{ audiencia.toca }}{% endif %}</th>
                    <th>{% if audiencia.expediente_origen %}{{ audiencia.expediente_origen }}{% endif %}</th>
                    <th>{% if audiencia.imputados %}{{ audiencia.imputados }}{% endif %}</th>
                    {% endif %}
                    {% if current_user.autoridad.audiencia_categoria == 'SALAS' %}
                    <th>{% if audiencia.expediente %}{{ audiencia.expediente }}{% endif %}</th>
                    <th>{% if audiencia.actores %}{{ audiencia.actores }}{% endif %}</th>
                    <th>{% if audiencia.demandados %}{{ audiencia.demandados }}{% endif %}</th>
                    <th>{% if audiencia.toca %}{{ audiencia.toca }}{% endif %}</th>
                    <th>{% if audiencia.expediente_origen %}{{ audiencia.expediente_origen }}{% endif %}</th>
                    <th>{% if audiencia.delitos %}{{ audiencia.delitos }}{% endif %}</th>
                    <th>{% if audiencia.origen %}{{ audiencia.origen }}{% endif %}</th>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable_times('audiencias_datatable') }}
{% endblock %}
