{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nueva Audiencia{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nueva Audiencia') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('audiencias.new_generica', fid='audiencia_form') %}
            {# Comunes #}
            {% call f.form_group(form.distrito, readonly=true) %}{% endcall %}
            {% call f.form_group(form.autoridad, readonly=true) %}{% endcall %}
            {% call f.form_group(form.tiempo_fecha) %}{% endcall %}
            {% call f.form_group(form.tiempo_hora) %}{% endcall %}
            {% call f.form_group(form.tipo_audiencia) %}{% endcall %}
            {# Materias C F M L Dist. (CyF) Salas (CyF) TCyA #}
            {% call f.form_group(form.expediente) %}{% endcall %}
            {% call f.form_group(form.actores) %}{% endcall %}
            {% call f.form_group(form.demandados) %}{% endcall %}
            {# Botón guardar #}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
