{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Usuario-Rol{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Usuario-Rol ' + usuario_rol.descripcion) %}
        {{ topbar.button_previous('Usuarios-Roles', url_for('usuarios_roles.list_active')) }}
        {% if current_user.can_edit('USUARIOS ROLES') %}
            {% if usuario_rol.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('usuarios_roles.delete', usuario_rol_id=usuario_rol.id)) }}{% endif %}
            {% if usuario_rol.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('usuarios_roles.recover', usuario_rol_id=usuario_rol.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=usuario_rol.estatus) %}
        {{ detail.label_value('Rol', usuario_rol.rol.nombre, url_for('roles.detail', rol_id=usuario_rol.rol_id)) }}
        {{ detail.label_value('Usuario', usuario_rol.usuario.nombre, url_for('usuarios.detail', usuario_id=usuario_rol.usuario_id)) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('USUARIOS ROLES') %}
        {% if usuario_rol.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + usuario_rol.descripcion + '?') }}{% endif %}
        {% if usuario_rol.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + usuario_rol.descripcion + '?') }}{% endif %}
    {% endif %}
{% endblock %}
