{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Agregar usuario al rol{% endblock %}

{% block topbar_actions %}
    {{ topbar.page(titulo) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'rol_id': rol.id} %}
        {% call f.form_tag('usuarios_roles.new_with_rol', fid='usuario_rol_form', **form_kwargs) %}
            {% call f.form_group(form.rol, readonly=true) %}{% endcall %}
            {% call f.form_group(form.usuario) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
