{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Escritura{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons("Escritura") %}
        {{ topbar.button_previous('Escrituras', url_for('not_escrituras.list_active')) }}
        {% if show_button_edit_juzgado %}
            {{ topbar.button_edit('Editar Escritura', url_for('not_escrituras.edit_juzgado', not_escritura_id=not_escritura.id)) }}
        {% endif %}
        {% if current_user.can_edit('NOT ESCRITURAS') %}
            {% if show_button_edit_notaria %}
                {{ topbar.button_edit('Editar', url_for('not_escrituras.edit', not_escritura_id=not_escritura.id)) }}
            {% endif %}
            {% if not_escritura.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('not_escrituras.delete', not_escritura_id=not_escritura.id)) }}{% endif %}
            {% if not_escritura.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('not_escrituras.recover', not_escritura_id=not_escritura.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=not_escritura.estatus) %}
        {{ detail.label_value_big('ID', not_escritura.id) }}
        {% if current_user.can_view('AUTORIDADES')%}
            {{ detail.label_value('Notaria', not_escritura.notaria, url_for('autoridades.detail', autoridad_id=not_escritura.notaria)) }}
        {% else %}
            {{ detail.label_value('Notaria', not_escritura.notaria)}}
        {% endif %}
        {{ detail.label_value('Juzgado', not_escritura.autoridad.descripcion) }}
        {{ detail.label_value('Expediente', not_escritura.expediente) }}
        {{ detail.label_value('Estado', not_escritura.estado) }}
    {% endcall %}
    {% call detail.card(estatus=not_escritura.estatus) %}
        {{ contenido }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('NOT ESCRITURAS') %}
        {% if not_escritura.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + not_escritura.id | string + '?') }}{% endif %}
        {% if not_escritura.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + not_escritura.autoridad | string + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
