{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Conversaciones{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_insert('NOT CONVERSACIONES') %}
            {% if mostrar_btn_activas %}
                {{ topbar.button('Conversacioes Activas', url_for('not_conversaciones.list_active'), 'mdi:chat-processing') }}
            {% endif %}
            {% if mostrar_btn_archivadas %}
                {{ topbar.button('Conversacioes Archivadas', url_for('not_conversaciones.list_archive'), 'mdi:archive') }}
            {% endif %}
            {% if mostrar_btn_nueva_conversacion %}
                {{ topbar.button_new('Nueva Conversación', url_for('not_conversaciones.new')) }}
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="conversaciones_datatable" class="table {% if mostrar_btn_activas %}table-secondary{% endif %}" style="width:100%">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Autor</th>
                    <th>Destinatario</th>
                    <th>Mensaje</th>
                    <th>Fecha y Hora</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/not_conversaciones/conversaciones/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "id" },
            { data: "autor" },
            { data: "destinatario" },
            { data: "mensaje" },
            { data: "fecha_hora" }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // id
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: [1, 2], // autor, destinatario
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '"><span title="' + data.descripcion + '">' + data.clave + '</span></a>';
                }
            },
            {
                targets: 3, // mensaje
                data: null,
                render: function(data, type, row, meta) {
                    if (data.mensaje.length > 32)
                        mensaje = data.mensaje.substr(0, 32) + '…';
                    else
                        mensaje = data.mensaje;
                    return '<a href="' + data.url + '">' + mensaje + '</a>';
                }
            }
        ];
        let table = $('#conversaciones_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
