{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Tareas{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Tareas') }}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="tareas_datatable" class="table">
            <thead>
                <tr>
                    <th>Inicios</th>
                    <th>Nombres</th>
                    <th>Descripciones</th>
                    <th>Ha terminado</th>
                </tr>
            </thead>
            <tbody>
                {% for tarea in tareas %}
                <tr>
                    <td>{{ tarea.creado.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>{{ tarea.nombre }}</td>
                    <td>{{ tarea.descripcion }}</td>
                    <td>{% if tarea.ha_terminado %}Terminado{% else %}Continua{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('tareas_datatable', order='desc') }}
{% endblock %}
