{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Tareas{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('BITACORAS') %}
            {{ topbar.button('Bitácoras', url_for('bitacoras.list_active'), 'mdi:calendar-clock') }}
        {% endif %}
        {% if current_user.can_view('ENTRADAS SALIDAS') %}
            {{ topbar.button('Entradas/Salidas', url_for('entradas_salidas.list_active'), 'mdi:calendar-clock') }}
        {% endif %}
        {% if current_user.can_edit('TAREAS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivas', url_for('tareas.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activas', url_for('tareas.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="tareas_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Inicios</th>
                    <th>Nombres</th>
                    <th>Descripciones</th>
                    <th>Ha terminado</th>
                </tr>
            </thead>
            <tbody>
            {% for tarea in tareas %}
                <tr>
                    <td>{{ tarea.creado }}</td>
                    <td>{{ tarea.nombre }}</td>
                    <td>{{ tarea.descripcion }}</td>
                    <td>{% if tarea.ha_terminado %}Terminado{% else %}Continua{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable_times('tareas_datatable') }}
{% endblock %}
