{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Épocas{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('TESIS JURISPRUDENCIAS') %}
            {{ topbar.button('Tesis y Jurisprudencias', url_for('tesis_jurisprudencias.list_active'), 'mdi:notebook') }}
        {% endif %}
        {% if current_user.can_edit('EPOCAS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('epocas.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('epocas.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('EPOCAS') %}
            {{ topbar.button_new('Nuevo Época', url_for('epocas.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="epocas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                </tr>
            </thead>
            <tbody>
                {% for epoca in epocas %}
                <tr>
                    <td><a href="{{ url_for('epocas.detail', epoca_id=epoca.id) }}">{{ epoca.nombre }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('epocas_datatable') }}
{% endblock %}
