{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Datos Personales{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons("Datos Personales") %}
        {{ topbar.button_previous('Usuarios Datos', url_for('usuarios_datos.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=usuario_dato.estatus) %}
        {{ detail.label_value_big('Nombre', usuario_dato.usuario.nombre) }}
        {{ detail.label_value('email', usuario_dato.usuario.email) }}
        {{ detail.label_value('CURP', usuario_dato.curp) }}
        <div class="row">
            <div class="col-md-3 text-end">
                Estado General
            </div>
            <div class="col-md-9">
                <span id="estado_general"></span>
            </div>
        </div>
    {% endcall %}
    {# Campos a rellenar #}
    {% call detail.card("Datos") %}
        <div class="row mb-2">
            <div class="col-md-2">
                <a class="btn btn-sm btn-primary" href="{{ url_for('usuarios_datos.validate_identificacion', usuario_dato_id=usuario_dato.id) }}"><span class="iconify" data-icon="mdi:check-decagram"></span> Validar</a>
            </div>
            <div class="col-md-2">
                <span id="estado_1"></span>
            </div>
            <div class="col-md-8">
                <strong>Identificación oficial</strong>
                <p>
                    <i class="text-danger">{{ usuario_dato.mensaje_identificacion if usuario_dato.mensaje_identificacion else ""}}</i>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-sm btn-primary" href="{{ url_for('usuarios_datos.validate_acta_nacimiento', usuario_dato_id=usuario_dato.id) }}"><span class="iconify" data-icon="mdi:check-decagram"></span> Validar</a>
            </div>
            <div class="col-md-2">
                <span id="estado_2"></span>
            </div>
            <div class="col-md-8">
                <strong>Acta de Nacimiento</strong>
                <p>
                    {{ usuario_dato.fecha_nacimiento }}<br />
                    <i class="text-danger">{{ usuario_dato.mensaje_acta_nacimiento if usuario_dato.mensaje_acta_nacimiento else "" }}</i>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-sm btn-primary" href="{{ url_for('usuarios_datos.validate_domicilio', usuario_dato_id=usuario_dato.id) }}"><span class="iconify" data-icon="mdi:check-decagram"></span> Validar</a>
            </div>
            <div class="col-md-2">
                <span id="estado_3"></span>
            </div>
            <div class="col-md-8">
                <strong>Domicilio</strong>
                <p>{{ usuario_dato.domicilio_calle }}, Col. {{ usuario_dato.domicilio_colonia }}. {{ usuario_dato.domicilio_numero_ext }} int. {{ usuario_dato.domicilio_numero_int }}<br/>
                {{ usuario_dato.domicilio_ciudad }}, {{ usuario_dato.domicilio_estado }}<br />
                    <i class="text-danger">{{ usuario_dato.mensaje_domicilio if usuario_dato.mensaje_domicilio else "" }}</i>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-sm btn-primary" href="{{ url_for('usuarios_datos.validate_curp', usuario_dato_id=usuario_dato.id) }}"><span class="iconify" data-icon="mdi:check-decagram"></span> Validar</a>
            </div>
            <div class="col-md-2">
                <span id="estado_4"></span>
            </div>
            <div class="col-md-8">
                <strong>CURP</strong>
                <p>{{ usuario_dato.curp }}<br />
                    <i class="text-danger">{{ usuario_dato.mensaje_curp if usuario_dato.mensaje_curp else "" }}</i>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-sm btn-primary" href="{{ url_for('usuarios_datos.validate_cp_fiscal', usuario_dato_id=usuario_dato.id) }}"><span class="iconify" data-icon="mdi:check-decagram"></span> Validar</a>
            </div>
            <div class="col-md-2">
                <span id="estado_5"></span>
            </div>
            <div class="col-md-8">
                <strong>Código Postal Físcal</strong>
                <p>{{ usuario_dato.cp_fiscal }}<br />
                    <i class="text-danger">{{ usuario_dato.mensaje_cp_fiscal if usuario_dato.mensaje_cp_fiscal else "" }}</i>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-sm btn-primary" href="{{ url_for('usuarios_datos.validate_curriculum', usuario_dato_id=usuario_dato.id) }}"><span class="iconify" data-icon="mdi:check-decagram"></span> Validar</a>
            </div>
            <div class="col-md-2">
                <span id="estado_6"></span>
            </div>
            <div class="col-md-8">
                <strong>Curriculum</strong>
                <p>
                    <i class="text-danger">{{ usuario_dato.mensaje_curriculum if usuario_dato.mensaje_curriculum else "" }}</i>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-sm btn-primary" href="{{ url_for('usuarios_datos.validate_estudios', usuario_dato_id=usuario_dato.id) }}"><span class="iconify" data-icon="mdi:check-decagram"></span> Validar</a>
            </div>
            <div class="col-md-2">
                <span id="estado_7"></span>
            </div>
            <div class="col-md-8">
                <strong>Estudios</strong>
                <p>{{ usuario_dato.estudios_cedula }}<br />
                    <i class="text-danger">{{ usuario_dato.mensaje_estudios if usuario_dato.mensaje_estudios else "" }}</i>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-sm btn-primary disabled" href="#"><span class="iconify" data-icon="mdi:check-decagram"></span> Validar</a>
            </div>
            <div class="col-md-2">
                <span id="estado_8"></span>
            </div>
            <div class="col-md-8">
                <strong>Eres Madre</strong>
                <p>{{ usuario_dato.es_madre }}<br />
                    <i class="text-danger">{{ usuario_dato.mensaje_acta_nacimiento_hijo if usuario_dato.mensaje_acta_nacimiento_hijo else "" }}</i>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-sm btn-primary" href="{{ url_for('usuarios_datos.validate_estado_civil', usuario_dato_id=usuario_dato.id) }}"><span class="iconify" data-icon="mdi:check-decagram"></span> Validar</a>
            </div>
            <div class="col-md-2">
                <span id="estado_9"></span>
            </div>
            <div class="col-md-8">
                <strong>Estado Civil</strong>
                <p>{{ usuario_dato.estado_civil }}<br />
                    <i class="text-danger">{{ usuario_dato.mensaje_estado_civil if usuario_dato.mensaje_estado_civil else ""}}</i>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-sm btn-primary" href="{{ url_for('usuarios_datos.validate_estado_cuenta', usuario_dato_id=usuario_dato.id) }}"><span class="iconify" data-icon="mdi:check-decagram"></span> Validar</a>
            </div>
            <div class="col-md-2">
                <span id="estado_10"></span>
            </div>
            <div class="col-md-8">
                <strong>Estado de Cuenta</strong>
                <p>
                    <i class="text-danger">{{ usuario_dato.mensaje_estado_cuenta if usuario_dato.mensaje_estado_cuenta else ""}}</i>
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <span id="estado_11"></span>
            </div>
            <div class="col-md-8 text-left">
                <strong>Teléfono Personal</strong>
                <p id="telefono_str">{{ usuario_dato.telefono_personal }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <span id="estado_12"></span>
            </div>
            <div class="col-md-8 text-left">
                <strong>Email Personal</strong>
                <p>{{ usuario_dato.email_personal }}</p>
            </div>
        </div>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        window.onload = function () {
            render_estado(document.getElementById("estado_general"), "{{ usuario_dato.estado_general }}");
            render_estado(document.getElementById("estado_1"), "{{ usuario_dato.estado_identificacion }}");
            render_estado(document.getElementById("estado_2"), "{{ usuario_dato.estado_acta_nacimiento }}");
            render_estado(document.getElementById("estado_3"), "{{ usuario_dato.estado_domicilio }}");
            render_estado(document.getElementById("estado_4"), "{{ usuario_dato.estado_curp }}");
            render_estado(document.getElementById("estado_5"), "{{ usuario_dato.estado_cp_fiscal }}");
            render_estado(document.getElementById("estado_6"), "{{ usuario_dato.estado_curriculum }}");
            render_estado(document.getElementById("estado_7"), "{{ usuario_dato.estado_estudios }}");
            render_estado(document.getElementById("estado_8"), "{{ usuario_dato.estado_acta_nacimiento_hijo }}");
            render_estado(document.getElementById("estado_9"), "{{ usuario_dato.estado_estado_civil }}");
            render_estado(document.getElementById("estado_10"), "{{ usuario_dato.estado_estado_cuenta }}");
            render_estado(document.getElementById("estado_11"), "{{ usuario_dato.estado_telefono }}");
            render_estado(document.getElementById("estado_12"), "{{ usuario_dato.estado_email }}");
            render_telefono(document.getElementById("telefono_str"), "{{ usuario_dato.telefono_personal }}");
        }
        function render_estado(elemento, estado) {
            switch( estado ) {
                case "POR VALIDAR": bgcolor = "bg-warning text-dark";   icon="mdi:alert";               break;
                case "NO VALIDO":   bgcolor = "bg-danger";              icon="mdi:cancel";              break;
                case "VALIDO":      bgcolor = "bg-success";             icon="mdi:check-circle";        break;
                default:            bgcolor = "bg-secondary";           icon="mdi:checkbox-blank-circle-outline";   
                                    estado = "VACÍO";           break;
            }
            html = '<span class="badge rounded-pill ' + bgcolor + '"><span class="iconify" data-icon="' + icon + '"></span> ' + estado + '</span>';
            elemento.innerHTML = html;
        }
        function render_telefono(elemento, telefono) {
            const telefono_format = `(${telefono.slice(0,  3)}) ${telefono.slice(3,  6)}-${telefono.slice(6,  10)}`;
            elemento.innerHTML = telefono_format;
        }
    </script>
{% endblock %}
