{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Acta Nacimiento{% endblock %}

{% block custom_head %}
    {{ f.drop_zone_css() }}
{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons("Editar - Acta de Nacimiento") %}
        {{ topbar.button_previous('Regresar', url_for('usuarios_datos.detail', usuario_dato_id=usuario_dato.id)) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {# Sección de Mensajed de rechazo #}
    {% if usuario_dato.mensaje_acta_nacimiento %}
        <div class="card mb-3">
            <div class="card-header bg-danger text-light" style="font-weight: bold;">Mensaje de rechazo</div>
            <div class="card-body" style="background-color: #e7d1d1;">
                <textarea class="form-control" style="height: 100px" disabled>{{ usuario_dato.mensaje_acta_nacimiento }}</textarea>
            </div>
        </div>
    {% endif %}
    {% call f.card() %}
        <p class="lead">Escriba su fecha de nacimiento y adjunte su acta de nacimiento. Solo se pueden adjuntar archivos PDF, JPG o PNG.</p>
        {% set form_kwargs = {'usuario_dato_id': usuario_dato.id} %}
        {% call f.form_tag_multipart('usuarios_datos.edit_acta_nacimiento', fid='usuario_dato_form', **form_kwargs) %}
            {% call f.form_group(form.fecha_nacimiento) %}{% endcall %}
            {% call f.drop_zone_wrapper() %}
                {% call f.form_group(form.archivo, class='dropzone') %}{% endcall %}
            {% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
    {# Preview #}
    {% call f.card("Previsualización") %}
        {% if archivo %}
            {% if tipo_archivo == "PDF" %}
            <object data="{{ archivo }}" type="application/pdf" width="100%" height="600"></object>
            {% elif tipo_archivo == "JPG" %}
                <img src="{{ archivo }}" />
            {% else %}
                <p class="lead">Tipo de Archivo no disponible para su visualización</p>
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}


{% block custom_javascript %}
    {{ f.drop_zone_js() }}
{% endblock %}

