{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Validar Domicilio{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Validar - Domicilio de ' + usuario_dato.usuario.nombre) }}
{% endblock %}

{% block content %}
    {# Preview #}
    {% call f.card('Datos a validar') %}
        {{ detail.label_value('Calle', usuario_dato.domicilio_calle) }}
        {{ detail.label_value('Colonia', usuario_dato.domicilio_colonia) }}
        {{ detail.label_value('Número Exterior', usuario_dato.domicilio_numero_ext) }}
        {{ detail.label_value('Número Interior', usuario_dato.domicilio_numero_int) }}
        {{ detail.label_value('Ciudad', usuario_dato.domicilio_ciudad) }}
        {{ detail.label_value('Estado', usuario_dato.domicilio_estado) }}
        {{ detail.label_value('Código Postal', usuario_dato.domicilio_cp) }}
        {{ detail.label_value('Comprobante de Domicilio') }}
        {% if archivo %}
            {% if tipo_archivo == "PDF" %}
            <object data="{{ archivo }}" type="application/pdf" width="100%" height="600"></object>
            {% elif tipo_archivo == "IMG" %}
                <img src="{{ archivo }}" />
            {% else %}
                <p class="lead">Tipo de Archivo no disponible para su visualización</p>
            {% endif %}
        {% endif %}
    {% endcall %}

    {% call f.card("Respuesta") %}
        {% set form_kwargs = {'usuario_dato_id': usuario_dato.id} %}
        {% call f.form_tag('usuarios_datos.validate_domicilio', fid='usuario_dato_form', **form_kwargs) %}
            <label for="mensaje">Mensaje de respuesta cuando no es válido el contenido pedido</label>
            <textarea class="form-control mb-3 bg-outline-danger" name="mensaje" style="height: 100px">{{ usuario_dato.mensaje_domicilio if usuario_dato.mensaje_domicilio else "" }}</textarea>
            <div class="row">
                <div class="col-md-auto">
                    <input class="btn btn-primary" id="valido" name="valido" type="submit" value="Válido">
                    <a class="btn btn-secondary ms-3" href="{{url_for('usuarios_datos.detail', usuario_dato_id=usuario_dato.id)}}">Cancelar</a>
                    <input class="btn btn-danger ms-3" id="no_valido" name="no_valido" type="submit" value="No válido">
                </div>
            </div>
        {% endcall %}
    {% endcall %}
{% endblock %}
