{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Distrito{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Distrito ' + distrito.nombre_corto) %}
        {{ topbar.button_previous('Distritos', url_for('distritos.list_active')) }}
        {% if current_user.can_edit('DISTRITOS') %}
            {{ topbar.button_edit('Editar', url_for('distritos.edit', distrito_id=distrito.id)) }}
            {% if distrito.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('distritos.delete', distrito_id=distrito.id)) }}{% endif %}
            {% if distrito.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('distritos.recover', distrito_id=distrito.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=distrito.estatus) %}
        {{ detail.label_value('Nombre', distrito.nombre) }}
        {{ detail.label_value('Nombre corto', distrito.nombre_corto) }}
        {{ detail.label_value_boolean('Es Distrito Judicial', distrito.es_distrito_judicial) }}
        {{ detail.label_value('Creado', moment(distrito.creado).format('llll')) }}
    {% endcall %}
    {% if current_user.can_view('AUTORIDADES') %}
        {% call detail.card('Autoridades') %}
            <table id="autoridades_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Claves</th>
                        <th>Descripciones cortas</th>
                        <th>Órganos Jurisdiccionales</th>
                        <th>Materias</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
    {% if current_user.can_view('OFICINAS') %}
        {% call detail.card('Oficinas') %}
            <table id="oficinas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Claves</th>
                        <th>Descripciones</th>
                        <th>Domicilios</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('DISTRITOS') %}
        {% if distrito.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + distrito.nombre + '?') }}{% endif %}
        {% if distrito.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + distrito.nombre + '?') }}{% endif %}
    {% endif %}
    {% if current_user.can_view('AUTORIDADES') %}
        <script>
            $('#autoridades_datatable').DataTable({
                processing: true,
                serverSide: true,
                ordering: false,
                searching: false,
                responsive: true,
                scrollX: true,
                ajax: {
                    url: "/autoridades/datatable_json",
                    type: "POST",
                    headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}"},
                    dataType: "json",
                    dataSrc: "data",
                    data: { "estatus": "A", "distrito_id": {{ distrito.id }} }
                },
                columns: [
                    { data: "detalle" },
                    { data: "descripcion_corta" },
                    { data: "organo_jurisdiccional" },
                    { data: "materia_nombre" }
                ],
                columnDefs: [
                    {
                        targets: 0,
                        data: null,
                        render: function(data, type, row, meta) {
                            return '<a href="' + data.url + '">' + data.clave + '</a>';
                        }
                    }
                ],
                language: {
                    lengthMenu: "Mostrar _MENU_",
                    search: "Filtrar:",
                    zeroRecords: "No se encontraron registros",
                    info: "Total de registros _TOTAL_ ",
                    infoEmpty: "No hay registros",
                    infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                    oPaginate: {
                        sFirst: "Primero",
                        sLast: "Último",
                        sNext: "Siguiente",
                        sPrevious: "Anterior"
                    }
                }
            });
        </script>
    {% endif %}
    {% if current_user.can_view('OFICINAS') %}
        <script>
            $('#oficinas_datatable').DataTable({
                processing: true,
                serverSide: true,
                ordering: false,
                searching: false,
                responsive: true,
                scrollX: true,
                ajax: {
                    url: "/oficinas/datatable_json",
                    type: "POST",
                    headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}"},
                    dataType: "json",
                    dataSrc: "data",
                    data: { "estatus": "A", "distrito_id": {{ distrito.id }} }
                },
                columns: [
                    { data: "detalle" },
                    { data: "descripcion_corta" },
                    { data: "domicilio" }
                ],
                columnDefs: [
                    {
                        targets: 0,
                        data: null,
                        render: function(data, type, row, meta) {
                            return '<a href="' + data.url + '">' + data.clave + '</a>';
                        }
                    },
                    {
                        targets: 1,
                        data: null,
                        render: function(data, type, row, meta) {
                            return (data.length > 48 ? data.substr(0, 48) + '…' : data);
                        }
                    },
                    {
                        targets: 2,
                        data: null,
                        render: function(data, type, row, meta) {
                            if (data.completo.length > 32) {
                                texto = data.completo.substr(0, 32) + '…';
                            } else {
                                texto = data.completo;
                            }
                            if (data.url == '') {
                                return texto;
                            } else {
                                return '<a href="' + data.url + '">' + texto + '</a>';
                            }
                        }
                    }
                ],
                language: {
                    lengthMenu: "Mostrar _MENU_",
                    search: "Filtrar:",
                    zeroRecords: "No se encontraron registros",
                    info: "Total de registros _TOTAL_ ",
                    infoEmpty: "No hay registros",
                    infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
                    oPaginate: {
                        sFirst: "Primero",
                        sLast: "Último",
                        sNext: "Siguiente",
                        sPrevious: "Anterior"
                    }
                }
            });
        </script>
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
