{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail with context %}

{% block title %}Distrito{% endblock %}

{% block topbar_actions %}
    {% call detail.topbar_actions() %}
        {% if current_user.can_edit('distritos') %}
            {{ detail.topbar_actions_option('Editar', url_for('distritos.edit', distrito_id=distrito.id)) }}
            {% if distrito.estatus == 'A' %}{{ detail.topbar_actions_option('Eliminar', 'javascript:showModalDelete()') }}{% endif %}
            {% if distrito.estatus == 'B' %}{{ detail.topbar_actions_option('Recuperar', 'javascript:showModalRecover()') }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {{ detail.page('Distrito') }}
    <div class="container-fluid">
        {% call detail.card(estatus=distrito.estatus) %}
            {{ detail.label_value_big('Distrito', distrito.nombre) }}
        {% endcall %}
        {% if autoridades %}
            {% call detail.card() %}
                <table id="autoridades_datatable" class="table">
                    <thead>
                        <tr>
                            <th>Autoridades</th>
                            <th>e-mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for autoridad in autoridades %}
                        <tr>
                            <td><a href="{{ url_for('autoridades.detail', autoridad_id=autoridad.id) }}">{{ autoridad.descripcion }}</a></td>
                            <td>{{ autoridad.email }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endcall %}
        {% endif %}
    </div>
    {% if current_user.can_edit('distritos') %}
        {{ detail.modal('Eliminar', '¿Eliminar a ' + distrito.nombre + '?', 'modalDelete', url_for('distritos.delete', distrito_id=distrito.id)) }}
        {{ detail.modal('Recuperar', '¿Recuperar a ' + distrito.nombre + '?', 'modalRecover', url_for('distritos.recover', distrito_id=distrito.id)) }}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.datatable('autoridades_datatable') }}
    {% if current_user.can_edit('distritos') %}
        {{ detail.custom_javascript_delete_recover() }}
    {% endif %}
{% endblock %}
