{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Departamentos{% endblock %}

{% block topbar_actions %}
    {% if current_user.can_edit('distritos') %}
        {% if estatus == 'A' %}{{ list.topbar_option_list_inactive('Inactivos', url_for('distritos.list_inactive')) }}{% endif %}
        {% if estatus == 'B' %}{{ list.topbar_option_list_active('Activos', url_for('distritos.list_active')) }}{% endif %}
    {% endif %}
    {% if current_user.can_insert('distritos') %}
        {{ list.topbar_option_new('Nuevo Departamento', url_for('distritos.new')) }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if estatus == 'A' %}{{ list.page('Departamentos') }}{% endif %}
    {% if estatus == 'B' %}{{ list.page('Departamentos inactivos') }}{% endif %}
    <div class="container-fluid">
        {% call list.card() %}
            <table id="distritos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %}">
                <thead>
                    <tr>
                        <th>Departamentos</th>
                        <th>Es judicial</th>
                    </tr>
                </thead>
                <tbody>
                    {% for distrito in distritos %}
                    <tr>
                        <td><a href="{{ url_for('distritos.detail', distrito_id=distrito.id) }}">{{ distrito.nombre }}</a></td>
                        <td>{% if distrito.es_distrito_judicial %}Judicial{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('distritos_datatable') }}
{% endblock %}
