{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Departamento{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Departamento') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('distritos.new', fid='distrito_form') %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.nombre_corto) %}{% endcall %}
            {% call f.form_group(form.es_distrito_judicial) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
