{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Nuevo Departamento{% endblock %}

{% block content %}
    {{ f.page('Nuevo Departamento') }}
    <div class="container-fluid">
        {% call f.form_tag('distritos.new', fid='distrito_form') %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {{ form.guardar() }}
        {% endcall %}
    </div>
{% endblock %}
