{% import 'macros/accordion.jinja2' as accordion %}

{% block content_help %}
   <div class="offcanvas offcanvas-end offcanvas-bg overflow-auto" tabindex="-1" id="sidebar" aria-labelledby="sidebar-label" data-overlay="false">
        {{ accordion.header(titulo) }}
        <p class="p-descript">{{ descripcion }} </p>
        <div class="offcanvas-body p-descript">
            <div style="background-color:#ebebeb" >
                <div class="overflow-auto " data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                    <div class="accordion " id="accordionP">
                    {% for seccion in secciones %}
                        {% set show = "" %}
                        {% if seccion["id"] == seccion_id %}
                            {% set show = "show" %}
                        {% endif %}
                        {{  accordion.help_items(seccion["id"], seccion["subtitulo"], ("<p>" + seccion["descripcion"]|join('</p>\n<p>')  + "</p>"), show) }}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#sidebar" class="d-block mt-3 btn-flotante" data-bs-toggle="offcanvas" role="button" aria-controls="sidebar"><i class="iconify" data-icon="fa-solid:question"></i></a>
{% endblock %}