{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Entradas/Salidas{% endblock %}

{% block content %}
    {{ list.page('Entradas/Salidas') }}
    <div class="container-fluid">
        {% call list.card() %}
            <table id="entradas_salidas_datatable" class="table">
                <thead>
                    <tr>
                        <th>Tiempos</th>
                        <th>Tipos</th>
                        <th>Usuarios</th>
                        <th>Autoridades</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrada_salida in entradas_salidas %}
                    <tr>
                        <td>{{ entrada_salida.creado.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ entrada_salida.tipo }}</td>
                        <td><a href="{{ url_for('usuarios.detalle', usuario_id={{ entrada_salida.usuario.id }}) }}">{{ entrada_salida.usuario.nombre }}</a></td>
                        <td><a href="{{ url_for('usuarios.detalle', usuario_id={{ entrada_salida.usuario.autoridad.id }}) }}">{{ entrada_salida.usuario.autoridad.clave }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable('entradas_salidas_datatable', order='desc') }}
{% endblock %}
