{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Entradas/Salidas{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Entradas/Salidas') %}
        {{ topbar.button('Bitácoras', url_for('bitacoras.list_active'), 'mdi:calendar-clock') }}
        {{ topbar.button('Tareas', url_for('tareas.list_active'), 'mdi:washing-machine') }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="entradas_salidas_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Tiempos</th>
                    <th>Tipos</th>
                    <th>Usuarios</th>
                    <th>Autoridades</th>
                </tr>
            </thead>
            <tbody>
                {% for entrada_salida in entradas_salidas %}
                <tr>
                    <td>{{ entrada_salida.creado }}</td>
                    <td>{{ entrada_salida.tipo }}</td>
                    <td><a href="{{ url_for('usuarios.detail', usuario_id=entrada_salida.usuario.id) }}">{{ entrada_salida.usuario.nombre }}</a></td>
                    <td><a href="{{ url_for('autoridades.detail', autoridad_id=entrada_salida.usuario.autoridad.id) }}">{{ entrada_salida.usuario.autoridad.clave }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.datatable_times('entradas_salidas_datatable') }}
{% endblock %}
