{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list with context %}

{% block title %}Entradas/Salidas{% endblock %}

{% block content %}
    {{ list.page('Entradas/Salidas') }}
    <div class="container-fluid">
        {% call list.card() %}
            <table id="entradas_salidas_datatable" class="table">
                <thead>
                    <tr>
                        <th>Tiempo</th>
                        <th>Usuario</th>
                        <th>Tipo</th>
                        <th>Dirección IP</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrada_salida in entradas_salidas %}
                    <tr>
                        <td>{{ entrada_salida.creado.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ entrada_salida.usuario.nombre }}</td>
                        <td>{{ entrada_salida.tipo }}</td>
                        <td>{{ entrada_salida.direccion_ip }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcall %}
    </div>
{% endblock %}

{% block custom_javascript %}
    <script>
        $('#entradas_salidas_datatable').DataTable();
    </script>
{% endblock %}
