{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Tipo de Juicio{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Tipo de Juicio ' + materia_tipo_juicio.descripcion) %}
        {{ topbar.button_previous('Tipos de Juicios', url_for('materias_tipos_juicios.list_active')) }}
        {% if current_user.can_edit('MATERIAS TIPOS JUICIOS') %}
            {{ topbar.button_edit('Editar', url_for('materias_tipos_juicios.edit', materia_tipo_juicio_id=materia_tipo_juicio.id)) }}
            {% if materia_tipo_juicio.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('materias_tipos_juicios.delete', materia_tipo_juicio_id=materia_tipo_juicio.id)) }}{% endif %}
            {% if materia_tipo_juicio.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('materias_tipos_juicios.recover', materia_tipo_juicio_id=materia_tipo_juicio.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=materia_tipo_juicio.estatus) %}
        {{ detail.label_value_big('Descripción', materia_tipo_juicio.descripcion) }}
        {% if current_user.can_view('MATERIAS') %}
            {{ detail.label_value('Materia', materia_tipo_juicio.materia.nombre, url_for('materias.detail', materia_id=materia_tipo_juicio.materia_id)) }}
        {% else %}
            {{ detail.label_value('Materia', materia_tipo_juicio.materia.nombre) }}
        {% endif %}
    {% endcall %}
    {% if current_user.can_view('SENTENCIAS') %}
        {% call detail.card('V.P. Sentencias') %}
            <table id="sentencias_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Sentencia</th>
                        <th>Expediente</th>
                        <th>P. Género</th>
                        <th>Descargar</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('MATERIAS TIPOS JUICIOS') %}
        {% if materia_tipo_juicio.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + materia_tipo_juicio.descripcion + '?') }}{% endif %}
        {% if materia_tipo_juicio.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + materia_tipo_juicio.descripcion + '?') }}{% endif %}
    {% endif %}
    {{ detail.config_datatable() }}
    {% if current_user.can_view('SENTENCIAS') %}
        <script>
            configDataTable['ajax']['url'] = '/sentencias/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'materia_tipo_juicio_id': {{ materia_tipo_juicio.id}} };
            configDataTable['columns'] = [
                { data: "fecha" },
                { data: "detalle" },
                { data: "expediente" },
                { data: "es_perspectiva_genero" },
                { data: "archivo" }
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 1, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.sentencia + '</a>';
                    }
                },
                {
                    targets: 4, // archivo
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.descargar_url + '" target="_blank">PDF</a>';
                    }
                }
            ];
            $('#sentencias_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
{% endblock %}
