{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Tipos de Juicios{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('MATERIAS') %}
            {{ topbar.button('Materias', url_for('materias.list_active'), 'mdi:tag') }}
        {% endif %}
        {% if current_user.can_edit('MATERIAS TIPOS JUICIOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('materias_tipos_juicios.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('materias_tipos_juicios.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('MATERIAS TIPOS JUICIOS') %}
            {{ topbar.button_new('Nuevo Tipo de Juicio', url_for('materias_tipos_juicios.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="materias_tipos_juicios_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Materias</th>
                    <th>Tipos de Juicios</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/materias_tipos_juicios/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "materia" },
            { data: "detalle" }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // materia
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.nombre + '</a>';
                }
            },
            {
                targets: 1, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.descripcion + '</a>';
                }
            }
        ];
        $('#materias_tipos_juicios_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
